{{> organisms-header-blogs(nombre:"Blog de Derechos Humanos y Empresas") }}

<div class="faculty-defecto">

  <div class="centrar overflow">
    <div class="columna08 contenido">
      <div class="grilla-portal-2columnas">
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}

      </div>
      {{> molecules-pagination}}  
    </div>

    <aside class="columna04 aside">
      {{> molecules-news-list-widget}}
      {{> molecules-recent-comments-widget }}
    </aside>
  </div>
    {{> molecules-youtube-list}}
</div>
{{> organisms-footer-blogs }}
