{{> organisms-header-blogs(nombre:"Blog de Derechos Humanos y Empresas") }}

<div class="faculty-defecto">
    <div class="centrar overflow">
      <main>
        <section class="columna12 contenido">    
          <h1>Videos</h1>
            {{> organisms-video-list }}
            <div style="clear: both;"></div>
        {{> molecules-pagination}}
        </section>
      </main>  
    </div>
</div>
{{> organisms-footer-blogs }}