<article class="news-horizontal-small {{# faculty-class }}{{ faculty-class }}{{/ faculty-class }}{{ ^ faculty-class}}defecto{{/ faculty-class }}">
<div class="content">
<div class="imagen">
  <a href="">{{> atoms-image(img-class:"hidden2") }}
  {{> atoms-thumbnail-150-150(img-class:"show2") }}</a>
</div>
<section class="titulo">
  <a href=""><p class="{{# modifier-class  }}{{ modifier-class }}{{/ modifier-class }}{{ ^ modifier-class}}h5{{/ modifier-class }}">{{# tit }}{{tit}}{{/ tit }}{{^ tit }}Título de la noticia secundaria con un máximo de 75 caracteres de texto{{/ tit}}</p></a>

</section>
</div>
</article>
