<section class="columnas-alto-fijo noticias-secundarias centrar">
       {{> molecules-news-horizontal-small(faculty-class:"defecto")  }}
       {{> molecules-news-horizontal-small(faculty-class:"derecho")  }}
       {{> molecules-news-horizontal-small(faculty-class:"contaduria-publica") }}
  </section>