<section class="titulo-categoria-noticias centrar-horizontalmente">
	<h3>{{# category }}{{category}}{{/ category }}{{^ category }}Medio ambiente{{/ category}}</h3>
	<a class="hidden3" href="">Ver más noticias   <span><svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg></span></a>
</section>