{{> organisms-header }}
{{> organisms-secondary-header-search }}
<div class="fondo-completo busqueda-wpsolr padding-none">
  <div class="centrar">
    <aside class="columna04 aside">
      {{> organisms-accordion-filter }}
    </aside>

    <div class="columna08 contenido">
      <h1 class="h3">54 Programas</h1>
       {{> molecules-program-module(faculty:"FINANZAS, GOBIERNO Y RELACIONES INTERNACIONALES - FIGRI", modifier-class:"finanzas-gobierno-y-relaciones-internacionales", subclass:"esc-finanzas", school:"Escuela de Finanzas y Negocios Internacionales") }}

      {{> molecules-program-module(faculty:"FINANZAS, GOBIERNO Y RELACIONES INTERNACIONALES - FIGRI", modifier-class:"finanzas-gobierno-y-relaciones-internacionales", school:"Escuela de Relaciones Internacionales", subclass:"esc-relaciones-in") }}
     
      {{> molecules-program-module(faculty:"FINANZAS, GOBIERNO Y RELACIONES INTERNACIONALES - FIGRI", modifier-class:"finanzas-gobierno-y-relaciones-internacionales", school:"Escuela de Gobierno y Políticas Públicas", subclass:"esc-gobierno") }}

      {{> molecules-program-module(faculty:"FINANZAS, GOBIERNO Y RELACIONES INTERNACIONALES - FIGRI", modifier-class:"finanzas-gobierno-y-relaciones-internacionales", school:"Escuela de Arte, Cultura y Lenguas", subclass:"esc-arte") }}

      {{> molecules-program-module(faculty:"Derecho", modifier-class:"derecho", subclass:"hidden") }}
      {{> molecules-program-module(faculty:"Derecho", modifier-class:"derecho", subclass:"hidden") }}
      {{> molecules-program-module(faculty:"Derecho", modifier-class:"derecho", subclass:"hidden") }}
      {{> molecules-program-module(faculty:"Derecho", modifier-class:"derecho", subclass:"hidden") }}
      {{> molecules-program-module(faculty:"Derecho", modifier-class:"derecho", subclass:"hidden") }}
      {{> molecules-program-module(faculty:"Derecho", modifier-class:"derecho", subclass:"hidden") }}


 
      {{> molecules-pagination}}
    </div>
  </div>
</div>
{{> organisms-footer }}
