{{> organisms-header }}

<div class="faculty-finanzas-gobierno-y-relaciones-internacionales">
  {{> organisms-secondary-header-menu }}
  {{> molecules-prominent-image-faculty }}
  <div class="contenedor">
    <main>
      <div class="centrar">
        <article class="columna08 contenido texto">

          <h1>Especialización en Gerencia con énfasis logística y comercio internacional</h1>
          <div class="modulo-programa">
            <div class="submodulo-programa">
              <p>
                <svg class="icon icon-pin-locacion"><use xlink:href="../../images/iconos.svg#icon-pin-locacion"></use></svg>
                Bogotá - Presencial
              </p>
              <p>
                <svg class="icon icon-reloj"><use xlink:href="../../images/iconos.svg#icon-reloj"></use></svg>
                
            9 semestres           ( 4 años y medio )        
              </p>
              <span class="inscripciones-abiertas">
                
              Inscripciones abiertas – Entrevistas virtuales 
              </span>
            </div>
          </div>

          {{> atoms-lead }}

          <h4>Objetivos</h4>
          {{> atoms-media-button }}
          <p>Capacitar a los participantes en las principales áreas de la gerencia general introduciéndolos en un mercado de economías abiertas y utilizando la logística como apoyo a las funciones estratégicas de la organización. Al profesional no sólo se le proporciona la formación especializada requerida, sino que también encontrará el desarrollo práctico propio de las funciones del área de Alta Gerencia en la toma de decisiones. Las competencias, capacidades y destrezas de cada uno de los participantes son desarrolladas en el transcurso de los tres módulos, permitiéndoles así tomar decisiones gerenciales estratégicas en un entorno competitivo.
          <p>El Especialista en Gerencia con Énfasis en Logistica y Comercio Internacionalidentificará con habilidad temas de mercadeo, gerenciales, económicos, logísticos y financieros en torno de las políticas empresariales y del Estado frente a su manejo, la realidad social y económica del país, implementando la responsabilidad social corporativa</p><br>

          {{> atoms-table }}
          <h3>Titulo de grupo de 3 botones</h3>

          {{> organisms-programs}}

          <h4>Lugar</h4>
          <p>La Especialización se realizará en las instalaciones de la Zona Franca en Bogotá. Carrera 106 No. 15-25. Auditorio Principal.</p>
          <br>

          <h4>Dirigido a</h4>
          <p>Profesionales, interesados en mejorar su labor gerencial, conociendo las últimas tendencias en la gestión logística y de comercio internacional.</p>
          <br>

          <h4>Metodología</h4>
          <p>Se trabajará desde una perspectiva práctica en la que se combinan métodos de enseñanza que incluyen discusión, estudio de casos, taller y simulación, con la exigencia y rigor académico que caracteriza al Externado. Se realiza como primera actividad una Reunión de Diagnóstico – o acercamiento a la realidad del grupo, para establecer las necesidades concretas que requieren los profesionales. Para el estudio de casos, estos serán determinados previamente con el Comité de Capacitación de la Zona Franca de Bogotá. Cómo requisito para el título de especialistas, deberán entregar un trabajo final de investigación aplicado a su gestión.</p>
          <br>



          <h4>Requisitos</h4>
          <ol>
            <li>Fotocopia del documento de identidad</li>
            <li>Título profesional otorgado por una universidad legalmente reconocida</li>
            <li>Fotocopia del diploma</li>
            <li>Acta de grado del título profesional</li>
            <li>Tres fotos 3x4 fondo blanco</li>
            <li>Certificado de estudios superiores con promedio acumulado de la carrera</li>
            <li>Certificado laboral con mínimo tres (3) años de experiencia en cargos de responsabilidad</li>
            <li>Recomendación académica (Pulse aquí para descargar)</li>
            <li>Recomendación laboral (Pulse aquí para descargar)</li>
            <li>Carta de la compañía en la que se encuentra trabajando actualmente, donde lo autorice a disponer de tiempo para cumplir con el horario establecido de clases</li>
            <li>Recomendación personal (aplica únicamente para la Especialización en Gerencia con énfasis en logística y comercio internacional)</li>
            <li>Hoja de vida actualizada</li>
            <li>Programas Residentes fuera de Bogotá, vivir y trabajar fuera de la ciudad de Bogotá</li>
          </ol>
          <br>

          <h4>Formalidades para todos los programas:</h4>
          <ul>
            <li>El día de la entrevista, el aspirante debe radicar los documentos exigidos en la Facultad de Administración de Empresas - Calle 12 No. 1-17 Este</li>
            <li>Presentación de entrevista</li>
            <li>Redacción de ensayo: se le especificara el día de la entrevista (aplica únicamente para la Maestría en Pensamiento Estratégico y Prospectiva)</li>
            <li>Examen de la hoja de vida con especial atención en: Aspirantes que hayan sido objeto de reconocimientos académicos, laborales como premios, becas, menciones honorificas, apoyos financieros, etc. (aplica únicamente para el Doctorado)</li>
            <li>Aquellas personas que hayan sido con anterioridad objeto de apoyo y/o reconocimiento de cualquier tipo por parte de la Universidad Externado de Colombia, para cursar programas de pregrado y/o posgrado siempre y cuando hayan finalizado los  estudios y obtenido el título correspondiente, objeto de dicho apoyo, con nivel académico sobresaliente. (aplica únicamente para el Doctorado)</li>
            <li>Entrevista personal donde presentará y defenderá ensayo frente a Comité Académico del Doctorado (aplica únicamente para el Doctorado)</li>
            <li>Los estudiantes extranjeros que vayan a cursar un programa de posgrado en la Universidad deben cumplir con las siguientes indicaciones:</li>
            <ol>
              <li>Visa de estudiante vigente</li>
              <li>Pasaporte vigente o cédula de extranjería</li>
              <li>Registrar la visa ante la Unidad Administrativa Especial Migración Colombia -  Ministerio de Relaciones Exteriores</li>
              <li>En caso de no tener Visa de estudiante, debe dirigirse a la Cancillería - Ministerio de Relaciones Exteriores  y tramitar el documento según requisitos</li>
              <li>Radique copia de la visa, del pasaporte o de la cedula de extranjería y demás documentos en la Secretaría de la Facultad con el fin de legalizar el registro académico. ( Si desea conocer más sobre el proceso de visado en Colombia, puede consultar la <a href="#"> página de la cancillería.</a> )</li>
            </ol>
          </ul>
        </article>

        <aside class="columna04 aside"> 
          {{> organisms-accordion-for-program}}
          {{> molecules-contact-buttons-group-icons }}
          {{> molecules-image-widget }}
        </aside>

        {{> molecules-module-tags }}
      </div>
    </main>
  </div>

  {{> organisms-faculty-info }}
</div>

{{> organisms-footer }}
