{{> organisms-header }}

<div class="faculty-estudios-del-patrimonio-cultural">
    {{> organisms-secondary-header-menu(faculty-home:"Estudios del Patrimonio Cultural") }}
    <main>
        {{> molecules-prominent-image-lead-2 }}
        <!--En caso que algún ítme no tenga información se deshabilitará -->
        <div class="centrar">
            <div class="margin-m">
                {{> atoms-alert(text:"Inscripciones sin costo para posgrados 2022") }}
            </div>
            <div class="margin-m">
                <section class="columna08">
                    {{> organisms-accordion-content-icon(tit1:"Presentación", icon1:"marca-libros", tit2:"¿Por qué estudiar el programa?", icon2:"brujula", tit3:"Fechas importantes", icon3:"calendario-01", tit4:"Horario", icon4:"jornada", tit5:"Información", icon5:"info", tit6:"Testimonios", icon6:"chat")}}
                </section>
                <section class="columna04">
                    {{> atoms-data-item(modifier-class:"list", icon:"diploma", item:"Título otorgado:",
                    text:"Especialista en Sostenibilidad de Museos e Instituciones Culturales") }}
                    {{> atoms-data-item(modifier-class:"list", icon:"legal", item:"SNIES: ", text:"105835 - Resolución 17427 del 30 de agosto del 2016") }}
                    <div>{{> atoms-media-button(text:"Agendar la cita con el director", icon-selector:"calendario-01") }}</div>
                    {{>molecules-call-widget}}
                    {{> atoms-media-button(text:"Contáctenos por WhatsApp", icon-selector:"whatsapp") }}

                    <p class="caption-text">Con el envío de su información de contacto, autoriza a la Universidad o a quien ella encargue, para contactarlo por este medio.</p>
                        <p class="caption-text">
                        Nuestro horario de atención es de lunes a viernes de 8:00 a.m. a 5:00 p.m. y sábados de 8:00 a.m. a 12:00 m. Atenderemos su consulta tan pronto estemos disponibles.</p>
                </section>
            </div>
        </div>
        <div style="clear:both;"></div>
        <section class="fondo-facultad-claro columnas-alto-fijo">
            <div class="centrar margin-m">
                <div class="columna12">
<div class="columna03">
          <p style="margin: 0;"><a href="#" target="_blank" rel="noopener noreferrer">
            <img class="zoom-imagen-modulo" style="margin: 0; width: 100%;" src="../../images/programas/1-pregrados.jpg" alt="" /></a>
          </p>
          <div class="info" style="padding: 10px; background-color: #32464d;">
            <p class="h4" style="margin: 0; text-align: center; font-size: 1.2rem;"> <a style="color: #FFF;" href="#">Estructura curricular</a></p>
          </div>
        </div>

<div class="columna03">
          <p style="margin: 0;"><a href="#" target="_blank" rel="noopener noreferrer">
            <img class="zoom-imagen-modulo" style="margin: 0; width: 100%;" src="../../images/programas/2-doctorados.jpg" alt="" /></a>
          </p>
          <div class="info" style="padding: 10px; background-color: #32464d;">
            <p class="h4" style="margin: 0; text-align: center; font-size: 1.2rem;"> <a style="color: #FFF;" href="#">Docentes</a></p>
          </div>
        </div>

<div class="columna03">
          <p style="margin: 0;"><a href="#" target="_blank" rel="noopener noreferrer">
            <img class="zoom-imagen-modulo" style="margin: 0; width: 100%;" src="../../images/programas/3-maestrias.jpg" alt="" /></a>
          </p>
          <div class="info" style="padding: 10px; background-color: #32464d;">
            <p class="h4" style="margin: 0; text-align: center; font-size: 1.2rem;"> <a style="color: #FFF;" href="#">Seminarios</a></p>
          </div>
        </div>

<div class="columna03">
          <p style="margin: 0;"><a href="#" target="_blank" rel="noopener noreferrer">
            <img class="zoom-imagen-modulo" style="margin: 0; width: 100%;" src="../../images/programas/4-especializaciones.jpg" alt="" /></a>
          </p>
          <div class="info" style="padding: 10px; background-color: #32464d;">
            <p class="h4" style="margin: 0; text-align: center; font-size: 1.2rem;"> <a style="color: #FFF;" href="#">Proyectos de sostenibilidad</a></p>
          </div>
        </div>

                </div>
            </div>
        </section>

        <section class="gris-50" style="margin-bottom: -40px;">
            <div class="centrar padding-amplio">
                <h2>Programa académico</h2>
                <p>La Especialización basa sus criterios de formación en el estudio de organizaciones o instituciones de
                    carácter cultural (museos, casas de cultura, centros de memoria, entre otros) que reconocen su
                    actuar en un territorio e identifican los ámbitos económico, político y social como parte
                    fundamental de su gestión. Tales instituciones involucran y acompañan a los miembros de su comunidad
                    en acciones de preservación, apropiación, capacitación y uso responsable de sus recursos
                    patrimoniales para fomentar el desarrollo local y la continuidad en el tiempo de la institución
                    cultural.
                    En ese sentido, la sostenibilidad se enmarca en un contexto sociocultural cambiante y exige que las
                    instituciones, en el corto, mediano y largo plazo, sepan cómo adaptarse a las actuales políticas de
                    desarrollo para ofrecer soluciones que impacten a las comunidades, quienes son su razón de ser.
                </p>

                {{> organisms-tabs-vertical }}

            </div>

        </section>
        <div style="clear:both;"></div>
        <section class="fondo-facultad-oscuro">
            <div class="centrar padding-amplio fondo-oscuro texto">
                <h3 class="texto-blanco texto-centrado">Solicite información perzonalizada</h3>
                <div class="columnas-alto-fijo ">
                    <div class="columna04">
                        <h4 class="subrayado-der">Contacto</h4>
                        <p><strong>Centro de Información y Soluciones Externadista (CISE)</strong> <br>
                            Carrera 5 este n.º 12B – 54, edificio H, piso 1 <br>
                            Calle 12 # 1- 17 este, edificio A piso 1 <br>
                            <strong> PBX:</strong> (601)341 9900, exts. 4301- 4302- 4303 <br>
                            <strong>WhatsApp Posgrados:</strong> 3177605592 <br>
                            informacion@uexternado.edu.co
                        </p>
                    </div>
                    <div class="columna08">Espacio para formulario de SURM</div>
                </div>

            </div>
        </section>
    </main>
    {{> organisms-faculty-info }}
</div>

{{> organisms-footer }}