{{> organisms-header-blogs(logo:"../../images/logos/blog.png") }}

<div class="faculty-defecto">

  <div class="contenedor">
    <div class="centrar">
      <main>
        <article class="columna12 contenido">
          <div class="texto">
            <h1>Nombre</h1>
            {{> atoms-lead(lead:"Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.") }}
            <div class="columna06">
              <figure>
                <img class="full-image" src="../../images/profile.jpg" alt="Imagen destacada">
                <hr>
              </figure>
              <p><a class="mail" href="mailto:sitioweb@uexternado.edu.co"> <strong>sitioweb@uexternado.edu.co</strong> </a></p>
            </div>
            <div class="columna06 ">
              <p>Integer at tellus nisl. Suspendisse nulla metus, fermentum a urna laoreet, elementum semper tellus. Aliquam non hendrerit lacus. Curabitur ut lacus est. Cras dictum a diam at dapibus. Maecenas non mauris sem. Vestibulum tempor eget mauris quis pellentesque. Sed a neque facilisis eros egestas blandit. Sed dignissim molestie viverra. Vestibulum ante ipsum primis in faucibus.</p>
              <p>Integer at tellus nisl. Suspendisse nulla metus, fermentum a urna laoreet, elementum semper tellus. Aliquam non hendrerit lacus. Curabitur ut lacus est. Cras dictum a diam at dapibus. Maecenas non mauris sem. Vestibulum tempor eget mauris quis pellentesque. Sed a neque facilisis eros egestas blandit. Sed dignissim molestie viverra. Vestibulum ante ipsum primis in faucibus.</p>
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>

</div>

{{> organisms-footer-blogs }}