<div class="faculty-conexion-externado">
{{> organisms-header-blogs-2(logo:"../../images/logos/conexion-externado.png", facultad:"Comunicación Social - Periodismo", imagen-top:"../../images/logos/logo-sip.png") }}
 <main>
  <div class="centrar">
      <div class="columna10-grande contenido">
      <h1 class="margen-titulo">Periodismo joven</h1>
      {{> organisms-hover-news-grid }}
      {{> molecules-pagination}}
      </div>

      <aside class="columna02-grande aside"> 
      <div class="hidden3">{{> organisms-group-icon-button-aside }}</div>
      </aside>
    </div>

<div style="clear: both;"></div> 
</main>
   <div class="bottom-mini-buttons-conexion">
      <div class="centrar">
      {{> molecules-mini-buttons}}
      </div>
    </div>
</div>

{{> organisms-footer-blogs }}
