<div class="faculty-conexion-externado">
  {{> organisms-header-blogs-2(logo:"../../images/logos/conexion-externado.png", facultad:"Comunicación Social - Periodismo", imagen-top:"../../images/logos/logo-sip.png") }}
   <main>
    <div class="centrar">
        <div class="columna10-grande contenido">
        <h1 class="margen-titulo">Nombre Apellido</h1>
        
      <section class="texto border-bottom margen-inferior-cajas"> 
        <div class="columna04">
        
         <div class="round">{{> atoms-avatar }}</div>
        
        </div>
        <div class="columna08">

            <p>Perifl lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis suscipit ex non nunc egestas, a lobortis odio lobortis. Nam vitae maximus orci. Nam elementum in nibh venenatis convallis. Cras tempus feugiat risus, nec ultrices mi facilisis a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris sodales, eros vel condimentum condimentum, massa sem dapibus quam, in hendrerit erat ante id magna.</p>
        </div>
        <div style="clear: both"></div>
            </section>		  
        
        
        {{> organisms-hover-news-grid }}
        {{> molecules-pagination}}
        </div>
  
        <aside class="columna02-grande aside"> 
        <div class="hidden3">{{> organisms-group-icon-button-aside }}</div>
        </aside>
      </div>
  
  <div style="clear: both;"></div> 
  </main>
     <div class="bottom-mini-buttons-conexion">
        <div class="centrar">
        {{> molecules-mini-buttons}}
        </div>
      </div>
  </div>
  
  {{> organisms-footer-blogs }}
  