<h3 class="texto-centrado  margen-titulo">PALETA PRIMARIA</h3>

<ul class="sg-colors">
  <li>
    <div class="swatch universidad-800"></div>
    <span class="name">universidad-800</span>
    <span class="variable">$universidad-800</span>
    <span class="hex">#00522c</span>
  </li>
  <li>
    <div class="swatch verde-lima-700"></div>
    <span class="name">verde-lima-700</span>
    <span class="variable">$verde-lima-700</span>
    <span class="hex">#4D7B19</span>
  </li>
  <li>
    <div class="swatch gris-200"></div>
    <span class="name">$gris-200</span>
    <span class="variable">$gris-200</span>
    <span class="hex">#cccccc</span>
  </li>
  <li>
    <div class="swatch dorado-600 "></div>
    <span class="name">dorado-600</span>
    <span class="variable">$dorado-600</span>
    <span class="hex">#896029</span>
  </li>
</ul>

<h3 class="texto-centrado margen-titulo">PALETA SITIO WEB</h3>

<h6 class="texto-centrado margen-superior-cajas">Variaciones azul carbón</h6>
<ul class="sg-colors">
  <li>
    <div class="swatch azul-carbon-200"></div>
    <span class="name">azul-carbon-200</span>
    <span class="variable">$azul-carbon-200</span>
    <span class="hex">#C7D6DB</span>
  </li>
    <li>
    <div class="swatch azul-carbon-500"></div>
    <span class="name">azul-carbon-500</span>
    <span class="variable">$azul-carbon-500</span>
    <span class="hex">#597B88</span>
  </li>
   <li>
    <div class="swatch azul-carbon-700"></div>
    <span class="name">azul-carbon-700</span>
    <span class="variable">$azul-carbon-700</span>
    <span class="hex">#32464D</span>
  </li>
     <li>
    <div class="swatch azul-carbon-900"></div>
    <span class="name">azul-carbon-900</span>
    <span class="variable">$azul-carbon-900</span>
    <span class="hex">#141c1f</span>
  </li>
</ul>


<h6 class="texto-centrado margen-superior-cajas">Variaciones universidad</h6>
<ul class="sg-colors">
   <li>
    <div class="swatch universidad-200"></div>
    <span class="name">universidad-200 </span>
    <span class="variable">$universidad-200 </span>
    <span class="hex">#d5ece1</span>
  </li>
   <li>
    <div class="swatch universidad-800"></div>
    <span class="name">universidad-800 </span>
    <span class="variable">$universidad-800 </span>
    <span class="hex">#00522c</span>
  </li>
   <li>
    <div class="swatch universidad-900"></div>
    <span class="name">universidad-900 </span>
    <span class="variable">$universidad-900 </span>
    <span class="hex">#002e19</span>
  </li>
</ul>

<h6 class="texto-centrado margen-superior-cajas">Variaciones verde lima</h6>
<ul class="sg-colors">
   <li>
    <div class="swatch verde-lima-100"></div>
    <span class="name">verde-lima-100 </span>
    <span class="variable">$verde-lima-100 </span>
    <span class="hex">#EBF7DE</span>
  </li>
   <li>
    <div class="swatch verde-lima-400"></div>
    <span class="name">verde-lima-400 </span>
    <span class="variable">$verde-lima-400 </span>
    <span class="hex">#9AD25B</span>
  </li>
  <li>
    <div class="swatch verde-lima-500"></div>
    <span class="name">verde-lima-500 </span>
    <span class="variable">$verde-lima-500 </span>
    <span class="hex">#78b92f</span>
  </li>
  <li>
    <div class="swatch verde-lima-700"></div>
    <span class="name">verde-lima-700 </span>
    <span class="variable">$verde-lima-700 </span>
    <span class="hex">#4D7B19</span>
  </li>
  <li>
    <div class="swatch verde-lima-900"></div>
    <span class="name">verde-lima-900 </span>
    <span class="variable">$verde-lima-900 </span>
    <span class="hex">#1d2f09</span>
  </li>
</ul>


<h6 class="texto-centrado margen-superior-cajas">Variaciones Dorado</h6>
<ul class="sg-colors">
  <li>
    <div class="swatch dorado-100"></div>
    <span class="name">dorado-100</span>
    <span class="variable">$dorado-100</span>
    <span class="hex">#f9f5f1</span>
  </li>
  <li>
    <div class="swatch dorado-300"></div>
    <span class="name">dorado-300</span>
    <span class="variable">$dorado-300</span>
    <span class="hex">#C5A881</span>
  </li>
  <li>
    <div class="swatch dorado-600"></div>
    <span class="name">dorado-600</span>
    <span class="variable">$dorado-600</span>
    <span class="hex">#896029</span>
  </li>
    <li>
    <div class="swatch dorado-900"></div>
    <span class="name">dorado-900</span>
    <span class="variable">$dorado-900</span>
    <span class="hex">#201404</span>
  </li>
</ul>

<h6 class="texto-centrado margen-superior-cajas">Variaciones gris</h6>
<ul class="sg-colors">
  <li>
    <div class="swatch gris-50"></div>
    <span class="name">gris-50</span>
    <span class="variable">$gris-50</span>
    <span class="hex">#f2f2f2</span>
  </li>
    <li>
    <div class="swatch gris-200"></div>
    <span class="name">gris-200</span>
    <span class="variable">$gris-200</span>
    <span class="hex">#cccccc</span>
  </li>
    <li>
    <div class="swatch gris-600"></div>
    <span class="name">gris-600</span>
    <span class="variable">$gris-600</span>
    <span class="hex">#666666</span>
  </li>
    <li>
    <div class="swatch gris-700"></div>
    <span class="name">gris-700</span>
    <span class="variable">$gris-700</span>
    <span class="hex">#4c4c4c</span>
  </li>
  <li>
    <div class="swatch gris-800"></div>
    <span class="name">gris-800</span>
    <span class="variable">$gris-800</span>
    <span class="hex">#333333</span>
  </li>
</ul>
<ul class="sg-colors">
  <li>
    <div class="swatch blanco"></div>
    <span class="name">blanco</span>
    <span class="variable">$blanco</span>
    <span class="hex">#ffffff</span>
  </li>
  <li>
    <div class="swatch negro"></div>
    <span class="name">negro</span>
    <span class="variable">$negro</span>
    <span class="hex">#1a1a1a</span>
  </li>
</ul>

<h6 class="texto-centrado margen-superior-cajas">Semánticos: variaciones alertas</h6>
  <ul class="sg-colors">
  <li>
    <div class="swatch exito-100"></div>
    <span class="name">exito-100</span>
    <span class="variable">$exito-100</span>
    <span class="hex">#e1f9d2</span>
  </li>
  <li>
    <div class="swatch error-100"></div>
    <span class="name">error-100</span>
    <span class="variable">$error-100</span>
    <span class="hex">#f5dbdc</span>
  </li>
  <li>
    <div class="swatch advertencia-100"></div>
    <span class="name">advertencia-100</span>
    <span class="variable">$advertencia-100</span>
    <span class="hex">#fef6e2</span>
  </li>
  <li>
    <div class="swatch informacion-100"></div>
    <span class="name">informacion-100</span>
    <span class="variable">$informacion-100</span>
    <span class="hex">#DAF9FB</span>
  </li>
  </ul>
  <ul class="sg-colors">
   <li>
    <div class="swatch exito-700"></div>
    <span class="name">exito-700</span>
    <span class="variable">$exito-700</span>
    <span class="hex">#30670e</span>
  </li>
  <li>
    <div class="swatch error-700"></div>
    <span class="name">error-700</span>
    <span class="variable">$error-700</span>
    <span class="hex">#b43133</span>
  </li>
   <li>
    <div class="swatch advertencia-700"></div>
    <span class="name">advertencia-700</span>
    <span class="variable">$advertencia-700</span>
    <span class="hex">#945f10</span>
  </li>
   <li>
    <div class="swatch informacion-700"></div>
    <span class="name">informacion-700</span>
    <span class="variable">$informacion-700</span>
    <span class="hex">#0b6f74</span>
  </li>
</ul>


<h3 class="texto-centrado  margen-titulo">PALETA FACULTADES</h3>
  <ul class="sg-colors">

  <li class="faculty-administracion-de-empresas">
    <div class="swatch secondary-header-menu "></div>
    <span class="name">administracion</span>
    <span class="variable">$administracion</span>
    <span class="hex">#197BBD</span>
  </li>
  <li class="faculty-administracion-de-empresas-turisticas-y-hoteleras">
    <div class="swatch secondary-header-menu "></div>
    <span class="name">hoteleria</span>
    <span class="variable">$hoteleria</span>
    <span class="hex">#A32E80</span>
  </li>
  <li class="faculty-derecho">
    <div class="swatch secondary-header-menu "></div>
    <span class="name">derecho</span>
    <span class="variable">$derecho</span>
    <span class="hex">#AFAE30</span>
  </li>
  <li class="faculty-estudios-del-patrimonio-cultural">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">patrimonio</span>
    <span class="variable">$patrimonio</span>
    <span class="hex">#806CAB</span>
  </li>
  <li class="faculty-economia">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">economia</span>
    <span class="variable">$economia</span>
    <span class="hex">#C2443E</span>
  </li>
  <li class="faculty-comunicacion-social-periodismo">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">comunicacion</span>
    <span class="variable">$comunicacion</span>
    <span class="hex">#7DC3C6</span>
  </li>
  <li class="faculty-contaduria-publica">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">contaduria</span>
    <span class="variable">$contaduria</span>
    <span class="hex">#368387</span>
  </li>
  <li class="faculty-ciencias-sociales-y-humanas">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">sociales</span>
    <span class="variable">$sociales</span>
    <span class="hex">#E7A900</span>
  </li>
   <li class="faculty-ciencias-de-la-educacion">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">educacion</span>
    <span class="variable">$educacion</span>
    <span class="hex">#F1987E</span>
  </li>
    <li class="faculty-finanzas-gobierno-y-relaciones-internacionales">
    <div class="swatch secondary-header-menu "></div>
    <span class="name">finanzas</span>
    <span class="variable">$finanzas</span>
    <span class="hex">#F29251</span>
  </li>

</ul>
<h3 class="texto-centrado margen-titulo">PALETA SITIOS</h3>
<h6 class="texto-centrado">Únicamente se usan para algunas áreas de la Universidad</h6>
  <ul class="sg-colors">
  <li class="faculty-bienestar-universitario">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">bienestar</span>
    <span class="variable">$bienestar</span>
    <span class="hex">#FFD44E</span>
  </li>
    <li class="faculty-oficina-de-egresados">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">egresados</span>
    <span class="variable">$egresados</span>
    <span class="hex">#E7A900</span>
  </li>
  <li class="faculty-biblioteca">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">biblioteca</span>
    <span class="variable">$biblioteca</span>
    <span class="hex">#B8194E</span>
  </li>
      <li class="faculty-amaranto-museo-virtual">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">amaranto</span>
    <span class="variable">$amaranto</span>
    <span class="hex">#812E58</span>
  </li>
      <li class="faculty-unidad-de-genero">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">Unidad de genero</span>
    <span class="variable">$unidad-genero </span>
    <span class="hex">#783b95</span>
  </li>
    <li class="faculty-centro-idiomas-y-cultura">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">Centro de Idiomas y Cultura</span>
    <span class="variable">$centro-idiomas </span>
    <span class="hex">#006072</span>
  </li>
    <li class="faculty-convenio-sigueme">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">convenio sigueme</span>
    <span class="variable">$sigueme</span>
    <span class="hex">#1475A2</span>
  </li>



   </ul>
   <h4 class="texto-centrado">Escuelas de FIGRI</h4>
   <h6 class="texto-centrado">Únicamente se usan como colores complementarios para FIGRI</h6>
  <ul class="sg-colors">
    <li class="faculty-esc-finanzas">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">Escuela de Finanzas y Negocios Int</span>
    <span class="variable">$esc-finanzas</span>
    <span class="hex">#050589</span>
  </li>
  <li class="faculty-esc-relaciones-in">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">Escuela de Relaciones Internacionales</span>
    <span class="variable">$esc-relaciones-in</span>
    <span class="hex">#E7A900</span>
  </li>
  <li class="faculty-esc-gobierno">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">Escuela de Gobierno y Políticas Públicas</span>
    <span class="variable">$esc-gobierno</span>
    <span class="hex">#FEAF7A</span>
  </li>
  <li class="faculty-esc-arte">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">Escuela de Arte, Cultura y Lenguas</span>
    <span class="variable">$esc-arte </span>
    <span class="hex">#00666B</span>
  </li>


   </ul>
<h3 class="texto-centrado margen-titulo">Colores de BLOGS</h3>
<h6 class="texto-centrado">Únicamente se usan para algunas áreas de la Universidad</h6>
<ul class="sg-colors">
<li>
    <div class="swatch conexion-externado"></div>
    <span class="name">Conexion Externado</span>
    <span class="variable">$conexion</span>
    <span class="hex">#BF0F58</span>
  </li>
  <li class="faculty-comunidad-virtual">
    <div class="swatch secondary-header-menu"></div>
    <span class="name">Comunidad Virtual Externadista</span>
    <span class="variable">$comunidad-virtual </span>
    <span class="hex">#256E7D</span>
  </li>
  <li>
    <div class="swatch economia-abc"></div>
    <span class="name">economia-abc</span>
    <span class="variable">$economia-abc</span>
    <span class="hex">#B69688</span>
  </li>
</ul>
<h3 class="texto-centrado margen-titulo">Colores de MARCAS</h3>
<ul class="sg-colors">
<li>
    <div class="swatch whatsapp"></div>
    <span class="name">Whatsapp</span>
    <span class="variable">$whatsapp</span>
    <span class="hex">#25CC64</span>
  </li>
</ul>