<ul class="sg-fonts">
  <li>
    <span class="sg-font lato">
      Fuente Principal
    </span>
    <span class="name">Lato</span>
    <span class="variable">$lato</span>
  </li>
  <li>
    <span class="sg-font georgia">
      Fuente Secundaria
    </span>
    <span class="name">Georgia</span>
    <span class="variable">$georgia</span>
  </li>
</ul>