<ul class="sg-icons">
  <li><svg class="icon icon-3d"><use xlink:href="../../images/iconos.svg#icon-3d"></use></svg><span class="mls"> icon-3d</span></li>
  <li><svg class="icon icon-avante"><use xlink:href="../../images/iconos.svg#icon-avante"></use></svg><span class="mls"> icon-avante</span></li>
    <li><svg class="icon icon-campus-virtual"><use xlink:href="../../images/iconos.svg#icon-campus-virtual"></use></svg><span class="mls"> icon-campus-virtual</span></li>
    <li><svg class="icon icon-diploma"><use xmlns:xlink="http://www.w3.org/1999/xlink"  xlink:href="../../images/iconos.svg#icon-diploma"></use></svg><span class="mls"> icon-diploma</span></li>
    <li><svg class="icon icon-discos-apilados"><use xlink:href="../../images/iconos.svg#icon-discos-apilados"></use></svg><span class="mls"> icon-discos-apilados</span></li>
    <li><svg class="icon icon-flickr"><use xlink:href="../../images/iconos.svg#icon-flickr"></use></svg><span class="mls"> icon-flickr</span></li>
    <li><svg class="icon icon-jornada"><use xlink:href="../../images/iconos.svg#icon-jornada"></use></svg><span class="mls"> icon-jornada</span></li>
    <li><svg class="icon icon-mas"><use xlink:href="../../images/iconos.svg#icon-mas"></use></svg><span class="mls"> icon-mas</span></li>
    <li><svg class="icon icon-menos"><use xlink:href="../../images/iconos.svg#icon-menos"></use></svg><span class="mls"> icon-menos</span></li>
    <li><svg class="icon icon-3d"><use xlink:href="../../images/iconos.svg#icon-3d"></use></svg><span class="mls"> icon-3d</span></li>
    <li><svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg><span class="mls"> icon-abajo</span></li>
    <li><svg class="icon icon-actividad"><use xlink:href="../../images/iconos.svg#icon-actividad"></use></svg><span class="mls"> icon-actividad</span></li>
    <li><svg class="icon icon-adelantar"><use xlink:href="../../images/iconos.svg#icon-adelantar"></use></svg><span class="mls"> icon-adelantar</span></li>
    <li><svg class="icon icon-adjuntar"><use xlink:href="../../images/iconos.svg#icon-adjuntar"></use></svg><span class="mls"> icon-adjuntar</span></li>
    <li><svg class="icon icon-adn"><use xlink:href="../../images/iconos.svg#icon-adn"></use></svg><span class="mls"> icon-adn</span></li>
    <li><svg class="icon icon-afuera"><use xlink:href="../../images/iconos.svg#icon-afuera"></use></svg><span class="mls"> icon-afuera</span></li>
    <li><svg class="icon icon-agregar-pagina"><use xlink:href="../../images/iconos.svg#icon-agregar-pagina"></use></svg><span class="mls"> icon-agregar-pagina</span></li>
    <li><svg class="icon icon-ajedrez"><use xlink:href="../../images/iconos.svg#icon-ajedrez"></use></svg><span class="mls"> icon-ajedrez</span></li>
    <li><svg class="icon icon-alarma"><use xlink:href="../../images/iconos.svg#icon-alarma"></use></svg><span class="mls"> icon-alarma</span></li>
    <li><svg class="icon icon-alcancia"><use xlink:href="../../images/iconos.svg#icon-alcancia"></use></svg><span class="mls"> icon-alcancia</span></li>
    <li><svg class="icon icon-aleatorio"><use xlink:href="../../images/iconos.svg#icon-aleatorio"></use></svg><span class="mls"> icon-aleatorio</span></li>
    <li><svg class="icon icon-alerta-01"><use xlink:href="../../images/iconos.svg#icon-alerta-01"></use></svg><span class="mls"> icon-alerta-01</span></li>
    <li><svg class="icon icon-alerta-02"><use xlink:href="../../images/iconos.svg#icon-alerta-02"></use></svg><span class="mls"> icon-alerta-02</span></li>
    <li><svg class="icon icon-alt"><use xlink:href="../../images/iconos.svg#icon-alt"></use></svg><span class="mls"> icon-alt</span></li>
    <li><svg class="icon icon-altura"><use xlink:href="../../images/iconos.svg#icon-altura"></use></svg><span class="mls"> icon-altura</span></li>
    <li><svg class="icon icon-amazon"><use xlink:href="../../images/iconos.svg#icon-amazon"></use></svg><span class="mls"> icon-amazon</span></li>
    <li><svg class="icon icon-ancho"><use xlink:href="../../images/iconos.svg#icon-ancho"></use></svg><span class="mls"> icon-ancho</span></li>
    <li><svg class="icon icon-anterior"><use xlink:href="../../images/iconos.svg#icon-anterior"></use></svg><span class="mls"> icon-anterior</span></li>
    <li><svg class="icon icon-aplausos"><use xlink:href="../../images/iconos.svg#icon-aplausos"></use></svg><span class="mls"> icon-aplausos</span></li>
    <li><svg class="icon icon-arbol"><use xlink:href="../../images/iconos.svg#icon-arbol"></use></svg><span class="mls"> icon-arbol</span></li>
    <li><svg class="icon icon-arriba"><use xlink:href="../../images/iconos.svg#icon-arriba"></use></svg><span class="mls"> icon-arriba</span></li>
    <li><svg class="icon icon-articulo"><use xlink:href="../../images/iconos.svg#icon-articulo"></use></svg><span class="mls"> icon-articulo</span></li>
    <li><svg class="icon icon-aterrizaje"><use xlink:href="../../images/iconos.svg#icon-aterrizaje"></use></svg><span class="mls"> icon-aterrizaje</span></li>
    <li><svg class="icon icon-audifonos"><use xlink:href="../../images/iconos.svg#icon-audifonos"></use></svg><span class="mls"> icon-audifonos</span></li>
    <li><svg class="icon icon-audifonos-2"><use xlink:href="../../images/iconos.svg#icon-audifonos-2"></use></svg><span class="mls"> icon-audifonos-2</span></li>
    <li><svg class="icon icon-avion"><use xlink:href="../../images/iconos.svg#icon-avion"></use></svg><span class="mls"> icon-avion</span></li>
    <li><svg class="icon icon-ayuda-01"><use xlink:href="../../images/iconos.svg#icon-ayuda-01"></use></svg><span class="mls"> icon-ayuda-01</span></li>
    <li><svg class="icon icon-ayuda-02"><use xlink:href="../../images/iconos.svg#icon-ayuda-02"></use></svg><span class="mls"> icon-ayuda-02</span></li>
    <li><svg class="icon icon-bandeja-entrada"><use xlink:href="../../images/iconos.svg#icon-bandeja-entrada"></use></svg><span class="mls"> icon-bandeja-entrada</span></li>
    <li><svg class="icon icon-bandeja-salida"><use xlink:href="../../images/iconos.svg#icon-bandeja-salida"></use></svg><span class="mls"> icon-bandeja-salida</span></li>
    <li><svg class="icon icon-bandera-01"><use xlink:href="../../images/iconos.svg#icon-bandera-01"></use></svg><span class="mls"> icon-bandera-01</span></li>
    <li><svg class="icon icon-bandera-02"><use xlink:href="../../images/iconos.svg#icon-bandera-02"></use></svg><span class="mls"> icon-bandera-02</span></li>
    <li><svg class="icon icon-barras-grafico"><use xlink:href="../../images/iconos.svg#icon-barras-grafico"></use></svg><span class="mls"> icon-barras-grafico</span></li>
    <li><svg class="icon icon-barras"><use xlink:href="../../images/iconos.svg#icon-barras"></use></svg><span class="mls"> icon-barras</span></li>
    <li><svg class="icon icon-basura-01"><use xlink:href="../../images/iconos.svg#icon-basura-01"></use></svg><span class="mls"> icon-basura-01</span></li>
    <li><svg class="icon icon-basura-02"><use xlink:href="../../images/iconos.svg#icon-basura-02"></use></svg><span class="mls"> icon-basura-02</span></li>
    <li><svg class="icon icon-bateria-baja"><use xlink:href="../../images/iconos.svg#icon-bateria-baja"></use></svg><span class="mls"> icon-bateria-baja</span></li>
    <li><svg class="icon icon-bateria-cargada"><use xlink:href="../../images/iconos.svg#icon-bateria-cargada"></use></svg><span class="mls"> icon-bateria-cargada</span></li>
    <li><svg class="icon icon-bienestar-universitario"><use xlink:href="../../images/iconos.svg#icon-bienestar-universitario"></use></svg><span class="mls"> icon-bienestar-universitario</span></li>
    <li><svg class="icon icon-bifurcacion"><use xlink:href="../../images/iconos.svg#icon-bifurcacion"></use></svg><span class="mls"> icon-bifurcacion</span></li>
    <li><svg class="icon icon-billete-dolar"><use xlink:href="../../images/iconos.svg#icon-billete-dolar"></use></svg><span class="mls"> icon-billete-dolar</span></li>
    <li><svg class="icon icon-billete-euro"><use xlink:href="../../images/iconos.svg#icon-billete-euro"></use></svg><span class="mls"> icon-billete-euro</span></li>
    <li><svg class="icon icon-billete-libra"><use xlink:href="../../images/iconos.svg#icon-billete-libra"></use></svg><span class="mls"> icon-billete-libra</span></li>
    <li><svg class="icon icon-billete-yen"><use xlink:href="../../images/iconos.svg#icon-billete-yen"></use></svg><span class="mls"> icon-billete-yen</span></li>
    <li><svg class="icon icon-billete"><use xlink:href="../../images/iconos.svg#icon-billete"></use></svg><span class="mls"> icon-billete</span></li>
    <li><svg class="icon icon-billetera"><use xlink:href="../../images/iconos.svg#icon-billetera"></use></svg><span class="mls"> icon-billetera</span></li>
    <li><svg class="icon icon-billetes-dolares"><use xlink:href="../../images/iconos.svg#icon-billetes-dolares"></use></svg><span class="mls"> icon-billetes-dolares</span></li>
    <li><svg class="icon icon-billetes-euro"><use xlink:href="../../images/iconos.svg#icon-billetes-euro"></use></svg><span class="mls"> icon-billetes-euro</span></li>
    <li><svg class="icon icon-billetes-libras"><use xlink:href="../../images/iconos.svg#icon-billetes-libras"></use></svg><span class="mls"> icon-billetes-libras</span></li>
    <li><svg class="icon icon-billetes-yen"><use xlink:href="../../images/iconos.svg#icon-billetes-yen"></use></svg><span class="mls"> icon-billetes-yen</span></li>
    <li><svg class="icon icon-billetes"><use xlink:href="../../images/iconos.svg#icon-billetes"></use></svg><span class="mls"> icon-billetes</span></li>
    <li><svg class="icon icon-blanco"><use xlink:href="../../images/iconos.svg#icon-blanco"></use></svg><span class="mls"> icon-blanco</span></li>
    <li><svg class="icon icon-bloqueado"><use xlink:href="../../images/iconos.svg#icon-bloqueado"></use></svg><span class="mls"> icon-bloqueado</span></li>
    <li><svg class="icon icon-bloqueo-mayuscula"><use xlink:href="../../images/iconos.svg#icon-bloqueo-mayuscula"></use></svg><span class="mls"> icon-bloqueo-mayuscula</span></li>
    <li><svg class="icon icon-bluetooth"><use xlink:href="../../images/iconos.svg#icon-bluetooth"></use></svg><span class="mls"> icon-bluetooth</span></li>
    <li><svg class="icon icon-bolsa-compras"><use xlink:href="../../images/iconos.svg#icon-bolsa-compras"></use></svg><span class="mls"> icon-bolsa-compras</span></li>
    <li><svg class="icon icon-bolsa-dolares"><use xlink:href="../../images/iconos.svg#icon-bolsa-dolares"></use></svg><span class="mls"> icon-bolsa-dolares</span></li>
    <li><svg class="icon icon-bolsa-euros"><use xlink:href="../../images/iconos.svg#icon-bolsa-euros"></use></svg><span class="mls"> icon-bolsa-euros</span></li>
    <li><svg class="icon icon-bolsa-libras"><use xlink:href="../../images/iconos.svg#icon-bolsa-libras"></use></svg><span class="mls"> icon-bolsa-libras</span></li>
    <li><svg class="icon icon-bolsa-yen"><use xlink:href="../../images/iconos.svg#icon-bolsa-yen"></use></svg><span class="mls"> icon-bolsa-yen</span></li>
    <li><svg class="icon icon-bombillo-01"><use xlink:href="../../images/iconos.svg#icon-bombillo-01"></use></svg><span class="mls"> icon-bombillo-01</span></li>
    <li><svg class="icon icon-bombillo-02"><use xlink:href="../../images/iconos.svg#icon-bombillo-02"></use></svg><span class="mls"> icon-bombillo-02</span></li>
    <li><svg class="icon icon-bombillo-ahorrador"><use xlink:href="../../images/iconos.svg#icon-bombillo-ahorrador"></use></svg><span class="mls"> icon-bombillo-ahorrador</span></li>
    <li><svg class="icon icon-brocha-02"><use xlink:href="../../images/iconos.svg#icon-brocha-02"></use></svg><span class="mls"> icon-brocha-02</span></li>
    <li><svg class="icon icon-brocha"><use xlink:href="../../images/iconos.svg#icon-brocha"></use></svg><span class="mls"> icon-brocha</span></li>
    <li><svg class="icon icon-brujula"><use xlink:href="../../images/iconos.svg#icon-brujula"></use></svg><span class="mls"> icon-brujula</span></li>
    <li><svg class="icon icon-bug"><use xlink:href="../../images/iconos.svg#icon-bug"></use></svg><span class="mls"> icon-bug</span></li>
    <li><svg class="icon icon-bus"><use xlink:href="../../images/iconos.svg#icon-bus"></use></svg><span class="mls"> icon-bus</span></li>
    <li><svg class="icon icon-buzon"><use xlink:href="../../images/iconos.svg#icon-buzon"></use></svg><span class="mls"> icon-buzon</span></li>
    <li><svg class="icon icon-cafe"><use xlink:href="../../images/iconos.svg#icon-cafe"></use></svg><span class="mls"> icon-cafe</span></li>
    <li><svg class="icon icon-caja-01"><use xlink:href="../../images/iconos.svg#icon-caja-01"></use></svg><span class="mls"> icon-caja-01</span></li>
    <li><svg class="icon icon-caja-02"><use xlink:href="../../images/iconos.svg#icon-caja-02"></use></svg><span class="mls"> icon-caja-02</span></li>
    <li><svg class="icon icon-caja-abierta"><use xlink:href="../../images/iconos.svg#icon-caja-abierta"></use></svg><span class="mls"> icon-caja-abierta</span></li>
    <li><svg class="icon icon-caja-mercancia"><use xlink:href="../../images/iconos.svg#icon-caja-mercancia"></use></svg><span class="mls"> icon-caja-mercancia</span></li>
    <li><svg class="icon icon-calavera"><use xlink:href="../../images/iconos.svg#icon-calavera"></use></svg><span class="mls"> icon-calavera</span></li>
    <li><svg class="icon icon-calculadora"><use xlink:href="../../images/iconos.svg#icon-calculadora"></use></svg><span class="mls"> icon-calculadora</span></li>
    <li><svg class="icon icon-calendario-01"><use xlink:href="../../images/iconos.svg#icon-calendario-01"></use></svg><span class="mls"> icon-calendario-01</span></li>
    <li><svg class="icon icon-calendario-02"><use xlink:href="../../images/iconos.svg#icon-calendario-02"></use></svg><span class="mls"> icon-calendario-02</span></li>
    <li><svg class="icon icon-contacto"><use xlink:href="../../images/iconos.svg#icon-contacto"></use></svg><span class="mls"> icon-contacto</span></li>
    <li><svg class="icon icon-camara"><use xlink:href="../../images/iconos.svg#icon-camara"></use></svg><span class="mls"> icon-camara</span></li>
    <li><svg class="icon icon-cambio-tamanio"><use xlink:href="../../images/iconos.svg#icon-cambio-tamanio"></use></svg><span class="mls"> icon-cambio-tamanio</span></li>
    <li><svg class="icon icon-camion"><use xlink:href="../../images/iconos.svg#icon-camion"></use></svg><span class="mls"> icon-camion</span></li>
    <li><svg class="icon icon-camisa"><use xlink:href="../../images/iconos.svg#icon-camisa"></use></svg><span class="mls"> icon-camisa</span></li>
    <li><svg class="icon icon-camiseta"><use xlink:href="../../images/iconos.svg#icon-camiseta"></use></svg><span class="mls"> icon-camiseta</span></li>
    <li><svg class="icon icon-campana-deshabilitada"><use xlink:href="../../images/iconos.svg#icon-campana-deshabilitada"></use></svg><span class="mls"> icon-campana-deshabilitada</span></li>
    <li><svg class="icon icon-campana"><use xlink:href="../../images/iconos.svg#icon-campana"></use></svg><span class="mls"> icon-campana</span></li>
    <li><svg class="icon icon-canasta-compras"><use xlink:href="../../images/iconos.svg#icon-canasta-compras"></use></svg><span class="mls"> icon-canasta-compras</span></li>
    <li><svg class="icon icon-candado-01"><use xlink:href="../../images/iconos.svg#icon-candado-01"></use></svg><span class="mls"> icon-candado-01</span></li>
    <li><svg class="icon icon-candado-02"><use xlink:href="../../images/iconos.svg#icon-candado-02"></use></svg><span class="mls"> icon-candado-02</span></li>
    <li><svg class="icon icon-candado-abierto-02"><use xlink:href="../../images/iconos.svg#icon-candado-abierto-02"></use></svg><span class="mls"> icon-candado-abierto-02</span></li>
     <li><svg class="icon icon-capacity"><use xlink:href="../../images/iconos.svg#icon-capacity"></use></svg><span class="mls"> icon-capacity</span></li>
    <li><svg class="icon icon-capas-01"><use xlink:href="../../images/iconos.svg#icon-capas-01"></use></svg><span class="mls"> icon-capas-01</span></li>
    <li><svg class="icon icon-capas-02"><use xlink:href="../../images/iconos.svg#icon-capas-02"></use></svg><span class="mls"> icon-capas-02</span></li>
    <li><svg class="icon icon-cargando"><use xlink:href="../../images/iconos.svg#icon-cargando"></use></svg><span class="mls"> icon-cargando</span></li>
    <li><svg class="icon icon-cargar-documentos"><use xlink:href="../../images/iconos.svg#icon-cargar-documentos"></use></svg><span class="mls"> icon-cargar-documentos</span></li>
    <li><svg class="icon icon-carpeta-abierta"><use xlink:href="../../images/iconos.svg#icon-carpeta-abierta"></use></svg><span class="mls"> icon-carpeta-abierta</span></li>
    <li><svg class="icon icon-carpeta"><use xlink:href="../../images/iconos.svg#icon-carpeta"></use></svg><span class="mls"> icon-carpeta</span></li>
    <li><svg class="icon icon-carro-compras"><use xlink:href="../../images/iconos.svg#icon-carro-compras"></use></svg><span class="mls"> icon-carro-compras</span></li>
    <li><svg class="icon icon-carro"><use xlink:href="../../images/iconos.svg#icon-carro"></use></svg><span class="mls"> icon-carro</span></li>
    <li><svg class="icon icon-casa"><use xlink:href="../../images/iconos.svg#icon-casa"></use></svg><span class="mls"> icon-casa</span></li>
    <li><svg class="icon icon-cerebro"><use xlink:href="../../images/iconos.svg#icon-cerebro"></use></svg><span class="mls"> icon-cerebro</span></li>
    <li><svg class="icon icon-cerradura"><use xlink:href="../../images/iconos.svg#icon-cerradura"></use></svg><span class="mls"> icon-cerradura</span></li>
    <li><svg class="icon icon-cerrar-sesion"><use xlink:href="../../images/iconos.svg#icon-cerrar-sesion"></use></svg><span class="mls"> icon-cerrar-sesion</span></li>
    <li><svg class="icon icon-chat-activo"><use xlink:href="../../images/iconos.svg#icon-chat-activo"></use></svg><span class="mls"> icon-chat-activo</span></li>
    <li><svg class="icon icon-chat"><use xlink:href="../../images/iconos.svg#icon-chat"></use></svg><span class="mls"> icon-chat</span></li>
    <li><svg class="icon icon-check"><use xlink:href="../../images/iconos.svg#icon-check"></use></svg><span class="mls"> icon-check</span></li>
    <li><svg class="icon icon-checkbox-02"><use xlink:href="../../images/iconos.svg#icon-checkbox-02"></use></svg><span class="mls"> icon-checkbox-02</span></li>
    <li><svg class="icon icon-checkbox-vacio-02"><use xlink:href="../../images/iconos.svg#icon-checkbox-vacio-02"></use></svg><span class="mls"> icon-checkbox-vacio-02</span></li>
    <li><svg class="icon icon-checkbox-vacio"><use xlink:href="../../images/iconos.svg#icon-checkbox-vacio"></use></svg><span class="mls"> icon-checkbox-vacio</span></li>
    <li><svg class="icon icon-checkbox"><use xlink:href="../../images/iconos.svg#icon-checkbox"></use></svg><span class="mls"> icon-checkbox</span></li>
    <li><svg class="icon icon-chip-01"><use xlink:href="../../images/iconos.svg#icon-chip-01"></use></svg><span class="mls"> icon-chip-01</span></li>
    <li><svg class="icon icon-chip-02"><use xlink:href="../../images/iconos.svg#icon-chip-02"></use></svg><span class="mls"> icon-chip-02</span></li>
    <li><svg class="icon icon-ciencia"><use xlink:href="../../images/iconos.svg#icon-ciencia"></use></svg><span class="mls"> icon-ciencia</span></li>
    <li><svg class="icon icon-cima"><use xlink:href="../../images/iconos.svg#icon-cima"></use></svg><span class="mls"> icon-cima</span></li>
    <li><svg class="icon icon-circo"><use xlink:href="../../images/iconos.svg#icon-circo"></use></svg><span class="mls"> icon-circo</span></li>
    <li><svg class="icon icon-citar"><use xlink:href="../../images/iconos.svg#icon-citar"></use></svg><span class="mls"> icon-citar</span></li>
    <li><svg class="icon icon-clavija"><use xlink:href="../../images/iconos.svg#icon-clavija"></use></svg><span class="mls"> icon-clavija</span></li>
    <li><svg class="icon icon-cliente"><use xlink:href="../../images/iconos.svg#icon-cliente"></use></svg><span class="mls"> icon-cliente</span></li>
    <li><svg class="icon icon-coche-bebe"><use xlink:href="../../images/iconos.svg#icon-coche-bebe"></use></svg><span class="mls"> icon-coche-bebe</span></li>
    <li><svg class="icon icon-coctel"><use xlink:href="../../images/iconos.svg#icon-coctel"></use></svg><span class="mls"> icon-coctel</span></li>
    <li><svg class="icon icon-codigo-barras"><use xlink:href="../../images/iconos.svg#icon-codigo-barras"></use></svg><span class="mls"> icon-codigo-barras</span></li>
    <li><svg class="icon icon-codigo-qr"><use xlink:href="../../images/iconos.svg#icon-codigo-qr"></use></svg><span class="mls"> icon-codigo-qr</span></li>
    <li><svg class="icon icon-codigo"><use xlink:href="../../images/iconos.svg#icon-codigo"></use></svg><span class="mls"> icon-codigo</span></li>
    <li><svg class="icon icon-cohete"><use xlink:href="../../images/iconos.svg#icon-cohete"></use></svg><span class="mls"> icon-cohete</span></li>
    <li><svg class="icon icon-cohete-2"><use xlink:href="../../images/iconos.svg#icon-cohete-2"></use></svg><span class="mls"> icon-cohete-2</span></li>
    <li><svg class="icon icon-color-cubeta"><use xlink:href="../../images/iconos.svg#icon-color-cubeta"></use></svg><span class="mls"> icon-color-cubeta</span></li>
    <li><svg class="icon icon-color-gotero"><use xlink:href="../../images/iconos.svg#icon-color-gotero"></use></svg><span class="mls"> icon-color-gotero</span></li>
    <li><svg class="icon icon-comida"><use xlink:href="../../images/iconos.svg#icon-comida"></use></svg><span class="mls"> icon-comida</span></li>
    <li><svg class="icon icon-command"><use xlink:href="../../images/iconos.svg#icon-command"></use></svg><span class="mls"> icon-command</span></li>
    <li><svg class="icon icon-compania"><use xlink:href="../../images/iconos.svg#icon-compania"></use></svg><span class="mls"> icon-compania</span></li>
    <li><svg class="icon icon-compartir-01"><use xlink:href="../../images/iconos.svg#icon-compartir-01"></use></svg><span class="mls"> icon-compartir-01</span></li>
    <li><svg class="icon icon-compartir-02"><use xlink:href="../../images/iconos.svg#icon-compartir-02"></use></svg><span class="mls"> icon-compartir-02</span></li>
    <li><svg class="icon icon-compartir-iphone"><use xlink:href="../../images/iconos.svg#icon-compartir-iphone"></use></svg><span class="mls"> icon-compartir-iphone</span></li>
    <li><svg class="icon icon-compartir-pantalla"><use xlink:href="../../images/iconos.svg#icon-compartir-pantalla"></use></svg><span class="mls"> icon-compartir-pantalla</span></li>
    <li><svg class="icon icon-composicion"><use xlink:href="../../images/iconos.svg#icon-composicion"></use></svg><span class="mls"> icon-composicion</span></li>
    <li><svg class="icon icon-comprimir"><use xlink:href="../../images/iconos.svg#icon-comprimir"></use></svg><span class="mls"> icon-comprimir</span></li>
    <li><svg class="icon icon-computador"><use xlink:href="../../images/iconos.svg#icon-computador"></use></svg><span class="mls"> icon-computador</span></li>
    <li><svg class="icon icon-coneccion"><use xlink:href="../../images/iconos.svg#icon-coneccion"></use></svg><span class="mls"> icon-coneccion</span></li>
    <li><svg class="icon icon-conector"><use xlink:href="../../images/iconos.svg#icon-conector"></use></svg><span class="mls"> icon-conector</span></li>
    <li><svg class="icon icon-consola"><use xlink:href="../../images/iconos.svg#icon-consola"></use></svg><span class="mls"> icon-consola</span></li>
    <li><svg class="icon icon-contraste"><use xlink:href="../../images/iconos.svg#icon-contraste"></use></svg><span class="mls"> icon-contraste</span></li>
    <li><svg class="icon icon-control-parental"><use xlink:href="../../images/iconos.svg#icon-control-parental"></use></svg><span class="mls"> icon-control-parental</span></li>
    <li><svg class="icon icon-convenio"><use xlink:href="../../images/iconos.svg#icon-convenio"></use></svg><span class="mls"> icon-convenio</span></li>
    <li><svg class="icon icon-conversacion"><use xlink:href="../../images/iconos.svg#icon-conversacion"></use></svg><span class="mls"> icon-conversacion</span></li>
    <li><svg class="icon icon-copa"><use xlink:href="../../images/iconos.svg#icon-copa"></use></svg><span class="mls"> icon-copa</span></li>
    <li><svg class="icon icon-corazon-01"><use xlink:href="../../images/iconos.svg#icon-corazon-01"></use></svg><span class="mls"> icon-corazon-01</span></li>
    <li><svg class="icon icon-corazon-02"><use xlink:href="../../images/iconos.svg#icon-corazon-02"></use></svg><span class="mls"> icon-corazon-02</span></li>
    <li><svg class="icon icon-correo-abierto"><use xlink:href="../../images/iconos.svg#icon-correo-abierto"></use></svg><span class="mls"> icon-correo-abierto</span></li>
    <li><svg class="icon icon-correo"><use xlink:href="../../images/iconos.svg#icon-correo"></use></svg><span class="mls"> icon-correo</span></li>
    <li><svg class="icon icon-cortar"><use xlink:href="../../images/iconos.svg#icon-cortar"></use></svg><span class="mls"> icon-cortar</span></li>
    <li><svg class="icon icon-cronometro"><use xlink:href="../../images/iconos.svg#icon-cronometro"></use></svg><span class="mls"> icon-cronometro</span></li>
    <li><svg class="icon icon-curita"><use xlink:href="../../images/iconos.svg#icon-curita"></use></svg><span class="mls"> icon-curita</span></li>
    <li><svg class="icon icon-cursor"><use xlink:href="../../images/iconos.svg#icon-cursor"></use></svg><span class="mls"> icon-cursor</span></li>
    <li><svg class="icon icon-curva"><use xlink:href="../../images/iconos.svg#icon-curva"></use></svg><span class="mls"> icon-curva</span></li>
     <li><svg class="icon icon-comunidad"><use xlink:href="../../images/iconos.svg#icon-comunidad"></use></svg><span class="mls"> icon-comunidad</span></li>
    <li><svg class="icon icon-dados"><use xlink:href="../../images/iconos.svg#icon-dados"></use></svg><span class="mls"> icon-dados</span></li>
    <li><svg class="icon icon-delicious"><use xlink:href="../../images/iconos.svg#icon-delicious"></use></svg><span class="mls"> icon-delicious</span></li>
    <li><svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg><span class="mls"> icon-derecha</span></li>
    <li><svg class="icon icon-desbloqueado"><use xlink:href="../../images/iconos.svg#icon-desbloqueado"></use></svg><span class="mls"> icon-desbloqueado</span></li>
    <li><svg class="icon icon-descargar-01"><use xlink:href="../../images/iconos.svg#icon-descargar-01"></use></svg><span class="mls"> icon-descargar-01</span></li>
    <li><svg class="icon icon-descargar-02"><use xlink:href="../../images/iconos.svg#icon-descargar-02"></use></svg><span class="mls"> icon-descargar-02</span></li>
    <li><svg class="icon icon-deshacer"><use xlink:href="../../images/iconos.svg#icon-deshacer"></use></svg><span class="mls"> icon-deshacer</span></li>
    <li><svg class="icon icon-despegue"><use xlink:href="../../images/iconos.svg#icon-despegue"></use></svg><span class="mls"> icon-despegue</span></li>
    <li><svg class="icon icon-detener-01"><use xlink:href="../../images/iconos.svg#icon-detener-01"></use></svg><span class="mls"> icon-detener-01</span></li>
    <li><svg class="icon icon-detener-02"><use xlink:href="../../images/iconos.svg#icon-detener-02"></use></svg><span class="mls"> icon-detener-02</span></li>
    <li><svg class="icon icon-detener-03"><use xlink:href="../../images/iconos.svg#icon-detener-03"></use></svg><span class="mls"> icon-detener-03</span></li>
    <li><svg class="icon icon-dial-seguro"><use xlink:href="../../images/iconos.svg#icon-dial-seguro"></use></svg><span class="mls"> icon-dial-seguro</span></li>
    <li><svg class="icon icon-dial-seguro"><use xlink:href="../../images/iconos.svg#icon-dial-seguro"></use></svg><span class="mls"> icon-dial-seguro</span></li>
    <li><svg class="icon icon-diamante-01"><use xlink:href="../../images/iconos.svg#icon-diamante-01"></use></svg><span class="mls"> icon-diamante-01</span></li>
    <li><svg class="icon icon-diamante-02"><use xlink:href="../../images/iconos.svg#icon-diamante-02"></use></svg><span class="mls"> icon-diamante-02</span></li>
    <li><svg class="icon icon-direcciones-01"><use xlink:href="../../images/iconos.svg#icon-direcciones-01"></use></svg><span class="mls"> icon-direcciones-01</span></li>
    <li><svg class="icon icon-direcciones-02"><use xlink:href="../../images/iconos.svg#icon-direcciones-02"></use></svg><span class="mls"> icon-direcciones-02</span></li>
    <li><svg class="icon icon-directorio"><use xlink:href="../../images/iconos.svg#icon-directorio"></use></svg><span class="mls"> icon-directorio</span></li>
    <li><svg class="icon icon-disco-duro"><use xlink:href="../../images/iconos.svg#icon-disco-duro"></use></svg><span class="mls"> icon-disco-duro</span></li>
    <li><svg class="icon icon-disco"><use xlink:href="../../images/iconos.svg#icon-disco"></use></svg><span class="mls"> icon-disco</span></li>
    <li><svg class="icon icon-documento-02"><use xlink:href="../../images/iconos.svg#icon-documento-02"></use></svg><span class="mls"> icon-documento-02</span></li>
    <li><svg class="icon icon-documento"><use xlink:href="../../images/iconos.svg#icon-documento"></use></svg><span class="mls"> icon-documento</span></li>
    <li><svg class="icon icon-documentos"><use xlink:href="../../images/iconos.svg#icon-documentos"></use></svg><span class="mls"> icon-documentos</span></li>
    <li><svg class="icon icon-donar"><use xlink:href="../../images/iconos.svg#icon-donar"></use></svg><span class="mls"> icon-donar</span></li>
    <li><svg class="icon icon-dribbble"><use xlink:href="../../images/iconos.svg#icon-dribbble"></use></svg><span class="mls"> icon-dribbble</span></li>
    <li><svg class="icon icon-dulce"><use xlink:href="../../images/iconos.svg#icon-dulce"></use></svg><span class="mls"> icon-dulce</span></li>
    <li><svg class="icon icon-ecologia"><use xlink:href="../../images/iconos.svg#icon-ecologia"></use></svg><span class="mls"> icon-ecologia</span></li>
    <li><svg class="icon icon-economia"><use xlink:href="../../images/iconos.svg#icon-economia"></use></svg><span class="mls"> icon-economia</span></li>
    <li><svg class="icon icon-editar"><use xlink:href="../../images/iconos.svg#icon-editar"></use></svg><span class="mls"> icon-editar</span></li>
    <li><svg class="icon icon-eliminar-01"><use xlink:href="../../images/iconos.svg#icon-eliminar-01"></use></svg><span class="mls"> icon-eliminar-01</span></li>
    <li><svg class="icon icon-eliminar-02"><use xlink:href="../../images/iconos.svg#icon-eliminar-02"></use></svg><span class="mls"> icon-eliminar-02</span></li>
    <li><svg class="icon icon-eliminar-pagina"><use xlink:href="../../images/iconos.svg#icon-eliminar-pagina"></use></svg><span class="mls"> icon-eliminar-pagina</span></li>
    <li><svg class="icon icon-emergencia-medica"><use xlink:href="../../images/iconos.svg#icon-emergencia-medica"></use></svg><span class="mls"> icon-emergencia-medica</span></li>
    <li><svg class="icon icon-empleado"><use xlink:href="../../images/iconos.svg#icon-empleado"></use></svg><span class="mls"> icon-empleado</span></li>
    <li><svg class="icon icon-encender"><use xlink:href="../../images/iconos.svg#icon-encender"></use></svg><span class="mls"> icon-encender</span></li>
    <li><svg class="icon icon-enchufe"><use xlink:href="../../images/iconos.svg#icon-enchufe"></use></svg><span class="mls"> icon-enchufe</span></li>
    <li><svg class="icon icon-enter"><use xlink:href="../../images/iconos.svg#icon-enter"></use></svg><span class="mls"> icon-enter</span></li>
    <li><svg class="icon icon-equivocado"><use xlink:href="../../images/iconos.svg#icon-equivocado"></use></svg><span class="mls"> icon-equivocado</span></li>
    <li><svg class="icon icon-escaner"><use xlink:href="../../images/iconos.svg#icon-escaner"></use></svg><span class="mls"> icon-escaner</span></li>
    <li><svg class="icon icon-escudo"><use xlink:href="../../images/iconos.svg#icon-escudo"></use></svg><span class="mls"> icon-escudo</span></li>
    <li><svg class="icon icon-estrella"><use xlink:href="../../images/iconos.svg#icon-estrella"></use></svg><span class="mls"> icon-estrella</span></li>
    <li><svg class="icon icon-ethernet"><use xlink:href="../../images/iconos.svg#icon-ethernet"></use></svg><span class="mls"> icon-ethernet</span></li>
    <li><svg class="icon icon-etiqueta"><use xlink:href="../../images/iconos.svg#icon-etiqueta"></use></svg><span class="mls"> icon-etiqueta</span></li>
    <li><svg class="icon icon-etiquetas"><use xlink:href="../../images/iconos.svg#icon-etiquetas"></use></svg><span class="mls"> icon-etiquetas</span></li>
    <li><svg class="icon icon-expulsar"><use xlink:href="../../images/iconos.svg#icon-expulsar"></use></svg><span class="mls"> icon-expulsar</span></li>
    <li><svg class="icon icon-fabrica"><use xlink:href="../../images/iconos.svg#icon-fabrica"></use></svg><span class="mls"> icon-fabrica</span></li>
    <li><svg class="icon icon-facebook"><use xlink:href="../../images/iconos.svg#icon-facebook"></use></svg><span class="mls"> icon-facebook</span></li>
    <li><svg class="icon icon-femenino"><use xlink:href="../../images/iconos.svg#icon-femenino"></use></svg><span class="mls"> icon-femenino</span></li>
    <li><svg class="icon icon-filtro-01"><use xlink:href="../../images/iconos.svg#icon-filtro-01"></use></svg><span class="mls"> icon-filtro-01</span></li>
    <li><svg class="icon icon-filtro-02"><use xlink:href="../../images/iconos.svg#icon-filtro-02"></use></svg><span class="mls"> icon-filtro-02</span></li>
    <li><svg class="icon icon-firewire"><use xlink:href="../../images/iconos.svg#icon-firewire"></use></svg><span class="mls"> icon-firewire</span></li>
    <li><svg class="icon icon-flash"><use xlink:href="../../images/iconos.svg#icon-flash"></use></svg><span class="mls"> icon-flash</span></li>
    <li><svg class="icon icon-flecha-abajo"><use xlink:href="../../images/iconos.svg#icon-flecha-abajo"></use></svg><span class="mls"> icon-flecha-abajo</span></li>
    <li><svg class="icon icon-flecha-arriba"><use xlink:href="../../images/iconos.svg#icon-flecha-arriba"></use></svg><span class="mls"> icon-flecha-arriba</span></li>
    <li><svg class="icon icon-flecha-derecha"><use xlink:href="../../images/iconos.svg#icon-flecha-derecha"></use></svg><span class="mls"> icon-flecha-derecha</span></li>
    <li><svg class="icon icon-flecha-izquierda"><use xlink:href="../../images/iconos.svg#icon-flecha-izquierda"></use></svg><span class="mls"> icon-flecha-izquierda</span></li>
    <li><svg class="icon icon-flecha-navegacion"><use xlink:href="../../images/iconos.svg#icon-flecha-navegacion"></use></svg><span class="mls"> icon-flecha-navegacion</span></li>
    <li><svg class="icon icon-flecha-responder"><use xlink:href="../../images/iconos.svg#icon-flecha-responder"></use></svg><span class="mls"> icon-flecha-responder</span></li>
    <li><svg class="icon icon-foto-01"><use xlink:href="../../images/iconos.svg#icon-foto-01"></use></svg><span class="mls"> icon-foto-01</span></li>
    <li><svg class="icon icon-foto-02"><use xlink:href="../../images/iconos.svg#icon-foto-02"></use></svg><span class="mls"> icon-foto-02</span></li>
    <li><svg class="icon icon-foto-03"><use xlink:href="../../images/iconos.svg#icon-foto-03"></use></svg><span class="mls"> icon-foto-03</span></li>
    <li><svg class="icon icon-fuente"><use xlink:href="../../images/iconos.svg#icon-fuente"></use></svg><span class="mls"> icon-fuente</span></li>
    <li><svg class="icon icon-gafas-3d"><use xlink:href="../../images/iconos.svg#icon-gafas-3d"></use></svg><span class="mls"> icon-gafas-3d</span></li>
    <li><svg class="icon icon-gancho-ropa"><use xlink:href="../../images/iconos.svg#icon-gancho-ropa"></use></svg><span class="mls"> icon-gancho-ropa</span></li>
    <li><svg class="icon icon-gente-01"><use xlink:href="../../images/iconos.svg#icon-gente-01"></use></svg><span class="mls"> icon-gente-01</span></li>
    <li><svg class="icon icon-gente-02"><use xlink:href="../../images/iconos.svg#icon-gente-02"></use></svg><span class="mls"> icon-gente-02</span></li>
    <li><svg class="icon icon-gente-03"><use xlink:href="../../images/iconos.svg#icon-gente-03"></use></svg><span class="mls"> icon-gente-03</span></li>
    <li><svg class="icon icon-geometria"><use xlink:href="../../images/iconos.svg#icon-geometria"></use></svg><span class="mls"> icon-geometria</span></li>
     <li><svg class="icon icon-gimnasio"><use xlink:href="../../images/iconos.svg#icon-gimnasio"></use></svg><span class="mls"> icon-gimnasio</span></li>
    <li><svg class="icon icon-globo-01"><use xlink:href="../../images/iconos.svg#icon-globo-01"></use></svg><span class="mls"> icon-globo-01</span></li>
    <li><svg class="icon icon-globo-02"><use xlink:href="../../images/iconos.svg#icon-globo-02"></use></svg><span class="mls"> icon-globo-02</span></li>
    <li><svg class="icon icon-google-plus"><use xlink:href="../../images/iconos.svg#icon-google-plus"></use></svg><span class="mls"> icon-google-plus</span></li>
    <li><svg class="icon icon-gps"><use xlink:href="../../images/iconos.svg#icon-gps"></use></svg><span class="mls"> icon-gps</span></li>
    <li><svg class="icon icon-grabar"><use xlink:href="../../images/iconos.svg#icon-grabar"></use></svg><span class="mls"> icon-grabar</span></li>
    <li><svg class="icon icon-grafica"><use xlink:href="../../images/iconos.svg#icon-grafica"></use></svg><span class="mls"> icon-grafica</span></li>
    <li><svg class="icon icon-grafico-barras"><use xlink:href="../../images/iconos.svg#icon-grafico-barras"></use></svg><span class="mls"> icon-grafico-barras</span></li>
    <li><svg class="icon icon-grafico-torta"><use xlink:href="../../images/iconos.svg#icon-grafico-torta"></use></svg><span class="mls"> icon-grafico-torta</span></li>
    <li><svg class="icon icon-grilla"><use xlink:href="../../images/iconos.svg#icon-grilla"></use></svg><span class="mls"> icon-grilla</span></li>
    <li><svg class="icon icon-guardar"><use xlink:href="../../images/iconos.svg#icon-guardar"></use></svg><span class="mls"> icon-guardar</span></li>
    <li><svg class="icon icon-guerra"><use xlink:href="../../images/iconos.svg#icon-guerra"></use></svg><span class="mls"> icon-guerra</span></li>
    <li><svg class="icon icon-hd"><use xlink:href="../../images/iconos.svg#icon-hd"></use></svg><span class="mls"> icon-hd</span></li>
    <li><svg class="icon icon-herramientas-02"><use xlink:href="../../images/iconos.svg#icon-herramientas-02"></use></svg><span class="mls"> icon-herramientas-02</span></li>
    <li><svg class="icon icon-herramientas"><use xlink:href="../../images/iconos.svg#icon-herramientas"></use></svg><span class="mls"> icon-herramientas</span></li>
    <li><svg class="icon icon-hombre-mujer"><use xlink:href="../../images/iconos.svg#icon-hombre-mujer"></use></svg><span class="mls"> icon-hombre-mujer</span></li>
    <li><svg class="icon icon-huella-dactilar"><use xlink:href="../../images/iconos.svg#icon-huella-dactilar"></use></svg><span class="mls"> icon-huella-dactilar</span></li>
    <li><svg class="icon icon-huella-mano"><use xlink:href="../../images/iconos.svg#icon-huella-mano"></use></svg><span class="mls"> icon-huella-mano</span></li>
     <li><svg class="icon icon-huella-animal"><use xlink:href="../../images/iconos.svg#icon-huella-animal"></use></svg><span class="mls"> icon-huella-animal</span></li>
    <li><svg class="icon icon-huesos"><use xlink:href="../../images/iconos.svg#icon-huesos"></use></svg><span class="mls"> icon-huesos</span></li>
    <li><svg class="icon icon-identificacion"><use xlink:href="../../images/iconos.svg#icon-identificacion"></use></svg><span class="mls"> icon-identificacion</span></li>
    <li><svg class="icon icon-imac"><use xlink:href="../../images/iconos.svg#icon-imac"></use></svg><span class="mls"> icon-imac</span></li>
    <li><svg class="icon icon-iman"><use xlink:href="../../images/iconos.svg#icon-iman"></use></svg><span class="mls"> icon-iman</span></li>
    <li><svg class="icon icon-impresora-01"><use xlink:href="../../images/iconos.svg#icon-impresora-01"></use></svg><span class="mls"> icon-impresora-01</span></li>
    <li><svg class="icon icon-impresora-02"><use xlink:href="../../images/iconos.svg#icon-impresora-02"></use></svg><span class="mls"> icon-impresora-02</span></li>
    <li><svg class="icon icon-infinito"><use xlink:href="../../images/iconos.svg#icon-infinito"></use></svg><span class="mls"> icon-infinito</span></li>
    <li><svg class="icon icon-info"><use xlink:href="../../images/iconos.svg#icon-info"></use></svg><span class="mls"> icon-info</span></li>
    <li><svg class="icon icon-instagram"><use xlink:href="../../images/iconos.svg#icon-instagram"></use></svg><span class="mls"> icon-instagram</span></li>
    <li><svg class="icon icon-ipad"><use xlink:href="../../images/iconos.svg#icon-ipad"></use></svg><span class="mls"> icon-ipad</span></li>
    <li><svg class="icon icon-iphone"><use xlink:href="../../images/iconos.svg#icon-iphone"></use></svg><span class="mls"> icon-iphone</span></li>
    <li><svg class="icon icon-issu"><use xlink:href="../../images/iconos.svg#icon-issu"></use></svg><span class="mls"> icon-issu</span></li>
    <li><svg class="icon icon-izquierda"><use xlink:href="../../images/iconos.svg#icon-izquierda"></use></svg><span class="mls"> icon-izquierda</span></li>
    <li><svg class="icon icon-juego-cartas"><use xlink:href="../../images/iconos.svg#icon-juego-cartas"></use></svg><span class="mls"> icon-juego-cartas</span></li>
    <li><svg class="icon icon-juego"><use xlink:href="../../images/iconos.svg#icon-juego"></use></svg><span class="mls"> icon-juego</span></li>
    <li><svg class="icon icon-laboratorio"><use xlink:href="../../images/iconos.svg#icon-laboratorio"></use></svg><span class="mls"> icon-laboratorio</span></li>
    <li><svg class="icon icon-ladrillo"><use xlink:href="../../images/iconos.svg#icon-ladrillo"></use></svg><span class="mls"> icon-ladrillo</span></li>
    <li><svg class="icon icon-ladron"><use xlink:href="../../images/iconos.svg#icon-ladron"></use></svg><span class="mls"> icon-ladron</span></li>
    <li><svg class="icon icon-legal"><use xlink:href="../../images/iconos.svg#icon-legal"></use></svg><span class="mls"> icon-legal</span></li>
    <li><svg class="icon icon-libreta"><use xlink:href="../../images/iconos.svg#icon-libreta"></use></svg><span class="mls"> icon-libreta</span></li>
    <li><svg class="icon icon-libro-01"><use xlink:href="../../images/iconos.svg#icon-libro-01"></use></svg><span class="mls"> icon-libro-01</span></li>
    <li><svg class="icon icon-libro-02"><use xlink:href="../../images/iconos.svg#icon-libro-02"></use></svg><span class="mls"> icon-libro-02</span></li>
    <li><svg class="icon icon-libro-03"><use xlink:href="../../images/iconos.svg#icon-libro-03"></use></svg><span class="mls"> icon-libro-03</span></li>
    <li><svg class="icon icon-libros"><use xlink:href="../../images/iconos.svg#icon-libros"></use></svg><span class="mls"> icon-libros</span></li>
    <li><svg class="icon icon-link"><use xlink:href="../../images/iconos.svg#icon-link"></use></svg><span class="mls"> icon-link</span></li>
    <li><svg class="icon icon-linkedin"><use xlink:href="../../images/iconos.svg#icon-linkedin"></use></svg><span class="mls"> icon-linkedin</span></li>
    <li><svg class="icon icon-linux"><use xlink:href="../../images/iconos.svg#icon-linux"></use></svg><span class="mls"> icon-linux</span></li>
    <li><svg class="icon icon-lista-desordenada"><use xlink:href="../../images/iconos.svg#icon-lista-desordenada"></use></svg><span class="mls"> icon-lista-desordenada</span></li>
    <li><svg class="icon icon-lista-musica"><use xlink:href="../../images/iconos.svg#icon-lista-musica"></use></svg><span class="mls"> icon-lista-musica</span></li>
    <li><svg class="icon icon-lista-ordenada"><use xlink:href="../../images/iconos.svg#icon-lista-ordenada"></use></svg><span class="mls"> icon-lista-ordenada</span></li>
    <li><svg class="icon icon-lista"><use xlink:href="../../images/iconos.svg#icon-lista"></use></svg><span class="mls"> icon-lista</span></li>
    <li><svg class="icon icon-llave-antigua"><use xlink:href="../../images/iconos.svg#icon-llave-antigua"></use></svg><span class="mls"> icon-llave-antigua</span></li>
    <li><svg class="icon icon-llave-inglesa"><use xlink:href="../../images/iconos.svg#icon-llave-inglesa"></use></svg><span class="mls"> icon-llave-inglesa</span></li>
    <li><svg class="icon icon-llave"><use xlink:href="../../images/iconos.svg#icon-llave"></use></svg><span class="mls"> icon-llave</span></li>
    <li><svg class="icon icon-llenado-automatico"><use xlink:href="../../images/iconos.svg#icon-llenado-automatico"></use></svg><span class="mls"> icon-llenado-automatico</span></li>
    <li><svg class="icon icon-lluvia"><use xlink:href="../../images/iconos.svg#icon-lluvia"></use></svg><span class="mls"> icon-lluvia</span></li>
    <li><svg class="icon icon-localizar"><use xlink:href="../../images/iconos.svg#icon-localizar"></use></svg><span class="mls"> icon-localizar</span></li>
    <li><svg class="icon icon-luna"><use xlink:href="../../images/iconos.svg#icon-luna"></use></svg><span class="mls"> icon-luna</span></li>
    <li><svg class="icon icon-lupa"><use xlink:href="../../images/iconos.svg#icon-lupa"></use></svg><span class="mls"> icon-lupa</span></li>
    <li><svg class="icon icon-maleta"><use xlink:href="../../images/iconos.svg#icon-maleta"></use></svg><span class="mls"> icon-maleta</span></li>
    <li><svg class="icon icon-mano-01"><use xlink:href="../../images/iconos.svg#icon-mano-01"></use></svg><span class="mls"> icon-mano-01</span></li>
    <li><svg class="icon icon-mano-02"><use xlink:href="../../images/iconos.svg#icon-mano-02"></use></svg><span class="mls"> icon-mano-02</span></li>
    <li><svg class="icon icon-mano-activa-01"><use xlink:href="../../images/iconos.svg#icon-mano-activa-01"></use></svg><span class="mls"> icon-mano-activa-01</span></li>
    <li><svg class="icon icon-mano-activa-02"><use xlink:href="../../images/iconos.svg#icon-mano-activa-02"></use></svg><span class="mls"> icon-mano-activa-02</span></li>
    <li><svg class="icon icon-mano-apuntador-01"><use xlink:href="../../images/iconos.svg#icon-mano-apuntador-01"></use></svg><span class="mls"> icon-mano-apuntador-01</span></li>
    <li><svg class="icon icon-mano-apuntador-02"><use xlink:href="../../images/iconos.svg#icon-mano-apuntador-02"></use></svg><span class="mls"> icon-mano-apuntador-02</span></li>
    <li><svg class="icon icon-mano-clic"><use xlink:href="../../images/iconos.svg#icon-mano-clic"></use></svg><span class="mls"> icon-mano-clic</span></li>
      <li><svg class="icon icon-mano-clic-02"><use xlink:href="../../images/iconos.svg#icon-mano-clic-02"></use></svg><span class="mls"> icon-mano-clic-02</span></li>
    <li><svg class="icon icon-mapa-mental"><use xlink:href="../../images/iconos.svg#icon-mapa-mental"></use></svg><span class="mls"> icon-mapa-mental</span></li>
    <li><svg class="icon icon-mapa"><use xlink:href="../../images/iconos.svg#icon-mapa"></use></svg><span class="mls"> icon-mapa</span></li>
    <li><svg class="icon icon-marca-libros"><use xlink:href="../../images/iconos.svg#icon-marca-libros"></use></svg><span class="mls"> icon-marca-libros</span></li>
    <li><svg class="icon icon-marcador-01"><use xlink:href="../../images/iconos.svg#icon-marcador-01"></use></svg><span class="mls"> icon-marcador-01</span></li>
    <li><svg class="icon icon-marco-01"><use xlink:href="../../images/iconos.svg#icon-marco-01"></use></svg><span class="mls"> icon-marco-01</span></li>
    <li><svg class="icon icon-marco-02"><use xlink:href="../../images/iconos.svg#icon-marco-02"></use></svg><span class="mls"> icon-marco-02</span></li>
    <li><svg class="icon icon-martillo"><use xlink:href="../../images/iconos.svg#icon-martillo"></use></svg><span class="mls"> icon-martillo</span></li>
    <li><svg class="icon icon-mas-luz"><use xlink:href="../../images/iconos.svg#icon-mas-luz"></use></svg><span class="mls"> icon-mas-luz</span></li>
    <li><svg class="icon icon-masculino"><use xlink:href="../../images/iconos.svg#icon-masculino"></use></svg><span class="mls"> icon-masculino</span></li>
    <li><svg class="icon icon-matera"><use xlink:href="../../images/iconos.svg#icon-matera"></use></svg><span class="mls"> icon-matera</span></li>
    <li><svg class="icon icon-medalla"><use xlink:href="../../images/iconos.svg#icon-medalla"></use></svg><span class="mls"> icon-medalla</span></li>
    <li><svg class="icon icon-medicina-01"><use xlink:href="../../images/iconos.svg#icon-medicina-01"></use></svg><span class="mls"> icon-medicina-01</span></li>
    <li><svg class="icon icon-medicina-02"><use xlink:href="../../images/iconos.svg#icon-medicina-02"></use></svg><span class="mls"> icon-medicina-02</span></li>
    <li><svg class="icon icon-medidor-velocidad"><use xlink:href="../../images/iconos.svg#icon-medidor-velocidad"></use></svg><span class="mls"> icon-medidor-velocidad</span></li>
    <li><svg class="icon icon-megafono"><use xlink:href="../../images/iconos.svg#icon-megafono"></use></svg><span class="mls"> icon-megafono</span></li>
    <li><svg class="icon icon-menos-luz"><use xlink:href="../../images/iconos.svg#icon-menos-luz"></use></svg><span class="mls"> icon-menos-luz</span></li>
    <li><svg class="icon icon-mesa"><use xlink:href="../../images/iconos.svg#icon-mesa"></use></svg><span class="mls"> icon-mesa</span></li>
    <li><svg class="icon icon-mira"><use xlink:href="../../images/iconos.svg#icon-mira"></use></svg><span class="mls"> icon-mira</span></li>
    <li><svg class="icon icon-molecular"><use xlink:href="../../images/iconos.svg#icon-molecular"></use></svg><span class="mls"> icon-molecular</span></li>
    <li><svg class="icon icon-moneda-dolar"><use xlink:href="../../images/iconos.svg#icon-moneda-dolar"></use></svg><span class="mls"> icon-moneda-dolar</span></li>
    <li><svg class="icon icon-moneda-euro"><use xlink:href="../../images/iconos.svg#icon-moneda-euro"></use></svg><span class="mls"> icon-moneda-euro</span></li>
    <li><svg class="icon icon-moneda-libra"><use xlink:href="../../images/iconos.svg#icon-moneda-libra"></use></svg><span class="mls"> icon-moneda-libra</span></li>
    <li><svg class="icon icon-moneda-yen"><use xlink:href="../../images/iconos.svg#icon-moneda-yen"></use></svg><span class="mls"> icon-moneda-yen</span></li>
    <li><svg class="icon icon-moneda"><use xlink:href="../../images/iconos.svg#icon-moneda"></use></svg><span class="mls"> icon-moneda</span></li>
    <li><svg class="icon icon-monedas-01"><use xlink:href="../../images/iconos.svg#icon-monedas-01"></use></svg><span class="mls"> icon-monedas-01</span></li>
    <li><svg class="icon icon-monedas-02"><use xlink:href="../../images/iconos.svg#icon-monedas-02"></use></svg><span class="mls"> icon-monedas-02</span></li>
    <li><svg class="icon icon-monedas-dolar-01"><use xlink:href="../../images/iconos.svg#icon-monedas-dolar-01"></use></svg><span class="mls"> icon-monedas-dolar-01</span></li>
    <li><svg class="icon icon-monedas-dolar-02"><use xlink:href="../../images/iconos.svg#icon-monedas-dolar-02"></use></svg><span class="mls"> icon-monedas-dolar-02</span></li>
    <li><svg class="icon icon-monedas-euro-01"><use xlink:href="../../images/iconos.svg#icon-monedas-euro-01"></use></svg><span class="mls"> icon-monedas-euro-01</span></li>
    <li><svg class="icon icon-monedas-euro-02"><use xlink:href="../../images/iconos.svg#icon-monedas-euro-02"></use></svg><span class="mls"> icon-monedas-euro-02</span></li>
    <li><svg class="icon icon-monedas-libras-01"><use xlink:href="../../images/iconos.svg#icon-monedas-libras-01"></use></svg><span class="mls"> icon-monedas-libras-01</span></li>
    <li><svg class="icon icon-monedas-libras-02"><use xlink:href="../../images/iconos.svg#icon-monedas-libras-02"></use></svg><span class="mls"> icon-monedas-libras-02</span></li>
    <li><svg class="icon icon-monedas-yen-01"><use xlink:href="../../images/iconos.svg#icon-monedas-yen-01"></use></svg><span class="mls"> icon-monedas-yen-01</span></li>
    <li><svg class="icon icon-monedas-yen-02"><use xlink:href="../../images/iconos.svg#icon-monedas-yen-02"></use></svg><span class="mls"> icon-monedas-yen-02</span></li>
    <li><svg class="icon icon-movil"><use xlink:href="../../images/iconos.svg#icon-movil"></use></svg><span class="mls"> icon-movil</span></li>
     <li><svg class="icon icon-multimedia"><use xlink:href="../../images/iconos.svg#icon-multimedia"></use></svg><span class="mls"> icon-multimedia</span></li>
    <li><svg class="icon icon-musica"><use xlink:href="../../images/iconos.svg#icon-musica"></use></svg><span class="mls"> icon-musica</span></li>
    <li><svg class="icon icon-navegacion-abajo"><use xlink:href="../../images/iconos.svg#icon-navegacion-abajo"></use></svg><span class="mls"> icon-navegacion-abajo</span></li>
    <li><svg class="icon icon-navegacion-arriba"><use xlink:href="../../images/iconos.svg#icon-navegacion-arriba"></use></svg><span class="mls"> icon-navegacion-arriba</span></li>
    <li><svg class="icon icon-navegacion-bottom"><use xlink:href="../../images/iconos.svg#icon-navegacion-bottom"></use></svg><span class="mls"> icon-navegacion-bottom</span></li>
    <li><svg class="icon icon-navegacion-carretera"><use xlink:href="../../images/iconos.svg#icon-navegacion-carretera"></use></svg><span class="mls"> icon-navegacion-carretera</span></li>
    <li><svg class="icon icon-navegacion-derecha"><use xlink:href="../../images/iconos.svg#icon-navegacion-derecha"></use></svg><span class="mls"> icon-navegacion-derecha</span></li>
    <li><svg class="icon icon-navegacion-izquierda"><use xlink:href="../../images/iconos.svg#icon-navegacion-izquierda"></use></svg><span class="mls"> icon-navegacion-izquierda</span></li>
    <li><svg class="icon icon-navegacion-primero"><use xlink:href="../../images/iconos.svg#icon-navegacion-primero"></use></svg><span class="mls"> icon-navegacion-primero</span></li>
    <li><svg class="icon icon-navegacion-top"><use xlink:href="../../images/iconos.svg#icon-navegacion-top"></use></svg><span class="mls"> icon-navegacion-top</span></li>
    <li><svg class="icon icon-navegacion-ultima"><use xlink:href="../../images/iconos.svg#icon-navegacion-ultima"></use></svg><span class="mls"> icon-navegacion-ultima</span></li>
    <li><svg class="icon icon-navegacion-vertical"><use xlink:href="../../images/iconos.svg#icon-navegacion-vertical"></use></svg><span class="mls"> icon-navegacion-vertical</span></li>
    <li><svg class="icon icon-navegacion"><use xlink:href="../../images/iconos.svg#icon-navegacion"></use></svg><span class="mls"> icon-navegacion</span></li>
    <li><svg class="icon icon-nieve"><use xlink:href="../../images/iconos.svg#icon-nieve"></use></svg><span class="mls"> icon-nieve</span></li>
    <li><svg class="icon icon-nota-musica-01"><use xlink:href="../../images/iconos.svg#icon-nota-musica-01"></use></svg><span class="mls"> icon-nota-musica-01</span></li>
    <li><svg class="icon icon-notas"><use xlink:href="../../images/iconos.svg#icon-notas"></use></svg><span class="mls"> icon-notas</span></li>
    <li><svg class="icon icon-nube-subir"><use xlink:href="../../images/iconos.svg#icon-nube-subir"></use></svg><span class="mls"> icon-nube-subir</span></li>
    <li><svg class="icon icon-nube"><use xlink:href="../../images/iconos.svg#icon-nube"></use></svg><span class="mls"> icon-nube</span></li>
    <li><svg class="icon icon-nublado"><use xlink:href="../../images/iconos.svg#icon-nublado"></use></svg><span class="mls"> icon-nublado</span></li>
    <li><svg class="icon icon-objetivo"><use xlink:href="../../images/iconos.svg#icon-objetivo"></use></svg><span class="mls"> icon-objetivo</span></li>
    <li><svg class="icon icon-ojo"><use xlink:href="../../images/iconos.svg#icon-ojo"></use></svg><span class="mls"> icon-ojo</span></li>
      <li><svg class="icon icon-pdf"><use xlink:href="../../images/iconos.svg#icon-pdf"></use></svg><span class="mls"> icon-pdf</span></li>
    <li><svg class="icon icon-pajaro"><use xlink:href="../../images/iconos.svg#icon-pajaro"></use></svg><span class="mls"> icon-pajaro</span></li>
    <li><svg class="icon icon-pantalla-completa-01"><use xlink:href="../../images/iconos.svg#icon-pantalla-completa-01"></use></svg><span class="mls"> icon-pantalla-completa-01</span></li>
    <li><svg class="icon icon-pantalla-completa-02"><use xlink:href="../../images/iconos.svg#icon-pantalla-completa-02"></use></svg><span class="mls"> icon-pantalla-completa-02</span></li>
    <li><svg class="icon icon-pantalla"><use xlink:href="../../images/iconos.svg#icon-pantalla"></use></svg><span class="mls"> icon-pantalla</span></li>
    <li><svg class="icon icon-pantalones"><use xlink:href="../../images/iconos.svg#icon-pantalones"></use></svg><span class="mls"> icon-pantalones</span></li>
    <li><svg class="icon icon-pantaloneta"><use xlink:href="../../images/iconos.svg#icon-pantaloneta"></use></svg><span class="mls"> icon-pantaloneta</span></li>
    <li><svg class="icon icon-parcialmente-nublado"><use xlink:href="../../images/iconos.svg#icon-parcialmente-nublado"></use></svg><span class="mls"> icon-parcialmente-nublado</span></li>
    <li><svg class="icon icon-pausa"><use xlink:href="../../images/iconos.svg#icon-pausa"></use></svg><span class="mls"> icon-pausa</span></li>
    <li><svg class="icon icon-pegar"><use xlink:href="../../images/iconos.svg#icon-pegar"></use></svg><span class="mls"> icon-pegar</span></li>
    <li><svg class="icon icon-peinilla"><use xlink:href="../../images/iconos.svg#icon-peinilla"></use></svg><span class="mls"> icon-peinilla</span></li>
    <li><svg class="icon icon-pelicula-01"><use xlink:href="../../images/iconos.svg#icon-pelicula-01"></use></svg><span class="mls"> icon-pelicula-01</span></li>
    <li><svg class="icon icon-pelicula-02"><use xlink:href="../../images/iconos.svg#icon-pelicula-02"></use></svg><span class="mls"> icon-pelicula-02</span></li>
    <li><svg class="icon icon-pelota"><use xlink:href="../../images/iconos.svg#icon-pelota"></use></svg><span class="mls"> icon-pelota</span></li>
    <li><svg class="icon icon-periodico"><use xlink:href="../../images/iconos.svg#icon-periodico"></use></svg><span class="mls"> icon-periodico</span></li>
    <li><svg class="icon icon-pica"><use xlink:href="../../images/iconos.svg#icon-pica"></use></svg><span class="mls"> icon-pica</span></li>
    <li><svg class="icon icon-pin-locacion"><use xlink:href="../../images/iconos.svg#icon-pin-locacion"></use></svg><span class="mls"> icon-pin-locacion</span></li>
    <li><svg class="icon icon-pincel"><use xlink:href="../../images/iconos.svg#icon-pincel"></use></svg><span class="mls"> icon-pincel</span></li>
    <li><svg class="icon icon-pinterest"><use xlink:href="../../images/iconos.svg#icon-pinterest"></use></svg><span class="mls"> icon-pinterest</span></li>
    <li><svg class="icon icon-pirata"><use xlink:href="../../images/iconos.svg#icon-pirata"></use></svg><span class="mls"> icon-pirata</span></li>
    <li><svg class="icon icon-planeta"><use xlink:href="../../images/iconos.svg#icon-planeta"></use></svg><span class="mls"> icon-planeta</span></li>
    <li><svg class="icon icon-plato-satelital"><use xlink:href="../../images/iconos.svg#icon-plato-satelital"></use></svg><span class="mls"> icon-plato-satelital</span></li>
    <li><svg class="icon icon-play"><use xlink:href="../../images/iconos.svg#icon-play"></use></svg><span class="mls"> icon-play</span></li>
    <li><svg class="icon icon-plugin"><use xlink:href="../../images/iconos.svg#icon-plugin"></use></svg><span class="mls"> icon-plugin</span></li>
    <li><svg class="icon icon-podcast"><use xlink:href="../../images/iconos.svg#icon-podcast"></use></svg><span class="mls"> icon-podcast</span></li>
    <li><svg class="icon icon-portatil"><use xlink:href="../../images/iconos.svg#icon-portatil"></use></svg><span class="mls"> icon-portatil</span></li>
    <li><svg class="icon icon-precio-dolar"><use xlink:href="../../images/iconos.svg#icon-precio-dolar"></use></svg><span class="mls"> icon-precio-dolar</span></li>
    <li><svg class="icon icon-precio-euro"><use xlink:href="../../images/iconos.svg#icon-precio-euro"></use></svg><span class="mls"> icon-precio-euro</span></li>
    <li><svg class="icon icon-precio-libra"><use xlink:href="../../images/iconos.svg#icon-precio-libra"></use></svg><span class="mls"> icon-precio-libra</span></li>
    <li><svg class="icon icon-precio-yen"><use xlink:href="../../images/iconos.svg#icon-precio-yen"></use></svg><span class="mls"> icon-precio-yen</span></li>
    <li><svg class="icon icon-premio"><use xlink:href="../../images/iconos.svg#icon-premio"></use></svg><span class="mls"> icon-premio</span></li>
    <li><svg class="icon icon-presentacion"><use xlink:href="../../images/iconos.svg#icon-presentacion"></use></svg><span class="mls"> icon-presentacion</span></li>
    <li><svg class="icon icon-publicaciones"><use xlink:href="../../images/iconos.svg#icon-publicaciones"></use></svg><span class="mls"> icon-publicaciones</span></li>
    <li><svg class="icon icon-pulgar-abajo"><use xlink:href="../../images/iconos.svg#icon-pulgar-abajo"></use></svg><span class="mls"> icon-pulgar-abajo</span></li>
    <li><svg class="icon icon-pulgar-arriba"><use xlink:href="../../images/iconos.svg#icon-pulgar-arriba"></use></svg><span class="mls"> icon-pulgar-arriba</span></li>
    <li><svg class="icon icon-pulso"><use xlink:href="../../images/iconos.svg#icon-pulso"></use></svg><span class="mls"> icon-pulso</span></li>
    <li><svg class="icon icon-quemar"><use xlink:href="../../images/iconos.svg#icon-quemar"></use></svg><span class="mls"> icon-quemar</span></li>
    <li><svg class="icon icon-radio-01"><use xlink:href="../../images/iconos.svg#icon-radio-01"></use></svg><span class="mls"> icon-radio-01</span></li>
    <li><svg class="icon icon-radio-02"><use xlink:href="../../images/iconos.svg#icon-radio-02"></use></svg><span class="mls"> icon-radio-02</span></li>
    <li><svg class="icon icon-radio-receptor"><use xlink:href="../../images/iconos.svg#icon-radio-receptor"></use></svg><span class="mls"> icon-radio-receptor</span></li>
    <li><svg class="icon icon-raton"><use xlink:href="../../images/iconos.svg#icon-raton"></use></svg><span class="mls"> icon-raton</span></li>
    <li><svg class="icon icon-rayo"><use xlink:href="../../images/iconos.svg#icon-rayo"></use></svg><span class="mls"> icon-rayo</span></li>
    <li><svg class="icon icon-recargar-01"><use xlink:href="../../images/iconos.svg#icon-recargar-01"></use></svg><span class="mls"> icon-recargar-01</span></li>
    <li><svg class="icon icon-recargar-02"><use xlink:href="../../images/iconos.svg#icon-recargar-02"></use></svg><span class="mls"> icon-recargar-02</span></li>
    <li><svg class="icon icon-recibo-dolar"><use xlink:href="../../images/iconos.svg#icon-recibo-dolar"></use></svg><span class="mls"> icon-recibo-dolar</span></li>
    <li><svg class="icon icon-recibo-euro"><use xlink:href="../../images/iconos.svg#icon-recibo-euro"></use></svg><span class="mls"> icon-recibo-euro</span></li>
    <li><svg class="icon icon-recibo-libra"><use xlink:href="../../images/iconos.svg#icon-recibo-libra"></use></svg><span class="mls"> icon-recibo-libra</span></li>
    <li><svg class="icon icon-recibo-yen"><use xlink:href="../../images/iconos.svg#icon-recibo-yen"></use></svg><span class="mls"> icon-recibo-yen</span></li>
    <li><svg class="icon icon-recortar"><use xlink:href="../../images/iconos.svg#icon-recortar"></use></svg><span class="mls"> icon-recortar</span></li>
    <li><svg class="icon icon-red-molecular"><use xlink:href="../../images/iconos.svg#icon-red-molecular"></use></svg><span class="mls"> icon-red-molecular</span></li>
    <li><svg class="icon icon-red"><use xlink:href="../../images/iconos.svg#icon-red"></use></svg><span class="mls"> icon-red</span></li>
    <li><svg class="icon icon-regalo"><use xlink:href="../../images/iconos.svg#icon-regalo"></use></svg><span class="mls"> icon-regalo</span></li>
    <li><svg class="icon icon-regla-01"><use xlink:href="../../images/iconos.svg#icon-regla-01"></use></svg><span class="mls"> icon-regla-01</span></li>
    <li><svg class="icon icon-regla-02"><use xlink:href="../../images/iconos.svg#icon-regla-02"></use></svg><span class="mls"> icon-regla-02</span></li>
    <li><svg class="icon icon-reloj-arena"><use xlink:href="../../images/iconos.svg#icon-reloj-arena"></use></svg><span class="mls"> icon-reloj-arena</span></li>
    <li><svg class="icon icon-reloj"><use xlink:href="../../images/iconos.svg#icon-reloj"></use></svg><span class="mls"> icon-reloj</span></li>
    <li><svg class="icon icon-repetir-01"><use xlink:href="../../images/iconos.svg#icon-repetir-01"></use></svg><span class="mls"> icon-repetir-01</span></li>
    <li><svg class="icon icon-repetir-02"><use xlink:href="../../images/iconos.svg#icon-repetir-02"></use></svg><span class="mls"> icon-repetir-02</span></li>
    <li><svg class="icon icon-repetir-una-vez"><use xlink:href="../../images/iconos.svg#icon-repetir-una-vez"></use></svg><span class="mls"> icon-repetir-una-vez</span></li>
    <li><svg class="icon icon-repost"><use xlink:href="../../images/iconos.svg#icon-repost"></use></svg><span class="mls"> icon-repost</span></li>
    <li><svg class="icon icon-restringir-pagina"><use xlink:href="../../images/iconos.svg#icon-restringir-pagina"></use></svg><span class="mls"> icon-restringir-pagina</span></li>
    <li><svg class="icon icon-retroceso"><use xlink:href="../../images/iconos.svg#icon-retroceso"></use></svg><span class="mls"> icon-retroceso</span></li>
    <li><svg class="icon icon-rodillo"><use xlink:href="../../images/iconos.svg#icon-rodillo"></use></svg><span class="mls"> icon-rodillo</span></li>
    <li><svg class="icon icon-rollo-camara"><use xlink:href="../../images/iconos.svg#icon-rollo-camara"></use></svg><span class="mls"> icon-rollo-camara</span></li>
    <li><svg class="icon icon-rotacion-eje-x"><use xlink:href="../../images/iconos.svg#icon-rotacion-eje-x"></use></svg><span class="mls"> icon-rotacion-eje-x</span></li>
    <li><svg class="icon icon-rotacion-eje-y"><use xlink:href="../../images/iconos.svg#icon-rotacion-eje-y"></use></svg><span class="mls"> icon-rotacion-eje-y</span></li>
    <li><svg class="icon icon-rotacion-eje-z"><use xlink:href="../../images/iconos.svg#icon-rotacion-eje-z"></use></svg><span class="mls"> icon-rotacion-eje-z</span></li>
    <li><svg class="icon icon-rss"><use xlink:href="../../images/iconos.svg#icon-rss"></use></svg><span class="mls"> icon-rss</span></li>
    <li><svg class="icon icon-ruta"><use xlink:href="../../images/iconos.svg#icon-ruta"></use></svg><span class="mls"> icon-ruta</span></li>
    <li><svg class="icon icon-salir-pantalla-completa"><use xlink:href="../../images/iconos.svg#icon-salir-pantalla-completa"></use></svg><span class="mls"> icon-salir-pantalla-completa</span></li>
    <li><svg class="icon icon-salir"><use xlink:href="../../images/iconos.svg#icon-salir"></use></svg><span class="mls"> icon-salir</span></li>
    <li><svg class="icon icon-sangria-derecha"><use xlink:href="../../images/iconos.svg#icon-sangria-derecha"></use></svg><span class="mls"> icon-sangria-derecha</span></li>
    <li><svg class="icon icon-sangria-izquierda"><use xlink:href="../../images/iconos.svg#icon-sangria-izquierda"></use></svg><span class="mls"> icon-sangria-izquierda</span></li>
    <li><svg class="icon icon-script-01"><use xlink:href="../../images/iconos.svg#icon-script-01"></use></svg><span class="mls"> icon-script-01</span></li>
    <li><svg class="icon icon-script-02"><use xlink:href="../../images/iconos.svg#icon-script-02"></use></svg><span class="mls"> icon-script-02</span></li>
    <li><svg class="icon icon-seguro"><use xlink:href="../../images/iconos.svg#icon-seguro"></use></svg><span class="mls"> icon-seguro</span></li>
    <li><svg class="icon icon-senial-transito"><use xlink:href="../../images/iconos.svg#icon-senial-transito"></use></svg><span class="mls"> icon-senial-transito</span></li>
    <li><svg class="icon icon-separar-01"><use xlink:href="../../images/iconos.svg#icon-separar-01"></use></svg><span class="mls"> icon-separar-01</span></li>
    <li><svg class="icon icon-separar-02"><use xlink:href="../../images/iconos.svg#icon-separar-02"></use></svg><span class="mls"> icon-separar-02</span></li>
    <li><svg class="icon icon-servidor-01"><use xlink:href="../../images/iconos.svg#icon-servidor-01"></use></svg><span class="mls"> icon-servidor-01</span></li>
    <li><svg class="icon icon-servidor-02"><use xlink:href="../../images/iconos.svg#icon-servidor-02"></use></svg><span class="mls"> icon-servidor-02</span></li>
    <li><svg class="icon icon-shift"><use xlink:href="../../images/iconos.svg#icon-shift"></use></svg><span class="mls"> icon-shift</span></li>
    <li><svg class="icon icon-siguiente"><use xlink:href="../../images/iconos.svg#icon-siguiente"></use></svg><span class="mls"> icon-siguiente</span></li>
    <li><svg class="icon icon-simcard"><use xlink:href="../../images/iconos.svg#icon-simcard"></use></svg><span class="mls"> icon-simcard</span></li>
    <li><svg class="icon icon-sincronizar"><use xlink:href="../../images/iconos.svg#icon-sincronizar"></use></svg><span class="mls"> icon-sincronizar</span></li>
    <li><svg class="icon icon-skype"><use xlink:href="../../images/iconos.svg#icon-skype"></use></svg><span class="mls"> icon-skype</span></li>
    <li><svg class="icon icon-soleado"><use xlink:href="../../images/iconos.svg#icon-soleado"></use></svg><span class="mls"> icon-soleado</span></li>
    <li><svg class="icon icon-solo-lectura"><use xlink:href="../../images/iconos.svg#icon-solo-lectura"></use></svg><span class="mls"> icon-solo-lectura</span></li>
    <li><svg class="icon icon-sombrero"><use xlink:href="../../images/iconos.svg#icon-sombrero"></use></svg><span class="mls"> icon-sombrero</span></li>
    <li><svg class="icon icon-sombrilla"><use xlink:href="../../images/iconos.svg#icon-sombrilla"></use></svg><span class="mls"> icon-sombrilla</span></li>
    <li><svg class="icon icon-sonido-apagado"><use xlink:href="../../images/iconos.svg#icon-sonido-apagado"></use></svg><span class="mls"> icon-sonido-apagado</span></li>
    <li><svg class="icon icon-sonido-bajo"><use xlink:href="../../images/iconos.svg#icon-sonido-bajo"></use></svg><span class="mls"> icon-sonido-bajo</span></li>
    <li><svg class="icon icon-sonido-medio"><use xlink:href="../../images/iconos.svg#icon-sonido-medio"></use></svg><span class="mls"> icon-sonido-medio</span></li>
    <li><svg class="icon icon-sonido"><use xlink:href="../../images/iconos.svg#icon-sonido"></use></svg><span class="mls"> icon-sonido</span></li>
    <li><svg class="icon icon-sonrisa-invertida"><use xlink:href="../../images/iconos.svg#icon-sonrisa-invertida"></use></svg><span class="mls"> icon-sonrisa-invertida</span></li>
    <li><svg class="icon icon-sonrisa"><use xlink:href="../../images/iconos.svg#icon-sonrisa"></use></svg><span class="mls"> icon-sonrisa</span></li>
    <li><svg class="icon icon-soundcloud"><use xlink:href="../../images/iconos.svg#icon-soundcloud"></use></svg><span class="mls"> icon-soundcloud</span></li>
    <li><svg class="icon icon-ssd"><use xlink:href="../../images/iconos.svg#icon-ssd"></use></svg><span class="mls"> icon-ssd</span></li>
    <li><svg class="icon icon-stream"><use xlink:href="../../images/iconos.svg#icon-stream"></use></svg><span class="mls"> icon-stream</span></li>
    <li><svg class="icon icon-sueter"><use xlink:href="../../images/iconos.svg#icon-sueter"></use></svg><span class="mls"> icon-sueter</span></li>
    <li><svg class="icon icon-tablero-datos"><use xlink:href="../../images/iconos.svg#icon-tablero-datos"></use></svg><span class="mls"> icon-tablero-datos</span></li>
    <li><svg class="icon icon-tarjeta-credito-01"><use xlink:href="../../images/iconos.svg#icon-tarjeta-credito-01"></use></svg><span class="mls"> icon-tarjeta-credito-01</span></li>
    <li><svg class="icon icon-tarjeta-credito-02"><use xlink:href="../../images/iconos.svg#icon-tarjeta-credito-02"></use></svg><span class="mls"> icon-tarjeta-credito-02</span></li>
    <li><svg class="icon icon-tarjeta"><use xlink:href="../../images/iconos.svg#icon-tarjeta"></use></svg><span class="mls"> icon-tarjeta</span></li>
    <li><svg class="icon icon-teatrino"><use xlink:href="../../images/iconos.svg#icon-teatrino"></use></svg><span class="mls"> icon-teatrino</span></li>
    <li><svg class="icon icon-teatro"><use xlink:href="../../images/iconos.svg#icon-teatro"></use></svg><span class="mls"> icon-teatro</span></li>
    <li><svg class="icon icon-tecla-tab"><use xlink:href="../../images/iconos.svg#icon-tecla-tab"></use></svg><span class="mls"> icon-tecla-tab</span></li>
    <li><svg class="icon icon-teclado"><use xlink:href="../../images/iconos.svg#icon-teclado"></use></svg><span class="mls"> icon-teclado</span></li>
    <li><svg class="icon icon-telefono"><use xlink:href="../../images/iconos.svg#icon-telefono"></use></svg><span class="mls"> icon-telefono</span></li>
    <li><svg class="icon icon-television"><use xlink:href="../../images/iconos.svg#icon-television"></use></svg><span class="mls"> icon-television</span></li>
    <li><svg class="icon icon-temperatura-01"><use xlink:href="../../images/iconos.svg#icon-temperatura-01"></use></svg><span class="mls"> icon-temperatura-01</span></li>
    <li><svg class="icon icon-temperatura-02"><use xlink:href="../../images/iconos.svg#icon-temperatura-02"></use></svg><span class="mls"> icon-temperatura-02</span></li>
    <li><svg class="icon icon-terminal"><use xlink:href="../../images/iconos.svg#icon-terminal"></use></svg><span class="mls"> icon-terminal</span></li>
    <li><svg class="icon icon-thumbnail-lista"><use xlink:href="../../images/iconos.svg#icon-thumbnail-lista"></use></svg><span class="mls"> icon-thumbnail-lista</span></li>
    <li><svg class="icon icon-thumbnails-grilla"><use xlink:href="../../images/iconos.svg#icon-thumbnails-grilla"></use></svg><span class="mls"> icon-thumbnails-grilla</span></li>
    <li><svg class="icon icon-thumbnails"><use xlink:href="../../images/iconos.svg#icon-thumbnails"></use></svg><span class="mls"> icon-thumbnails</span></li>
    <li><svg class="icon icon-tiquete"><use xlink:href="../../images/iconos.svg#icon-tiquete"></use></svg><span class="mls"> icon-tiquete</span></li>
    <li><svg class="icon icon-tiktok"><use xlink:href="../../images/iconos.svg#icon-tiktok"></use></svg><span class="mls"> icon-tiktok</span></li>
    <li><svg class="icon icon-trafico-01"><use xlink:href="../../images/iconos.svg#icon-trafico-01"></use></svg><span class="mls"> icon-trafico-01</span></li>
    <li><svg class="icon icon-trafico-02"><use xlink:href="../../images/iconos.svg#icon-trafico-02"></use></svg><span class="mls"> icon-trafico-02</span></li>
    <li><svg class="icon icon-transporte-mercancia"><use xlink:href="../../images/iconos.svg#icon-transporte-mercancia"></use></svg><span class="mls"> icon-transporte-mercancia</span></li>
    <li><svg class="icon icon-trebol"><use xlink:href="../../images/iconos.svg#icon-trebol"></use></svg><span class="mls"> icon-trebol</span></li>
    <li><svg class="icon icon-tren"><use xlink:href="../../images/iconos.svg#icon-tren"></use></svg><span class="mls"> icon-tren</span></li>
    <li><svg class="icon icon-trofeo"><use xlink:href="../../images/iconos.svg#icon-trofeo"></use></svg><span class="mls"> icon-trofeo</span></li>
    <li><svg class="icon icon-tumblr"><use xlink:href="../../images/iconos.svg#icon-tumblr"></use></svg><span class="mls"> icon-tumblr</span></li>
    <li><svg class="icon icon-twitter"><use xlink:href="../../images/iconos.svg#icon-twitter"></use></svg><span class="mls"> icon-twitter</span></li>
    <li><svg class="icon icon-unir"><use xlink:href="../../images/iconos.svg#icon-unir"></use></svg><span class="mls"> icon-unir</span></li>
    <li><svg class="icon icon-usb-conector"><use xlink:href="../../images/iconos.svg#icon-usb-conector"></use></svg><span class="mls"> icon-usb-conector</span></li>
    <li><svg class="icon icon-usb"><use xlink:href="../../images/iconos.svg#icon-usb"></use></svg><span class="mls"> icon-usb</span></li>
    <li><svg class="icon icon-usuaria"><use xlink:href="../../images/iconos.svg#icon-usuaria"></use></svg><span class="mls"> icon-usuaria</span></li>
    <li><svg class="icon icon-usuarias-01"><use xlink:href="../../images/iconos.svg#icon-usuarias-01"></use></svg><span class="mls"> icon-usuarias-01</span></li>
    <li><svg class="icon icon-usuarias-02"><use xlink:href="../../images/iconos.svg#icon-usuarias-02"></use></svg><span class="mls"> icon-usuarias-02</span></li>
    <li><svg class="icon icon-usuario"><use xlink:href="../../images/iconos.svg#icon-usuario"></use></svg><span class="mls"> icon-usuario</span></li>
    <li><svg class="icon icon-usuarios-01"><use xlink:href="../../images/iconos.svg#icon-usuarios-01"></use></svg><span class="mls"> icon-usuarios-01</span></li>
    <li><svg class="icon icon-usuarios-02"><use xlink:href="../../images/iconos.svg#icon-usuarios-02"></use></svg><span class="mls"> icon-usuarios-02</span></li>
    <li><svg class="icon icon-utilidades"><use xlink:href="../../images/iconos.svg#icon-utilidades"></use></svg><span class="mls"> icon-utilidades</span></li>
    <li><svg class="icon icon-varita-magica"><use xlink:href="../../images/iconos.svg#icon-varita-magica"></use></svg><span class="mls"> icon-varita-magica</span></li>
    <li><svg class="icon icon-vaso-01"><use xlink:href="../../images/iconos.svg#icon-vaso-01"></use></svg><span class="mls"> icon-vaso-01</span></li>
    <li><svg class="icon icon-vaso-papel"><use xlink:href="../../images/iconos.svg#icon-vaso-papel"></use></svg><span class="mls"> icon-vaso-papel</span></li>
    <li><svg class="icon icon-ventana"><use xlink:href="../../images/iconos.svg#icon-ventana"></use></svg><span class="mls"> icon-ventana</span></li>
    <li><svg class="icon icon-via"><use xlink:href="../../images/iconos.svg#icon-via"></use></svg><span class="mls"> icon-via</span></li>
    <li><svg class="icon icon-video"><use xlink:href="../../images/iconos.svg#icon-video"></use></svg><span class="mls"> icon-video</span></li>
    <li><svg class="icon icon-videocamara"><use xlink:href="../../images/iconos.svg#icon-videocamara"></use></svg><span class="mls"> icon-videocamara</span></li>
    <li><svg class="icon icon-vimeo"><use xlink:href="../../images/iconos.svg#icon-vimeo"></use></svg><span class="mls"> icon-vimeo</span></li>
    <li><svg class="icon icon-votar"><use xlink:href="../../images/iconos.svg#icon-votar"></use></svg><span class="mls"> icon-votar</span></li>
    <li><svg class="icon icon-voz"><use xlink:href="../../images/iconos.svg#icon-voz"></use></svg><span class="mls"> icon-voz</span></li>
    <li><svg class="icon icon-whatsapp"><use xlink:href="../../images/iconos.svg#icon-whatsapp"></use></svg><span class="mls"> icon-whatsapp</span></li>
    <li><svg class="icon icon-wifi"><use xlink:href="../../images/iconos.svg#icon-wifi"></use></svg><span class="mls"> icon-wifi</span></li>
    <li><svg class="icon icon-wordpress"><use xlink:href="../../images/iconos.svg#icon-wordpress"></use></svg><span class="mls"> icon-wordpress</span></li>
    <li><svg class="icon icon-x-close"><use xlink:href="../../images/iconos.svg#icon-x-close"></use></svg><span class="mls"> icon-x-close</span></li>
    <li><svg class="icon icon-yin-yan"><use xlink:href="../../images/iconos.svg#icon-yin-yan"></use></svg><span class="mls"> icon-yin-yan</span></li>
    <li><svg class="icon icon-youtube"><use xlink:href="../../images/iconos.svg#icon-youtube"></use></svg><span class="mls"> icon-youtube</span></li>
    <li><svg class="icon icon-zapato"><use xlink:href="../../images/iconos.svg#icon-zapato"></use></svg><span class="mls"> icon-zapato</span></li>
    <li><svg class="icon icon-zip"><use xlink:href="../../images/iconos.svg#icon-zip"></use></svg><span class="mls"> icon-zip</span></li>
    <li><svg class="icon icon-zoom-in"><use xlink:href="../../images/iconos.svg#icon-zoom-in"></use></svg><span class="mls"> icon-zoom-in</span></li>
    <li><svg class="icon icon-zoom-out"><use xlink:href="../../images/iconos.svg#icon-zoom-out"></use></svg><span class="mls"> icon-zoom-out</span></li>
    
   
   
   
</ul>
