{{> organisms-header }}
{{> organisms-secondary-header-search }}

<div class="centrar">
  <div class="columna09-grande contenido">
    <div class="lista-noticias">
      {{> molecules-news-module }}
      {{> molecules-news-module }}
      {{> molecules-news-module }}
      {{> molecules-news-module }}
      {{> molecules-news-module }}
      {{> molecules-news-module }}
      {{> molecules-news-module }}
      {{> molecules-news-module }}
    </div>
    {{> molecules-pagination}}
  </div>

  <aside class="columna03-grande aside">
    {{> molecules-quote-widget }}
    {{> molecules-text-image-widget }}
    {{> molecules-image-widget }}
    {{> molecules-carousel-widget }}
  </aside>
</div>

{{> organisms-footer }}
