{{> organisms-header }}

<div class="faculty-administracion-de-empresas">
  {{> organisms-secondary-header-menu }}

  {{> molecules-prominent-image-faculty }}

  <div class="contenedor">
    <div class="centrar">
      <div class="columna08-grande contenido">
        {{> atoms-lead }}
        <div class="lista-noticias">
          {{> molecules-news-module }}
          {{> molecules-news-module }}
          {{> molecules-news-module }}
          {{> molecules-news-module }}
          {{> molecules-news-module }}
          {{> molecules-news-module }}
          {{> molecules-news-module }}
          {{> molecules-news-module }}
        </div>
        {{> molecules-pagination}}
      </div>

      <aside class="columna04 aside">
        {{> organisms-accordion-news}}
      </aside>
    </div>
  </div>

  {{> organisms-faculty-info }}
</div>

{{> organisms-footer }}
