<div class="programs">
  <div class="info">
    <div class="tabs" id="tab-font">
      {{> atoms-tab(text:"Título 1", id:"tab1", active:"true")}}
      {{> atoms-tab(text:"Título 2", id:"tab2")}}
      {{> atoms-tab(text:"Título 3", id:"tab3")}}
      {{> atoms-tab(text:"Título 4", id:"tab4")}}
      {{> atoms-tab(text:"Título 5", id:"tab5")}} 
    </div>
    <div class="links">
      {{> atoms-content-tab(text:"Título 1", id:"tab1", active:"true", content:"Contenido 1")}}
      {{> atoms-content-tab(text:"Título 2", id:"tab2", content:"Contenido 2")}}
      {{> atoms-content-tab(text:"Título 3", id:"tab3", content:"Contenido 3")}}
      {{> atoms-content-tab(text:"Título 4", id:"tab4", content:"Contenido 4")}}
      {{> atoms-content-tab(text:"Título 5", id:"tab5", content:"Contenido 5")}}
    </div>
  </div>
</div>