<div class="columna12 admissions subsites-tabs">
    <div class="info">
      <div class="tabs">
        <a href="" id="tab-1" class="active-tab default-tab"><h3 class="span">Ejemplo1</h3></a>
        <a href="" id="tab-2" class="default-tab"><h3 class="span">Ejemplo2</h3></a>
        <a href="" id="tab-3" class="default-tab"><h3 class="span">Ejemplo3</h3></a>
        <a href="" id="tab-4" class="default-tab"><h3 class="span">Ejemplo4</h3></a>
        <a href="" id="tab-5" class="default-tab"><h3 class="span">Ejemplo5</h3></a>
        <a href="" id="tab-6" class="default-tab"><h3 class="span">Ejemplo6</h3></a>
      </div>
      <div class="links">
              <div class="section has-paragraphs">
                <a href="" class="title active">Ejemplo1
                  <span class="flecha">
                    <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
                  </span>
                </a>
                <div class="box centrar tab-1 active">
                  <div class="columna07 contenido texto">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec urna tellus. Curabitur a lorem vel lorem vehicula volutpat ultricies nec nisi. Vivamus at ante quis ipsum vulputate volutpat. Morbi auctor viverra risus a tempor. Proin rutrum condimentum mi nec semper. Nam ullamcorper nulla non ante iaculis malesuada vitae nec magna. Proin et elit eu metus mattis eleifend. Aliquam accumsan, est nec posuere vestibulum, elit augue sollicitudin dolor, ut facilisis urna lectus ac eros. Etiam hendrerit eros ut est imperdiet bibendum. Nulla vel rhoncus diam.
                    </p>
                  </div>
                  <div class="columna05 contenido">
                    <figure>
                      <a href="#">
                        <img src="../../images/modulo-noticia.png" alt=""></a>
                    </figure>
                  </div>
                </div>
              </div>
              <div class="section has-paragraphs">
                <a href="" class="title ">Ejemplo2
                  <span class="flecha">
                    <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
                  </span>
                </a>
                <div class="box centrar tab-2">
                  <div class="columna12 contenido texto">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec urna tellus. Curabitur a lorem vel lorem vehicula volutpat ultricies nec nisi. Vivamus at ante quis ipsum vulputate volutpat. Morbi auctor viverra risus a tempor. Proin rutrum condimentum mi nec semper. Nam ullamcorper nulla non ante iaculis malesuada vitae nec magna. <a href="#">Proin et elit eu metus mattis eleifend. Aliquam accumsan, est nec posuere vestibulum, elit augue sollicitudin dolor, ut facilisis urna lectus ac eros. Etiam hendrerit eros ut est imperdiet bibendum. Nulla vel rhoncus diam. </a>
                    </p>
                  </div>
                </div>
              </div>
              <div class="section has-paragraphs">
                <a href="" class="title ">Ejemplo3
                  <span class="flecha">
                    <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
                  </span>                
                </a>
                <div class="box centrar tab-3">
                  <div class="columna12 contenido texto">
                    <p><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2> Sed nec urna tellus. Curabitur a lorem vel lorem vehicula volutpat ultricies nec nisi. Vivamus at ante quis ipsum vulputate volutpat. Morbi auctor viverra risus a tempor. Proin rutrum condimentum mi nec semper. Nam ullamcorper nulla non ante iaculis malesuada vitae nec magna. Proin et elit eu metus mattis eleifend. Aliquam accumsan, est nec posuere vestibulum, elit augue sollicitudin dolor, ut facilisis urna lectus ac eros. <b>Etiam hendrerit eros ut est imperdiet bibendum. Nulla vel rhoncus diam.</b>
                    </p>
                  </div>
                </div>
              </div>
        <div class="section has-paragraphs">
                <a href="" class="title ">Ejemplo4
                  <span class="flecha">
                    <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
                  </span>                
                </a>
                <div class="box centrar tab-4">
                  <div class="columna12 contenido texto">
                    <p><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2> Sed nec urna tellus. Curabitur a lorem vel lorem vehicula volutpat ultricies nec nisi. Vivamus at ante quis ipsum vulputate volutpat. Morbi auctor viverra risus a tempor. Proin rutrum condimentum mi nec semper. Nam ullamcorper nulla non ante iaculis malesuada vitae nec magna. Proin et elit eu metus mattis eleifend. Aliquam accumsan, est nec posuere vestibulum, elit augue sollicitudin dolor, ut facilisis urna lectus ac eros. <b>Etiam hendrerit eros ut est imperdiet bibendum. Nulla vel rhoncus diam.</b>
                    </p>
                  </div>
                </div>
              </div>
        <div class="section has-paragraphs">
                <a href="" class="title ">Ejemplo5
                  <span class="flecha">
                    <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
                  </span>                
                </a>
                <div class="box centrar tab-5">
                  <div class="columna12 contenido texto">
                    <p><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2> Sed nec urna tellus. Curabitur a lorem vel lorem vehicula volutpat ultricies nec nisi. Vivamus at ante quis ipsum vulputate volutpat. Morbi auctor viverra risus a tempor. Proin rutrum condimentum mi nec semper. Nam ullamcorper nulla non ante iaculis malesuada vitae nec magna. Proin et elit eu metus mattis eleifend. Aliquam accumsan, est nec posuere vestibulum, elit augue sollicitudin dolor, ut facilisis urna lectus ac eros. <b>Etiam hendrerit eros ut est imperdiet bibendum. Nulla vel rhoncus diam.</b>
                    </p>
                  </div>
                </div>
              </div>
        <div class="section has-paragraphs">
                <a href="" class="title ">Ejemplo6
                  <span class="flecha">
                    <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
                  </span>                
                </a>
                <div class="box centrar tab-6">
                  <div class="columna12 contenido texto">
                    
                    <p><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2> Sed nec urna tellus. Curabitur a lorem vel lorem vehicula volutpat ultricies nec nisi. Vivamus at ante quis ipsum vulputate volutpat. Morbi auctor viverra risus a tempor. Proin rutrum condimentum mi nec semper. Nam ullamcorper nulla non ante iaculis malesuada vitae nec magna. Proin et elit eu metus mattis eleifend. Aliquam accumsan, est nec posuere vestibulum, elit augue sollicitudin dolor, ut facilisis urna lectus ac eros. <b>Etiam hendrerit eros ut est imperdiet bibendum. Nulla vel rhoncus diam.</b>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>
