<aside class="tabs-news">
  <nav class="tab">
    <a tab="#nacionales">Noticias nacionales</a>
    <a tab="#internacionales" >Noticias internacionales</a>
  </nav>
  <div class="news" id="nacionales">
    {{> molecules-related-module }}
    {{> molecules-related-module }}
    {{> molecules-related-module }}
    {{> molecules-related-module }}
    {{> molecules-related-module }}
    {{> molecules-related-module }}
  </div>
  <div class="news" id="internacionales">
    {{> molecules-related-module }}
    {{> molecules-related-module }}
    {{> molecules-related-module }}
    {{> molecules-related-module }}
    {{> molecules-related-module }}
    {{> molecules-related-module }}
  </div>
</aside>
