<div class="tabs-vertical">
  <div class="info">
    <div class="tabs" id="tab-font">
      {{> atoms-tab(text:"Título 1", id:"tab1", modifier-tab-class:"light-tab", active:"true" )}}
      {{> atoms-tab(text:"Título 2", id:"tab2", modifier-tab-class:"light-tab")}}
      {{> atoms-tab(text:"Título 3", id:"tab3", modifier-tab-class:"light-tab")}}
      {{> atoms-tab(text:"Título 4", id:"tab4", modifier-tab-class:"light-tab")}}
      {{> atoms-tab(text:"Título 5", id:"tab5", modifier-tab-class:"light-tab")}} 
    </div>
    <div class="links">
      {{> atoms-content-tab(text:"Título 1", id:"tab1", active:"true", content:"Contenido 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor metus, elementum in ante in, elementum mattis risus. Maecenas tristique sit amet turpis vel dapibus. Sed lobortis augue sapien, a pharetra eros cursus ac. Fusce sollicitudin leo ac maximus ultrices. Donec eget finibus orci. Vestibulum pretium orci eget elementum varius. Phasellus condimentum elit ac massa volutpat, id blandit risus vehicula. Quisque ac justo vitae leo aliquet feugiat. Curabitur luctus sem ac aliquam vestibulum.")}}
      {{> atoms-content-tab(text:"Título 2", id:"tab2", content:"Contenido 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor metus, elementum in ante in, elementum mattis risus. Maecenas tristique sit amet turpis vel dapibus. Sed lobortis augue sapien, a pharetra eros cursus ac. Fusce sollicitudin leo ac maximus ultrices. Donec eget finibus orci. Vestibulum pretium orci eget elementum varius. Phasellus condimentum elit ac massa volutpat, id blandit risus vehicula. Quisque ac justo vitae leo aliquet feugiat. Curabitur luctus sem ac aliquam vestibulum.")}}
      {{> atoms-content-tab(text:"Título 3", id:"tab3", content:"Contenido 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor metus, elementum in ante in, elementum mattis risus. Maecenas tristique sit amet turpis vel dapibus. Sed lobortis augue sapien, a pharetra eros cursus ac. Fusce sollicitudin leo ac maximus ultrices. Donec eget finibus orci. Vestibulum pretium orci eget elementum varius. Phasellus condimentum elit ac massa volutpat, id blandit risus vehicula. Quisque ac justo vitae leo aliquet feugiat. Curabitur luctus sem ac aliquam vestibulum.")}}
      {{> atoms-content-tab(text:"Título 4", id:"tab4", content:"Contenido 4: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor metus, elementum in ante in, elementum mattis risus. Maecenas tristique sit amet turpis vel dapibus. Sed lobortis augue sapien, a pharetra eros cursus ac. Fusce sollicitudin leo ac maximus ultrices. Donec eget finibus orci. Vestibulum pretium orci eget elementum varius. Phasellus condimentum elit ac massa volutpat, id blandit risus vehicula. Quisque ac justo vitae leo aliquet feugiat. Curabitur luctus sem ac aliquam vestibulum.")}}
      {{> atoms-content-tab(text:"Título 5", id:"tab5", content:"Contenido 5: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor metus, elementum in ante in, elementum mattis risus. Maecenas tristique sit amet turpis vel dapibus. Sed lobortis augue sapien, a pharetra eros cursus ac. Fusce sollicitudin leo ac maximus ultrices. Donec eget finibus orci. Vestibulum pretium orci eget elementum varius. Phasellus condimentum elit ac massa volutpat, id blandit risus vehicula. Quisque ac justo vitae leo aliquet feugiat. Curabitur luctus sem ac aliquam vestibulum.")}}
    </div>
  </div>
</div>