<div class="tabs-vertical">
    <div class="info">
        <div class="tabs" id="tab-font">
        <a class="itemtag light-tab{{^ modifier-tab-class  }}{{/ modifier-tab-class }}{{# modifier-tab-class }}{{modifier-tab-class}}{{/ modifier-tab-class }} {{^ active }}{{/ active }} {{# active }}active-tab{{/ active }}" href="#" id="tab1" class="active-tab">{{^ text }} <h4><span><svg class="icon icon-{{# icon1 }}{{icon1}}{{/ icon1 }}{{^ icon1 }} {{/ icon1}}"><use xlink:href="../../images/iconos.svg#icon-{{# icon1 }}{{icon1}}{{/ icon1 }}{{^ icon1 }}marca-libros{{/ icon1}}"></use></svg></span></h4>  Ut enim ad minim veniam {{/ text }} {{# text }}{{text}}{{/ text }} </a>

        <a class="itemtag light-tab{{^ modifier-tab-class  }}{{/ modifier-tab-class }}{{# modifier-tab-class }}{{modifier-tab-class}}{{/ modifier-tab-class }} {{^ active }}{{/ active }} {{# active }}active-tab{{/ active }}" href="#" id="tab2" class="active-tab">{{^ text }} <h4><span><svg class="icon icon-{{# icon1 }}{{icon1}}{{/ icon1 }}{{^ icon1 }} {{/ icon1}}"><use xlink:href="../../images/iconos.svg#icon-{{# icon1 }}{{icon1}}{{/ icon1 }}{{^ icon1 }}marca-libros{{/ icon1}}"></use></svg></span></h4>  Nemo enim ipsam voluptatem {{/ text }} {{# text }}{{text}}{{/ text }} </a>

        <a class="itemtag light-tab{{^ modifier-tab-class  }}{{/ modifier-tab-class }}{{# modifier-tab-class }}{{modifier-tab-class}}{{/ modifier-tab-class }} {{^ active }}{{/ active }} {{# active }}active-tab{{/ active }}" href="#" id="tab3" class="active-tab">{{^ text }} <h4><span><svg class="icon icon-{{# icon1 }}{{icon1}}{{/ icon1 }}{{^ icon1 }} {{/ icon1}}"><use xlink:href="../../images/iconos.svg#icon-{{# icon1 }}{{icon1}}{{/ icon1 }}{{^ icon1 }}marca-libros{{/ icon1}}"></use></svg></span></h4>  Neque porro quisquam est {{/ text }} {{# text }}{{text}}{{/ text }} </a>

        <a class="itemtag light-tab{{^ modifier-tab-class  }}{{/ modifier-tab-class }}{{# modifier-tab-class }}{{modifier-tab-class}}{{/ modifier-tab-class }} {{^ active }}{{/ active }} {{# active }}active-tab{{/ active }}" href="#" id="tab4" class="active-tab">{{^ text }} <h4><span><svg class="icon icon-{{# icon1 }}{{icon1}}{{/ icon1 }}{{^ icon1 }} {{/ icon1}}"><use xlink:href="../../images/iconos.svg#icon-{{# icon1 }}{{icon1}}{{/ icon1 }}{{^ icon1 }}marca-libros{{/ icon1}}"></use></svg></span></h4>  Consectetur adipiscing elit {{/ text }} {{# text }}{{text}}{{/ text }} </a>
        </div>
        <div class="links">
        {{> atoms-content-tab(text:"Ut enim ad minim veniam", id:"tab1", active:"true", content:"Contenido 1: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor metus, elementum in ante in, elementum mattis risus. Maecenas tristique sit amet turpis vel dapibus. Sed lobortis augue sapien, a pharetra eros cursus ac. Fusce sollicitudin leo ac maximus ultrices. Donec eget finibus orci. Vestibulum pretium orci eget elementum varius. Phasellus condimentum elit ac massa volutpat, id blandit risus vehicula. Quisque ac justo vitae leo aliquet feugiat. Curabitur luctus sem ac aliquam vestibulum.")}}

        {{> atoms-content-tab(text:"Nemo enim ipsam voluptatem", id:"tab2", content:"Contenido 2: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor metus, elementum in ante in, elementum mattis risus. Maecenas tristique sit amet turpis vel dapibus. Sed lobortis augue sapien, a pharetra eros cursus ac. Fusce sollicitudin leo ac maximus ultrices. Donec eget finibus orci. Vestibulum pretium orci eget elementum varius. Phasellus condimentum elit ac massa volutpat, id blandit risus vehicula. Quisque ac justo vitae leo aliquet feugiat. Curabitur luctus sem ac aliquam vestibulum.")}}

        {{> atoms-content-tab(text:"Neque porro quisquam est", id:"tab3", content:"Contenido 3: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor metus, elementum in ante in, elementum mattis risus. Maecenas tristique sit amet turpis vel dapibus. Sed lobortis augue sapien, a pharetra eros cursus ac. Fusce sollicitudin leo ac maximus ultrices. Donec eget finibus orci. Vestibulum pretium orci eget elementum varius. Phasellus condimentum elit ac massa volutpat, id blandit risus vehicula. Quisque ac justo vitae leo aliquet feugiat. Curabitur luctus sem ac aliquam vestibulum.")}}

        {{> atoms-content-tab(text:"Consectetur adipiscing elit", id:"tab4", content:"Contenido 4: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tortor metus, elementum in ante in, elementum mattis risus. Maecenas tristique sit amet turpis vel dapibus. Sed lobortis augue sapien, a pharetra eros cursus ac. Fusce sollicitudin leo ac maximus ultrices. Donec eget finibus orci. Vestibulum pretium orci eget elementum varius. Phasellus condimentum elit ac massa volutpat, id blandit risus vehicula. Quisque ac justo vitae leo aliquet feugiat. Curabitur luctus sem ac aliquam vestibulum.")}}
        </div>
    </div>
</div>