{{> organisms-header }}

<div class="faculty-la-universidad">
  {{> organisms-secondary-header-menu }}

  <div class="contenedor">
    <div class="centrar">
      <main>
        <article class="columna12 contenido texto perfil">
          <h1>José Luis Quintero Cerón <br> <em>Coordinador Sitio Web</em> </h1>
          <div class="columna09 margin-none-sides">
            {{> atoms-lead(lead:"Comunicador Social de la Universidad Externado de Colombia, con Especialización en Diseño de Multimedia de la Universidad Nacional de Colombia. Actualmente es candidato a Magíster en Diseño de la Universidad Nacional de Colombia.") }}
          </div>

          <div class="columna06">
            <figure>
              <img class="full-image" src="../../images/profile.jpg" alt="Imagen destacada">
              <hr>
            </figure>
            <p><a class="mail" href="mailto:sitioweb@uexternado.edu.co"> <strong>sitioweb@uexternado.edu.co</strong> </a></p>
          </div>
          <div class="columna06 ">
            <p>Es responsable de la gestión de contenidos editoriales, gráficos y multimediales en el Portal de la Universidad en internet, de acuerdo con los requerimientos de todas sus unidades académicas, administrativas y de apoyo.</p>
            <p>Así mismo, asesora y orienta a estas unidades en la búsqueda de soluciones en diseño y contenidos para medios digitales y se encuentra a cargo de la creación y montaje de blogs orientados a la difusión de actividades académicas y de investigación. Ha liderado los procesos de mejora del portal de la Universidad en materia de diseño, usabilidad, gestión y presentación de sus contenidos.</p>
            <p>Se ha desempeñado como consultor en diseño, creación y desarrollo de contenidos web y multimedia para clientes entre los que se cuentan la Oficina de las Naciones Unidas contra la Droga y el Delito – UNODC, el Programa de las Naciones Unidas para el Desarrollo – PNUD y el Centro Interactivo Maloka.</p>
          </div>
        </article>
      </main>


    </div>
  </div>

  {{> organisms-faculty-info }}
</div>

{{> organisms-footer }}
