{{> organisms-header }}
<div class="contenedor">
<div class="centrar">
  <main>
    <article class="error-404 columna08 compensa-col02 contenido">
      <h1 class="h3">Página no encontrada</h1>
      <span class="h6"> Error 404</span>

      <p class="entradilla">Desafortunadamente, la página que usted está buscando no es posible encontrarla. Sin embargo, usted puede utilizar el buscador que se encuentra en la parte superior de la página o <a href="#">regresar al inicio</a> y revisar las últimas entradas, quizá encuentre información relacionada a lo que está buscando.</p>

    </article>
  </main>
</div>
</div>

{{> organisms-footer }}
