{{> organisms-header-blogs(logo:"../../images/logos/agoramercatorum.png", facultad:"Derecho") }}

<div class="faculty-defecto">

  <div class="centrar overflow">
    <div class="columna08 contenido">
      <div class="lista-noticias">
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
    </div>

    <aside class="columna04 aside">
      {{> molecules-news-list-widget }}
      {{> molecules-news-list-widget }}
    </aside>
  </div>
</div>

{{> organisms-footer-blogs }}
