{{> organisms-header-blogs(nombre:"Revista Investigare",slogan:"Centro de Investigación en Política Criminal" facultad:"Derecho") }}

<div class="faculty-defecto">

  <main class="centrar">
      <div class="carrusel-relacionadas">
        {{> molecules-related-module }}
        {{> molecules-related-module }}
        {{> molecules-related-module }}
        {{> molecules-related-module }}
        {{> molecules-related-module }}
        {{> molecules-related-module }}
        {{> molecules-related-module }}
        {{> molecules-related-module }}
      </div>
      <div class="centrar">
        {{> organisms-group-button-03(text:"Centro de Investigación en Política Criminal") }}
      </div>
      <div class="centrar overflow">
    <div class="columna08 contenido">
      <div class="lista-noticias">
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
      {{> molecules-pagination}}
    </div>

    <aside class="columna04 aside">
      {{> molecules-tag-cloud-widget }}
    </aside>
  </div>
  </main>
</div>

{{> organisms-footer-blogs }}