{{> organisms-header-blogs(nombre:"Revista Investigare",slogan:"Centro de Investigación en Política Criminal" facultad:"Derecho") }}


<div class="faculty-defecto">
  <div class="centrar overflow">
    <main>
      <div class="columna12 contenido pagina-completa">
        <h2 class="h1">Números de la Revista Investigare</h2>
          {{> atoms-lead(lead:"Integer at tellus nisl. Suspendisse nulla metus, fermentum a urna laoreet, elementum semper tellus.") }}
        <div class="grilla-portal-4cols">
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 12", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 11", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 10", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 9", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 8", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 7", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 6", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 5", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 4", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 3", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 2", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
          {{> molecules-related-module(img-url:"portada-revista-350x315.jpg", title:"Número 1", text:"Suspendisse nulla metus, fermentum a urna laoreet") }}
        </div>
        {{> molecules-pagination}}
      </div>
    </main>
  </div>
</div>
{{> organisms-footer-blogs }}