/***** CLASES UNIVERSIDAD *****/
.universidad-200-border {
  border-color: $universidad-200 !important;
}
.universidad-800-border {
  border-color: $universidad-800 !important;
}
.universidad-900-border {
  border-color: $universidad-900 !important;
}

/***** CLASES DORADO *****/
.dorado-100-border {
  border-color: $dorado-100 !important;
}
.dorado-300-border {
  border-color: $dorado-300 !important;
}
.dorado-600-border {
  border-color: $dorado-600 !important;
}
.dorado-900-border {
  border-color: $dorado-900 !important;
}



/***** CLASES VERDE LIMA *****/
.verde-lima-100-border {
  border-color: $verde-lima-100 !important;
}
.verde-lima-400-border {
  border-color: $verde-lima-400 !important;
}

.verde-lima-500-border {
  border-color: $verde-lima-500 !important;
}

.verde-lima-700-border {
  border-color: $verde-lima-700 !important;
}

.verde-lima-900-border {
  border-color: $verde-lima-900 !important;
}

/***** CLASES AZUL CARBÓN *****/
.azul-carbon-200-border {
  border-color: $azul-carbon-200 !important;
}
.azul-carbon-500-border {
  border-color: $azul-carbon-500 !important;
}
.azul-carbon-700-border {
  border-color: $azul-carbon-700 !important;
}
.azul-carbon-900-border {
  border-color: $azul-carbon-900 !important;
}

/***** CLASES PARA ESCALA DE GRISES *****/
.blanco-border {
  border-color: $blanco !important;
}
.negro-border{
  border-color: $negro !important;
}
.gris-50-border {
  border-color: $gris-50 !important;
}
.gris-200-border {
  border-color: $gris-200 !important;
}
.gris-600-border {
  border-color: $gris-600 !important;
}
.gris-700-border {
  border-color: $gris-700 !important;
}
.gris-800-border {
  border-color: $gris-800 !important;
}

/***** SEMÁNTICOS *****/

.exito-100-border {
  border-color: $exito-100 !important;
}
.exito-700-border {
  border-color:$exito-700 !important;
}
.error-100-border {
  border-color:$error-100 !important;
}
.error-700-border{
  border-color:$error-700 !important;
}
.advertencia-100-border {
  border-color:$advertencia-100 !important;
}
.advertencia-700-border {
  border-color:$advertencia-700 !important;
}
.informacion-100-border {
  border-color:$informacion-100 !important;
}
.informacion-700-border {
  border-color:$informacion-700 !important;

}



/***** CLASES PARA FACULTADES *****/
.administracion-border {
  border-color: $administracion !important;
}
.comunicacion-border {
  border-color: $comunicacion !important;
}
.contaduria-border {
  border-color: $contaduria !important;
}
.derecho-border {
  border-color: $derecho !important;
}
.economia-border {
  border-color: $economia !important;
}
.educacion-border {
  border-color: $educacion !important;
}
.finanzas-border {
  border-color: $finanzas !important;
}
.hoteleria-border {
  border-color: $hoteleria !important;
}
.patrimonio-border {
  border-color: $patrimonio !important;
}
.sociales-border {
  border-color: $sociales !important;
}

/***** CLASES PARA SITIOS *****/
.biblioteca-border {
  border-color: $biblioteca !important;
}
.bienestar-border {
  border-color: $bienestar !important;
}
.centro-idiomas-border {
  border-color: $centro-idiomas !important;
}
.egresados-border {
  border-color: $egresados !important;
}
.sigueme-border {
  border-color: $sigueme !important;
}
.unidad-genero-border {
  border-color: $unidad-genero !important;
}

/***** COLORES PARA BLOGS *****/
.conexion-border {
  border-color: $conexion !important;
}
.comunidad-virtual-border {
  border-color: $comunidad-virtual !important;
}
.economia-abc {
  border-color: $economia-abc !important;
}