/** DEPRECATED! Please don't use any of this declared classes. They are going to be removed. */
.universidad {
  background-color: $universidad;
}
.default-bg {
  background-color: $default;
}
.dorado {
  background-color: $dorado;
}
.verde-oscuro {
  background-color: $verde-oscuro;
}
.verde-plantacion {
  background-color: $verde-plantacion;
}
.verde-mineral {
  background-color: $verde-mineral;
}
.verde-efecto {
  background-color: $verde-efecto;
}
.verde-lima {
  background-color: $verde-lima;
}
.azul-cienaga {
  background-color: $azul-cienaga;
}
.azul-carbon {
  background-color: $azul-carbon;
}
.azul-claro {
  background-color: $azul-claro;
}
.azul-prusia {
  background-color: $azul-prusia;
}
.gris-bunker {
  background-color: $gris-bunker;
}
.gris-mina {
  background-color: $gris-mina;
}
.gris-plata {
  background-color: $gris-plata;
}
.gris-acero {
  background-color: $gris-acero;
}
.gris-hierro {
  background-color: $gris-hierro;
}
.blanco-humo {
  background-color: $blanco-humo;
}
.rojo-carmin {
  background-color: $rojo-carmin;
}
.cafe-cocoa {
  background-color: $cafe-cocoa;
}
.azul-mar {
  background-color: $azul-mar;
}
.amarillo-oro {
  background-color: $amarillo-oro;
}
.azul-espectro {
  background-color: $azul-espectro;
}
.conexion-externado {
  background-color: $conexion;
}