/** DEPRECATED! Please don't use any of this declared variables. They are going to be removed. */
$amarillo-oro: $museo;
$azul-carbon: $azul-carbon-700;
$azul-cienaga: $azul-carbon-700;
$azul-claro: $azul-carbon-200;
$azul-espectro: $azul-carbon-700;
$azul-mar: $informacion-700;
$azul-prusia: $azul-carbon-700;
$blanco-humo: $gris-50;
$cafe-cocoa: $dorado-900;
$default: $verde-lima-500;
$dorado: $dorado-600;
$gris-acero: $gris-600;
$gris-bunker: $gris-800;
$gris-hierro: $gris-200;
$gris-mina: $gris-700;
$gris-plata: $gris-200;
$journey: $azul-carbon-900;
$pollito: $error-700;
$rojo-carmin: $error-700;
$universidad: $universidad-800;
$verde-efecto: $verde-lima-500;
$verde-lima: $verde-lima-500;
$verde-mineral: $verde-lima-700;
$verde-oscuro: $universidad-900;
$verde-plantacion: $universidad-800;
$verde-universidad: $universidad-800;