<section class="secondary-header-menu" style="padding: 2rem;">
    <div class="columnas-alto-fijo centrar-flex">
      <img src="../../images/logos/conexion-externado.png">
        <div class="menu-superior-simple" style="position: relative; top: 50%; transform: translateY(35%);">
          <div class="centrar">
            <nav>
              <ul class="tipo-usuario">
                <li style="font-size: 1rem; padding: 8px 0 8px 3px; margin-left: 15px; color: white;">
                  <a style="border-right: 1px solid #9AD25B;" href="#">
                    {{^text}} Opción 1 {{/text}} {{# text}} {{text}} {{/ text}}
                  </a>
                </li>
                <li style="font-size: 1rem; padding: 8px 0 8px 3px; margin-left: 15px; color: white;">
                  <a style="border-right: 1px solid #9AD25B;" href="#">
                    {{^text}} Opción 2 {{/text}} {{# text}} {{text}} {{/ text}}
                  </a>
                </li>
                <li style="font-size: 1rem; padding: 8px 0 8px 3px; margin-left: 15px; color: white;">
                  <a style="border-right: 1px solid #9AD25B;" href="#">
                    {{^text}} Opción 3 {{/text}} {{# text}} {{text}} {{/ text}}
                  </a>
                </li>
                <li style="font-size: 1rem; padding: 8px 0 8px 3px; margin-left: 15px; color: white;">
                  <a style="border-right: 1px solid #9AD25B;" href="#">
                    {{^text}} Opción 4 {{/text}} {{# text}} {{text}} {{/ text}}
                  </a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
    </div>
  </section>
  <div id="responsive-secondary-menu">
  </div>