<section class="secondary-header-menu">
  <div class="centrar">
    <div class="h3">
      {{# faculty-home}}{{faculty-home}}{{/faculty-home}}
      {{^ faculty-home }}Finanzas, Gobierno y Relaciones Internacionales{{/ faculty-home }}
    </div>
  </div>
  <div class="menu-secundario">
    <div class="centrar">
      <a href="#" class="show-secondary-menu">
        Menú Facultad
        <span><svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg></span>
      </a>
      <nav class="menu">
        <ul>
          <li>
            <a href="#">
              <div class="main-link">
                La Facultad
                <span><svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg></span>
              </div>
            </a>
            <ul class="sub-menu">
              <li><a href="#">Acerca de</a></li>
              <li><a href="#">Historia</a></li>
              <li><a href="#">Profesores</a></li>
            </ul>
          </li>
          <li><a href="#">Futuros estudiantes</a></li>
          <li>
            <a href="#">
              <div class="main-link">
                Programas
                <span><svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg></span>
              </div>
            </a>
            <ul class="sub-menu">
              <li><a href="#">Finanzas Internacionales</a></li>
              <li>
                <a href="#">
                  <div class="main-link">
                    Relaciones Interpersonales
                    <span><svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg></span>
                  </div>
                </a>
                <ul class="sub-menu">
                  <li class="menu-item"><a href="#">Gobierno y política</a></li>
                  <li class="menu-item"><a href="#">Finanzas y economía</a></li>
                  <li class="menu-item"><a href="#">Cultura</a></li>
                  <li class="menu-item"><a href="#">Sociedad</a></li>
                  <li class="menu-item"><a href="#">Juventud y deportes</a></li>
                </ul>
              </li>
              <li><a href="#">Gobierno en línea</a></li>
            </ul>
          </li>
          <li><a href="#">Investigación</a></li>
          <li><a href="#">Publicaciones</a></li>
          <li><a href="#">Internacionalización</a></li>
          <li><a href="#">Exalumnos</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
    </div>
  </div>
</section>
<div id="responsive-secondary-menu"></div>
