<header id="vc-main-header">
  <div class="centrar">
    <a href="/" class="logo">
      <img src="../../images/banner-comunidades_1.png" alt="UEC Comunidades académicas en línea">
    </a>
  </div>
  <!--menu-->
  <div id="menu">
    <div class="navegacion menu">

      <div class="menu-principal">
        <div class="centrar">
          <nav>
            <ul>
              <!--if (is_user_logged_in()) :-->

              <li>
                <a href="#">Grupos</a>
              </li>
              <li>
                <a href="#">Miembros</a>
              </li>
              <li>
                <a href="#">Eventos</a>
              </li>

              <!--endif;-->
            </ul>
          </nav>
        </div>
      </div>

      <div class="menu-superior">
        <div class="centrar">
          <nav>
            <!--if (is_user_logged_in()) :-->

            <ul id="menu-menu-top" class="tipo-usuario">
              <li>
                <a href="#">
                  <span class="notification-count">2</span>
                  Notificaciones
                  <span>
                    <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
                  </span>
                </a>
                <ul class="sub-menu">
                  <li>
                    <a href="#">Tienes 2 peticiones de amistad pendientes</a>
                  </li>
                  <li>
                    <a href="#">Pepita Pérez te ha enviado un nuevo mensaje privado</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">
                  <img src="../../images/avatar-mr-600x600.jpg" class="avatar" width="25" height="25" alt="Imagen de perfil">
                  Perfil
                  <span>
                    <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
                  </span>
                </a>
                <ul class="sub-menu">
                  <li><a href="#">Mi actividad</a></li>
                  <li><a href="#">Mis mensajes</a></li>
                  <li><a href="#">Mis grupos</a></li>
                  <li><a href="#">Mis amigos</a></li>
                  <li><a href="#">Mis foros</a></li>
                  <li><a href="#">Mis documentos</a></li>
                  <li><a href="#">Mis eventos</a></li>

                  <li><a href="#">Notificaciones</a></li>
                  <li><a href="#">Perfil</a></li>
                  <li><a href="#">Configuración</a></li>
                  <li><a href="#">Cerrar sesión</a></li>
                </ul>
              </li>
            </ul>

            <!--endif;-->
          </nav>
        </div>
      </div>
    </div>
  </div>
 <div id="responsive-menu" class="bp-main-menu"></div>
</header>