<span id="arriba" class="margen-menu"></span>
<header class="header-reducido">
  <div class="centrar">
    {{> atoms-logo }}
  </div>
  <!--menu-->
  <div id="menu">
    <div class="navegacion menu">
      {{> molecules-main-menu }}
      {{> molecules-top-menu }}
    </div>
  </div>
 <div id="responsive-menu"></div>
</header>
