<div class="header-programa-selector-modalidad modalidad-anual">
	<div class="contenido-modalidad">
		<h1>Estudiantes de pregrado</h1>
		<div class="barra-modalidad">
			<div class="info">
				<img src="../../images/icono-modalidad-anual.svg" alt="Modalidad anual" class="icon" />
				<h2 class="titulo">Modalidad <strong>Anual</strong></h2>
			</div>
			<button class="switcher-modalidad" onclick="openModeSelector()">Cambiar modalidad</button>
		</div>
	</div>
</div>