{{> organisms-header-blogs(logo:"../../images/logos/dernegocios.png",facultad:"Derecho") }}

<div class="faculty-defecto">

  <div class="centrar overflow">
    <main>
      <div class="columna12 contenido pagina-completa">
        <h2 class="h1">Archivo: Ejemplo</h2>
        <div class="grilla-portal">
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
        </div>
        {{> molecules-pagination}}
      </div>
    </main>
  </div>
</div>

<div class="columna12 before-footer">
  <div class="centrar overflow">
    <div class="lista-blogs subsite-areas">
      <h2 class="h1">Áreas</h2>
      <article class="modulo-blog columna06">
        <a href="#">
          <img src="http://dernegocios.uexternado.edu.co/D3rn3goc10sEUC/wp-content/themes/dernegocios/img/comercio-electronico.png" alt="" />
        </a>
        <div class="info">
          <h3 class="h4"><a href="#">Comercio Electrónico</a></h3>
        </div>
      </article>
      <article class="modulo-blog columna06">
        <a href="#">
          <img src="http://dernegocios.uexternado.edu.co/D3rn3goc10sEUC/wp-content/themes/dernegocios/img/contratacion-resolucion.png" alt="" />
        </a>
        <div class="info">
          <h3 class="h4"><a href="#">Contratación y Resolución de Controversias Internacionales</a></h3>
        </div>
      </article>
      <article class="modulo-blog columna06">
        <a href="#">
          <img src="http://dernegocios.uexternado.edu.co/D3rn3goc10sEUC/wp-content/themes/dernegocios/img/comercio-integracion.png" alt="" />
        </a>
        <div class="info">
          <h3 class="h4"><a href="#">Derecho Internacional, Comercio e Integración</a></h3>
        </div>
      </article>
      <article class="modulo-blog columna06">
        <a href="#">
          <img src="http://dernegocios.uexternado.edu.co/D3rn3goc10sEUC/wp-content/themes/dernegocios/img/negociacion-contratacion.png" alt="" />
        </a>
        <div class="info">
          <h3 class="h4"><a href="#">Negociación y Contratación Internacional</a></h3>
        </div>
      </article>
      <article class="modulo-blog columna06">
        <a href="#">
          <img src="http://dernegocios.uexternado.edu.co/D3rn3goc10sEUC/wp-content/themes/dernegocios/img/prospectiva.png" alt="" />
        </a>
        <div class="info">
          <h3 class="h4"><a href="#">Prospectiva y Derecho</a></h3>
        </div>
      </article>
    </div>
  </div>
</div>

{{> organisms-footer-blogs }}
