{{> organisms-header-blogs(logo:"../../images/logos/derecho-a-la-carta.png") }}

<div class="faculty-defecto faculty-derecho-a-la-carta">
  {{> organisms-faculty-carousel}}
  <div class="centrar overflow">
    <div class="columna08 contenido">
      <div class="lista-noticias">
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
      {{> molecules-pagination}}
    </div>

    <aside class="columna04 aside">
      {{> molecules-text-link-widget }}
      {{> molecules-menu-widget }}
      {{> molecules-tag-cloud-widget }}
      {{> molecules-calendar-wp-widget }}
    </aside>
  </div>
</div>

{{> organisms-footer-blogs }}
