{{> organisms-header-blogs(logo:"../../images/logos/derecho-a-la-carta.png") }}

<div class="faculty-defecto faculty-derecho-a-la-carta">
  <div class="contenedor">
    <div class="centrar">
      <main>
        <article class="columna12 contenido">
          <div class="texto">
            <h1>Nombre</h1>
            {{> atoms-lead(lead:"Cargo o País") }}
            <div class="columna04">
              <figure>
              {{> atoms-avatar(avatar-class:"full-image", avatar-img:"profile.jpg", avatar-alt:"Imagen destacada" ) }}
                <hr>
              </figure>
              <p><a class="mail" href="mailto:sitioweb@uexternado.edu.co"> <strong>sitioweb@uexternado.edu.co</strong> </a></p>
            </div>
            <div class="columna08">
              <p> Perfil Integer at tellus nisl. Suspendisse nulla metus, fermentum a urna laoreet, elementum semper tellus. Aliquam non hendrerit lacus. Curabitur ut lacus est. Cras dictum a diam at dapibus. Maecenas non mauris sem. Vestibulum tempor eget mauris quis pellentesque. Sed a neque facilisis eros egestas blandit. Sed dignissim molestie viverra. Vestibulum ante ipsum primis in faucibus.</p>
              <p>Integer at tellus nisl. Suspendisse nulla metus, fermentum a urna laoreet, elementum semper tellus. Aliquam non hendrerit lacus. Curabitur ut lacus est. Cras dictum a diam at dapibus. Maecenas non mauris sem. Vestibulum tempor eget mauris quis pellentesque. Sed a neque facilisis eros egestas blandit. Sed dignissim molestie viverra. Vestibulum ante ipsum primis in faucibus.</p>

              <!-- este botón debe llevar a los podcast del filtro de búsqueda-->
               {{> atoms-button(text:"Ver pódcast") }}
            </div>
          </div>
        </article>
      </main>
    </div>
  </div>

</div>

{{> organisms-footer-blogs }}