<div class="fondo-completo">
  <div class="centrar">
    <h2 class="h1">Inscripciones abiertas</h2>
  </div>
<div class="admissions">
  <div class="info">
    <div class="tabs">
      <a href="" id="doctorado" class="default-tab active-tab"><h3 class="span">Doctorados</h3></a>
      <a href="" id="maestria" class="default-tab"><h3 class="span">Maestrías</h3></a>
      <a href="" id="especializacion" class="default-tab"><h3 class="span">Especializaciones</h3></a>
      <a href="" id="pregrado" class="default-tab"><h3 class="span">Pregrado</h3></a>
      <a href="" id="diplomado" class="default-tab"><h3 class="span">Educación <br> Continuada</h3></a>
    <a href="" id="virtual" class="default-tab"><h3 class="span">Educación <br> Virtual</h3></a>
    </div>

    <div class="links">
      <div class="section">
        <a href="" class="title active">Doctorados
          <span class="flecha">
            <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
          </span>
        </a>
        <div class="box centrar doctorado active">
          <ul>
            <li><a href="">Doctorado en Derecho Doctorado en Derecho Doctorado en Derecho </a></li>
            <li><a href="">Doctorado en Derecho Internacional con énfasis en Derecho Internacional de los Negocios – Titulación conjunta con la Université Paris II Panthéon-Assas</a></li>
            <li><a href="">Doctorado en Estudios Políticos</a></li>
            <li><a href="">Doctorado en Derecho</a></li>
            <li><a href="">Doctorado en Estudios Sociales</a></li>
          </ul>
          <a href="#" class="boton-linea" >Ver todos</a>
        </div>
        <div class="imagen"></div>
      </div>
      <div class="section">
        <a href="" class="title">Maestrías
          <span class="flecha">
            <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
          </span>
        </a>
        <div class="box maestria centrar">
          <ul>
            <li><a href="">Maestría en Derecho Internacional con énfasis en Derecho Internacional de los Negocios – Titulación conjunta con la Université Paris II Panthéon-Assas</a></li>
            <li><a href="">Maestría en Estudios Sociales</a></li>
            <li><a href="">Maestría en Estudios Políticos</a></li>
            <li><a href="">Maestría en Derecho</a></li>
            <li><a href="">Maestría en Estudios Sociales</a></li>
          </ul>
          <a href="#" class="boton-linea" >Ver todos</a>
        </div>
        <div class="imagen"></div>
      </div>
      <div class="section">
        <a href="" class="title">Especializaciones
          <span class="flecha">
            <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
          </span>
        </a>
        <div class="box especializacion centrar">
          <ul>
            <li><a href="">Especialización en Derecho</a></li>
            <li><a href="">Especialización en Estudios Sociales</a></li>
            <li><a href="">Especialización en Estudios Políticos Especialización en Estudios Políticos Especialización en Estudios Políticos Especialización en Derecho Especialización en Estudios Políticos Especialización en Estudios Políticos</a></li>
            <li><a href="">Especialización en Derecho Especialización en Estudios Políticos Especialización en Estudios Políticos Especialización en Derecho Especialización en Estudios Políticos Especialización en Estudios Políticos</a></li>
            <li><a href="">Especialización en Estudios Sociales</a></li>
          </ul>
          <a href="#" class="boton-linea" >Ver todos</a>
        </div>
        <div class="imagen"></div>
      </div>
      <div class="section">
        <a href="" class="title">Pregrado
          <span class="flecha">
            <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
          </span>
        </a>
        <div class="box pregrado centrar">
          <ul>
            <li><a href="">Diplomado en Derecho</a></li>
            <li><a href="">Diplomado en Estudios Sociales</a></li>
            <li><a href="">Diplomado en Estudios Políticos</a></li>
            <li><a href="">Diplomado en Derecho</a></li>
            <li><a href="">Diplomado en Estudios Sociales</a></li>
          </ul>
          <a href="#" class="boton-linea" >Ver todos</a>
        </div>
        <div class="imagen"></div>
      </div>
      <div class="section">
        <a href="" class="title">Diplomados
          <span class="flecha">
            <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
          </span>
        </a>
        <div class="box diplomado centrar">
          <ul>
            <li><a href="">Diplomado en Derecho</a></li>
            <li><a href="">Diplomado en Estudios Sociales</a></li>
            <li><a href="">Diplomado en Estudios Políticos</a></li>
            <li><a href="">Diplomado en Derecho</a></li>
            <li><a href="">Diplomado en Estudios Sociales</a></li>
          </ul>
          <a href="#" class="boton-linea" >Ver todos</a>
        </div>
        <div class="imagen"></div>
      </div>
      <div class="section">
        <a href="" class="title">Educación Virtual
          <span class="flecha">
            <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
          </span>
        </a>
        <div class="box virtual centrar">
          <ul>
            <li><a href="">Diplomado: La legislación cultural como herramienta de gestión y sostenibilidad</a></li>
            <li><a href="">Diplomado: Planeación estratégica para instituciones culturales</a></li>
            <li><a href="">Diplomado: Técnicas y metodologías de obtención de recursos para instituciones culturales</a></li>
            <li><a href="">Diplomado: Componentes financieros de las Instituciones Culturales</a></li>
            <li><a href="">Diplomado Virtual en Marketing Digital para Hoteles</a></li>
          </ul>
          <a href="#" class="boton-linea" >Ver todos</a>
        </div>
        <div class="imagen"></div>
      </div>
    </div>
  </div>
</div>
</div>