<div class="form-section">
  <div class="centrar">
    <div class="columna12">
     <div class="h3">Cajón de búsqueda</div>
    </div>

    <div class="columna03">
      {{> atoms-select}}
    </div>
    <div class="columna03">
      {{> atoms-select}}
    </div>

    <div class="columna06">
      {{> atoms-search-form(tit-search-form:"Términos de búsqueda")}}
    </div>

  </div>
</div>
