<div class="widget publicacion">
  <article>
    <img src="../../images/cinco-esquinas.jpg" alt="Publicacion" />
    <div class="info">
      <p> <span class="black">Autor:</span><br> Mario Vargas Llosa</p>
      <p> <span class="black">Editorial: </span><br> Alfaguara </p>
      <p> <span class="black">Fecha de publicación: </span><br>  2016</p>
      <p> <span class="black">Número de clasificación: </span><br> PE863 V297C 2016 Ej.1 </p>
      <p> <span class="black">Lugar de préstamo: </span><br> Sede Principal </p>
    </div>
    {{> atoms-button(text:"Ver en línea")}}
  </article>
</div>
