<div class="news-resume">
    <h2 class="h3">{{^ titulo }}Últimas noticias{{/ titulo }} {{# titulo }}{{titulo}}{{/ titulo }}</h2>
    <div class="info">
        <div class="columna06">
        {{> molecules-news-module-sidebar }}
        {{> molecules-news-module-sidebar }}
        </div>
        <div class="columna06">
        {{> molecules-news-module-sidebar }}
        {{> molecules-news-module-sidebar }}
        </div>
       {{> atoms-button(text:"Ver más")}}
    </div>
  </div>
