<div id="comments" class="comments-area texto">
  <div id="respond" class="comment-respond">
    <h3 id="reply-title" class="comment-reply-title">Deja un comentario <small><a rel="nofollow" id="cancel-comment-reply-link" href="/quimeras-en-ropaje-de-academia/#respond" style="display:none;">Cancelar respuesta</a></small></h3>
    <form action="https://coordenadas-mundiales.uexternado.edu.co/wp-comments-post.php" method="post" id="commentform" class="comment-form">
      <p class="comment-notes"><span id="email-notes">Tu dirección de correo electrónico no será publicada.</span> Los campos obligatorios están marcados con <span class="required">*</span></p>
      <p class="comment-form-comment">
        <label for="comment">Comentario</label>
        <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" required="required"></textarea>
      </p>
      <p class="comment-form-author">
        <label for="author">Nombre <span class="required">*</span></label>
        <input id="author" name="author" type="text" value="" size="30" maxlength="245" required="required">
      </p>
      <p class="comment-form-email">
        <label for="email">Correo electrónico <span class="required">*</span></label>
        <input id="email" name="email" type="text" value="" size="30" maxlength="100" aria-describedby="email-notes" required="required">
      </p>
      <p class="comment-form-url">
        <label for="url">Web</label>
        <input id="url" name="url" type="text" value="" size="30" maxlength="200">
      </p>
      <p class="comment-form-cookies-consent">
        <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
        <label for="wp-comment-cookies-consent">Guardar mi nombre, correo electrónico y sitio web en este navegador para la próxima vez que haga un comentario.</label>
      </p>
      <p class="form-submit">
        <input name="submit" type="submit" id="submit" class="submit" value="Publicar comentario">
        <input type="hidden" name="comment_post_ID" value="424" id="comment_post_ID">
        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
      </p>
    </form>
  </div>
  <!-- #respond --> 
</div>
