{{> organisms-header-blogs(nombre:"Laboratorio Interdisciplinar de Medición de Dinámicas Sociales", slogan:"LabMediSocial") }}
<div class="faculty-defecto">

  {{> organisms-faculty-carousel }}

  <div class="centrar">
    {{> organisms-group-button-04}}

    <div class="margin-l">
    <h2 class="texto-centrado border-bottom">Medios</h2>

    <article class="columna08">
       {{> molecules-youtube-list-vertical(title:"Videos")}}
    </article>
    <article class="columna04 margin-l">
      <h3>Manuales</h3>
      {{> molecules-carousel-widget }}


    </article>
    </div>

  </div>
  <main class="fondo-completo">
    <div class="centrar">

    {{> organisms-alliance(title:"Servicios", button:"false")}}

    </div>
  </main>

  <div style="clear: both;"></div>
  <div class="centrar overflow">
    <div class="columna08 contenido">
      <h4>PubliLabs</h4>
      <div class="lista-noticias">
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
      {{> molecules-pagination}}
    </div>

    <aside class="columna04 aside">
      {{> molecules-text-link-widget }}
      {{> molecules-menu-widget }}
      {{> molecules-calendar-wp-widget }}
    </aside>
  </div>

</div>
{{> organisms-footer-blogs }}
No newline at end of file