{{> organisms-header-blogs(logo:"../../images/logos/exalumnos.png") }}

<div class="faculty-defecto">

  {{> organisms-faculty-carousel }}
  <main class="fondo-completo">
    {{> organisms-related-carousel(text:"Noticia", button:"true")}}
    {{> molecules-info-faculty}}
    {{> organisms-alliance}}
    <div class="centrar">
      {{> organisms-group-button-03 }}
    </div>
  </main>
</div>

{{> organisms-footer-blogs }}