{{> organisms-header-blogs(logo:"../../images/logos/exalumnos.png", nombre:"Asociación de Antiguos Alumnos") }}

<div class="faculty-defecto">
  <div class="centrar overflow">
    <aside class="columna04 aside">
      <div class="widget widget-custom-html">
        <div class="h4">TIPOS DE CONVENIO</div>
        {{> atoms-media-button(icon:"icon-carro")}}
        {{> atoms-media-button(icon:"icon-chat")}}
        {{> atoms-media-button(icon:"icon-control-parental")}}
        {{> atoms-media-button(icon:"icon-comida")}}
        {{> atoms-media-button(icon:"icon-carro")}}
        {{> atoms-media-button(icon:"icon-chat")}}
        {{> atoms-media-button(icon:"icon-control-parental")}}
        {{> atoms-media-button(icon:"icon-comida")}}
      </div>
    </aside>
    <div class="columna08 contenido">
      <h2 class="h1">Alianzas: Opción</h2>
      <div class="grilla-portal">
        <div class="modulo-relacionado">
          <a href="#"> <img src="../../images/modulo-noticia.png"> </a>
          <article>
            <a href="#"> <div class="h4">Alianza</div> </a>
          </article>
        </div>
        <div class="modulo-relacionado">
          <a href="#"> <img src="../../images/modulo-noticia.png"> </a>
          <article>
            <a href="#"> <div class="h4">Alianza</div> </a>
          </article>
        </div>
        <div class="modulo-relacionado">
          <a href="#"> <img src="../../images/modulo-noticia.png"> </a>
          <article>
            <a href="#"> <div class="h4">Alianza</div> </a>
          </article>
        </div>
        <div class="modulo-relacionado">
          <a href="#"> <img src="../../images/modulo-noticia.png"> </a>
          <article>
            <a href="#"> <div class="h4">Alianza</div> </a>
          </article>
        </div>
        <div class="modulo-relacionado">
          <a href="#"> <img src="../../images/modulo-noticia.png"> </a>
          <article>
            <a href="#"> <div class="h4">Alianza</div> </a>
          </article>
        </div>
        <div class="modulo-relacionado">
          <a href="#"> <img src="../../images/modulo-noticia.png"> </a>
          <article>
            <a href="#"> <div class="h4">Alianza</div> </a>
          </article>
        </div>
        <div class="modulo-relacionado">
          <a href="#"> <img src="../../images/modulo-noticia.png"> </a>
          <article>
            <a href="#"> <div class="h4">Alianza</div> </a>
          </article>
        </div>
        <div class="modulo-relacionado">
          <a href="#"> <img src="../../images/modulo-noticia.png"> </a>
          <article>
            <a href="#"> <div class="h4">Alianza</div> </a>
          </article>
        </div>
        <div class="modulo-relacionado">
          <a href="#"> <img src="../../images/modulo-noticia.png"> </a>
          <article>
            <a href="#"> <div class="h4">Alianza</div> </a>
          </article>
        </div>
      </div>
      {{> molecules-pagination}}
    </div>
  </div>
</div>

{{> organisms-footer-blogs }}