{{> organisms-header }}

<div class="faculty-biblioteca">
  {{> organisms-secondary-header-menu(faculty-home:true) }}
  <main>
    {{> organisms-form-section}}
    {{> organisms-faculty-carousel}}

    <div class="centrar">
      {{> organisms-group-button-06}}
    </div>
  </main>

  <div class="centrar overflow">
    <div class="columna09-grande ">
      {{> organisms-news-list }}
    </div>

    <aside class="columna03-grande aside">
      {{> molecules-quote-widget }}
      {{> molecules-image-widget }}
      {{> molecules-text-link-widget }}
      {{> molecules-carousel-widget }}
      {{> molecules-menu-widget }}
    </aside>
  </div>

  {{> organisms-faculty-info }}
</div>

{{> organisms-footer }}
