{{> organisms-header-blogs(nombre:"Departamento de Derecho Procesal", facultad:"Derecho") }}

<div class="faculty-defecto">
  <div class="centrar overflow">
    <div class="columna12 contenido">
      <div>
        <h2 class="h1">Archivo: Ejemplo</h2>
        <figure class="alignright">
          <img width="250" src="../../images/modulo-noticia.png" alt="Noticia" />
        </figure>
        {{> atoms-lead(lead:"Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.") }}
      </div>
      {{> organisms-laws-list}}
    </div>
    <div class="columna08 contenido columna-float-der">
      <div class="lista-noticias">
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
      {{> molecules-pagination}}
    </div>
    <aside class="columna04 aside">
      {{> molecules-menu-widget }}
    </aside>
</div>

<div class="columna12 before-footer">
  <div class="centrar overflow botones-destacados-iguales">
      <a href="#" class="boton-grande">
        <div class="imagen">
          <img src="http://procesal.uexternado.edu.co/pR0c3-3xT3rNaD0-U3C/wp-content/themes/procesal/img/boletin-virtual-procesal.png" alt="Imagen externado" />
        </div>
        <div class="info">
          <div class="h4">Boletin Virtual</div>
        </div>
      </a>

      <a href="#" class="boton-grande">
        <div class="imagen">
          <img src="http://procesal.uexternado.edu.co/pR0c3-3xT3rNaD0-U3C/wp-content/themes/procesal/img/observatorio-constitucional-procesal.png" alt="Imagen externado" />
        </div>
        <div class="info">
          <div class="h4">Observatorio Nacional</div>
        </div>
      </a>

      <a href="#" class="boton-grande">
        <div class="imagen">
          <img src="http://procesal.uexternado.edu.co/pR0c3-3xT3rNaD0-U3C/wp-content/themes/procesal/img/seminario-interdicsiplinario-procesal.png" alt="Imagen externado" />
        </div>
        <div class="info">
          <div class="h4">Seminario Disciplinario</div>
        </div>
      </a>
    </div>
  </div>
</div>

{{> organisms-footer-blogs }}
