<div class="modulo-acordeon">
  <div id="acordeon-programa" role="tablist" aria-multiselectable="true">
    <!-- 01-->
    <div class="panel">
      <div role="tab" id="titulo-uno">
        <div class="titulo-acordeon">
          <a role="button" data-toggle="collapse" data-parent="#acordeon-programa" href="#perfil" aria-expanded="true" aria-controls="perfil">
            <span>
              <svg class="icon icon-usuario"><use xlink:href="../../images/iconos.svg#icon-usuario"></use></svg>
            </span>
            <div class="h4">Perfil del aspirante </div>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="perfil" class="info collapse in" role="tabpanel" aria-labelledby="titulo-uno">
        <p>
          Profesionales, interesados en mejorar su labor gerencial, conociendo las últimas tendencias en la gestión logística y de comercio internacional.
        </p>
        {{> atoms-button }}
      </div>
    </div>
    <!-- /01-->
    <!-- 02-->
    <div class="panel">
      <div role="tab" id="titulo-dos">
        <div class="titulo-acordeon">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acordeon-programa" href="#tituloOtorgado" aria-expanded="false" aria-controls="tituloOtorgado">
            <span>
              <svg class="icon icon-diploma"><use xlink:href="../../images/iconos.svg#icon-diploma"></use></svg>
            </span>
            <div class="h4">Título otorgado</div>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="tituloOtorgado" class="info collapse" role="tabpanel" aria-labelledby="titulo-dos">
        <p>
          Especialista en Gerencia con Énfasis en Logística y Comercio Internacional
        </p>
      </div>
    </div>
    <!-- /02-->
    <!-- 03-->
    <div class="panel">
      <div role="tab" id="titulo-tres">
        <div class="titulo-acordeon">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acordeon-programa" href="#jornada" aria-expanded="false" aria-controls="jornada">
            <span>
              <svg class="icon icon-jornada"><use xlink:href="../../images/iconos.svg#icon-jornada"></use></svg>
            </span>
            <div class="h4">Jornada </div>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="jornada" class="info collapse" role="tabpanel" aria-labelledby="titulo-tres">
        <ul>
          <li><strong>Lunes, Miercoles y Viernes:</strong> 5:30 pm a 9:30 pm </li>
          <li><strong>Sábados:</strong> 7:00 am a 1:00 pm</li>
        </ul>

      </div>
    </div>
    <!-- /03-->
    <!-- 04-->
    <div class="panel">
      <div role="tab" id="titulo-cuatro">
        <div class="titulo-acordeon">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acordeon-programa" href="#fechasImportantes" aria-expanded="false" aria-controls="fechasImportantes">
            <span>
              <svg class="icon icon-calendario-02"><use xlink:href="../../images/iconos.svg#icon-calendario-02"></use></svg>
            </span>
            <div class="h4">Fechas importantes</div>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
          </a>
        </div>
      </div>

      <div id="fechasImportantes" class="info collapse" role="tabpanel" aria-labelledby="titulo-cuatro">
        <div class="galleria">
          <ul>
            <li><strong>Registro:</strong> 19 de Octubre - 8 de Noviembre </li>
            <li><strong>Inscripción:</strong> 20 de Noviembre - 4 de Diciembre</li>
            <li><strong>Matrícula:</strong>10 de Diciembre - 16 de Diciembre</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /04-->
    <!-- 05-->
    <div class="panel">
      <div role="tab" id="titulo-cinco">
        <div class="titulo-acordeon">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acordeon-programa" href="#requisitos_inscripcion" aria-expanded="false" aria-controls="informacion">
            <span>
              <svg class="icon icon-info"><use xlink:href="../../images/iconos.svg#icon-checkbox-02"></use></svg>
            </span>
            <div class="h4">Requisitos de Inscripción</div>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="requisitos_inscripcion" class="info collapse" role="tabpanel" aria-labelledby="titulo-cinco">
        <strong>Aspirante que cursa grado 11 o haya finalizado sus estudios:</strong>
        <ul>
          <li>Estar terminando o haya finalizado su último curso de educación secundaria y haber presentado el examen de estado (ICFES).</li>
          <li>Diligenciar el formulario de inscripción (únicamente a través de internet).</li>
          <li>Cancelar el valor de la inscripción: $163.900 (ciento sesenta y tres mil novecientos pesos)</li>
        </ul>
        <hr>
        <strong>Aspirante colombiano o extranjero que cursa último grado o haya finalizado sus estudios en el exterior:</strong>
        <ol>
          <li>Diligenciar el formulario de inscripción (únicamente a través de internet).</li>
          <li>Cancelar el valor de la inscripción: $163.900 (ciento sesenta y tres mil novecientos pesos)</li>
          <li>Sólo podrán matricularse los estudiantes que tengan visa de estudiante y no de turista.</li>
          <li>Si usted es admitido deberá presentar la Resolución del Ministerio de Educación Nacional que autorizó la convalidación del título para legalizar la matrícula en caso contrario no podrá iniciar estudios en el programa y deberá solicitar la reserva del cupo. Igualmente, si tiene un examen de Estado de su país de procedencia, deberá:
            <ul>
              <li>Consultar la&nbsp;<a href="https://www.uexternado.edu.co/wp-content/uploads/2017/01/Resolucion-000111-del-16-de-febrero-de-2017-validacion-examenes-en-el-exterior-2-1.pdf">Resolución 000111 del 16 de febrero de 2017 del ICFES</a>, para comprobar si cumple con lo estipulado en la reglamentación. Si no está incluida la prueba de estado, deberá solicitar ante el ICFES la certificación de validación del examen, y presentarlo en su facultad.</li>
              <li>Si no cuenta con dicho examen, debe presentar el examen del ICFES SABER 11 antes de iniciar su primer semestre o año académico.</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
    <!-- /05-->
    <!-- 06-->
    <div class="panel">
      <div role="tab" id="titulo-seis">
        <div class="titulo-acordeon">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acordeon-programa" href="#informacion" aria-expanded="false" aria-controls="informacion">
            <span>
              <svg class="icon icon-info"><use xlink:href="../../images/iconos.svg#icon-info"></use></svg>
            </span>
            <div class="h4">Información</div>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="informacion" class="info collapse" role="tabpanel" aria-labelledby="titulo-seis">
        <ul>
        <li><strong>Código SNIES:</strong> 51567</li>
        <li><strong>Resolución MEN:</strong> 11265</li>
        <li><strong>Fecha de Resolución: </strong>2 de Diciembre de 2011</li>
        <li><strong>Vigencia: </strong>7 años</li>
        </ul>
      </div>
    </div>
    <!-- /06-->

    <!-- 07-->
    <div class="panel">
      <div role="tab" id="titulo-siete">
        <div class="titulo-acordeon">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acordeon-programa" href="#contacto" aria-expanded="false" aria-controls="informacion">
            <span>
              <svg class="icon icon-telefono"><use xlink:href="../../images/iconos.svg#icon-telefono"></use></svg>
            </span>
            <div class="h4">Contacto</div>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="contacto" class="info collapse" role="tabpanel" aria-labelledby="titulo-siete">
        <ul>
        <li><strong>Código SNIES:</strong> 51567</li>
        <li><strong>Resolución MEN:</strong> 11265</li>
        <li><strong>Fecha de Resolución: </strong>2 de Diciembre de 2011</li>
        <li><strong>Vigencia: </strong>7 años</li>
        </ul>
      </div>
    </div>
    <!-- /07-->
  </div>
</div>
