<div class="modulo-acordeon-content">
  <div id="acordeon-content" role="tablist" aria-multiselectable="true">

    <!-- 00-->
    <div class="panel">
      <div role="tab" id="titulo-cero">
        <div class="titulo-acordeon">
          <a role="button" data-toggle="collapse" data-parent="#acordeon-content" href="#item01" aria-expanded="true" aria-controls="item01">

            <h4>  {{# tit1 }}{{tit1}}{{/ tit1 }}{{^ tit1 }}Titulo 1{{/ tit1}} </h4>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="item01" class="info collapse in" role="tabpanel" aria-labelledby="titulo-cero">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <ul>
          <li>Revista digital de derecho Administrativo digital de derecho Administrativo</li>
          <li>Grupo de investigación</li>
          <li>Líneas de investigación</li>
          <li>Revista digital de derecho Administrativo</li>
        </ul>
      </div>
    </div>
    <!-- /00-->

    <!-- 01-->
    <div class="panel">
      <div role="tab" id="titulo-uno">
        <div class="titulo-acordeon">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acordeon-content" href="#item02" aria-expanded="true" aria-controls="item02">

            <h4> {{# tit2 }}{{tit2}}{{/ tit2 }}{{^ tit2 }}Titulo 2{{/ tit2}} </h4>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="item02" class="info collapse" role="tabpanel" aria-labelledby="titulo-uno">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <!-- /01-->
    <!-- 02-->
    <div class="panel">
      <div role="tab" id="titulo-dos">
        <div class="titulo-acordeon">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acordeon-content" href="#item03" aria-expanded="false" aria-controls="item03">

            <h4> {{# tit3 }}{{tit3}}{{/ tit3 }}{{^ tit3 }}Titulo 3{{/ tit3}}</h4>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="item03" class="info collapse" role="tabpanel" aria-labelledby="titulo-dos">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <ul>
          <li><a href="#">Programa del evento</a></li>
          <li><a href="#">Ponentes</a></li>
          <li><a href="#">Formularios de inscripción</a></li>
        </ul>
      </div>
    </div>
    <!-- /02-->
    <!-- 03-->
    <div class="panel">
      <div role="tab" id="titulo-tres">
        <div class="titulo-acordeon">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acordeon-content" href="#item04" aria-expanded="false" aria-controls="item04">

            <h4>{{# tit4 }}{{tit4}}{{/ tit4 }}{{^ tit4 }}Titulo 4{{/ tit4}}</h4>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="item04" class="info collapse" role="tabpanel" aria-labelledby="titulo-tres">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/KkPpOdf8DG4?list=PLLdYhVJsMEXICXD9BpVVPEJkI7oDnLBOF" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <!-- /03-->
    <!-- 04-->
    <div class="panel">
      <div role="tab" id="titulo-cuatro">
        <div class="titulo-acordeon">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acordeon-content" href="#item05" aria-expanded="false" aria-controls="item05">

            <h4>{{# tit5 }}{{tit1}}{{/ tit5 }}{{^ tit5 }}Titulo 5{{/ tit5}}</h4>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="item05" class="info collapse" role="tabpanel" aria-labelledby="titulo-cuatro">
        <div class="galleria">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <!-- /04-->
    <!-- 05-->
    <div class="panel">
      <div role="tab" id="titulo-cinco">
        <div class="titulo-acordeon">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#acordeon-content" href="#item06" aria-expanded="false" aria-controls="item06">

            <h4> {{# tit6 }}{{tit6}}{{/ tit6 }}{{^ tit6 }}Titulo 6{{/ tit6}}</h4>
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
        </div>
      </div>

      <div id="item06" class="info collapse" role="tabpanel" aria-labelledby="titulo-cinco">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <!-- /05-->
  </div>
</div>
