{{> organisms-header-blogs(nombre:"Observatorio Externadista de la Justicia Constitucional y los Derechos Fundamentales") }}
<div class="faculty-defecto">

  {{> organisms-faculty-carousel }}
  <main class="fondo-completo">
    {{> organisms-podcast-carousel(text:"Últimas intervenciones", button:"true")}}

  </main>
    <div class="centrar margin-l"> 
      {{> organisms-calendar-for-home(calendar-title:"Agenda de eventos") }}
      {{> organisms-event-list }} 
    </div>

</div>

{{> organisms-footer-blogs }}