{{> organisms-header-blogs(nombre:"Observatorio Externadista de la Justicia Constitucional y los Derechos Fundamentales") }}
<div class="faculty-defecto">

  <div class="centrar overflow">
    <div class="columna08 contenido">
      <div class="grilla-portal-2columnas">
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}
        {{> molecules-related-module-2 }}

      </div>
      {{> molecules-pagination}}  
    </div>

    <aside class="columna04 aside">
    {{> organisms-accordion-news(onlyShare: true) }}
      {{> molecules-news-list-widget(titulo:"Últimas intervenciones")}}
    </aside>
  </div>
</div>
{{> organisms-footer-blogs }}
