{{> organisms-header-blogs(nombre:"Observatorio Externadista de la Justicia Constitucional y los Derechos Fundamentales") }}
<div class="faculty-defecto">
  <div class="contenedor">
    <div class="centrar">
    <main>
      <article class="columna08 contenido">
        <div class="info"> </div>
        <div class="texto">
          <h1>Título</h1>
         
          
          <div class="modulo-bases-datos border-none padding-none">
            <div class="informacion-db">
               <section class="submodulo-db">
                <p><span><svg class="icon icon-calendario-02"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-calendario-02"></use></svg></span> <strong>Fecha:</strong>  {{> atoms-date }} </p>
                 
              </section>
              <section class="submodulo-db">
                <h5 class="margin-s"><span><svg class="icon icon-carpeta"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-carpeta"></use></svg></span> Tema de la demanda: </h5>
                {{> atoms-lead(lead:"Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.") }}

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis risus eros. Proin eget iaculis ipsum, ut efficitur leo. Quisque lobortis maximus tellus vitae vulputate. Cras venenatis odio auctor turpis placerat tincidunt. Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.</p>
              </section>
              <section class="submodulo-db">
                <h5 class="margin-s"><span>
                  <svg class="icon icon-marca-libros">
                    <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-marca-libros"></use>
                  </svg>
                  </span> Norma demandada:</h5>
                <p>Integer at tellus nisl. Suspendisse nulla metus, fermentum a urna laoreet, elementum semper tellus.</p>
              </section>
              <section class="submodulo-db">
                <h5 class="margin-s"><span>
                  <svg class="icon icon-hombre-mujer">
                    <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-hombre-mujer"></use>
                  </svg>
                  </span> Docentes participantes:</h5>
                 <div class="autor"> <a href="#">Nombre del autor</a><a href="#">Juan José Medina Arismendi</a><a href="#">Paula Andrea Vallejo Ríos</a> </div>
              </section>
              <section class="submodulo-db">
                <h5 class="margin-s"> <span>
                  <svg class="icon icon-etiquetas">
                    <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-etiquetas"></use>
                  </svg>
                  </span> Referencia del proceso:</h5>
                <div class="tags">
                  <ul>
                    <li><a href="">Constitucionalidad</a></li>
                    <li><a href="">Tutela</a></li>
                    <li><a href="">Conflicto de jurisdicción</a></li>
                    <li><a href="">Ley aprobatoria de tratado</a></li>
                  </ul>
                </div>
              </section>
              <section class="submodulo-db">
                <h5  class="margin-s"><span><svg class="icon icon-marcador-01"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-marcador-01"></use></svg></span>Tipo de intervención:</h5>
                <div class="tags">
                  <ul>
                    <li><a href="">Intervención ciudadana</a></li>
                    <li><a href="">Amicus Curiae</a></li>
                  </ul>
                </div>
              </section>
              <section class="submodulo-db">
                <h5  class="margin-s"><span><svg class="icon icon-legal"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-legal"></use></svg></span>  Problema jurídico:</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis risus eros. Proin eget iaculis ipsum, ut efficitur leo. Quisque lobortis maximus tellus vitae vulputate. Cras venenatis odio auctor turpis placerat tincidunt. Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.</p>
              </section>
              <section class="submodulo-db">
                <h5  class="margin-s"><span><svg class="icon icon-chat"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-chat"></use></svg></span>  Sentido de la intervención:</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis risus eros. Proin eget iaculis ipsum, ut efficitur leo. Quisque lobortis maximus tellus vitae vulputate. Cras venenatis odio auctor turpis placerat tincidunt. Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.</p>
              </section>
              <section class="submodulo-db">
                <div class="columna06">
               <a class="mini-boton" href="#" target="_blank">Ver intervención <span>
                <svg class="texto-blanco icon icon-derecha"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-derecha"></use>
                </svg></span> </a> 
                </div>
                <div class="columna06">
                <a class="mini-boton" href="#" target="_blank">Ver sentencia <span>
                <svg class="texto-blanco icon icon-derecha"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-derecha"></use>
                </svg>
                </span> </a>
                </div>
              </section>
                <section class="submodulo-db sin-borde-inferior">
              {{> atoms-iframe }} 
                </section>
       </div>
          </div>
        </div>
      </article>
    </main>
    <aside class="columna04 aside"> {{> organisms-accordion-news(onlyShare: true) }} </aside>
   {{> molecules-module-tags }} 
  </div>
</div>
</div>

{{> organisms-footer-blogs }}