<article class="modulo-noticia finanzas multimedia-noticia">
  <a href="#">
     <div class="multimedia">
      <!--Puede ser un video o una imagen--> 
      {{> atoms-iframe}}
    </div>
  </a>
  <div class="info">
      <div class="h6" ><a href="#">Instituto de Estudios Interdisciplinarios Richard Tovar Cárdenas</a></div>
      {{> atoms-date }}
      {{> molecules-tags }}
      <h3 class="h4"><a href="#">III Encuentro de investigación en Educación</a></h3>
      <p>Se expondrán los trabajos de investigación se expondrán los trabajos de investigación se expondrán los trabajos de investigación más destacados de los estudiantes graduados de la Facultad, durante el segundo semestre del año 2015.</p>
    </div>
</article>