<article class="modulo-noticia finanzas">
  <a href="#">
    <!--Esta imagen debe ser de 380 x 274px-->
    <img src="../../images/modulo-noticia.png" alt="Noticia" />
  </a>
  <div class="info">
      <div class="h6" ><a href="#">Instituto de Estudios Interdisciplinarios Richard Tovar Cárdenas</a></div>
      {{> atoms-date }}
      {{> molecules-tags }}
      <h3 class="h4"><a href="#">III Encuentro de investigación en Educación</a></h3>
      <p>Se expondrán los trabajos de investigación se expondrán los trabajos de investigación se expondrán los trabajos de investigación más destacados de los estudiantes graduados de la Facultad, durante el segundo semestre del año 2015.</p>
    </div>
</article>
