<article class="modulo-evento">

  <div class="fecha-evento">
    <div class="fondo">
      <span>4</span><!--dia-evento-->
      <span>FEB</span><!--mes-evento-->
    </div>
    <hr>
  </div>

  <div class="info">
    <h3 class="h5"><a href="#">Seminario de actualización tributaria</a></h3>
    <p>Hora: 8:30 a.m.</p>
  </div>

</article>
