<div class="modulo-programa {{^ modifier-class  }}finanzas-gobierno-y-relaciones-internacionales{{/ modifier-class }}{{# modifier-class }}{{modifier-class}}{{/ modifier-class }} defecto">
  <div class="titulo-acordeon">
    <div class="h6">{{^ faculty  }}Finanzas{{/ faculty }}{{# faculty }}{{faculty}}{{/ faculty }}</div>
    <h2 class="h4">Especialización en Cooperación Internacional y Gestión de Proyectos para el Desarrollo</h2>
     {{> atoms-subcategory }}
  </div>





  <!-- 01-->
  <div class="submodulo-programa">
    <div class="programa-filtro">
    <p class="columna06">
      <svg class="icon icon-pin-locacion"><use xlink:href="../../images/iconos.svg#icon-pin-locacion"></use></svg>
      <strong>Medellín - SemiPresencial</strong>
      <span class="inscripciones-abiertas">
        Inscripciones abiertas
      </span>
    </p>
    <p class="columna06">
      <svg class="icon icon-reloj"><use xlink:href="../../images/iconos.svg#icon-reloj"></use></svg>
      <em>2 semestres (Cuatro ciclos)</em>
    </p>
  </div>
    <a class="boton">Más información  <svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg></a>
  </div>
  <!-- /01-->

  <!-- 02-->
  <div class="submodulo-programa">
    <div class="programa-filtro">
      <p class="columna06">
        <svg class="icon icon-pin-locacion"><use xlink:href="../../images/iconos.svg#icon-pin-locacion"></use></svg>
        <strong> Barranquilla - SemiPresencial</strong>
        <!-- <span class="inscripciones-abiertas">
          Inscripciones abiertas
        </span> -->
      </p>
      <p class="columna06">
        <svg class="icon icon-reloj"><use xlink:href="../../images/iconos.svg#icon-reloj"></use></svg>
        <em>3 meses ( Un periodo)</em>
      </p>
    </div>
    <a class="boton">Más información  <svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg></a>
  </div>
  <!-- /02-->


</div>
