<article class="modulo-noticia">
  <a href="#">
    <!--Esta imagen se debe cortar automáticamente desde el gestor a un tamaño de 150 x 150px-->
    <img src="../../images/modulo-noticia.png" alt="Noticia" />
  </a>
  <div class="info">
      {{> atoms-date }}
      <h3 class="h4"><a href="#">Docente del Departamento de Derecho Constitucional recibe máxima calificación y otros reconocimientos por su tesis doctoral</a></h4>
    </div>
</article>