<article class="modulo-ley">
  <a href="#">
    <!--Esta imagen debe ser de 140 x 140px, cortada desde el centro-->
    <img src="../../images/modulo-blog.png" alt="Blog" />
  </a>
  <a href="#" class="info">
    <h3 class="h6">Ley 1561 de 2012</h3>
    <p>Ley de procedimiento verbal para otorgar la propiedad de inmuebles de pequeña entidad económica y para el saneamiento de la falsa tradición</p>
  </a>
</article>
