<article class="defecto derecho">
  <div class="evento-centrado modulo-relacionado">
    <a href="#">
      <!--Esta imagen debe ser de 500 x 305px-->
      <img src="../../images/modulo-relacionada.png" alt="Noticia Relacionada" />
    </a>
    <div class="info">
      {{> atoms-date }}
      
      <h3 class="h5"><a href="#">III Encuentro de investigación en Educación</a></h3>
       <hr>
      <p>Hora: 8:30 a.m.</p>
      <p>Lugar: Streaming </p>
      
    </div>
  </div>

</article>
