<div class="widget widget-custom-html columna04 texto-centrado">
	<!--El diseño del marco puede variar para personalizar el tema-->
	<img src="../../images/evento-conferencista.png">
            <h3 class="h4">María Del Pilar García Pachón</h3>
            <div class="h6">Cargo o País</div>
            <article class="info sin-borde-inferior">
              <p>Abogada de la Universidad Externado de Colombia, Doctora en Derecho en el programa Propiedades Públicas y Medio Ambiente de la Universidad de Zaragoza (España). Autora de diferentes artículos sobre temas de Derecho del Medio Ambiente y Compiladora y Editora de diversos libros. Directora del Departamento de Derecho del Medio Ambiente de la Universidad Externado de Colombia y Consultora para entidades públicas y privadas en gestión ambiental y derecho de aguas.</p>
            {{> atoms-button(text:"Ver más")}}
            </article>
          </div>