<div class="widget widget-custom-html columna03"> 
  <img src="../../images/evento-programa.jpg">
  <article class="info sin-borde-inferior">
    <div class="h4" class="texto-centrado">{{ information-module-title }}</div>
    <p>
      <svg class="icon icon-calendario-02">
        <use xlink:href="../../images/iconos.svg#icon-calendario-02"></use>
      </svg>
      <strong> Fecha:</strong> <span>Del 22 al 24 de Febrero</span> </p>
    <p>
      <svg class="icon icon-reloj">
        <use xlink:href="../../images/iconos.svg#icon-reloj"></use>
      </svg>
      <strong> Hora:</strong> <span>8:00 a.m - 5:00 p.m</span> </p>
    <p>
      <svg class="icon icon-pin-locacion">
        <use xlink:href="../../images/iconos.svg#icon-pin-locacion"></use>
      </svg>
      <strong> Lugar:</strong> <span>Teatro, edificio A - 100</span> </p>
    <p class="texto-centrado"><a class="boton" href="#">Ver la agenda</a></p>
  </article>
</div>
