<div class="hover-news second">
  <div class="hover-news-wrapper">
    
    <div class="hover-news-title">
    <h2 class="h4">Sentido Animal, más que mascotas</h2>
    </div>
    <div class="hover-news-image">
      <!--Esta imagen debe ser de 600x600-->
      <a href="#"><img src="../../images/news-hover-2-600x600.jpg"  alt="Noticia" /></a>
      <div class="hover-news-description">
       <p>No más humanización, no más élite. En esta revista encontrarás historias incluyentes para humanos que aman a los animales.<br>
       {{> atoms-date }}</p>
        <div class="hover-news-button"><a href="#">Ver más</a></div>
      </div>
    </div> 
    
  </div>
</div>