<article class="event-date-slider defecto finanzas">
  <div class="fecha-evento">
    <div class="fondo">
      <span>4</span><!--dia-evento-->
      <span>FEB</span><!--mes-evento-->
    </div>
  </div>
  <div class="info">
    <h6><a href="#">Finanzas</a></h6>
    <p><svg class="icon icon-reloj"><use xlink:href="../../images/iconos.svg#icon-reloj"></use></svg> 8:30 a.m.</p>
    <p><svg class="icon icon-pin-locacion"><use xlink:href="../../images/iconos.svg#icon-pin-locacion"></use></svg> Salón Aurelio Arturo - Biblioteca Nacional </p>
  </div>
</article>