<div class="botonera-mode-events centrar">
  <div class="buscador-eventos">{{> atoms-search-form(tit-search-form:"Encuentre el evento")}}</div>
    <div class="botones-select-visualizacion">
    <h6>Modo de visualización</h6>
      <a class="boton" href="" >
        <span class=""><svg class="icon icon-lista"><use xlink:href="../../images/iconos.svg#icon-lista"></use></svg></span>  Lista</a>
      <a class="boton-gris" href="">
        <span class=""><svg class="icon icon-calendario-02"><use xlink:href="../../images/iconos.svg#icon-calendario-02"></use></svg></span>  Calendario</a> 
    </div>
    <div style="clear: both;"></div>
      <div class="contenedor-eventos">
          <div class="grilla-portal-2cols">
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
				<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">
					<div class="fecha-evento">
							<div class="fondo">
							<span>31 Ene</span><!--dia-evento-->
							<span>/2019</span><!--mes-evento-->
							</div>
						</div>
					<section class="content-evento">
						<div class="columna07 imagen-cuadrada-event"> 
							<a href="#">
							<!--Imagen destacada del evento-->
							<img src="../../images/estadio.png" alt="Noticia Relacionada" />
							</a>
						</div>

					<div class="columna05 info">
						<div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
						<h3 class="h5"><a href="#">Título del evento</a></h3>
						<p>Hora: 8:30 a.m.</p>
						<p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
					</div>
					</section>
					<div class="faculty-color">
					</div>
				</article>
		  </div>
			     {{> molecules-pagination }}
      </div>
</div>
