<footer class="nodule-tags">
  <a href="#arriba" class="arriba">
    <span><svg class="icon icon-arriba"><use xlink:href="../../images/iconos.svg#icon-arriba"></use></svg></span>
  </a>
<div class="tags">
  <span><svg class="icon icon-etiquetas"><use xlink:href="../../images/iconos.svg#icon-etiquetas"></use></svg></span>
  <h2 class="h4">Etiquetas</h2>
  <ul>
    <li><h3 class="clear-h"><a href="#">Patrimonio</a></h3></li>
    <li><h3 class="clear-h"><a href="#">Yopal</a></h3></li>
    <li><h3 class="clear-h"><a href="#">Arqueología</a></h3></li>
  </ul>
</div>
</footer>