   <figure class="wp-caption columna03" style="margin-bottom: 25px;">
      <a href="#">
      {{> atoms-avatar(avatar-class:"grayscale-foto", avatar-img:"profile.jpg", avatar-alt:"Imagen destacada" ) }}</a>
      <figcaption class="wp-caption-text">
        <strong style="color: #31464d; font-size: 1.2em;">Nombre Apellido</strong>
        <br>
         <strong><em>Decano de la Facultad</em></strong>
         nombre.apellido@uexternado.edu.co
         <a style="font-size: 1.2em;" href="#"><strong>Ver perfil</strong></a>
      </figcaption>
   </figure>