<article class="defecto derecho">
  <div class="evento-centrado modulo-relacionado podcast-module">
    <a href="#">
    <!--Esta imagen debe ser de 400 x 400px-->
    <img src="../../images/img-400x400px.jpg" alt="" /></a>
    <div class="margen-corto">{{> atoms-date }} </div> 
    <div class="info contenedor-tit-spreaker margen-corto">
        <!-- el llamado al iframe debería hacerse unicamente por el id del episodio para que no cambie la presentación de iframe-->
    <div class="iframe-spreaker"><iframe src="https://widget.spreaker.com/player?episode_id=22736313&theme=light&playlist=false&playlist-continuous=false&autoplay=false&live-autoplay=false&chapters-image=false&episode_image_position=right&hide-logo=true&hide-likes=false&hide-comments=false&hide-sharing=false&hide-download=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F9ef8e47ccb7abffcadca8372c23a61f6.jpg&color=cacaca" width="50px" height="52px" frameborder="0"></iframe></div>  
      <h2 class="h4 title-spreaker"><a href="#">Diseño Legal e innovación jurídica</a></h2>  
    </div>
    <div class="info margen-corto"><p>Lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>  </div>
   
  </div>
</article>