 <div class="modulo-publicacion texto">
      <h2 class="h3 margen-sencillo subrayado">Número 1</h2>
      <div class="margen-sencillo">{{> atoms-date }}</div>
      {{> atoms-image(img-url:"portada-revista-350x315.jpg", img-class:"aligncenter") }}   
    <hr>
    {{> atoms-lead(lead:"Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.") }}
    {{> atoms-line-button(modifier-class:"btn-linea-default", icon-selector:"descargar-02", text:"Descargar revista") }}
 </div>