 <!--La clase derecho se activa según la categoría-->
<div class="modulo-relacionado mr-opcion2 derecho defecto {{# modifier-class }}{{modifier-class }}{{/ modifier-class  }}{{^ modifier-class  }}{{/ modifier-class }}">
    <div class="zoom-imagen-modulo">
    <a href="#">
      <!--Esta imagen debe ser de 500 x 305px-->
      <img class="blog-list-2columns" src="../../images/{{# img-url }}{{img-url}}{{/ img-url }}{{^ img-url }}carrusel-home-01.png{{/ img-url}}" alt="Noticia Relacionada" />
    </a>
    </div>
    <div class="info">
       <div class="h6"><a href="#">{{# category }}{{category}}{{/ category }}{{^ category }}Artículo{{/ category}}</a></div>
       {{> molecules-tags }}
      <h4 class="h4"><a href="#">{{# title }}{{title}}{{/ title}}{{^ title }}III Encuentro de investigación en Educación{{/ title }}</a></h4>
      {{> atoms-author }}
      <div class="meta">{{> atoms-date }} {{> atoms-time-read }}</div>         
   </div>
  </div>