<article class="modulo-video">
   <!--En el href debe ir el link del video,y abre con el estilo de lightgallery. En pattern lab no deja vizualizar-->
    <div class="thumb-video"><a href="" data-src=""><img src="../../images/{{# img-url }}{{img-url}}{{/ img-url }}{{^ img-url }}boton-subtitulo-01.png{{/ img-url}}" alt="Thumb video" />
    </a>
    </div>
    <div class="info">
    	   <!--En el href debe ir el link del video,y abre con el estilo de lightgallery. En pattern lab no deja vizualizar-->
      <a href=""  data-src="">{{^ title }}{{title}}{{/ title}}{{#  title }}III Encuentro de investigación en Educación{{/ title }}</a>
    </div>
</article>

