<article class="modulo-relacionado">
    <div class="info texto-centrado">
  <a href="" data-src=""><img class="aligncenter" src="../../images/{{# img-url }}{{img-url}}{{/ img-url }}{{^ img-url }}portada-revista-350x315.jpg{{/ img-url}}" alt="Thumb book" /></a>

      <h4><a href=""  data-src="">{{^ title }}{{title}}{{/ title}}{{#  title }}III Encuentro de investigación en Educación{{/ title }}</a> </h4>

      <p class="autor"><em><a href="#">{{^ author-text }}Pepita Perez{{/ author-text }}{{# author-text }}{{author-text}}{{/ author-text }}</a></em></p>

      {{> atoms-date(format:"2021") }}
    </div>
</article>


