<article class="links-relacionados {{# faculty-class }}{{ faculty-class }}{{/ faculty-class }}{{ ^ faculty-class}}defecto{{/ faculty-class }}">
    <div class="content">
        <div class="imagen">
            <a href="">{{> atoms-image }}</a>
        </div>
        <section class="titulo">
            <a href="">
                <p class="{{# modifier-class  }}{{ modifier-class }}{{/ modifier-class }}{{ ^ modifier-class}}h4{{/ modifier-class }}">
                    {{# tit }}{{tit}}{{/ tit }}{{^ tit }}Título de la noticia secundaria con un máximo de 75 caracteres
                    de texto{{/ tit}}</p>
            </a>
        </section>
    </div>
</article>