<article class="administracion">
  <div class="modulo-relacionado">
   <a href="#"><img src="../../images/boton-subtitulo-01.png" alt="Servicio" />   </a>
        <div class="info">
        <h4><a href="#">{{# title }}Servicio{{/ title }} {{^ title }}{{title}}{{/ title }}</a></h4>
      {{# lead }}{{/ lead }}{{^ lead }}<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam leo odio tincidunt.</p> {{/ lead }}
      </div>
</div>
</article>