<div class="widget columna12 texto-centrado">
	<!--El diseño del marco puede variar para personalizar el tema-->
	<img style="width: 100px; border-radius: 4rem;" src="../../images/avatar-mr-600x600.jpg">
            <h5>Personaje</h5>
            <h3 class="h4">Nombre Apellido</h3>
            <article class="info sin-borde-inferior">
              <p>Quam id leo in vitae turpis. Sit amet porttitor eget dolor morbi. In eu mi bibendum neque egestas congue quisque egestas.</p>
            </article>
          </div>