
  <article class="{{# class-category }}{{class-category}}{{/ class-category }}{{^ class-category }}administracion{{/ class-category}}">
    <div class="modulo-relacionado">
      <div class="h6" ><a href="#">{{# taxonomy-1}}{{taxonomy-1}}{{/ taxonomy-1}}{{^ taxonomy-1}}REVISTA{{/ taxonomy-1}}</a></div>
      <a href="#">
         <!--Esta imagen debe ser de 500 x 305px-->
         <img src="../../images/{{# img-url }}{{img-url}}{{/ img-url }}{{^ img-url }}modulo-noticia.png{{/ img-url}}" alt="Noticia Relacionada" />
      </a>
      <time class="fecha">17 de julio de 2024</time>
      <div class="info">
         <h3 class="h4"><a href="#">{{# title}}{{title}}{{/ title}}{{^ title }}Título por defecto para este módulo{{/ title}}</a></h3>
      </div>
    </div>
  </article>

