
<article class="modulo-relacionado-secundario {{# class-category }}{{class-category}}{{/ class-category }}{{^ class-category }}administracion{{/ class-category}}" >
      <div class="columna08">
        <h5 class="texto-blanco"><a href="#">{{# title }}{{title}}{{/ title}}{{^ title }}CINEMATECA DE BOGOTA EPICENTRO CULTURAL{{/ title }}</a></h5>
        <div class="info">
          <p class="texto-blanco">{{# text }}{{text}}{{/ text }}{{^ text }}Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua{{/ text}}</p>
          <time class="fecha">{{# taxonomy-1}}{{taxonomy-1}}{{/ taxonomy-1}}{{^taxonomy-1}}REPORTAJE{{/ taxonomy-1}} | 15 de julio de 2024</time>
        </div>
          <h4><a href=""><span class="icon">
            <svg class="icon {{# icon-selector }}{{icon-selector}}{{/ icon-selector }}{{^ icon-selector }}icon-libro-03{{/ icon-selector}}"><use xlink:href="../../images/iconos.svg#{{# icon-selector }}{{icon-selector}}{{/ icon-selector }}{{^ icon-selector }}icon-libro-03{{/ icon-selector}}"></use></svg>
          </span></a></h4>
      </div>
      <div class="columna04">
        <a href="#">
        <img src="../../images/{{# img-url }}{{img-url}}{{/ img-url }}{{^ img-url }}profile.jpg{{/ img-url}}" alt="Noticia Relacionada" />
      </a>
      </div>
      <div style="clear: both"></div>
  </article>
