<div class="modulo-bases-datos">
  <div class="titulo-db">
    <h2 class="h4">ABI/Inform Complete (Dateline, Global y Trade & Industry)</h2>
  </div>
  <div class="informacion-db">
    <div class="submodulo-db descripcion">
      <div class="columna02"> <img class="aligncenter" src="../../images/db-ejemplo-img.jpg" alt="Logo de proquest"> </div>
      <div class="columna10">
        <p>Colección compuesta por ABI/INFORM Global, ABI/INFORM Comercio e Industria y ABI/INFORM Dateline, que incluye acceso a texto completo de revistas y disertaciones relacionadas con diferentes áreas como negocios, finanzas, administración y marketing, además de información sobre mercados y empresas. </p>
      </div>
    </div>
    <div class="submodulo-db">
      <div class="acceso columna05"><span>
        <svg class="icon color-icon icon-candado-02">
          <use xlink:href="../../images/iconos.svg#icon-candado-02"></use>
        </svg>
      </span> Recurso digital por suscripción</div>
      <div class="guia columna04"><a href="#"><span>
        <svg class="icon icon-libro-01">
          <use xlink:href="../../images/iconos.svg#icon-libro-01"></use>
        </svg>
      </span> Consulte aquí la guía de uso</a></div>
      <div class="consultar columna03"><a class="boton" align="right">Consultar</a> </div>
    </div>
    <div style="clear: both;"> </div>
    <div class="submodulo2-db">
      <h5 class="margen-sencillo">Convenciones</h5>
      <div class="columna03 box lateral">
        <p class="subtit-db">Facultad</p>
        <div class="info-box">
          {{> atoms-tooltip-circle(facultycolor:"administracion-de-empresas", title:"Administración de Empresas", data:"Administración de Empresas") }}
          {{> atoms-tooltip-circle(facultycolor:"administracion-de-empresas-turisticas-y-hoteleras", title:"Administración Turística", data:"Administración Turística") }}
          {{> atoms-tooltip-circle(facultycolor:"ciencias-de-la-educacion", title:"Ciencias de la Educación", data:"Ciencias de la Educación") }}
          {{> atoms-tooltip-circle(facultycolor:"ciencias-sociales-y-humanas", title:"Ciencias Sociales",data:"") }}
          {{> atoms-tooltip-circle(facultycolor:"comunicacion-social-periodismo", title:"Comunicación Social - Periodismo", data:"Comunicación Social - Periodismo") }}
          {{> atoms-tooltip-circle(facultycolor:"contaduria-publica", title:"Contaduría Pública", data:"Contaduría Pública") }}
          {{> atoms-tooltip-circle(facultycolor:"derecho", title:"Derecho", data:"Derecho") }}
          {{> atoms-tooltip-circle(facultycolor:"economia", title:"Economía", data:"Economía") }}
          {{> atoms-tooltip-circle(facultycolor:"estudios-del-patrimonio-cultural", title:"Estudios del Patrimonio Cultural", data:"Estudios del Patrimonio Cultural") }}
          {{> atoms-tooltip-circle(facultycolor:"finanzas-gobierno-y-relaciones-internacionales", title:"Finanzas, Gobierno y Relaciones Internacionales", data:"Finanzas, Gobierno y Relaciones Internacionales") }}

        </div>
      </div>
      <div class="columna03 box lateral">
        <p class="subtit-db">Área del conocimiento</p>
        <div class="info-box">
          {{> atoms-tooltip-button(text:"Admin", title:"Ciencias Administrativas, Contables, Económicas y Financieras", aria-label:"Ciencias Administrativas, Contables, Económicas y Financieras", facultycolor:"administracion-de-empresas")}}
           {{> atoms-tooltip-button(text:"Soc",title:"Ciencias Sociales y Humanas", aria-label:"Ciencias Sociales y Humanas", facultycolor:"ciencias-sociales-y-humanas")}}
          {{> atoms-tooltip-button(text:"Com", title:"Comunicación e Información", aria-label:"Comunicación e Información", facultycolor:"comunicacion-social-periodismo")}}
          {{> atoms-tooltip-button(text:"Der", title:"Derecho", aria-label:"Derecho", facultycolor:"derecho")}}
          {{> atoms-tooltip-button(text:"Mul", title:"Multidisciplinar: contenido sobre varias disciplinas", aria-label:"Multidisciplinar: contenido sobre varias disciplinas", facultycolor:"default")}}
        </div>

      </div>
      <div class="columna03 box lateral">
        <p class="subtit-db">Tipo de perfil</p>
        <div class="info-box">
          {{> atoms-tooltip-button(text:"Activos", title:"Estudiantes, Docentes, Investigadores, Administrativos", aria-label:"Activos", facultycolor:"defecto") }}
      
          {{> atoms-tooltip-button(text:"Egresados", title:"", aria-label:"Egresados", facultycolor:"defecto sin-tootip")}}
        </div>

      </div>
      <div class="columna03 box">
        <p class="subtit-db">Tipo de recurso</p>
        <div class="info-box">
          {{> atoms-tooltip-icon(icon-selector:"icon-libro-03", title:"eBook: libros digitales", data:"eBook: libros digitales") }}
          {{> atoms-tooltip-icon(icon-selector:"icon-articulo", title:"Revista: boletines, magacines, journals y periódicos", data:"Revista: boletines, magacines, journals y periódicos") }}
          {{> atoms-tooltip-icon(icon-selector:"icon-pelicula-02", title:"Audiovisual: videos, audios e imágenes", data:"Audiovisual: videos, audios e imágenes") }}
          {{> atoms-tooltip-icon(icon-selector:"icon-utilidades", title:"Información Jurídica: jurisprudencia y legislación", data:"Información Jurídica: jurisprudencia y legislación") }}
          {{> atoms-tooltip-icon(icon-selector:"icon-gafas-3d", title:"Referencial: provee referencias bibliográficas", data:"Referencial: provee referencias bibliográficas") }}   
        </div>
      </div>
    </div>
  </div>
</div>