<div class="modulo-bases-datos">
  <div class="titulo-db">
    <div  class="entidad-tit h6">Entidad</div>
    <h4>Título</h4>
  </div>
  <div class="informacion-db">
      <div class="submodulo2-db">
        <div class="columnas-alto-fijo">
          <!--Cada DIV se puede deshabilitar con display: none; en caso de que el campo no esté diligenciado-->
        <div class="columna04 box field">
          <p class="subtit-db">Fecha</p>
          <p>mm/dd/yyyy</p>
        </div>
        <div class="columna04 box field">
          <p class="subtit-db">Materia</p>
          <p>Registro de las GM, Inscripción de formularios de registro</p>
        </div>
        <div class="columna04 box field">
          <p class="subtit-db">Jurisprudencia</p>
          <p>Sentencias</p>
        </div>
        <div class="columna04 box field">
          <p class="subtit-db">Legislación</p>
          <p>Resoluciones</p>
        </div>
        <div class="columna04 box field">
          <p class="subtit-db">Doctrina</p>
          <p>Libro</p>
        </div>
        <div class="columna04 box field">
          <p class="subtit-db">Entidades Públicas</p>
          <p>Decisiones Administrativas</p>
        </div>
        <div class="columna04 box field">
          <p class="subtit-db">Entidades Privadas</p>
          <p>Nombre</p>
        </div>
        <div class="columna04 box field">
          <p class="subtit-db">Organismos Internacionales</p>
          <p>Nombre</p>
        </div> 
         </div> 
      </div> 
<div class="consultar"><p style="text-align: right;"><a class="boton">Descargar</a> </p></div>

  </div>
</div>