<div class="modulo-bases-datos"> 
  
  <div class="titulo-db">
    <h6 class="facultad-profesores {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">{{^ nom-faculty }}Nombre de la Facultad o Área{{/ nom-faculty }}
{{# nom-faculty }}{{nom-faculty}}{{/ nom-faculty }} </h6>
    <h4>Nombre del experto</h4>
  </div>
  <div class="informacion-db">
      <div class="submodulo2-db">
        <div class="columna12 fila-info-repositorio columnas-alto-fijo">
        <div class="columna06 box lateral">
          <p class="subtit-db"> <span><svg class="icon icon-marca-libros"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-marca-libros"></use></svg></span>  Área, Departamento o Centro de investigación</p>
          <p>Departamento de Mercadeo</p>
        </div>
        <div class="columna06 box lateral2">
          <p class="subtit-db"><span><svg class="icon icon-identificacion"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-identificacion"></use></svg></span>  Cargo</p>
          <p>Docente del Departamento de Mercadeo</p>
        </div>
        </div>
           <div class="columna12 fila-info-repositorio columnas-alto-fijo">
            <div class="columna06 box lateral">
             <p class="subtit-db"><span><svg class="icon icon-telefono"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-telefono"></use></svg></span>  Teléfono</p>
             <p>3419900 ext.: 2301</p>
            </div> 
            <div class="columna06 box lateral2">
              <p class="subtit-db"><span><svg class="icon icon-correo"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-correo"></use></svg></span>  Email</p>
              <p>juan.florez@uexternado.edu.co</p>
            </div>

           </div>
        <div class="columna12 fila-info-repositorio columnas-alto-fijo">
        <div class="columna12 box lateral2">
          <p class="subtit-db"><span><svg class="icon icon-articulo"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-articulo"></use></svg></span>  Perfil </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel faucibus mi, ut volutpat odio. In hac habitasse platea dictumst. Nullam ut dolor sed libero eleifend dignissim. Aliquam erat volutpat. Vivamus ex sapien, interdum vel tincidunt sit amet, vulputate ac enim. Nam velit metus, pretium a urna quis, dignissim efficitur nulla. Ut urna mauris, hendrerit a felis vitae, eleifend iaculis sapien. Pellentesque sodales diam id sem egestas pretium.</p>
        </div>
        
         </div>
       <div class="columna12 columnas-alto-fijo">
        <div class="columna12 box lateral2">
          <p class="subtit-db">  <span><svg class="icon icon-etiquetas"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-etiquetas"></use></svg></span> Temas</p>
            <div class="tags">
            <ul>
              <li><button >Actualidad</button></li>
              <li><button >Marketing</button></li>
              <li><button >Ruta Docente Digital</button></li>
            </ul>
            </div>
        </div>
         </div> 
      </div> 

  </div>
</div>