<div class="modulo-bases-datos"> 
  
  <div class="titulo-db">
   <div class="columnas-alto-fijo">
    <div class="columna08"><h6 class="facultad-profesores {{^ class-category }}defecto{{/ class-category }}{{# class-category }}{{class-category}}{{/ class-category }}">{{^ nom-category }}Categoría{{/ nom-category }}
{{# nom-category }}{{nom-category}}{{/ nom-category }} </h6></div>
    <div class="columna04"><p class="box-fecha">{{> atoms-date}}</p></div>
    </div>
    <h4 class="columna12">Título</h4>
  </div>
  <div class="informacion-db">
      <div class="submodulo2-db">
         
        <div class="columna12 fila-info-repositorio columnas-alto-fijo">
        <div class="columna12 box lateral2">
          <p class="subtit-db"><span><svg class="icon icon-articulo"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-articulo"></use></svg></span>  Descripción </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel faucibus mi, ut volutpat odio. In hac habitasse platea dictumst. Nullam ut dolor sed libero eleifend dignissim. Aliquam erat volutpat. Vivamus ex sapien, interdum vel tincidunt sit amet, vulputate ac enim. Nam velit metus, pretium a urna quis, dignissim efficitur nulla. Ut urna mauris, hendrerit a felis vitae, eleifend iaculis sapien. Pellentesque sodales diam id sem egestas pretium.</p>
        </div>
        
         </div>
           <div class="columna12 fila-info-repositorio columnas-alto-fijo">
            <div class="columna06 box lateral">
             <p class="subtit-db"><span><svg class="icon icon-telefono"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-telefono"></use></svg></span>  Información de contacto</p>
             <p>Tel: 3419900 ext.: 2301</p>
            </div> 
            <div class="columna06 box lateral2">
              <p class="subtit-db"><span><svg class="icon icon-usuario"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-usuario"></use></svg></span>  Publicado por</p>
              <p>Nombre</p>
              <p>correo.electrónico@uexternado.edu.co</p>
            </div>

           </div>
      </div> 

  </div>
</div>