<div class="modulo-bases-datos">
  <div class="titulo-db">
     {{> atoms-date }}   
    <h4>Nombre del pódcast</h4>
  </div>
  <div class="columna04 informacion-db">
    <div class="submodulo-db sin-borde-inferior columnas-alto-fijo">
      <!--imagen destacada-->
      <img class="image-podcast" src="../../images/img-400x400px.jpg" alt="" />
      <div class="lead-podcast acceso">
        <p class="subtit-db">Sinopsis:</p>
        <!--lead de la página-->
        <p>Lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
    </div>
    </div> 
  </div>
  <div class="columna08 informacion-db">
    <div class="submodulo-db">
        <!--la class spreaker-iframe debe ir en los iframe de spreaker para deshabilitar la imagen y el llamado al iframe debería hacerse unicamente por el id del episodio para que no cambie la presentación de iframe-->
        <iframe class="iframe-spreaker" src="https://widget.spreaker.com/player?episode_id=22736313&theme=light&playlist=false&playlist-continuous=false&autoplay=false&live-autoplay=false&chapters-image=false&episode_image_position=right&hide-logo=true&hide-likes=false&hide-comments=false&hide-sharing=false&hide-download=false&cover_image_url=https%3A%2F%2Fd3wo5wojvuv7l.cloudfront.net%2Fimages.spreaker.com%2Foriginal%2F9ef8e47ccb7abffcadca8372c23a61f6.jpg&color=cacaca" width="100%" height="150px" frameborder="0"></iframe>
      </div>
      <div class="submodulo-db sin-borde-inferior ">
        <div class="acceso columna06">
           <!--Cada DIV se debe deshabilitar con display: none; en caso de que el campo no esté diligenciado-->
          <p class="subtit-db"><span><svg class="icon color-icon icon-voz"><use xlink:href="../../images/iconos.svg#icon-voz"></use></svg></span>Entrevistador(a)(s)(es):</p>
          <div class="autor">
            <a href="#">Nombre del Entrevistador</a><a href="#">Juan José Medina Arismendi</a><a href="#">Paula Andrea Vallejo Ríos</a>
            </div>
          </div>
           <!--Cada DIV se debe deshabilitar con display: none; en caso de que el campo no esté diligenciado-->
        <div class="guia columna06"><p class="subtit-db"><span><svg class="icon color-icon icon-hombre-mujer"><use xlink:href="../../images/iconos.svg#icon-hombre-mujer"></use></svg></span>Invitado(a)(s):</p>
          <div class="autor">
            <a href="#">Nombre del Invitado</a><a href="#">Alejandro Sandoval Hernández</a>
            </div>
        </div>
      </div>
    <div class="submodulo2-db">
      <div class="columnas-alto-fijo">
        <!--Campo obligatirio-->
        <div class="columna06 box field">
          <p class="subtit-db">Categoría</p>
          <div class="tags">
            <ul>
              <li><a href="">Coyuntura</a></li>
              <li>Homenaje</li>
            </ul>
            </div>
        </div>
        <!--Campo obligatirio-->
        <div class="columna06 box field">
          <p class="subtit-db">Materia</p>
          <div class="tags">
            <ul>
              <li><a href="">Aduanero</a></li>
              <li>TICS</li>
            </ul>
            </div>
        </div>
        <!--Cada DIV se debe deshabilitar con display: none; en caso de que el campo no esté diligenciado-->
        <div class="columna12 box field">
           <p class="subtit-db">  <span><svg class="icon icon-etiquetas"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-etiquetas"></use></svg></span> Palabras clave</p>
            <div class="tags">
            <ul>
              <li><a href="">Política criminal</a></li>
              <li><a href="">Reparación de víctimas</a></li>
              <li><a href="">Fuentes de las obligaciones</a></li>
            </ul>
            </div>
        </div>
         </div> 
      </div>
       
  </div>

    <div style="clear: both"></div>
 
</div>