<section class="visitenos">
  <div class="h4">Visite la Universidad</div>
  <img src="../../images/visitenos.jpg" alt="Campus Externado" class="foto-derecha" />
  <ul>
    <li><a href="#">Rutas de acceso</a></li>
    <li><a href="#">Parqueaderos</a></li>
    <li><a href="#">Mapa del campus</a></li>
  </ul>
</section>
