<div class="modulo-bases-datos">
<div class="titulo-db">
  <div class="columnas-alto-fijo centrar-texto">
    <div class="columna12">
      <h6 class="facultad-profesores {{^ class-category }}defecto{{/ class-category }}{{# class-category }}{{class-category}}{{/ class-category }}">{{^ nom-category }}Vol. 18 Núm. 2 (2019){{/ nom-category }}
        {{# nom-category }}{{nom-category}}{{/ nom-category }} </h6>
    </div>
  </div>
  <h4 class="columna12">Título</h4>
  <p class="columna12"><em>Título en Inglés</em></p>
</div>
<!--Cada DIV se debe deshabilitar con display: none; en caso de que el campo no esté diligenciado-->
<div  class="informacion-db">
  <div class="submodulo2-db">
    <div class="columnas-alto-fijo">
      <div class="columna09 field box-padding">
        <p class="subtit-db"><span>
          <svg class="icon icon-usuario">
            <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-usuario"></use>
          </svg>
          </span>Autor(es)</p>
        <div class="autor"> <a href="#">Nombre del autor</a><a href="#">Juan José Medina Arismendi</a><a href="#">Paula Andrea Vallejo Ríos</a> </div>
      </div>
      <div class="columna03 columnas-alto-fijo centrar-horizontalmente centrar-flex">
        <a class="boton" href="">Descargar</a>

      </div>
          <div class="columna06 field box-padding">
        <p class="subtit-db"><span>
          <svg class="icon icon-correo">
            <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-correo"></use>
          </svg>
          </span>Correo</p>
        <div class="autor"><p>monica.santamaria01@est.uexternado.edu.co</p></div>
      </div>
       <div class="columna06 field box-padding">
        <p class="subtit-db"><span>
          <svg class="icon icon-globo-02">
            <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-globo-02"></use>
          </svg>
          </span>Idioma</p>
                <div class="tags">
          <ul>
            <li>Español</li>
            <li>Inglés</li>

          </ul>
        </div>
      </div>
      <div class="columna12 box field">
        <p class="subtit-db"><span>
          <svg class="icon icon-articulo">
            <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-articulo"></use>
          </svg>
          </span> Comentario / Abstract:</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel faucibus mi, ut volutpat odio. In hac habitasse platea dictumst. Nullam ut dolor sed libero eleifend dignissim. Aliquam erat volutpat. Vivamus ex sapien, interdum vel tincidunt sit amet, vulputate ac enim. Nam velit metus, pretium a urna quis, dignissim efficitur nulla. Ut urna mauris, hendrerit a felis vitae, eleifend iaculis sapien. Pellentesque sodales diam id sem egestas pretium.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel faucibus mi, ut volutpat odio. In hac habitasse platea dictumst. Nullam ut dolor sed libero eleifend dignissim. Aliquam erat volutpat. Vivamus ex sapien, interdum vel tincidunt sit amet, vulputate ac enim. Nam velit metus, pretium a urna quis, dignissim efficitur nulla. Ut urna mauris, hendrerit a felis vitae, eleifend iaculis sapien. Pellentesque sodales diam id sem egestas pretium.</p>
      </div>
      <div class="columna12 field box-padding">
        <p class="subtit-db"> <span>
          <svg class="icon icon-etiquetas">
            <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-etiquetas"></use>
          </svg>
          </span> Palabras clave /  Keywords</p>
        <div class="tags">
          <ul>
            <li>Directiva 85/374/CEE del Consejo</li>
            <li>Responsabilidad por productos defectuosos</li>
            <li>Regulación en Europa</li>
            <li>Contrato de agencia comercial</li>
            <li>Responsabilidad</li>
          </ul>
        </div>
        <hr>
                <div class="tags">
          <ul>
            <li>Council Directive 85/374/EEC</li>
            <li>Liability for defective products</li>
            <li>Europe regulation</li>
            <li>Contrato de agencia comercial</li>
            <li>Responsabilidad</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
