<div class="modulo-programa columnas-alto-fijo">
  <div class="columna12 facultad">
    <div class="h6 {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}"><span>{{^ name-faculty }}Facultad{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</span></div> 
    <div class="h6 {{^ class-faculty2 }}hidden0{{/ class-faculty2 }}{{# class-faculty2 }}{{class-faculty2}}{{/ class-faculty2 }}"><span>{{^ name-faculty2 }}Facultad 2{{/ name-faculty2 }}{{# name-faculty2 }}{{name-faculty2}}{{/ name-faculty2 }}</span></div> <div class="h6 {{^ class-faculty3 }}hidden0{{/ class-faculty3 }}{{# class-faculty3 }}{{class-faculty3}}{{/ class-faculty3 }}"><span>{{^ name-faculty3 }}Facultad 3{{/ name-faculty3 }}{{# name-faculty3 }}{{name-faculty3}}{{/ name-faculty3 }}</span></div> 
 </div>
  <div class="columna02 thumb"> <img  src="../../images/db-ejemplo-img2.jpeg" alt="Logo de proquest"> </div>
  <div  class="columna10">
    <div class="titulo-acordeon">
      <h2 class="h4">Título</h2>
    </div>
    <div class="submodulo-programa">
      <div class="programa-filtro">
        <p class="columna08">
          <svg class="icon icon-calendario-02">
            <use xlink:href="../../images/iconos.svg#icon-calendario-02"></use>
          </svg>
          <strong class="margen-izquierdo">Fecha:</strong> <span>10 de agosto de 2021 </span> </p>
      </div>
      <a class="boton">Descargar</a> </div>
  </div>
</div>
