<article class="event-card event-list-module defecto {{^ class-faculty }}defecto{{/ class-faculty }}{{# class-faculty }}{{class-faculty}}{{/ class-faculty }}">

  <div class="fecha-evento">
        <div class="fondo">
         <span>26 Abr</span><!--dia-evento-->
          <span>/2022</span><!--mes-evento-->
        </div>
      </div>
  <section class="content-evento">
    <div class="columna07 imagen-cuadrada-event"> 
       {{> atoms-iframe }}
  </div>

  <div class="columna05 info">
    <div class="h6"><a href="#">{{^ name-faculty }}Materia{{/ name-faculty }}{{# name-faculty }}{{name-faculty}}{{/ name-faculty }}</a></div>
    <h3 class="h5"><a href="#">Título del evento</a></h3>
    <p>Hora: 8:30 a.m.</p>
    <p>Lugar: Calle 21 No. 9 – 50 Casa Hijas de la Iglesia. </p>
  </div>
  </section>
  <div class="faculty-color">
  </div>
</article>

