<div class="modulo-bases-datos">
    <div class="titulo-db">
       <h4>Título (nombre del recurso)</h4>
    </div>
    <div class="columna12 informacion-db">
       <div class="columna02 thumb"> <img  src="../../images/db-ejemplo-img2.jpeg" alt="Logo de proquest"> </div>
       <div class="columna10">
          <p class="subtit-db">
             <span>
                <svg class="icon icon-articulo">
                   <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-articulo"></use>
                </svg>
             </span>
             Descripción del recurso:
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel faucibus mi, ut volutpat odio. In hac habitasse platea dictumst. Nullam ut dolor sed libero eleifend dignissim. Aliquam erat volutpat. Vivamus ex sapien, interdum vel tincidunt sit amet, vulputate ac enim.</p>
       </div>
    </div>
    <div class="informacion-db">
       <div class="submodulo2-db">
          <div class="columna12 box field">
             <p class="subtit-db">
                <span>
                   <svg class="icon icon-hombre-mujer">
                      <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-hombre-mujer"></use>
                   </svg>
                </span>
                Autores

             </p>
             <div class="autor"> <a href="#">Nombres</a></div>
          </div>
          <div style="clear:both;"></div>
          <div class="columnas-alto-fijo">
             <div class="columna06 box field">
                <p class="subtit-db">
                   <span>
                      <svg class="icon icon-comunidad">
                         <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-comunidad"></use>
                      </svg>
                   </span> Categoría de investigación</p>
                <p>Nombre de la categoría</p>
                  <p class="subtit-db">
                   <span>
                      <svg class="icon icon-bandera-01">
                         <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-bandera-01"></use>
                      </svg>
                   </span> Área de análisis</p>
                <p>Territorio</p>
             </div>
             <div class="columna06 box field">
                <p class="subtit-db">
                   <span>
                      <svg class="icon icon-calendario-02">
                         <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-calendario-02"></use>
                      </svg>
                   </span> Fecha</p>
                <p>mm/dd/yyyy</p>
                  <p class="subtit-db">
                   <span>
                      <svg class="icon icon-pin-locacion">
                         <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-pin-locacion"></use>
                      </svg>
                   </span> Lugar</p>
                <p>Ciudad / Municipio</p>
             </div>
          </div>
          <div style="clear:both;"></div>
             <div class="columna12 box field">
                <p class="subtit-db">
                   <span>
                      <svg class="icon icon-etiquetas">
                         <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-etiquetas"></use>
                      </svg>
                   </span>
                   Palabras clave
                </p>
                <div class="tags">
                   <ul>
                      <li><a href="#">CEPESS</a></li>
                   </ul>
                </div>
             </div>
          <div style="clear:both;"></div>
          <div class="columnas-alto-fijo">
             <div class="columna06 box field">
                <p class="subtit-db">Tipo de recurso</p>
                <p>
                   <span class="icon-category-color defecto">
                      <svg class="icon icon-documento">
                         <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-documento"></use>
                      </svg>
                   </span>
                   Documento
                </p>
             </div>
             <div class="columna06 box field">
                <p class="subtit-db">
                   <span>
                      <svg class="icon icon-carpeta">
                         <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-carpeta"></use>
                      </svg>
                   </span>
                   Periodo académico
                </p>
                <p>2023-2</p>
             </div>
          </div>
       </div>
    </div>
    <div class="consultar">
       <p style="text-align: right;"><a  class="boton" href="#" target="_blank">Consultar</a> </p>
    </div>
</div>