<article class="modulo-bases-datos modulo-noticia info">
  <h4><a href="#">{{# title }}{{title}}{{/ title }}{{^ title }}Visita de las Naciones Unidas a Ucrania{{/ title}}</a></h3>
  <h6 class="fecha">2 de mayo de 2022</h4>
  <div class="columna12 informacion-db">
    <div class="submodulo-db">
      <p class="subtit-db"> <strong>Resumen</strong></p>
      <p>(máximo 700 caracteres) Sit amet, consectetur adipiscing elit. Praesent nec sollicitudin lectus. Proin ullamcorper lobortis tincidunt. Aenean accumsan convallis nisi, nec ullamcorper lorem auctor id. Cras dictum feugiat euismod. Sed ac mi non mi accumsan dignissim. Quisque eu quam bibendum, malesuada metus et, tempus turpis. Vestibulum lectus quam, elementum non enim ac, dictum luctus libero. Sed interdum eros est. Vivamus odio eros, faucibus a interdum eget, molestie sit amet purus. Pellentesque interdum tempor tincidunt. Aenean vehicula aliquet ullamcorper. Sed eget finibus erat, non molestie erat. Phasellus volutpat justo a auctor lacinia. Mauris sed enim sit amet turpis dapibus semper eget. </p>
    </div>
    <div class="submodulo-db">
      <p class="guia"><a href="#"><span>
        <svg class="icon color-icon icon-link">
          <use xlink:href="../../images/iconos.svg#icon-link"></use>
        </svg>
        </span> https://a.eprensa.com/view_pdf.php?sid=11831&amp;cid=670862855</a></p>
    </div>
  </div>
  <div class="columna12 informacion-db">
    <div class="submodulo-db">
      <p><b class="subtit-db" style="display: block;">Etiquetas:</b> Mención de la docente María Teresa Aya.</p>
      <div class="doc-lib-meta">
        <div class="columna04 margin-none"><b class="subtit-db">Medio:</b> <a href="#" rel="tag">Radio</a> </div>
        <div class="columna04  margin-none"><b class="subtit-db">Nombre del medio:</b> <a href="#" rel="tag">Blu Radio</a> </div>
        <div class="columna04  margin-none"><b class="subtit-db">Sección:</b> <a href="#" rel="tag">Internacional</a> </div>
      </div>
    </div>
  </div>
  <div class="columna12 informacion-db">
    <div class="submodulo-db"> <a class="boton" href="#" title="Title">Descargar</a> </div>
  </div>
</article>
