<div class="modulo-bases-datos">
  <div class="titulo-db">
    <h4>Título</h4>
  </div>
  <div class="informacion-db">
      <div class="submodulo2-db">
        <div class="columnas-alto-fijo">
          <!--Cada DIV se puede deshabilitar con display: none; en caso de que el campo no esté diligenciado-->
        <div class="columna06 box field">
          <p class="subtit-db"><span><svg class="icon icon-marca-libros"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-marca-libros"></use></svg></span> Norma demandada: </p>
           <div class="autor">
            <a href="">Nombre</a>
          </div>
        </div> 
        <div class="columna06 box field">
          <p class="subtit-db"><span><svg class="icon icon-calendario-02"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-calendario-02"></use></svg></span> Fecha</p>
          <p>mm/dd/yyyy</p>
        </div>
        <div class="columna06 box field">
          <p class="subtit-db"><span><svg class="icon icon-carpeta"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-carpeta"></use></svg></span> Tema de la demanda:</p>
          <p>Extracto de máximo 130 carácteres, consectetur adipiscing elit. Aliquam vestibulum dolor quis dolor elementum ultrices ac et sem. Nam ut.</p>
        </div>
        <div class="columna06 field">
        <p class="subtit-db"><span>
          <svg class="icon icon-hombre-mujer">
            <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-hombre-mujer"></use>
          </svg>
          </span>Docentes participantes</p>
        <div class="autor"> <a href="#">Nombre del autor</a><a href="#">Juan José Medina Arismendi</a><a href="#">Paula Andrea Vallejo Ríos</a> </div>
      </div>
        <div class="columna12 box field">
           <p class="subtit-db">  <span><svg class="icon icon-etiquetas"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-etiquetas"></use></svg></span> Referencia del proceso:</p>
            <div class="tags">
            <ul>
              <li><a href="">Constitucionalidad</a></li>
              <li><a href="">Tutela</a></li>
              <li><a href="">Conflicto de jurisdicción</a></li>
              <li><a href="">Ley aprobatoria de tratado</a></li>
            </ul>
            </div>
        </div>
      </div> 
    </div> 
    <div class="consultar"><p style="text-align: right;"><a class="boton">Más información <span><svg class="icon icon-derecha"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-derecha"></use></svg></span></a> </p></div>

  </div>
</div>