<div class="programs">
    <div class="info">
      <div class="tabs" id="tab-font">
        {{> atoms-tab(text:"Perfil", id:"tab1", active:"true")}}
        {{> atoms-tab(text:"Investigación", id:"tab2")}}
        {{> atoms-tab(text:"Publicaciones", id:"tab3")}}
        {{> atoms-tab(text:"Áreas de interés", id:"tab4")}}
      </div>
      <div class="links">
        <div class="section texto"> 
      <a href="" class="title">Perfil</a>
      <div class="box centrar active tab1 ">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis placerat magna sed sodales. Integer sed sem et velit tincidunt vehicula sed vel nisi. Nullam sed tincidunt enim. Donec quis quam eget sapien dictum malesuada. Donec venenatis ultricies rhoncus. Nam tempus volutpat turpis.</p>

        <h4>Experiencia académica</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis placerat magna sed sodales. Integer sed sem et velit tincidunt vehicula sed vel nisi. Nullam sed tincidunt enim. Donec quis quam eget sapien dictum malesuada. Donec venenatis ultricies rhoncus. Nam tempus volutpat turpis, sit amet sollicitudin tortor tincidunt ut. Pellentesque hendrerit lorem eget orci pharetra eleifend. Nunc malesuada nisl vel justo tincidunt, et mattis urna pulvinar. Vestibulum porta lectus dolor, ut ultrices nulla congue vitae. Donec in enim eget nulla tincidunt malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
        <h4>Experiencia profesional</h4>
         <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis placerat magna sed sodales. Integer sed sem et velit tincidunt vehicula sed vel nisi. Nullam sed tincidunt enim. Donec quis quam eget sapien dictum malesuada. Donec venenatis ultricies rhoncus. Nam tempus volutpat turpis, sit amet sollicitudin tortor tincidunt ut. Pellentesque hendrerit lorem eget orci pharetra eleifend. Nunc malesuada nisl vel justo tincidunt, et mattis urna pulvinar. Vestibulum porta lectus dolor, ut ultrices nulla congue vitae. Donec in enim eget nulla tincidunt malesuada. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
        <div class="section texto"> 
      <a href="" class="title">Investigación</a>
      <div class="box centrar  tab2 ">
        <p>Mis intereses de investigación y dirección de trabajos de grado giran en torno a lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras facilisis placerat magna sed sodales. </p>
        <h4> Grupos de investigación</h4>
        <ul><li><a href="#">Nombre grupo</a></li>
            <li><a href="#">Nombre grupo</a></li></ul>
        <h4>  Líneas de investigación</h4>
        <ul><li><a href="#">Nombre de la línea</a></li>
            <li><a href="#">Nombre de la línea</a></li></ul>
        <h4>  Proyectos de investigación</h4>
        <ul><li><a href="#">Título de proyecto</a></li>
            <li><a href="#">Título de proyecto</a></li></ul>
        </div>
  </div>
        <div class="section texto"> 
      <a href="" class="title">Publicaciones</a>
      <div class="box centrar tab3 ">
        <section class="blanco border-radius-m padding-minimo">
            <h6>Capítulo</h6>
            <h5  class="margin-s">Título</h5>
            <strong>Fecha de publicación:</strong> 2022
            <p>Descripción</p>
            {{> atoms-button(text:"Ver publicación")}}
        </section>
        <section class="blanco border-radius-m padding-minimo margin-s">
            <h6>Artículo</h6>
            <h5 class="margin-s">Título</h5>
            <strong>Fecha de publicación:</strong> 2019
            <p>Descripción</p>
            {{> atoms-button(text:"Ver publicación")}}
        </section>
        <section class="blanco border-radius-m padding-minimo">
            <h6>Libro</h6>
            <h5  class="margin-s">Título</h5>
            <strong>Fecha de publicación:</strong> 2018
            <p>Descripción</p>
            {{> atoms-button(text:"Ver publicación")}}
        </section>
      
    
</div>
  </div>
        <div class="section texto"> 
      <a href="" class="title">Áreas de interés</a>
      <div class="box centrar  tab4 ">
       <ul>
        <li>Seguridad</li>
        <li>Violencia</li>
        <li>Paz</li>
        <li>Delincuencia</li>
        <li>Seguridad del estado</li>
        <li>Seguridad humana</li>
       </ul>


      </div>
  </div>

      </div>
    </div>
  </div>