<div class="modulo-bases-datos">
  <div class="titulo-db">
    <h4>Frontera Colombo-Venezolana</h4>
  </div>
  <div class="columna12 informacion-db">
    <div class="columna02 thumb"> <img  src="../../images/db-ejemplo-img2.jpeg" alt="Logo de proquest"> </div>
    <div class="columna10">
      <p class="subtit-db"><span>
        <svg class="icon icon-articulo">
          <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-articulo"></use>
        </svg>
        </span>Resumen del proyecto:</p>
      <p>En el estado del arte sobre la frontera entre Colombia y Venezuela muy pocos estudios se han ocupado de comprender este espacio fronterizo en tanto entidad espacio-temporal, donde existe una tensión permanente entre una multiplicidad de territorialidades multiescalares. En el marco de esta aproximación, el proyecto de investigación tiene como fin Analizar mediante estudios de caso el espacio fronterizo colombo-venezolano, como una entidad espacio-temporal y de territorialidades múltiples, en la cual las interacciones multidimensionales (de tipo diplomático, cultural, socio-económico, de seguridad, movilidad y de convivencia) han oscilado entre condiciones de amistad/cooperación y rivalidad/hostilidad tanto en el pasado como en el presente. El carácter relacional y multiescalar de la frontera, permitirá relativizar la condición de crisis con la que suele calificarse esta frontera e indagar por las formas de convivencia, amistad, cooperación que han perdurado en el tiempo. </p>
    </div>
  </div>
  <div class="informacion-db">
    <div class="submodulo2-db">
      <div style="clear:both;"></div>
      <div class="columnas-alto-fijo"> 
        <!--Cada DIV se puede deshabilitar con display: none; en caso de que el campo no esté diligenciado-->
        <div class="columna06 box field">
          <p class="subtit-db"><span>
            <svg class="icon icon-ojo">
              <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-ojo"></use>
            </svg>
            </span> Observatorio</p>
          <p>OASIS </p>
          <p class="subtit-db"><span>
            <svg class="icon icon-codigo-barras">
              <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-codigo-barras"></use>
            </svg>
            </span> Código</p>
          <p>OAG1</p>
          <p class="subtit-db"><span>
            <svg class="icon icon-lupa">
              <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-lupa"></use>
            </svg>
            </span> Tipo de proyecto</p>
          <p>Grupal</p>
        </div>
        <div class="columna06 box field">
          <p class="subtit-db"><span>
            <svg class="icon icon-hombre-mujer">
              <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-hombre-mujer"></use>
            </svg>
            </span> Investigador/a principal</p>
          <div class="autor"> <a href="#">Aneta De La Mar Ikonomova Gueorguieva</a></div>
          <p class="subtit-db"><span>
            <svg class="icon icon-usuarios-02">
              <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-usuarios-02"></use>
            </svg>
            </span> Co-Investigador/a</p>
          <div class="autor"> <a href="#">Maria Teresa Clemencia</a><a href="#">Dora Aya Smitmans</a><a href="#">Irene Alejandra Cabrera Nossa</a><a href="#">Diego Jaramillo Mutis</a><a href="#">Eduardo Bechara Gómez<br></a></div>
        </div>
        <div class="columna12 field box-padding">
        <p class="subtit-db"> <span>
          <svg class="icon icon-etiquetas">
            <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-etiquetas"></use>
          </svg>
          </span> Palabras clave UNESCO</p>
        <div class="tags">
          <ul>
            <li><a href="#">Colombia</a></li>
            <li><a href="#">Venezuela</a></li>
            <li><a href="#">Frontera</a></li>
            <li><a href="#">Migraciones</a></li>
            <li><a href="#">Conflicto</a></li>
          </ul>
        </div>
      </div>
        <div class="columna06 box field">
          <p class="subtit-db"><span>
            <svg class="icon icon-publicaciones">
              <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-publicaciones"></use>
            </svg>
            </span> Línea de investigación</p>
          <p>Estudios Regionales </p>
          <p class="subtit-db"><span>
            <svg class="icon icon-documento">
              <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-documento"></use>
            </svg>
            </span> Alineación con ODS</p>
          <p>Ninguno </p>
        </div>
        <div class="columna06 box field">
          <p class="subtit-db"><span>
            <svg class="icon icon-calendario-02">
              <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-calendario-02"></use>
            </svg>
            </span> Fecha de inicio</p>
          <p>04/05/2020</p>
          <p class="subtit-db"><span>
            <svg class="icon icon-calendario-02">
              <use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-calendario-02"></use>
            </svg>
            </span> Fecha de cierre</p>
          <p>12/31/2022</p>
        </div>
      </div>
    </div>
  </div>
</div>
