<div class="columna12">
  <div class="modulo-bases-datos filtro" id="source-695943">
    <div class="titulo-db titulo-acordeon">
      <a role="button" data-toggle="collapse" href="#perfil-695943" aria-controls="perfil-695943" class="collapsed" aria-expanded="false">
        <div class="h4">Artículo 15. Cláusula general o residual de competencia</div>
      </a>
    </div>
    <div id="perfil-695943" role="tabpanel" class="informacion-db info collapse" aria-expanded="false" aria-labelledby="perfil-695943" style="height: 0px;">
      <div class="submodulo2-db">
        <div class="columnas-alto-fijo">
          <!--Cada DIV se puede deshabilitar con display: none; en caso de que el campo no esté diligenciado-->
          <div class="columna06 box field">
            <p class="subtit-db"><span><svg class="icon icon-libro-01"><use xlink:href="../../images/iconos.svg#icon-libro-01"></use></svg></span> Libro:</p>
             <div class="autor">
              <a href="">Libro primero. Sujetos del proceso</a>
            </div>
          </div> 
          <div class="columna06 box field">
            <p class="subtit-db"><span><svg class="icon icon-marca-libros"><use xlink:href="../../images/iconos.svg#icon-marca-libros"></use></svg></span> Sección:</p>
            <p>Sección primera. Órganos judiciales y sus auxiliares</p>
          </div>
          <div class="columna06 box field">
            <p class="subtit-db"><span><svg class="icon icon-carpeta"><use xlink:href="../../images/iconos.svg#icon-carpeta"></use></svg></span> Título:</p>
            <p>Título I. Jurisdicción y competencia</p>
          </div>
          <div class="columna06 box field">
            <p class="subtit-db"><span><svg class="icon icon-libro-03"><use xlink:href="../../images/iconos.svg#icon-libro-03"></use></svg></span> Capítulo:</p>
            <p>Capítulo I. Competencia</p>
          </div>
          <div class="columna12 box field">
             <p class="subtit-db"><span><svg class="icon icon-llenado-automatico"><use xlink:href="../../images/iconos.svg#icon-llenado-automatico"></use></svg></span> Texto del artículo:</p>
            <p>Corresponde a la jurisdicción ordinaria, el conocimiento de todo asunto que no esté atribuido expresamente por la ley a otra jurisdicción. Corresponde a la jurisdicción ordinaria en su especialidad civil, el conocimiento de todo asunto que no esté atribuido expresamente por la ley a otra especialidad jurisdiccional ordinaria. 3 Corresponde a los jueces civiles del circuito todo asunto que no esté atribuido expresamente por la ley a otro juez civil.</p>
          </div>
          <div class="columna12 box field" style="background-color: #C7D6DB;">
            <p class="subtit-db"><span><svg class="icon icon-articulo"><use xlink:href="../../images/iconos.svg#icon-articulo"></use></svg></span> Comentario:</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit (1). Nulla odio amet ipsum voluptatum rem, repudiandae, molestiae unde iure illum (2) Reprehenderit asperiores, voluptates ea. Blanditiis alias officia eius quidem quo velit!

            Repudiandae magni quae enim, provident? Sapiente porro repudiandae quam facilis ullam (3). Doloremque error maxime! Perferendis laboriosam porro nam maxime voluptas quis quod sapiente accusamus.</p> 
          </div>
          <div class="columna12 box field">
            <p class="subtit-db"><span><svg class="icon icon-etiquetas"><use xlink:href="../../images/iconos.svg#icon-etiquetas"></use></svg></span> Notas al pie de página del comentario:</p>
            <p>(1) Lorem, ipsum dolor sit amet, consectetur adipisicing elit.
              (2) Quod aut iure eligendi commodi rem numquam deserunt reiciendis voluptate, ut. Perferendis quaerat exercitationem dolore reiciendis, unde adipisci, non magnam temporibus? Libero.
            (3) Est aspernatur saepe quas molestiae pariatur odio repellendus mollitia. Explicabo vero aut eveniet, quidem. Nesciunt molestias vitae doloribus dicta, earum repellat, esse sit quisquam dolorem consectetur</p>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>