<div class="modulo-bases-datos">
  <div class="titulo-db">
    <h4>Tribunal</h4>
  </div>
  <div class="informacion-db">
    <div class="submodulo2-db">
      <div class="columnas-alto-fijo">
        <div class="columna12 columnas-alto-fijo">
          <div class="columna04 thumb" style="margin-top: 1rem;"><a href="#" target="_blank"><img src="../../images/db-ejemplo-img2.jpeg" alt="Logo de proquest"></a>
          </div>
          <div class="columna08">
            <div class="columna12 box field">
              <p class="subtit-db"><span><svg class="icon icon-editar"><use xlink:href="../../images/iconos.svg#icon-editar"></use></svg></span> Sentencia (número y radicado):</p>
              <p>Sentencia 1 00000</p>
            </div>
            <div class="columna04 box field">
              <p class="subtit-db"><span><svg class="icon icon-calendario-02"><use xlink:href="../../images/iconos.svg#icon-calendario-02"></use></svg></span> Fecha:</p>
              <p>mm/dd/yyyy</p>
            </div>
            <div class="columna08 box field">
              <p class="subtit-db"><span><svg class="icon icon-hombre-mujer"><use xlink:href="../../images/iconos.svg#icon-hombre-mujer"></use></svg></span> Magistrado(a) Ponente:</p>
              <div class="autor" style="margin: 0 0 10px 0;">
                <a href="">Alberto Montaña Plata</a>
              </div>
            </div>
            <div class="columna12 box field">
              <p class="subtit-db"><span><svg class="icon icon-etiqueta"><use xlink:href="../../images/iconos.svg#icon-etiqueta"></use></svg></span> Tema principal:</p>
              <p>Enfermedades huérfanas</p>
            </div>
          </div>
        </div>
      </div>
      <div class="columna12 box field">
        <p class="subtit-db"><span><svg class="icon icon-articulo"><use xlink:href="../../images/iconos.svg#icon-articulo"></use></svg></span> Problema jurídico:</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel faucibus mi, ut volutpat odio. In hac habitasse platea dictumst. Nullam ut dolor sed libero eleifend dignissim. Aliquam erat volutpat. Vivamus ex sapien, interdum vel tincidunt sit amet, vulputate ac enim.</p>
      </div>
    </div>
    <div class="consultar">
      <p style="text-align: right;"><a  class="boton" href="#" target="_blank">Consultar</a> </p>
    </div>
  </div>
</div>