<div class="modulo-acordeon filtro">
  <div role="tablist" aria-multiselectable="true" class="filter-tablist">
    <div class="fondo-transparente"></div>
      <div class="caja-encima">
        <div>
          <label class="wdm_label"></label>
          <input type="hidden" name="sel_fac_field" id="sel_fac_field">
          <div class="wdm_ul" id="wpsolr_section_facets">

            <div class="panel">
              <div class="titulo-acordeon"><h4>Filtro de búsqueda</h4>
               <button class="select_opt limpiador-busqueda">Limpiar búsqueda</button>
             </div>
           </div>
      <!-- 00- Buscador-->
            <div class="panel">
              <div role="tab" id="titulo-uno">
                {{> atoms-accordion-filter-button(target:"busqueda-general", text:"Buscador")}}
              </div>
        
              <div id="busqueda-general" class="info collapse in cajon-busqueda-db" role="tabpanel" aria-labelledby="titulo-uno">
                  {{> atoms-search-form(tit-search-form:"Palabras clave")}}
              </div>
            </div>
            <!-- /00 -->
          <!-- 01 Fecha-->
            <div class="panel">
              <div role="tab" id="titulo-dos">
                {{> atoms-accordion-filter-button(target:"date", text:"Fecha de publicación")}}
              </div>

              <div id="date" class="info collapse in" role="tabpanel" aria-labelledby="titulo-dos">
                {{> atoms-date-filter-select}}
              </div>
            </div>
            <!-- /01-->
            <!-- 02 Categoria-->
            <div class="panel">
              <div role="tab" id="titulo-tres">
                <!-- <div class="titulo-acordeon">
                  <a role="button" data-toggle="collapse" data-target="#categoria" href="#" aria-controls="categoria">
                    <div class="h4">Categoría</div>
                    <span class="flecha">
                      <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
                    </span>
                  </a>
                </div> -->
                {{> atoms-accordion-filter-button(target:"categoria", text:"Categoría")}}
              </div>

              <div id="categoria" class="info collapse in" role="tabpanel" aria-labelledby="titulo-tres">
                <form>
                  <input type="checkbox" name="finca-raiz" value="finca-raiz"><label><span class="icon-category-color administracion-de-empresas"><svg class="icon icon-casa"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-casa"></use></svg></span> Finca raíz</label>
                  <input type="checkbox" name="vehiculos" value="vehiculos"><label><span class="icon-category-color comunicacion-social-periodismo"><svg class="icon icon-carro"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-carro"></use></svg></span> Vehículos </label>
                  <input type="checkbox" name="servicios" value="servicios"><label><span class="icon-category-color contaduria-publica"><svg class="icon icon-transporte-mercancia"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-transporte-mercancia"></use></svg></span> Servicios</label>
                  <input type="checkbox" name="mascotas" value="mascotas"><label><span class="icon-category-color derecho"><svg class="icon icon-huella-animal"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-huella-animal"></use></svg></span> Mascotas</label>
                  <input type="checkbox" name="varios" value="varios"><label><span class="icon-category-color la-universidad"><svg class="icon icon-marca-libros"><use xlink:href="https://www.uexternado.edu.co/wp-content/themes/externado_theme/images/iconos.svg#icon-marca-libros"></use></svg></span> Varios</label>
                  </form>
              </div>
            </div>
            <!-- /02-->

          </div>
        </div>
    </div>
  </div>
</div>