<div class="modulo-acordeon filtro">
  <div role="tablist" aria-multiselectable="true" class="filter-tablist">
    <div class="fondo-transparente"></div>
      <div class="caja-encima">
        <div>
          <label class="wdm_label"></label>
          <input type="hidden" name="sel_fac_field" id="sel_fac_field">
          <div class="wdm_ul" id="wpsolr_section_facets">

        <div class="panel">
          <div class="titulo-acordeon"><div class="h4">Filtro de búsqueda</div>
       <div class="panel">
          <div class="info">
            <button class="select_opt limpiador-busqueda"><span><svg class="icon color-icon icon-eliminar-01"><use xlink:href="../../images/iconos.svg#icon-eliminar-01"></use></svg></span> Limpiar búsqueda</button></div></div>
      
      </div></div>
            <!-- 00 buscador-->
            <div class="panel">
              <div role="tab" id="titulo-uno">
                {{> atoms-accordion-filter-button(target:"busqueda-general", text:"Buscador")}}
              </div>

              <div id="busqueda-general" class="info collapse in cajon-busqueda-db" role="tabpanel" aria-labelledby="titulo-uno">

                  {{> atoms-search-form(tit-search-form:"Título, palabra clave o número")}}

              </div>
            </div>
            <!-- /00-->
            <!-- 05 materia-->
            <div class="panel">
              <div role="tab" id="titulo-dos">
                {{> atoms-accordion-filter-button(target:"organizador", text:"Organizar por")}}
              </div>

              <div id="organizador" class="info collapse in" role="tabpanel" aria-labelledby="titulo-dos">
                <form>
                  <label class="dropdown">
                    <select>
                      <option value="" selected="selected"></option>
                      <option value="Recientes">Más reciente</option>
                      <option value="Antiguo">Más antiguo</option>
                      <option value="Popular">Más visitado</option>
                    </select>
                  </label>
                </form>
              </div>
            </div>
            <!-- /05-->
          <!-- 01 fecha-->
            <div class="panel">
              <div role="tab" id="titulo-tres">
                {{> atoms-accordion-filter-button(target:"date", text:"Fecha de publicación")}}
              </div>

              <div id="date" class="info collapse in" role="tabpanel" aria-labelledby="titulo-tres">
                {{> atoms-date-filter-select}}
              </div>
            </div>
            <!-- /01-->

          </div>
        </div>
    </div>
  </div>
</div>