<div class="modulo-acordeon filtro">
  <div role="tablist" aria-multiselectable="true" class="filter-tablist">
    <div class="fondo-transparente"></div>
      <div class="caja-encima">
        <div>
          <label class="wdm_label"></label>
          <input type="hidden" name="sel_fac_field" id="sel_fac_field">
          <div class="wdm_ul" id="wpsolr_section_facets">

         <div class="panel">
          <div class="titulo-acordeon"><div class="h4">Filtro de búsqueda</div>
        <div class="panel">
          <div class="info">
            <button class="select_opt limpiador-busqueda"><span><svg class="icon color-icon icon-eliminar-01"><use xlink:href="../../images/iconos.svg#icon-eliminar-01"></use></svg></span> Limpiar búsqueda</button></div></div>
          </div>
        </div>
          <!-- 01-->
            <div class="panel">
              <div role="tab" id="titulo-uno">
                {{> atoms-accordion-filter-button(target:"busqueda-general", text:"Buscador")}}
              </div>
              <div id="busqueda-general" class="info collapse in cajon-busqueda-db" role="tabpanel" aria-labelledby="titulo-uno">
                  {{> atoms-search-form(tit-search-form:"Palabras clave ")}}
              </div>
            </div>
            <!-- /01-->
             <!-- 02 fecha-->
            <div class="panel">
              <div role="tab" id="titulo-dos">
                {{> atoms-accordion-filter-button(target:"date", text:"Fecha de publicación")}}
              </div>

              <div id="date" class="info collapse in" role="tabpanel" aria-labelledby="titulo-dos">
                {{> atoms-date-filter-select}}
              </div>
            </div>
            <!-- /02-->
               <!-- 03-->
            <div class="panel">
              <div role="tab" id="titulo-tres">
                {{> atoms-accordion-filter-button(target:"por-facultad", text:"Facultad")}}
              </div>

              <div id="por-facultad" class="info collapse in" role="tabpanel" aria-labelledby="titulo-tres">
                <form>
                  <input type="checkbox" name="facultad" value="administracion-de-empresas">
                  <label>
                    Administración de Empresas
                    <span class="circulo administracion-de-empresas"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="administracion-de-empresas-turisticas-y-hoteleras">
                  <label>
                    Administración de Empresas Turísticas y Hoteleras
                    <span class="circulo administracion-de-empresas-turisticas-y-hoteleras"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="biblioteca">
                  <label>
                    Biblioteca
                    <span class="circulo biblioteca"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="bienestar-universitario">
                  <label>
                    Bienestar Universitario
                    <span class="circulo bienestar-universitario"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="comunidad-virtual">
                  <label>
                    Centro de Educación Virtual
                    <span class="circulo comunidad-virtual"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="ciencias-de-la-educacion">
                  <label>
                    Ciencias de la Educación
                    <span class="circulo ciencias-de-la-educacion"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="ciencias-sociales-y-humanas">
                  <label>
                    Ciencias Sociales y Humanas
                    <span class="circulo ciencias-sociales-y-humanas"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="comunicacion-social-periodismo">
                  <label>
                    Comunicación Social - Periodismo
                    <span class="circulo comunicacion-social-periodismo"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="contaduria-publica">
                  <label>
                    Contaduría Pública
                    <span class="circulo contaduria-publica"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="derecho">
                  <label>
                    Derecho
                    <span class="circulo derecho"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="economia">
                  <label>
                    Economía
                    <span class="circulo economia"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="finanzas-gobierno-y-relaciones-internacionales">
                  <label>
                    Finanzas, Gobierno y Relaciones Internacionales
                    <span class="circulo finanzas-gobierno-y-relaciones-internacionales"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="1">
                  <label>
                    La Universidad
                    <span class="circulo la-universidad"></span>
                  </label>
                  <input type="checkbox" name="facultad" value="estudios-del-patrimonio-cultural">
                  <label>
                    Estudios del Patrimonio Cultural
                    <span class="circulo estudios-del-patrimonio-cultural"></span>
                  </label>
                </form>
              </div>
            </div>
            <!-- /03-->
          </div>
        </div>
    </div>
  </div>
</div>