<div class="modulo-acordeon columnas-alto-fijo padding-minimo">
  <div class="columna04">{{> atoms-search-form(tit-search-form:"Palabra clave")}}</div>
  <div class="columna04">
    <form>
      <label class="dropdown">
        <select>
          <option value="" selected="selected">Categoría</option>
          <option value="prestacion-servicios">Prestación de servicios </option>
          <option value="docencia">Docencia</option>
          <option value="investigacion">Investigación </option>
          <option value="extension">Extensión </option>
          <option value="nuestro-recursos ">Nuestro recursos </option>
        </select>
      </label>
    </form>
  </div>
    <div class="columna04">
    <form>
      <label class="dropdown">
        <select>
          <option value="" selected="selected">Tipo de servicio</option>
          <option value="opcion-1">Asesorías en software especializado </option>
          <option value="opcion-2">Asesorías en triangulación de métodos y técnicas</option>
          <option value="opcion-3">Asesoría en medición de biomarcadores salivales </option>
          <option value="opcion-4">Asesoría en diseños experimentales </option>
          <option value="opcion-5">Asesoría en pruebas psicométricas</option>
          <option value="opcion-6">Asesoría en instrumentos psicológicos</option>
          <option value="opcion-7">Asesoría en dasarrollo de competencias</option>
          <option value="opcion-8">Asesoría en microscopía y estereoscopía</option>
          <option value="opcion-9">Asesoría en trabajo de laboratorio</option>
          <option value="opcion-10">Asesoría en Trabajo de campo</option>
          <option value="opcion-11">Procesamiento y análisis de datos biométricos</option>
          <option value="opcion-12">Medición de biomarcadores salivales</option>
          <option value="opcion-13">Aplicación de pruebas psicométricas para investigación</option>
          <option value="opcion-14">Aplicación de instrumentos psicológicos para investigación</option>
          <option value="opcion-15">Diseños y montajes</option>
          <option value="opcion-16">Alquiler de dispositivos de laboratorio</option>

        </select>
      </label>
    </form>
  </div>
</div>
