<div class="columnas-alto-fijo padding-minimo">
    <div class="columna04">{{> atoms-search-form(tit-search-form:"Nombre o apellido")}}</div>
    <div class="columna04">
      <form>
        <label class="dropdown">
            <select>
                <option value="" selected="selected">Facultad</option>
                <option value="fae">Administración de Empresas</option>
                <option value="faeth">Administración de Empresas Turísticas y Hoteleras</option>
                <option value="educacion">Ciencias de la Educación </option>
                <option value="sociales">Ciencias Sociales y Humanas </option>
                <option value="periodismo">Comunicación Social - Periodismo</option>
                <option value="contaduria">Contaduría Pública</option>
                <option value="matematicas">Departamento de Matemáticas</option>
                <option value="derecho">Derecho</option>
                <option value="economia">Economía</option>
                <option value="patrimonio">Estudios del Patrimonio Cultural</option>
                <option value="finanzas">Finazas, Gobierno y Relaciones Internacionales</option>  
              </select>
        </label>
      </form>
    </div>
      <div class="columna04">
      <form>
        <label class="dropdown">
            <!--Este selector se activa con la seleccion anterior-->
          <select>
            <option value="" selected="selected">Programa académico</option>
            <option value="opcion-0">Pregrado </option>
            <option value="opcion-1">Maestría en Regulación Económica </option>
            <option value="opcion-2">Maestría en Análisis Económico del Derecho</option>
            <option value="opcion-3">Maestría en Derecho Público </option>
            <option value="opcion-4">Maestría en Derecho Bancario y Bursátil </option>
            <option value="opcion-5">Maestría en Derecho Administrativo- Profundización</option>
            <option value="opcion-6">Maestría en Derecho Administrativo - Investigación</option>
            <option value="opcion-7">Maestría en Derecho del Medio Ambiente</option>
            <option value="opcion-8">Especialización en Ciencias Penales y Criminológicas</option>
            <option value="opcion-9">Especialización en Derecho Marítimo</option>
            <option value="opcion-10">Especialización en Gestión Anticorrupción</option>

  
          </select>
        </label>
      </form>
    </div>
  </div>
  