<div class="modulo-acordeon columnas-alto-fijo padding-minimo">
  <div class="columna04">{{> atoms-search-form(tit-search-form:"Palabra clave")}}</div>
  <div class="columna04">
    <form>
      <label class="dropdown">
        <select>
          <option value="" selected="selected">Sede</option>
          <option value="prestacion-servicios">Edificio las Galerías</option>
          <option value="docencia">Barrio San Victorino</option>
          <option value="investigacion">Calle 22 - Campus de los Cerros </option>
        </select>
      </label>
    </form>
  </div>
    <div class="columna04">{{> atoms-date-filter-select }}</div>
  </div>
</div>
