.logo-aliados{
	padding: 0.5em 1em;
	min-width:165px;
  max-width:190px;

	 @media (max-width: 680px) and (min-width:500px){
    	padding: 0.5em 1em;
    	min-width:120px;
      max-width:150px;
    }
    @media (max-width: 500px) and (min-width:$movil-amplio){
      padding: 0.5em 1em;
      min-width:100px;
      max-width:130px;
    }

     @media (max-width:$movil-amplio ) and (min-width:$minimo){
    	padding: 0.5em 0.5em;
    	min-width: 80px;
      max-width:110px;
 
    }

	&:hover {
  	filter: grayscale(100%);
  	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
}
