.image-bt-description{
	display: -ms-inline-flexbox;
	display: inline-flex;
	max-width:800px; 
	background-color: black;
	margin-bottom: 1rem;
	width: 100%; 

	a{width: 100%;}

	 	figure{
	 		margin: 0 auto; 
	 		img{
	 			width: 100%;
	 		}

	 		figcaption{
    			width: 100%;
    			background-color: $gris-acero;
    			text-align: left;
    			color: white;
    			padding: 10px;
    			font-size: smaller;

    			 @media (max-width: $small) {
    			 	padding: 5px;	 				
	 				}

		}
	}
}