span.notification-count {
  align-items: center;
  background: white;
  border: rem(1) solid $gris-hierro;
  border-radius: rem(10);
  color: $gris-acero;
  display: flex;
  font-size: rem(12);
  font-weight: 400;
  height: rem(18);
  justify-content: center;
  margin-right: rem(4);
  max-width: rem(48);
  padding: rem(0) rem(5) rem(1);
  text-align: center;
  width: auto;

  @media (max-width: $ipad) and (min-width: $minimo) {
    margin-right: rem(6);
  }
}