<div class="fondo-completo">

  <div class="centrar titulo-categoria-noticias-home">
    <h2 class="h1">Noticias</h2>
      <a href="">Ver más noticias   <span><svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg></span></a>
  </div>
  <div class="carrusel-relacionadas">
    <article class="administracion">
  <div class="modulo-relacionado">
    <a href="#" aria-label="Ver noticia">
      <!--Esta imagen debe ser de 500 x 305px-->
      <div class="zoom-imagen-modulo" style="background: black;">
      <img src="../../images/carrusel-home-01.png" alt="Noticia Relacionada" />
    </a></div>
    <div class="info">
      <div class="h6"><a href="#">Administración</a></div>
      <h3 class="h4"><a href="#">Nullizzle shizznit velizzle, hizzle, suscipit own yo&#39;, gravida vizzle, arcu.</a></h3>

    </div>
  </div>
</article>

    <article class="administracion">
  <div class="modulo-relacionado">
    <a href="#" aria-label="Ver noticia">
      <!--Esta imagen debe ser de 500 x 305px-->
      <div class="zoom-imagen-modulo" style="background: black;">
      <img src="../../images/carrusel-home-01.png" alt="Noticia Relacionada" />
    </a></div>
    <div class="info">
      <div class="h6"><a href="#">Administración</a></div>
      <h3 class="h4"><a href="#">Nullizzle shizznit velizzle, hizzle, suscipit own yo&#39;, gravida vizzle, arcu.</a></h3>

    </div>
  </div>
</article>

    <article class="administracion">
  <div class="modulo-relacionado">
    <a href="#" aria-label="Ver noticia">
      <!--Esta imagen debe ser de 500 x 305px-->
      <div class="zoom-imagen-modulo" style="background: black;">
      <img src="../../images/carrusel-home-01.png" alt="Noticia Relacionada" />
    </a></div>
    <div class="info">
      <div class="h6"><a href="#">Administración</a></div>
      <h3 class="h4"><a href="#">Nullizzle shizznit velizzle, hizzle, suscipit own yo&#39;, gravida vizzle, arcu.</a></h3>

    </div>
  </div>
</article>

    <article class="administracion">
  <div class="modulo-relacionado">
    <a href="#" aria-label="Ver noticia">
      <!--Esta imagen debe ser de 500 x 305px-->
      <div class="zoom-imagen-modulo" style="background: black;">
      <img src="../../images/carrusel-home-01.png" alt="Noticia Relacionada" />
    </a></div>
    <div class="info">
      <div class="h6"><a href="#">Administración</a></div>
      <h3 class="h4"><a href="#">Nullizzle shizznit velizzle, hizzle, suscipit own yo&#39;, gravida vizzle, arcu.</a></h3>

    </div>
  </div>
</article>

    <article class="administracion">
  <div class="modulo-relacionado">
    <a href="#" aria-label="Ver noticia">
      <!--Esta imagen debe ser de 500 x 305px-->
      <div class="zoom-imagen-modulo" style="background: black;">
      <img src="../../images/carrusel-home-01.png" alt="Noticia Relacionada" />
    </a></div>
    <div class="info">
      <div class="h6"><a href="#">Administración</a></div>
      <h3 class="h4"><a href="#">Nullizzle shizznit velizzle, hizzle, suscipit own yo&#39;, gravida vizzle, arcu.</a></h3>

    </div>
  </div>
</article>

  </div>
  <div class="centrar">
     <a class="boton " href="#">
  <span><svg class="icon icon-libro-03"><use xlink:href="../../images/iconos.svg#icon-libro-03"></use></svg></span>
   Ver todas <span><svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg></span></a>
  </div>
  <div class="centrar ">
    <a class="boton boton boton-big margin-xs" href="#">
  <span><svg class="icon icon-periodico"><use xlink:href="../../images/iconos.svg#icon-periodico"></use></svg></span>
   Agencia de Noticias <span><svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg></span></a>  <a class="boton boton boton-big margin-xs boton-destacado" href="#">
  <span><svg class="icon icon-votar"><use xlink:href="../../images/iconos.svg#icon-votar"></use></svg></span>
   Procesos electorales y consultas <span><svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg></span></a> <a class="boton boton boton-big margin-xs" href="#">
  <span><svg class="icon icon-documento"><use xlink:href="../../images/iconos.svg#icon-documento"></use></svg></span>
   Reforma estatutaria <span><svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg></span></a> <a class="boton boton boton-big margin-xs" href="#">
  <span><svg class="icon icon-cohete"><use xlink:href="../../images/iconos.svg#icon-cohete"></use></svg></span>
   Externado 2032 <span><svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg></span></a>  <a class="boton boton boton-big margin-xs protocolo-genero" href="#">
  <span><svg class="icon icon-hombre-mujer"><use xlink:href="../../images/iconos.svg#icon-hombre-mujer"></use></svg></span>
   Protocolo atención VBG <span><svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg></span></a> 
  </div>
</div>
