<div class="carrusel-facultad">
  <div class="carousel slide" id="carrusel-facultad-home" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carrusel-facultad-home" data-slide-to="0" class=""></li>
      <li data-target="#carrusel-facultad-home" data-slide-to="1" class="active"></li>
      <li data-target="#carrusel-facultad-home" data-slide-to="2" class=""></li>
    </ol>
    <div class="carousel-inner" aria-label="Noticias">
      <article class="item active">
        <div class="ajuste-imagen">
          <!--Esta imagen debe ser de 1400 x 933px. Si el usuario sube una imagen de menor resolución el gestor no lo debe permitir o avisar que la imagen saldrá mal-->
          <img src="../../images/carrusel-home-01.png" alt="Noticia">
        </div>

        <div class="carousel-caption">
          <p class="h2" >01 Evocación de los profesores externadistas desaparecidos</p>
        </div>
        <div class="degrade"></div>
      </article>

      <article class="item">
        <div class="ajuste-imagen">
          <!--Esta imagen debe ser de 1400 x 933px. Si el usuario sube una imagen de menor resolución el gestor no lo debe permitir o avisar que la imagen saldrá mal-->
          <img src="../../images/carrusel-home-02.png" alt="Noticia">
        </div>
        <div class="carousel-caption">
          <p class="h2" >02 Evocación de los profesores externadistas desaparecidos</p>
        </div>
      </article>

      <article class="item">
        <div class="ajuste-imagen">
          <!--Esta imagen debe ser de 1400 x 933px. Si el usuario sube una imagen de menor resolución el gestor no lo debe permitir o avisar que la imagen saldrá mal-->
          <img src="../../images/carrusel-home-03.png" alt="Noticia">
        </div>
        <div class="carousel-caption">
          <p class="h2">03 Evocación de los profesores externadistas desaparecidos</p>
        </div>
      </article>
    </div>

    <!-- Carousel nav -->
    <a class="left carousel-control" data-target="#carrusel-facultad-home" role="button" data-slide="prev" aria-label="anterior">
      <span></span>
    </a>
    <a class="right carousel-control" data-target="#carrusel-facultad-home"  role="button" data-slide="next" aria-label="siguiente">
      <span></span>
    </a>

  </div>
</div>