
  <div class="carousel-tabs">
    <div class="info">
      <div class="tabs">
        <a href="" id="noticias-nacionales" class="active-tab">Noticias nacionales</a>
        <a href="" id="noticias-internacionales">Noticias internacionales</a>
      </div>

      <div class="links">
        <div class="section">
          <!--Este es el título de las tabs que aprece en móviles-->
          <a href="" class="title active">Noticias nacionales
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
          <!--/ Este es el título de las tabs que aprece en móviles-->
          <div class="box noticias-nacionales active">
            <!-- slider noticias nacionales-->
             <div id="carrusel-principal">
               <!-- Slider -->
               <div id="carrusel">
                 <!-- Top part of the slider -->
                 <div id="contenedor-carrusel">
                   <div class="carousel slide" id="carousel01">
                     <div class="carousel-inner">
                       <!-- Items 01 -->
                       <article class="active item" data-slide-number="0" style="background-image: url(../../images/carrusel-home-01.png);">
                         <div class="info">
                           <h2><a href="#">Evocación de los profesores externadistas desaparecidos en el Palacio de Justicia</a></h2>
                           <a class="boton" href="#">Seguir leyendo</a>
                         </div>
                       </article>
                       <!-- /Item 01-->
                       <!-- Item 02-->
                       <article class="item" data-slide-number="1" style="background-image: url(../../images/carrusel-home-02.png);">
                         <!--Esta imagen debe ser de 1400 x 933px. Si el usuario sube una imagen de menor resolución el gestor no lo debe permitir o avisar que la imagen saldrá mal-->
                         <div class="info">
                           <h2><a href="#">Arte dentro del arte: Una mirada desde la ciencia</a></h2>
                           <a class="boton" href="#">Seguir leyendo</a>
                         </div>
                       </article>
                       <!-- /Item 02-->
                       <!-- Item 03-->
                       <article class="item" data-slide-number="2" style="background-image:url(../../images/carrusel-home-03.png);">
                         <!--Esta imagen debe ser de 1400 x 933px. Si el usuario sube una imagen de menor resolución el gestor no lo debe permitir o avisar que la imagen saldrá mal-->
                         <div class="info">
                           <h2><a href="#">Jornadas de GeoRaizAL 2016-I</a></h2>
                           <a class="boton" href="#">Seguir leyendo</a>
                         </div>
                       </article>
                       <!-- /Item 03-->
                       <!-- /Item 04-->
                       <article class="item" data-slide-number="3"  style="background-image: url(../../images/carrusel-home-04.png)">
                         <!--Esta imagen debe ser de 1400 x 933px. Si el usuario sube una imagen de menor resolución el gestor no lo debe permitir o avisar que la imagen saldrá mal-->
                         <div class="info">
                           <h2><a href="#">La estupidez, una reflexión urgente. <br><i>Primer diálogo</i></a></h2>
                           <a class="boton" href="#">Seguir leyendo</a>
                         </div>
                       </article>
                       <!-- /Item 04-->
                     </div>
                     <!-- Carousel nav -->
                     <a class="left carousel-control" href="#carousel01" role="button" data-slide="prev" aria-label="anterior">
                       <span></span>
                     </a>
                     <a class="right carousel-control" href="#carousel01" role="button" data-slide="next" aria-label="siguiente">
                       <span></span>
                     </a>

                   </div>
                 </div>
               </div>
               <!--/Slider-->

               <div id="carrusel-thumbs">
                 <!-- Bottom switcher of slider -->
                 <ul class="hide-bullets">
                   <li>
                     <a class="thumbnail active" id="carousel01-selector-0">
                       <img src="../../images/carrusel-home-01.png" alt="foto01">
                       <p>Evocación de los profesores externadistas desaparecidos en el Palacio de Justicia</p>
                     </a>
                   </li>
                   <li>
                     <a class="thumbnail" id="carousel01-selector-1">
                       <img src="../../images/carrusel-home-02.png" alt="foto06">
                       <p>Arte dentro del arte: Una mirada desde la ciencia</p>
                     </a>
                   </li>
                   <li>
                     <a class="thumbnail" id="carousel01-selector-2">
                       <img src="../../images/carrusel-home-03.png" alt="foto03">
                       <p>Jornadas de GeoRaizAL 2016-I</p>
                     </a>
                   </li>
                   <li>
                     <a class="thumbnail" id="carousel01-selector-3">
                       <img src="../../images/carrusel-home-04.png" alt="foto05">
                       <p>La estupidez, una reflexión urgente. Primer diálogo</p>
                     </a>
                   </li>
                 </ul>
               </div>
             </div>
             <!-- /slider noticias nacionales-->
          </div>
        </div>

        <div class="section">
          <!--Este es el título de las tabs que aprece en móviles-->
          <a href="" class="title">Noticias internacionales
            <span class="flecha">
              <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
            </span>
          </a>
          <!--/ Este es el título de las tabs que aprece en móviles-->

          <div class="box noticias-internacionales">
            <!-- slider noticias internacionales-->
             <div id="carrusel-principal">
               <!-- Slider -->
               <div id="carrusel">
                 <!-- Top part of the slider -->
                 <div id="contenedor-carrusel">
                   <div class="carousel slide" id="carousel02">
                     <div class="carousel-inner">
                       <!-- Items 01 -->
                       <article class="active item" data-slide-number="0" style="background-image: url(../../images/carrusel-home-01.png);">
                         <div class="info">
                           <h2><a href="#">¿Hasta qué punto la adicción a las drogas es un problema de contexto social?</a></h2>
                           <a class="boton" href="#">Seguir leyendo</a>
                         </div>
                       </article>
                       <!-- /Item 01-->
                       <!-- Item 02-->
                       <article class="item" data-slide-number="1" style="background-image: url(../../images/carrusel-home-02.png);">
                         <!--Esta imagen debe ser de 1400 x 933px. Si el usuario sube una imagen de menor resolución el gestor no lo debe permitir o avisar que la imagen saldrá mal-->
                         <div class="info">
                           <h2><a href="#">¿Somos caníbales por naturaleza?</a></h2>
                           <a class="boton" href="#">Seguir leyendo</a>
                         </div>
                       </article>
                       <!-- /Item 02-->
                       <!-- Item 03-->
                       <article class="item" data-slide-number="2" style="background-image:url(../../images/carrusel-home-03.png);">
                         <!--Esta imagen debe ser de 1400 x 933px. Si el usuario sube una imagen de menor resolución el gestor no lo debe permitir o avisar que la imagen saldrá mal-->
                         <div class="info">
                           <h2><a href="#">El amigo del hombre que habita en la calle</a></h2>
                           <a class="boton" href="#">Seguir leyendo</a>
                         </div>
                       </article>
                       <!-- /Item 03-->
                       <!-- /Item 04-->
                       <article class="item" data-slide-number="3"  style="background-image: url(../../images/carrusel-home-04.png)">
                         <!--Esta imagen debe ser de 1400 x 933px. Si el usuario sube una imagen de menor resolución el gestor no lo debe permitir o avisar que la imagen saldrá mal-->
                         <div class="info">
                           <h2><a href="#">Namibia: Del genocidio a la cooperación</a></h2>
                           <a class="boton" href="#">Seguir leyendo</a>
                         </div>
                       </article>
                       <!-- /Item 04-->
                     </div>
                     <!-- Carousel nav -->
                     <a class="left carousel-control" href="#carousel02" role="button" data-slide="prev" aria-label="anterior">
                       <span></span>
                     </a>
                     <a class="right carousel-control" href="#carousel02" role="button" data-slide="next" aria-label="siguiente">
                       <span></span>
                     </a>
                   </div>
                 </div>
               </div>
               <!--/Slider-->

               <div id="carrusel-thumbs">
                 <!-- Bottom switcher of slider -->
                 <ul class="hide-bullets">
                   <li>
                     <a class="thumbnail active" id="carousel02-selector-0">
                       <img src="../../images/carrusel-home-01.png" alt="foto01">
                       <p>¿Hasta qué punto la adicción a las drogas es un problema de contexto social?</p>
                     </a>
                   </li>
                   <li>
                     <a class="thumbnail" id="carousel02-selector-1">
                       <img src="../../images/carrusel-home-02.png" alt="foto06">
                       <p>¿Somos caníbales por naturaleza?</p>
                     </a>
                   </li>
                   <li>
                     <a class="thumbnail" id="carousel02-selector-2">
                       <img src="../../images/carrusel-home-03.png" alt="foto03">
                       <p>El amigo del hombre que habita en la calle</p>
                     </a>
                   </li>
                   <li>
                     <a class="thumbnail" id="carousel02-selector-3">
                       <img src="../../images/carrusel-home-04.png" alt="foto05">
                       <p>Namibia: Del genocidio a la cooperación</p>
                     </a>
                   </li>
                 </ul>
               </div>
             </div>
             <!-- /slider noticias intertnacionales-->
          </div>
        </div>
      </div>
    </div>
  </div>
