 <section class="centrar">
   <div class="carrusel-interno-3columnas">
    <!--Columnas de a 3 noticias-->
    <article class="administracion">
  <div class="modulo-relacionado">
    <a href="#" aria-label="Ver noticia">
      <!--Esta imagen debe ser de 500 x 305px-->
      <div class="zoom-imagen-modulo" style="background: black;">
      <img src="../../images/carrusel-home-01.png" alt="Noticia Relacionada" />
    </a></div>
  </div>
</article>

    <article class="administracion">
  <div class="modulo-relacionado">
    <a href="#" aria-label="Ver noticia">
      <!--Esta imagen debe ser de 500 x 305px-->
      <div class="zoom-imagen-modulo" style="background: black;">
      <img src="../../images/carrusel-home-01.png" alt="Noticia Relacionada" />
    </a></div>
  </div>
</article>

    <article class="administracion">
  <div class="modulo-relacionado">
    <a href="#" aria-label="Ver noticia">
      <!--Esta imagen debe ser de 500 x 305px-->
      <div class="zoom-imagen-modulo" style="background: black;">
      <img src="../../images/carrusel-home-01.png" alt="Noticia Relacionada" />
    </a></div>
  </div>
</article>

    <article class="administracion">
  <div class="modulo-relacionado">
    <a href="#" aria-label="Ver noticia">
      <!--Esta imagen debe ser de 500 x 305px-->
      <div class="zoom-imagen-modulo" style="background: black;">
      <img src="../../images/carrusel-home-01.png" alt="Noticia Relacionada" />
    </a></div>
  </div>
</article>

    <article class="administracion">
  <div class="modulo-relacionado">
    <a href="#" aria-label="Ver noticia">
      <!--Esta imagen debe ser de 500 x 305px-->
      <div class="zoom-imagen-modulo" style="background: black;">
      <img src="../../images/carrusel-home-01.png" alt="Noticia Relacionada" />
    </a></div>
  </div>
</article>

    <article class="administracion">
  <div class="modulo-relacionado">
    <a href="#" aria-label="Ver noticia">
      <!--Esta imagen debe ser de 500 x 305px-->
      <div class="zoom-imagen-modulo" style="background: black;">
      <img src="../../images/carrusel-home-01.png" alt="Noticia Relacionada" />
    </a></div>
  </div>
</article>
  </div>
</section>