 <section class="centrar">
   <div class="carrusel-interno-2columnas">
    <!--Columnas de a 2 noticias-->
    <article class="defecto derecho">
  <div class="evento-centrado modulo-relacionado">
    <a href="#">
      <!--Esta imagen debe ser de 500 x 305px-->
      <img src="../../images/modulo-relacionada.png" alt="Noticia Relacionada" />
    </a>
        </a>
    <div>
    <time class="fecha">10 de Noviembre de 2021</time>
    </div>
    <div class="info">  
      <h3 class="h5"><a href="#">III Encuentro de investigación en Educación</a></h3>
       <hr>
      <p>Hora: 8:30 a.m.</p>
      <p>Lugar: Streaming </p>
      
    </div>
  </div>

</article>

    <article class="defecto derecho">
  <div class="evento-centrado modulo-relacionado">
    <a href="#">
      <!--Esta imagen debe ser de 500 x 305px-->
      <img src="../../images/modulo-relacionada.png" alt="Noticia Relacionada" />
    </a>
    <div>
    <time class="fecha">10 de Noviembre de 2021</time>
    </div>
    <div class="info">
     
      <h3 class="h5"><a href="#">III Encuentro de investigación en Educación</a></h3>
       <hr>
      <p>Hora: 8:30 a.m.</p>
      <p>Lugar: Streaming </p>
      
    </div>
  </div>

</article>

    <article class="defecto derecho">
  <div class="evento-centrado modulo-relacionado">
    <a href="#">
      <!--Esta imagen debe ser de 500 x 305px-->
      <img src="../../images/modulo-relacionada.png" alt="Noticia Relacionada" />
    </a>
    <div>
      <time class="fecha">10 de Noviembre de 2021</time>
    </div>
    <div class="info">
      <h3 class="h5"><a href="#">III Encuentro de investigación en Educación</a></h3>
       <hr>
      <p>Hora: 8:30 a.m.</p>
      <p>Lugar: Streaming </p>
      
    </div>
  </div>

</article>

    <article class="defecto derecho">
  <div class="evento-centrado modulo-relacionado">
    <a href="#">
      <!--Esta imagen debe ser de 500 x 305px-->
      <img src="../../images/modulo-relacionada.png" alt="Noticia Relacionada" />
    </a>
        </a>
    <div>
    <time class="fecha">10 de Noviembre de 2021</time>
    </div>
    <div class="info">
      
      <h3 class="h5"><a href="#">III Encuentro de investigación en Educación</a></h3>
       <hr>
      <p>Hora: 8:30 a.m.</p>
      <p>Lugar: Streaming </p>
      
    </div>
  </div>

</article>

  </div>
</section>