<div class="logos-aliados">
	<div class="widget-carrusel">
  <!--item-->
  <article class="cajas-centradas centrar" aria-label="Aliados">
    <div class="info cajas-centradas">
    	{{> molecules-allied-logos }}
    </div>
  </article>
  <!--/item-->
   <!--item-->
  <article class="cajas-centradas centrar" aria-label="Aliados">
    <div class="info cajas-centradas">
    	{{> molecules-allied-logos }}
    </div>
  </article>
  <!--/item-->
</div>
</div>
