 <section class="centrar">
   <div class="carrusel-interno-1columna">
    <!--Columnas de a 1 noticia-->
    {{> molecules-event-module-slider-image }}
    {{> molecules-event-module-slider-image }}
    {{> molecules-event-module-slider-image }}
    {{> molecules-event-module-slider-image }}
  </div>
</section>