<section class="centrar">
  <div class="carrusel-iconos"> 
  {{> atoms-circle-icon-button(text:"Autoservicio de empleados", icon-selector:"icon-computador")}}
    {{> atoms-circle-icon-button(text:"Autoevaluación", icon-selector:"icon-hombre-mujer")}}
    {{> atoms-circle-icon-button(text:"Argos", icon-selector:"icon-llenado-automatico")}}
    {{> atoms-circle-icon-button(text:"Avante", icon-selector:"icon-avante")}}
    {{> atoms-circle-icon-button(text:"Directorio", icon-selector:"icon-lupa")}}
    {{> atoms-circle-icon-button(text:"Recruit", icon-selector:"icon-llenado-automatico")}}
    {{> atoms-circle-icon-button(text:"Repositorio calidad", icon-selector:"icon-documentos")}}
    {{> atoms-circle-icon-button(text:"Repositorio de documentos", icon-selector:"icon-documento")}}
    {{> atoms-circle-icon-button(text:"Sarex", icon-selector:"icon-checkbox")}} </div>
</section>
