 <section class="centrar">
<div class="carrusel-interno-2columnas carousel-books">
{{> molecules-book-module }}
{{> molecules-book-module }}
{{> molecules-book-module}}
{{> molecules-book-module }}
{{> molecules-book-module }}
{{> molecules-book-module }}
{{> molecules-book-module }}
{{> molecules-book-module }}
  </div>
</section>
