<div class="faculty-comunidad-virtual">
{{> organisms-header-blogs(logo:"../../images/logos/comunidadvirtual.png") }}

<div class="magnetic-menu">{{> molecules-magnetic-buttons }}</div>

  <div class="centrar overflow">
    <div class="columna12 contenido">
      <h2 class="h1">Archivo: Ejemplo</h2>
      <div class="lista-noticias">
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
      {{> molecules-pagination}}
    </div>
  </div>
<div style="clear: both;"></div>
{{> organisms-allied-carousel }}

</div>
{{> organisms-footer-blogs }}
