<div class="faculty-comunidad-virtual">
{{> organisms-header-blogs(logo:"../../images/logos/comunidadvirtual.png") }}

<div class="magnetic-menu">{{> molecules-magnetic-buttons }}</div>

  <div class="centrar overflow">
    <section class="columna12 contenido">    
          <h1>Galería de videos</h1>
            {{> organisms-video-list }}
            <div style="clear: both;"></div>
        {{> molecules-pagination}}
        </section>
  </div>
<div style="clear: both;"></div>
{{> organisms-allied-carousel }}

</div>
{{> organisms-footer-blogs }}
