{{> organisms-header-blogs(nombre:"Revista de Derecho del Estado", facultad:"Derecho") }}

<div class="faculty-defecto">

  <div class="centrar overflow">
    <div class="columna08 contenido">
      <h1>Archivo: Ejemplo</h1>
      <div class="lista-noticias">
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
      {{> molecules-pagination}}
    </div>

    <aside class="columna04 aside">
      {{> molecules-news-list-widget }}
      {{> molecules-tag-cloud-widget }}
    </aside>
  </div>
</div>

{{> organisms-footer-blogs }}