<div class="menu-principal">
  <div class="centrar">
    <nav>
      <ul>
        <li>
          <a href="#">
            La Universidad
            <span><svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg></span>
          </a>
          <ul class="sub-menu">
            <li><a href="#">Acerca de</a></li>
            <li><a href="#">Historia</a></li>
            <li><a href="#">La rectoría</a></li>
            <li><a href="#">El externado es verde</a></li>
            <li><a href="#">Campus</a></li>
            <li><a href="#">Gobierno externadista</a></li>
            <li><a href="#">Directorio</a></li>
          </ul>
        </li>

        <li>
          <a href="#">
            Programas
            <span><svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg></span>
          </a>
          <ul class="sub-menu">
            <li><a href="#">Administración de Empresas</a></li>
            <li><a href="#">Administración de Empresas Turísticas y Hoteleras</a></li>
            <li><a href="#">Ciencias de la Educación</a></li>
            <li><a href="#">Ciencias Sociales y Humanas</a></li>
            <li><a href="#">Comunicación Social – Periodismo</a></li>
            <li><a href="#">Contaduría Pública</a></li>
            <li><a href="#">Derecho</a></li>
            <li><a href="#">Decanatura Cultural</a></li>
            <li><a href="#">Economía</a></li>
            <li><a href="#">Estudios del Patrimonio Cultural</a></li>
            <li><a href="#">Finanzas, Gobierno y Relaciones Internacionales</a></li>
          </ul>
        </li>
        <li><a href="#">Admisión</a></li>
        <li><a href="#">Investigación</a></li>
        <li><a href="#">Biblioteca</a></li>
        <li><a href="#">Comunidad virtual</a></li>
      </ul>
    </nav>
  </div>
</div>