<div class="botonera">
  <ul class="otros-sitios">
    <li class="boton-accesos"><a href="#">Más<span><svg class="icon icon-mas"><use xlink:href="../../images/iconos.svg#icon-mas"></use></svg></span></a>
      <ul class="accesos-rapidos">
        <li><a href="">TU Bienestar</a></li>
        <li><a href="">Publicaciones</a></li>
        <li><a href="">Internacionalización</a></li>
      </ul>
  </li></ul>
</div>