<div class="idioma">
  <label class="dropdown ">
    <select>
      <option value="español">Español</option>
      <option value="ingles">Inglés</option>
      <option value="frances">Francés</option>
    </select>
  </label>
<a class="idioma-desktop" id="dLabel" data-target="#" href="#"
    data-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    ES
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li><a href="http://uexternado.simianlab.com/components/public/patterns/03-templates-00-home/03-templates-00-home.rendered.html">Español</a></li>
    <li><a href="http://uexternado.simianlab.com/components/public/patterns/03-templates-01-general-news/03-templates-01-general-news.rendered.html">English</a></li>
    <li><a href="http://uexternado.simianlab.com/components/public/patterns/03-templates-06-filter-search/03-templates-06-filter-search.rendered.html">Français</a></li>
  </ul>
</div>
