<div class="menu-superior">
  <div class="centrar">
    <nav>
      <ul class="tipo-usuario">
        <li>
          <a href="#">
            Estudiantes
          <span><svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg></span>
          </a>
         <ul class="sub-menu">
            <li><a href="#">Opción 1</a></li>
            <li><a href="#">Opción 2</a></li>
            <li><a href="#">Opción 3</a></li>
            <li><a href="#">Opción 4</a></li>
            <li><a href="#">Opción 5</a></li>
            <li><a href="#">Opción 6</a></li>
            <li><a href="#">Opción 7</a></li>
            <li><a href="#">Opción 8</a></li>
            <li><a href="#">Opción 9</a></li>
            <li><a href="#">Opción 10</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            Egresados
            <span><svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg></span>
          </a>
         <ul class="sub-menu">
            <li><a href="#">Opción 1</a></li>
            <li><a href="#">Opción 2</a></li>
            <li><a href="#">Opción 3</a></li>
            <li><a href="#">Opción 4</a></li>
            <li><a href="#">Opción 5</a></li>
            <li><a href="#">Opción 6</a></li>
            <li><a href="#">Opción 7</a></li>
            <li><a href="#">Opción 8</a></li>
            <li><a href="#">Opción 9</a></li>
            <li><a href="#">Opción 10</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            Docentes
            <span><svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg></span>
          </a>
          <ul class="sub-menu">
            <li><a href="#">Oficina de egresados</a></li>
            <li><a href="#">Asociación de antiguos alumnos</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            Adminsitrativos
            <span><svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg></span>
          </a>
          <ul class="sub-menu">
            <li><a href="#">Pregrado</a></li>
            <li><a href="#">Posgrado</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            App UExternado
          </a>
        </li>
        <li>
          <a href="#">
            Correo
          </a>
        </li>
        <li>
          <a href="#">
            Pagos en línea
          </a>
        </li>
         <li>
          <a href="#">
            Alivios financieros
          </a>
        </li>
      </ul>
      {{> molecules-top-buttons }}
    </nav>
  </div>

  <div class="idioma-buscador">
    {{> molecules-language-picker }}
    {{> atoms-search-form-header }}
  </div>
</div>
