<section>

    {{^ networks_title }}
    <div class="h4">Síganos en las redes </div>
    {{/ networks_title }}

    {{# networks_title }}
      {{ }}
    {{/ networks_title }}


  <div class="redes-sociales">
    <a href="#" class="icono" aria-label="facebook">
      <span><svg class="icon icon-facebook"><use xlink:href="../../images/iconos.svg#icon-facebook"></use></svg></span>
    </a>

    <a href="#" class="icono" aria-label="twitter">
      <span><svg class="icon icon-twitter"><use xlink:href="../../images/iconos.svg#icon-twitter"></use></svg></span>
    </a>

    <a href="#" class="icono" aria-label="youtube">
      <span><svg class="icon icon-youtube"><use xlink:href="../../images/iconos.svg#icon-youtube"></use></svg></span>
    </a>

    <a href="#" class="icono" aria-label="linkedin">
      <span><svg class="icon icon-linkedin"><use xlink:href="../../images/iconos.svg#icon-linkedin"></use></svg></span>
    </a>

    <a href="#" class="icono" aria-label="instagram">
      <span><svg class="icon icon-instagram"><use xlink:href="../../images/iconos.svg#icon-instagram"></use></svg></span>
    </a>
{{!
    <a href="#" class="icono">
      <span><svg class="icon icon-vimeo"><use xlink:href="../../images/iconos.svg#icon-vimeo"></use></svg></span>
    </a>

    <a href="#" class="icono">
      <span><svg class="icon icon-flickr"><use xlink:href="../../images/iconos.svg#icon-flickr"></use></svg></span>
    </a>

    <a href="#" class="icono">
      <span><svg class="icon icon-soundcloud"><use xlink:href="../../images/iconos.svg#icon-soundcloud"></use></svg></span>
    </a> }}

  </div>
</section>
