<section class="contactenos">
  <div class="h4">Contáctenos</div>
  <ul>
    <li>
      <a href="#">
        <span><svg class="icon icon-correo"><use xlink:href="../../images/iconos.svg#icon-correo"></use></svg></span>
        Buzón electrónico del Externado
      </a>
    </li>

    <li>
      <a href="#">
        <span><svg class="icon icon-chat-activo"><use xlink:href="../../images/iconos.svg#icon-chat-activo"></use></svg></span>
        Chat de la universidad
      </a>
    </li>

    <li>
      <a href="#">
        <span><svg class="icon icon-directorio"><use xlink:href="../../images/iconos.svg#icon-directorio"></use></svg></span>
        Directorio
      </a>
    </li>
  </ul>
</section>
