<nav class="vigilado-men">
  <div class="h4"><a href="#">VIGILADA MINEDUCACIÓN</a></div>
  <span>
  Personería Jurídica: Resolución 92 de marzo 9 de 1926, expedida por el Ministerio de Gobierno
  </span>
</nav>
