<div class="tags">
   <span><svg class="icon icon-{{# icon-tags }}{{icon-tags}}{{/ icon-tags }}{{^ icon-tags }}etiquetas{{/ icon-tags }}"><use xlink:href="../../images/iconos.svg#icon-{{# icon-tags }}{{icon-tags}}{{/ icon-tags }}{{^ icon-tags }}etiquetas{{/ icon-tags }}"></use></svg></span>
  <ul>
    <li><a href="#">Patrimonio</a></li>
    <li><a href="#">Arqueología</a></li>
    <li><a href="#">Yopal</a></li>
  </ul>
</div>
