<!--Estas clases las dejé tal como las pone WP-->
<nav class="pagination">
	<a class="prev page-numbers" href="#">
    <svg class="icon icon-izquierda"><use xlink:href="../../images/iconos.svg#icon-izquierda"></use></svg>
  </a>
  <a class="page-numbers" href="#">1</a>
  <span class="page-numbers current">2</span>
  <a class="page-numbers" href="#">3</a>
  <a class="page-numbers" href="#">4</a>
  <a class="page-numbers" href="#">5</a>
  <a class="page-numbers" href="#">6</a>
  <a class="next page-numbers" href="#">
    <svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg>
  </a>
</nav>
