<!-- Large modal -->
<button type="button" class="btn btn-primary boton" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
        <button type="button" class="close cerrar-circular" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
		<div class="modal-body">
        Contenido de la ventana modal
      </div>
    </div>
  </div>
</div>
<!-- Fin Large modal -->

<!-- Small modal -->
<button type="button" class="btn btn-primary boton" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close cerrar-circular" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
		<div class="modal-body">
        Contenido de la ventana modal
      </div>
    </div>
  </div>
</div>
<!-- Fin Small modal -->