<div class="titulo-menu-magnetico">Herramientas</div>
<section id="menu-magnetico">
      <nav>
        <ul>
          {{> atoms-item-magnetic-button(icon:"icon-comunidad", text:"Aulas Virtuales")}}
          {{> atoms-item-magnetic-button(icon:"icon-cohete-2", text:"Comunidades Académicas en Línea")}}
          {{> atoms-item-magnetic-button(icon:"icon-contacto", text:"Contáctenos")}}
        </ul>
      </nav>
</section>
<div id="responsive-menu-magnetico"></div>