<div class="sg-text">
  <p>
    test 1 Just once I'd like to eat dinner with a celebrity who isn't bound and gagged. Oh God, what have I done? We'll need to have a look inside you with this camera. It's okay, Bender. I like cooking too. <a href="#">This is a text link.</a> <strong>Strong is used to indicate strong importance</strong>. Oh, how I wish I could believe or understand that! There's only one reasonable course of action now: kill Flexo!
  </p>
  <p>
    Why, those are the Grunka-Lunkas! The <b>b element</b> is stylistically different text from normal text, without any special importance. They work here in the Slurm factory. <em>This text has added emphasis</em>. The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. The <i>i element</i> is text that is set off from the normal text. Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr>.
  </p>
  <p>
    Check it out, y'all. Everyone who was invited is here. Um, is this the boring, peaceful kind of taking to the streets? <strong> Alright, let's mafia things up a bit.</strong> <em> Joey, burn down the ship.</em> Clamps, burn down the crew. The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation. Superscript<sup>®</sup>.
  </p>
  <p>
    OK, this has gotta stop. I'm going to remind Fry of his humanity the way only a woman can. I feel like I was mauled by Jesus. You guys aren't Santa! You're not even robots. How dare you lie in front of Jesus? Subscript for things like H<sub>2</sub>O
  </p>
  <p>
    But existing is basically all I do! And so we say goodbye to our beloved pet, Nibbler, who's gone to a place where I, too, hope one day to go. The toilet. Why would a robot need to drink? But I've never been to the moon! <del>This text is deleted</del> and <ins>This text is inserted</ins>. <s>This text has a strikethrough</s>
  </p>

  <p><small>This small text is small for for fine print, etc.</small></p>

  <p>
    Keybord input: <kbd>Cmd</kbd> <q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q>
  </p>

  <p>
    <cite>This is a citation</cite>. The <dfn>dfn element</dfn> indicates a definition.
  </p>

  <p>
    The <mark>mark element</mark> indicates a highlight. <code>This is what inline code looks like.</code> <samp>This is sample output from a computer program</samp>. The <var>variarble element</var>, such as <var>x</var> = <var>y</var>
  </p>
</div>