<article class="texto">
  <ol>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores tenetur nisi assumenda eveniet labore, sint voluptatum nam eaque inventore. Vitae saepe veritatis deserunt, sequi delectus, doloremque minus vel eaque perspiciatis.</li>
    <li>Earum accusantium veritatis magni itaque minima quidem dolore, unde mollitia totam! Cumque at eligendi, aperiam id quos ea sint doloribus accusamus harum inventore nesciunt tempore vero velit porro non molestias?</li>
    <li>Deleniti vero nisi voluptatum eaque deserunt maiores sunt, sequi corrupti tempora ex! Possimus mollitia, illum molestiae non odio ab cupiditate facilis ducimus aperiam minus, facere eveniet quo tempore rem aut.</li>
    <li>Corrupti nesciunt eveniet suscipit, dolor quibusdam hic voluptatibus sunt magnam deserunt, cum ea, alias voluptate doloremque, eaque odit ratione minus. Iure fuga temporibus tempora, quos est dolores placeat accusantium ipsum.</li>
    <li>Est neque dignissimos minus adipisci porro unde et. Architecto perspiciatis inventore optio ullam. Omnis animi quam error voluptatibus, quasi natus, beatae totam aut, excepturi odio sed vel qui, nihil! Consectetur.</li>
  </ol>
  <hr>
  <ol style="counter-reset: section 98;">
  	<li>Para iniciar con un número mayor se incluye en la etiqueta ol: style="counter-reset: section 98;"</li>
  	<li>text</li>
  	<li>text</li>
 
  </ol>
<hr>
  <h4>Nesting counters</h4>
  <ol>
  <li>item</li>          <!-- 1     -->
  <li>item               <!-- 2     -->
    <ol>
      <li>item</li>      <!-- 2.1   -->
      <li>item</li>      <!-- 2.2   -->
      <li>item           <!-- 2.3   -->
        <ul>
          <li>item</li>  <!-- 2.3.1 -->
          <li>item</li>  <!-- 2.3.2 -->
        </ul>
        <ol>
          <li>item</li>  <!-- 2.3.1 -->
          <li>item</li>  <!-- 2.3.2 -->
          <li>item</li>  <!-- 2.3.3 -->
        </ol>
      </li>
      <li>item</li>      <!-- 2.4   -->
    </ol>
  </li>
  <li>item</li>          <!-- 3     -->
  <li>item</li>          <!-- 4     -->
</ol>
</article>
