<p class="entradilla">
  {{^ lead }}
  Tras recibir los cinco tomos de la colección “Minería y desarrollo” como aporte de esta Casa de Estudios, el Jefe del Estado agradeció el que calificó un insumo de gran valor para el diseño de políticas públicas, y comprometió a la Universidad a abocar, con el mismo rigor y visión de futuro un gran proyecto sobre otro de los asuntos fundamentales para la transformación del país y el afincamiento definitivo de la paz, como es el de la corrupción, invitación que fue aceptada de inmediato por el rector de la Universidad, Juan Carlos Henao.
  {{/ lead }}
  {{# lead }}
  {{lead}}
  {{/ lead }}
</p>
