<p class="autor">
  <em>
    <strong>{{^ author-title }}Por{{/ author-title }}{{# author-title }}{{author-title}}{{/ author-title }}:</strong>
    <a href="#">{{^ author-text }}Pepita Perez{{/ author-text }}{{# author-text }}{{author-text}}{{/ author-text }}</a> 
  </em>
  <br>{{# subject-text }}{{subject-text}}{{/ subject-text }}
</p>
