<p id="breadcrumbs">
  <span>
    <a href="" class="text-link">Inicio</a>
     »
    <span>
      <a href="" class="text-link">{{# text }}{{text}}{{/ text }}{{^ text }}Eventos{{/ text }}</a>
    </span>
  </span>
</p>