<article class="stats-item {{^ modifier-class  }}medium-stat dark border-line-m default-border{{/ modifier-class }}{{# modifier-class }}{{modifier-class}}{{/ modifier-class }}">
    <div class="stats-text-content">
            <span class="stats-text counter"> 5483</span>
            <p class="stats-description">Egresados 2021</p>
     </div>
</article>