{{> organisms-header-blogs }}
  <main>
    {{> organisms-carousel-tabs}}
    <div class="centrar">
      {{> organisms-group-button-06}}
    </div>

    <div class="centrar">
      {{> molecules-mini-buttons}}
    </div>
  </main>

  <div class="centrar overflow">
    <div class="columna09-grande ">
      {{> organisms-news-list }}
    </div>

    <aside class="columna03-grande aside">
      {{> molecules-calendar-widget }}
      {{> molecules-events-widget }}
      {{> molecules-quote-widget }}
      {{> molecules-image-widget }}
      {{> molecules-text-link-widget }}
      {{> molecules-carousel-widget }}
      {{> molecules-menu-widget }}
    </aside>
  </div>

{{> organisms-footer-blogs }}
