<span>
  <input id="presencial" type="checkbox" name="nivel" value="presencial"><label for="presencial">Presencial</label>
  <input id="semipresencial" type="checkbox" name="nivel" value="semipresencial" checked><label for="semipresencial">Semipresencial</label>
  <input id="virtual" type="checkbox" name="nivel" value="virtual"><label for="virtual">Virtual</label>
</span>