<span>
  <input type="radio" name="nivel" value="doctorado"><label>Doctorado</label>
  <input type="radio" name="nivel" value="maestría"><label>Maestría</label>
  <input type="radio" name="nivel" value="especialización" checked><label>Especilización</label>
  <input type="radio" name="nivel" value="pregrado"><label>Pregrado</label>
  <input type="radio" name="nivel" value="continuada"><label>Educación continuada</label>
</span>
