<label class="dropdown">
  <select aria-label="Elija la ciudad en la que quiere estudiar">
    <!--<option class="hidden3" value="">Elija la ciudad en la que quiere estudiar</option>
    <option class="show3" value="">Elija la ciudad </option>-->
    <option select value="">¿Dónde quiere estudiar?</option>
    <option value="barranquilla">Barranquilla</option>
    <option value="bucaramanga">Bucaramanga</option>
    <option value="cali">Cali</option>
    <option value="cartagena">Cartagena</option>
    <option value="cucuta">Cúcuta</option>
    <option value="medellin">Medellín</option>
    <option value="neiva">Neiva</option>
    <option value="pasto">Pasto</option>
    <option value="pereira">Pereira</option>
    <option value="san-andres">San Andrés</option>
    <option value="tunja">Tunja</option>
    <option value="villavicencio">Villavicencio</option>
  </select>
</label>
