<form class="buscador" method="get" role="search">
  <input type="search" name="s" placeholder="" aria-label="Buscar">
  <span><svg class="icon icon-lupa"><use xlink:href="../../images/iconos.svg#icon-lupa"></use></svg></span>
</form>
