<div class="contenido">
  <article >
    <table>
	  <thead>
	    <tr>
		      <th scope="col">Horario</th>
		      <th scope="col">Tema</th>
		      <th scope="col">Moderadores y Ponentes</th>
	    </tr>
  	</thead>
	  <tbody>
	    <tr>
		      <td data-table-header="Horario">8:30 a.m. a 10:30 a.m.</td>
		      <td data-table-header="Tema">
		      	<p>Sesión 1</p>
		        <ul>
		          <li>Aspectos de derecho comercial y laboral.</li>
              <li>Régimen cambiario de la inversión extranjera en Colombia.</li>
              <li>Régimen tributario de la inversión extrajera directa en Colombia: EP y sucursales. </li>
              <li>Régimen tributario de la inversión extranjera de portafolio.</li>
		        </ul>
		        <a href="">Ver manual</a>
		      </td>
		      <td data-table-header="Moderadores y Panelistas">
            <strong>Moderador: </strong>Roberto Insignares
            <strong>Panelistas: </strong> Nicolás Lozada Felipe Bedoya Carlos Miguel Chaparro Carolina Martínez
          </td>
	    </tr>

      <tr>
		      <td data-table-header="Horario">10:30 a.m. a 11:00 a.m</td>
		      <td data-table-header="Tema">Receso</td>	
		      <td data-table-header="Moderadores"> Receso
          </td>
	    </tr>

      <tr>
		      <td data-table-header="Horario">1:30 p.m. a 3:30 p.m.</td>
		      <td data-table-header="Tema">
		        <ul>
		          <li>Aspectos de derecho comercial y laboral.</li>
              <li>Régimen cambiario de la inversión extranjera en Colombia.</li>
              <li>Régimen tributario de la inversión extrajera directa en Colombia: EP y sucursales. </li>
              <li>Régimen tributario de la inversión extranjera de portafolio.</li>
		        </ul>
		      </td>
		      <td data-table-header="Moderadores">
            <strong>Moderador: </strong>Roberto Insignares<br>
            <strong>Panelistas: </strong> Nicolás Lozada Felipe Bedoya Carlos Miguel Chaparro Carolina Martínez
          </td>
	    </tr>

	  </tbody>
</table>
   </article>
</div>

<div class="contenido">
  <h3>Administración de Empresas</h3>
  <article >
    <table>
      <thead>
        <tr>
		      <th >Código SNIES:</th>
          <th >Modalidad:</th>
          <th >Duración:</th>
          <th>Lugar:</th>
          <th>Registro Calificado:</th>

	    </tr>
      </thead>
	    <tbody>
	       <tr>
		      <td data-table-header="Código SNIES:">1115</td>
		      <td data-table-header="Modalidad">Presencial</td>
          <td data-table-header="Duración">9 Semestres</td>
          <td data-table-header="Lugar">Bogotá</td>
          <td data-table-header="Registro Calificado">5097 del 30-jul-09 por 7 Años</td>
	    </tr>
      </tbody>
    </table>
  </article>
</div>
