{{> organisms-header-blogs(nombre:"Derecho Penal y Criminología") }}
<div class="faculty-defecto">

  {{> molecules-prominent-image-faculty }}

  <div class="centrar">
    <div class="margin-m texto">
      <h3 class="texto-centrado">  Un espacio para participar, para pensar, para analizar y para construir conjuntamente el derecho penal, procesal penal y la criminología</h3></div>
    
    <div class="margin-l">{{> organisms-events-carousel(tit-class:"h3 texto-centrado") }}</div>
  </div>

    <div class="centrar">
      {{> organisms-group-button-08}} 
    </div>

  <div style="clear: both;"></div>
  <div class="centrar overflow">
    <div class="columna09 contenido">
      <div class="lista-noticias">
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
      {{> molecules-pagination}}
    </div>

    <aside class="columna03 aside">
      {{> molecules-text-link-widget }}
      {{> molecules-menu-widget }}
      {{> molecules-calendar-wp-widget }}
    </aside>
  </div>

</div>
{{> organisms-footer-blogs }}
No newline at end of file