{{> organisms-header-blogs(nombre:"Derecho Penal y Criminología") }}

<div class="faculty-defecto">

  <div class="centrar overflow">
    <div class="columna09 contenido">
      <h2 class="h1">Archivo: Ejemplo</h2>
      <div class="lista-noticias">
        {{> organisms-hover-news-grid }}
      </div>
      {{> molecules-pagination}}
    </div>

    <aside class="columna03 aside">
      {{> molecules-text-link-widget }}
      {{> molecules-menu-widget }}
      {{> molecules-calendar-wp-widget }}
    </aside>
  </div>
</div>

{{> organisms-footer-blogs }}