 <div class="columnas-alto-fijo margin-l {{# modifier-class }}{{ modifier-class }}{{/ modifier-class }}{{ ^ modifier-class}}big-news-group{{/ modifier-class }}">
      <div class="columna06">{{> molecules-news-basic-big(text-class:"h4") }}</div>
      <div class="columna06">{{> molecules-news-basic-big(text-class:"h4") }}</div>
    </div>