{{> organisms-header-blogs(logo:"../../images/logos/librepensador.png", facultad:"Finazas, Gobierno y Relaciones Internacionales") }}

<div class="faculty-defecto">

    <div class="centrar overflow">
    <div class="columna08 contenido">
      <h1>Título</h1>
      {{> organisms-squared-news-grid }}
      {{> molecules-pagination}}
    </div>

    <aside class="columna04 aside">
      {{> molecules-news-list-widget }}
      {{> molecules-news-list-widget }}
      {{> molecules-news-list-widget }}
    </aside>
  </div>
</div>

{{> organisms-footer-blogs }}
