{{> organisms-header-blogs(nombre:"Observatics") }}

<div class="faculty-defecto">
  {{> organisms-faculty-carousel }}
  <div class="centrar overflow">
    <div class="columna12 pagina-completa">

       <div class="columna12">
        {{> organisms-calendar-for-home(calendar-title:"Agenda de eventos")  }}
        {{> organisms-event-list }}
      </div>
       <div class="columna12">
        {{> organisms-group-subtitle-button }}
      </div>
      <div class="columna12">
        {{> molecules-newsletter-widget }}
      </div>
      <div class="columna06">
        <h2 class="h3"> Posgrados </h2>
        {{> molecules-news-module }}
      </div>
      <div class="columna06">
        <h2 class="h3"> Campus Virtual </h2>
        {{> molecules-news-module }}
      </div>
      <div class="columna12">
        <h2 class="h3"> Noticias </h2>
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
      <div class="columna06">
        <br>
        <br>
      </div>
      <div class="columna06">
        <br>
        <br>
      </div>
      <div class="contenido">
        <div class="columna06">
          <a class="twitter-timeline" data-height="600" href="https://twitter.com/ObservaticsUEX?ref_src=twsrc%5Etfw">Tweets by ObservaticsUEX</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="columna06">
          <iframe name="f8aa57ab4001c" width="600px" height="600px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:page Facebook Social Plugin" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=true&amp;app_id=&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FLnGK1eIuZ8c.js%3Fversion%3D42%23cb%3Df34bc08ce4cd71c%26domain%3Dobservatics.edu.co%26origin%3Dhttp%253A%252F%252Fobservatics.edu.co%252Ff161b7f0dc2d788%26relation%3Dparent.parent&amp;container_width=576&amp;height=600&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FUExternado.Observatics&amp;locale=es_LA&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline&amp;width=600" style="border: none; visibility: visible; width: 500px; height: 600px;" class=""></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="fondo-completo">
    <div class="centrar">
      <h2 class="h3">Aliados</h2>
    </div>
    <div class="carrusel-relacionadas">
      <div class="modulo-relacionado">
        <a href="#">
          <img src="../../images/modulo-relacionada.png" alt="Noticia Relacionada" />
        </a>
      </div>
      <div class="modulo-relacionado">
        <a href="#">
          <img src="../../images/modulo-relacionada.png" alt="Noticia Relacionada" />
        </a>
      </div>
      <div class="modulo-relacionado">
        <a href="#">
          <img src="../../images/modulo-relacionada.png" alt="Noticia Relacionada" />
        </a>
      </div>
      <div class="modulo-relacionado">
        <a href="#">
          <img src="../../images/modulo-relacionada.png" alt="Noticia Relacionada" />
        </a>
      </div>
      <div class="modulo-relacionado">
        <a href="#">
          <img src="../../images/modulo-relacionada.png" alt="Noticia Relacionada" />
        </a>
      </div>
    </div>
  </div>
</div>

{{> organisms-footer-blogs }}