{{> organisms-header-blogs(nombre:"Observatics") }}

<div class="faculty-defecto">
  <div class="centrar overflow">
    <div class="columna08 contenido">
      <h2 class="h1">Archivo: Ejemplo</h2>
      <div class="lista-noticias">
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
      {{> molecules-pagination}}
    </div>

    <aside class="columna04 aside">
        <div class="widget widget-news-list">
          <h2 class="h4">Publicaciones</h2>
          <div class="info">
            <div class="lista-noticias">
              <article class="modulo-noticia">
                <a href="#">
                  <img src="http://observatics.edu.co/wp-content/uploads/2016/02/GUIA-DE-SERVICIOS-MÓVILES-DE-TELECOMUNICACIONES-350x525.jpg" alt="Noticia" />
                </a>
                <div class="info">
                  <h3 class="h4"><a href="#">Guía ejemplo</a></h3>
                  <p> rit lacus. Curabitur ut lacus est. Cras dictum a diam at dapibus. Maecenas non mauris sem. Vestibulum tempor eget mauris qui</p>
                </div>
              </article>
              <article class="modulo-noticia">
                <a href="#">
                  <img src="http://observatics.edu.co/wp-content/uploads/2016/02/GUIA-DE-SERVICIOS-MÓVILES-DE-TELECOMUNICACIONES-350x525.jpg" alt="Noticia" />
                </a>
                <div class="info">
                  <h3 class="h4"><a href="#">Guía ejemplo</a></h3>
                  <p> rit lacus. Curabitur ut lacus est. Cras dictum a diam at dapibus. Maecenas non mauris sem. Vestibulum tempor eget mauris qui</p>
                </div>
              </article>
              <article class="modulo-noticia">
                <a href="#">
                  <img src="http://observatics.edu.co/wp-content/uploads/2016/02/GUIA-DE-SERVICIOS-MÓVILES-DE-TELECOMUNICACIONES-350x525.jpg" alt="Noticia" />
                </a>
                <div class="info">
                  <h3 class="h4"><a href="#">Guía ejemplo</a></h3>
                  <p> rit lacus. Curabitur ut lacus est. Cras dictum a diam at dapibus. Maecenas non mauris sem. Vestibulum tempor eget mauris qui</p>
                </div>
              </article>
              <article class="modulo-noticia">
                <a href="#">
                  <img src="http://observatics.edu.co/wp-content/uploads/2016/02/GUIA-DE-SERVICIOS-MÓVILES-DE-TELECOMUNICACIONES-350x525.jpg" alt="Noticia" />
                </a>
                <div class="info">
                  <h3 class="h4"><a href="#">Guía ejemplo</a></h3>
                  <p> rit lacus. Curabitur ut lacus est. Cras dictum a diam at dapibus. Maecenas non mauris sem. Vestibulum tempor eget mauris qui</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </aside>
  </div>
</div>

{{> organisms-footer-blogs }}
