{{> organisms-header-blogs(nombre:"Intranet Universidad Externado") }}

<div class="faculty-defecto">
  {{> organisms-opening-basic(modifier-class:"padding-reducido")}}
  <div class="centrar">
      {{> organisms-group-button-06}}
      <h6 class="texto-centrado">Aplicativos de Docentes y Funcionarios</h6>
      {{> organisms-carousel-icons}}
    </div>
  <div class="centrar overflow">
    <div class="columna08 contenido">
      <div class="lista-noticias">
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
      {{> molecules-pagination}}
    </div>

    <aside class="columna04 aside">
      {{> molecules-text-link-widget }}
      {{> molecules-menu-widget }}
      {{> molecules-tag-cloud-widget }}
      {{> molecules-calendar-wp-widget }}
    </aside>
  </div>
</div>

{{> organisms-footer-blogs }}
