{{> organisms-header-top-blogs }}

<div class="faculty-defecto">
        {{> molecules-prominent-image-faculty }}
      <main>
         <!--El contenido del main se incluye desde Wordpress, la idea es crear una plantilla en blanco sin las siguientes etiquetas desde aquí-->
        <div class="centrar">
          <section class="contenido texto">
        
            <h1>Contenido pantalla completa incluido desde Wordpress</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </section>
        </div>
        <!--Hasta aquí-->
      </main>
      <div class="centrar"> {{> molecules-previous-next }}</div>

</div>
{{> organisms-footer-blogs }}