<div class="selector-modalidad activo">
	<button class="btn-close" aria-label="Cerrar" onclick="closeModeSelector()"></button>
	<div class="content">
		<h1 class="title">¿En qué plan estás matriculado?</h1>
		<p class="description">Selecciona una opción para continuar: </p>
		<div class="options">
			<div class="left">
				<button class="mod-option semestral" title="Modalidad semestral">
					<span class="text">Anual</span>
					<figure class="icon"><img src="../../images/icono-modalidad-anual.svg" alt="Modalidad anual"></figure>
				</button>
			</div>
			<div class="right">
				<button class="mod-option anual" title="Modalidad anual">
					<span class="text">Semestral</span>
					<figure class="icon"><img src="../../images/icono-modalidad-semestral.svg" alt="Modalidad semestral"></figure>
				</button>
			</div>
		</div>
	</div>
</div>
