<div class="grilla-3 gap-1">
  <!-- Consideraciones para estos iconos:
      1. Foto: no llevan icono. Desde el css se esconden pero la idea es que el usuario no llene este espacio en el gestor de contenidos.
      2. Color: tienen la posibilidad de tener o no icono, según la foto y si es pertinente.
      3. Blancos: Siempre deben tener icono
  -->

  <!-- 1er botón-->
  {{> atoms-big-button}}
  <!-- /1er botón-->

  <!-- 2do botón-->
   {{> atoms-big-button}}
  <!-- /2do botón-->

  <!-- 3er botón-->
   {{> atoms-big-button}}
  <!-- /3er botón--> 

    <!-- 4to botón-->
  {{> atoms-big-button}}
  <!-- 4to botón-->

  <!-- 5to botón-->
   {{> atoms-big-button}}
  <!-- 5to botón-->

  <!--6to botón-->
   {{> atoms-big-button}}
  <!-- 6to botón--> 


</div>
