<div class="grilla-portal">
	 <!-- cada ítem se debe cargar desde wordpress: título, subtítulo, icono e imagen.-->
{{> atoms-subtitle-button(imagen-boton-subtitulo:"../../images/boton-subtitulo-01.png", subtitle-title:"Título 1", imagen-boton-icono:"../../images/iconos.svg#icon-diploma", subtitle-subtitle:"Texto 1")}}
{{> atoms-subtitle-button(imagen-boton-subtitulo:"../../images/boton-subtitulo-02.png", subtitle-title:"Título 2", imagen-boton-icono:"../../images/iconos.svg#icon-campus-virtual", subtitle-subtitle:"Texto 2")}}
{{> atoms-subtitle-button(imagen-boton-subtitulo:"../../images/boton-subtitulo-03.png", subtitle-title:"Título 3", imagen-boton-icono:"../../images/iconos.svg#icon-brujula", subtitle-subtitle:"Texto3")}}
</div>