<div class="contenedor-icon-button-aside">
	{{> atoms-icon-button-aside(icono-icon-button-aside:"../../images/iconos.svg#icon-multimedia", text-button:"Multimedia", clase-icon-button-aside:"multimedia")}}
	{{> atoms-icon-button-aside(icono-icon-button-aside:"../../images/iconos.svg#icon-pelicula-02", text-button:"Video", clase-icon-button-aside:"video")}}
	{{> atoms-icon-button-aside(icono-icon-button-aside:"../../images/iconos.svg#icon-audifonos-2", text-button:"Audio", clase-icon-button-aside:"audio")}}
    {{> atoms-icon-button-aside(icono-icon-button-aside:"../../images/iconos.svg#icon-foto-03", text-button:"Imagen", clase-icon-button-aside:"imagen")}}
    {{> atoms-icon-button-aside(icono-icon-button-aside:"../../images/iconos.svg#icon-libro-03", text-button:"Texto", clase-icon-button-aside:"texto")}} 
</div> 