<div class="centrar">
<div class="grilla-portal">
{{> molecules-square-news-module(img-url:"news-hover-2-600x600.jpg", title:"Cátedra unesco derechos humanos y violencia: gobierno y gobernanzalas políticas públicas frente a las violaciones a los derechos humanos", lead:"Problemas, representaciones y políticas frente a graves violaciones a los derechos humanos.")}}
{{> molecules-square-news-module(img-url:"news-hover-2-600x600.jpg", title:"Medios de comunicación y educación: una alternativa frente a la cultura de la violencia", lead:"Cátedra unesco derechos humanos y violencia: gobierno y gobernanzalas políticas públicas frente a las violaciones a los derechos humanos")}}
{{> molecules-square-news-module(img-url:"news-hover-2-600x600.jpg", title:"La reglamentación del pago por servicios ambientales en la implementación del acuerdo de paz", lead:"Justicia restaurativa y la relación con los derechos económicos, sociales y culturales (DESC) de las víctimas del conflicto armado")}}
{{> molecules-square-news-module(img-url:"news-hover-2-600x600.jpg", title:"Cátedra unesco derechos humanos y violencia: gobierno y gobernanzalas políticas públicas frente a las violaciones a los derechos humanos", lead:"Problemas, representaciones y políticas frente a graves violaciones a los derechos humanos.")}}
{{> molecules-square-news-module(img-url:"news-hover-2-600x600.jpg", title:"Medios de comunicación y educación: una alternativa frente a la cultura de la violencia", lead:"Cátedra unesco derechos humanos y violencia: gobierno y gobernanzalas políticas públicas frente a las violaciones a los derechos humanos")}}
{{> molecules-square-news-module(img-url:"news-hover-2-600x600.jpg", title:"La reglamentación del pago por servicios ambientales en la implementación del acuerdo de paz", lead:"Justicia restaurativa y la relación con los derechos económicos, sociales y culturales (DESC) de las víctimas del conflicto armado")}} 

</div>
</div>