<div class="carrusel-programas">
{{> atoms-program-button(modifier-class:"h5", tit:"Pregrados",img-url:"programas/1-pregrados.jpg", url:"https://www.uexternado.edu.co/busqueda/?wpsolr_fq%5B0%5D=academic_level_str%3APregrado" )}}
{{> atoms-program-button(modifier-class:"h5", tit:"Especializaciones",img-url:"programas/4-especializaciones.jpg" ,url:"https://www.uexternado.edu.co/busqueda/?wpsolr_fq%5B0%5D=academic_level_str%3AEspecializaci%C3%B3n" )}}
{{> atoms-program-button(modifier-class:"h5", tit:"Maestrías",img-url:"programas/3-maestrias.jpg", url:"https://www.uexternado.edu.co/busqueda/?wpsolr_fq%5B0%5D=academic_level_str%3AMaestr%C3%ADa" )}}
{{> atoms-program-button(modifier-class:"h5", tit:"Doctorados",img-url:"programas/2-doctorados.jpg", url:"https://www.uexternado.edu.co/busqueda/?wpsolr_fq%5B0%5D=academic_level_str%3ADoctorado" )}}
{{> atoms-program-button(modifier-class:"h5", tit:"Edu. Continuada",img-url:"programas/5-educacion-continuada.jpg" ,url:"https://www.uexternado.edu.co/busqueda/?wpsolr_fq%5B0%5D=academic_level_str%3AEducaci%C3%B3n%20continuada" )}}
{{> atoms-program-button(modifier-class:"h5", tit:"Educación Virtual",img-url:"programas/6-educacion-virtual.jpg" ,url:"https://www.uexternado.edu.co/busqueda/?wpsolr_fq%5B0%5D=mode_meta_str%3Avirtual" )}}
{{> atoms-program-button(modifier-class:"h5", tit:"Regiones",img-url:"programas/7-regiones.jpg" ,url:"#" )}}
</div>
