<div class="carrusel-links-relacionados">
    {{> molecules-links-module(modifier-class:"h4", tit:"Estructura curricular",img-url:"programas/1-pregrados.jpg" )}}
    {{> molecules-links-module(modifier-class:"h4", tit:"Docentes",img-url:"programas/2-doctorados.jpg" )}}
    {{> molecules-links-module(modifier-class:"h4", tit:"Seminarios",img-url:"programas/3-maestrias.jpg" )}}
    {{> molecules-links-module(modifier-class:"h4", tit:"Proyectos de sostenibilidad",img-url:"programas/4-especializaciones.jpg" )}}
</div>
    