{{> organisms-header }}
<div class="faculty-finanzas-gobierno-y-relaciones-internacionales">
   {{> organisms-secondary-header-menu }}
   <div class="contenedor">
      {{> organisms-faculty-carousel}}
      <div class="centrar">
         <main>
            <div class="centrar overflow">
               <div class="columna09-grande ">
                  {{> organisms-news-list }}
               </div>
               <aside class="columna03-grande aside">
                  {{> molecules-calendar-widget }}
               </aside>
            </div>
         </main>
      </div>
   </div>
   {{> organisms-faculty-info }}
</div>
{{> organisms-footer }}
