{{> organisms-header }}
<div class="faculty-finanzas-gobierno-y-relaciones-internacionales">
   {{> organisms-secondary-header-menu }}
   <div class="contenedor">
      <main>
         {{> organisms-carousel-agenda }}
         <div style="clear: both;"></div>
         {{> molecules-events-columns }}
         {{> organisms-footer }}
      </main>
   </div>
   {{> organisms-faculty-info }}
</div>
{{> organisms-footer }}