{{> organisms-header-blogs(nombre:"Departamento de Derecho Financiero y Bursátil", slogan:"Observatorio de Derecho Financiero y del Mercado de Valores") }}

<div class="faculty-defecto">
  <div class="fondo-completo busqueda-wpsolr padding-none">
    <div class="centrar">
      <aside class="columna04 aside"> 
      {{> organisms-accordion-digital-repository-filter }}
     </aside>
      <div class="columna08 contenido">
        <h2 class="h3">Repositorio Digital sobre Garantías Mobiliarias</h2>
        {{> molecules-digital-repository-module }}
        {{> molecules-digital-repository-module }}
        {{> molecules-digital-repository-module }}
        {{> molecules-digital-repository-module }}
        {{> molecules-digital-repository-module }}
        {{> molecules-pagination}}

        {{> organisms-news-resume }}

      </div>       
    </div>
  </div>
{{> organisms-footer-blogs }}