<div class="faculty-color faculty-observatorio-familia-infacia-adolecencia">
{{> organisms-header-blogs(nombre:"Observatorio de familia, infancia y adolescencia", facultad:"Derecho y de la Facultad de Finanzas, Gobierno y Relaciones Internacionales") }}

  <div class="fondo-completo busqueda-wpsolr padding-none">
    <div class="centrar">
      <aside class="columna04 aside"> 
      {{> organisms-accordion-repository-familia-infancia }}
     </aside>
      <div class="columna08 contenido">
        <h2 class="h3">Repositorio Observatorio de familia, infancia y adolescencia</h2>
        {{> molecules-repository-familia-infancia-card }}
        {{> molecules-repository-familia-infancia-card }}
        {{> molecules-repository-familia-infancia-card }}
        {{> molecules-repository-familia-infancia-card }}
        {{> molecules-repository-familia-infancia-card }}
        {{> molecules-repository-familia-infancia-card }}


        {{> molecules-pagination}}

      </div>       
    </div>
  </div>
{{> organisms-footer-blogs }}