{{> organisms-header-blogs(logo:"../../images/logos/zero.png") }}
<div class="faculty-defecto">
  <div class="fondo-completo busqueda-wpsolr">
    <div class="centrar">
      <h1>Archivo Revista Zero</h1>
      <aside class="columna04 aside"> {{> organisms-accordion-books-filter }} </aside>
      <div class="columna08 contenido">
        {{> molecules-books-card(format:"11 de febrero de 2021", numero:"Edición 39", imagen:"revista.jpg", titulo: "Separata Zero Nuevas diplomacias", class1:"hidden", text:"Este número especial de Zero online plantea la necesidad de comprender el significado y la creciente importancia de nuevas formas de diplomacia que conllevan una interacción compleja, multidimensional y diferenciada." )  }}
        {{> molecules-books-card(format:"11 de febrero de 2021", numero:"Edición 39", imagen:"revista.jpg", titulo: "Separata Zero Nuevas diplomacias", class1:"hidden", text:"Este número especial de Zero online plantea la necesidad de comprender el significado y la creciente importancia de nuevas formas de diplomacia que conllevan una interacción compleja, multidimensional y diferenciada." )  }}
        {{> molecules-books-card(format:"11 de febrero de 2021", numero:"Edición 39", imagen:"revista.jpg", titulo: "Separata Zero Nuevas diplomacias", class1:"hidden", text:"Este número especial de Zero online plantea la necesidad de comprender el significado y la creciente importancia de nuevas formas de diplomacia que conllevan una interacción compleja, multidimensional y diferenciada." )  }}
        {{> molecules-books-card(format:"11 de febrero de 2021", numero:"Edición 39", imagen:"revista.jpg", titulo: "Separata Zero Nuevas diplomacias", class1:"hidden", text:"Este número especial de Zero online plantea la necesidad de comprender el significado y la creciente importancia de nuevas formas de diplomacia que conllevan una interacción compleja, multidimensional y diferenciada." )  }}
        {{> molecules-books-card(format:"11 de febrero de 2021", numero:"Edición 39", imagen:"revista.jpg", titulo: "Separata Zero Nuevas diplomacias", class1:"hidden", text:"Este número especial de Zero online plantea la necesidad de comprender el significado y la creciente importancia de nuevas formas de diplomacia que conllevan una interacción compleja, multidimensional y diferenciada." )  }}
        {{> molecules-books-card(format:"11 de febrero de 2021", numero:"Edición 39", imagen:"revista.jpg", titulo: "Separata Zero Nuevas diplomacias", class1:"hidden", text:"Este número especial de Zero online plantea la necesidad de comprender el significado y la creciente importancia de nuevas formas de diplomacia que conllevan una interacción compleja, multidimensional y diferenciada." )  }}
        {{> molecules-books-card(format:"11 de febrero de 2021", numero:"Edición 39", imagen:"revista.jpg", titulo: "Separata Zero Nuevas diplomacias", class1:"hidden", text:"Este número especial de Zero online plantea la necesidad de comprender el significado y la creciente importancia de nuevas formas de diplomacia que conllevan una interacción compleja, multidimensional y diferenciada." )  }}
        {{> molecules-books-card(format:"11 de febrero de 2021", numero:"Edición 39", imagen:"revista.jpg", titulo: "Separata Zero Nuevas diplomacias", class1:"hidden", text:"Este número especial de Zero online plantea la necesidad de comprender el significado y la creciente importancia de nuevas formas de diplomacia que conllevan una interacción compleja, multidimensional y diferenciada." )  }}
        {{> molecules-books-card(format:"11 de febrero de 2021", numero:"Edición 39", imagen:"revista.jpg", titulo: "Separata Zero Nuevas diplomacias", class1:"hidden", text:"Este número especial de Zero online plantea la necesidad de comprender el significado y la creciente importancia de nuevas formas de diplomacia que conllevan una interacción compleja, multidimensional y diferenciada." )  }}
        {{> molecules-books-card(format:"11 de febrero de 2021", numero:"Edición 39", imagen:"revista.jpg", titulo: "Separata Zero Nuevas diplomacias", class1:"hidden", text:"Este número especial de Zero online plantea la necesidad de comprender el significado y la creciente importancia de nuevas formas de diplomacia que conllevan una interacción compleja, multidimensional y diferenciada." )  }}


        {{> molecules-pagination}} </div>
    </div>
  </div>
 </div>
{{> organisms-footer-blogs }}