{{> organisms-header-blogs(nombre:"Unidad de Apoyo a la Investigación") }}

<div class="faculty-defecto">
  <div class="fondo-completo busqueda-wpsolr padding-none">
    <div class="centrar">
      <aside class="columna04 aside"> 
      {{> organisms-accordion-bulletin-filter }}
     </aside>
      <div class="columna08 contenido">
        <h2 class="h3">Repositorio</h2>
        {{> molecules-bulletin-card(class-faculty:"ciencias-sociales-y-humanas",name-faculty:"Facultad de Ciencias Sociales y Humanas", class-faculty2:"comunicacion-social-periodismo",name-faculty2:"Facultad de Comunicación Social – Periodismo", class-faculty3:"administracion-de-empresas",name-faculty3:"Facultad de Administración de Empresas") }}
        {{> molecules-bulletin-card(class-faculty:"administracion-de-empresas",name-faculty:"Facultad de Administración de Empresas") }}
        {{> molecules-bulletin-card(class-faculty:"contaduria-publica",name-faculty:"Facultad de Contaduría Pública") }}
        {{> molecules-bulletin-card(class-faculty:"economia",name-faculty:"Facultad de Economía") }}
        {{> molecules-bulletin-card(class-faculty:"ciencias-sociales-y-humanas",name-faculty:"Facultad de Ciencias Sociales y Humanas") }}
        {{> molecules-bulletin-card(class-faculty:"derecho",name-faculty:"Facultad de Derecho") }}
        {{> molecules-bulletin-card(class-faculty:"derecho",name-faculty:"Facultad de Derecho") }}
        {{> molecules-bulletin-card(class-faculty:"administracion-de-empresas",name-faculty:"Facultad de Administración de Empresas") }}
        {{> molecules-bulletin-card(class-faculty:"comunicacion-social-periodismo",name-faculty:"Facultad de Comunicación Social – Periodismo") }}
        {{> molecules-bulletin-card(class-faculty:"derecho",name-faculty:"Facultad de Derecho") }}
        {{> molecules-pagination}}

      </div>       
    </div>
  </div>
{{> organisms-footer-blogs }}