{{> organisms-header-blogs(logo:"../../images/logos/logo-medio-ambiente.png") }}
<div class="faculty-defecto">
  <div class="fondo-completo busqueda-wpsolr">
    <div class="centrar">
      <h1>El Departamento en los medios</h1>
      <aside class="columna04 aside"> {{> organisms-accordion-books-filter }} </aside>
      <div class="columna08 contenido">
        {{> molecules-news-card }}
        {{> molecules-news-card }}
        {{> molecules-news-card }}
        {{> molecules-news-card }}
        {{> molecules-news-card }}
        {{> molecules-news-card }}

        {{> molecules-pagination}} </div>
    </div>
  </div>
 </div>
{{> organisms-footer-blogs }}