{{> organisms-header }}

<div class="faculty-la-universidad">
  {{> organisms-secondary-header-menu(faculty-home:"La Universidad") }}
<div class="contenedor">
    <div class="centrar">
      <main>
        <article class="columna08 contenido">
          <div class="texto">
            <h1>Promoción 1889</h1>
            <figure>
              <img src="../../images/destacada-mosaico-zoom.jpg" alt="Imagen destacada">
            </figure>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Integer at tellus nisl. Suspendisse nulla metus, fermentum a urna laoreet, elementum semper tellus.</p>
            <br>
            <span class="h4">Curabitur velit nibh</span>
            <br>
            <div class="columna04" style="margin-top: 1rem;">
            <img src="../../images/detalle-mosaico-01.jpeg">
          </div>
          <div class="columna08"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus sed turpis tincidunt id aliquet risus feugiat in ante. Ullamcorper sit amet risus nullam eget felis eget nunc. Neque sodales ut etiam sit amet nisl. Molestie ac feugiat sed lectus vestibulum. Morbi tristique senectus et netus et. Aliquam faucibus purus in massa tempor. Facilisi etiam dignissim diam quis enim lobortis scelerisque. Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Suspendisse in est ante in nibh.</p>
          </div>
          <br>
          <p>Metus dictum at tempor commodo ullamcorper. Nam at lectus urna duis convallis. Sed egestas egestas fringilla phasellus faucibus. Tincidunt praesent semper feugiat nibh sed pulvinar. Pretium fusce id velit ut tortor pretium viverra. Elementum eu facilisis sed odio morbi quis commodo odio aenean. Arcu bibendum at varius vel pharetra vel turpis nunc. Ut venenatis tellus in metus vulputate. Viverra nibh cras pulvinar mattis. Malesuada proin libero nunc consequat interdum varius sit amet mattis.</p>
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus sed turpis tincidunt id aliquet risus feugiat in ante. Ullamcorper sit amet risus nullam eget felis eget nunc. Neque sodales ut etiam sit amet nisl. Molestie ac feugiat sed lectus vestibulum. Morbi tristique senectus et netus et. Aliquam faucibus purus in massa tempor. Facilisi etiam dignissim diam quis enim lobortis scelerisque. Dictum at tempor commodo ullamcorper a lacus vestibulum sed. Suspendisse in est ante in nibh.</p>
          </div>
        </article>
      </main>

      <aside class="columna04 aside">
        {{> molecules-news-list-widget-mosaico }}
      </aside>
    </div>
  </div>
{{> organisms-faculty-info(title-footer:"La Universidad") }}
</div>

{{> organisms-footer }}