{{> organisms-header }}
<div class="faculty-centro-de-estudios-sobre-genetica-y-derecho faculty-defecto">
  {{> organisms-secondary-header-menu(faculty-home:"Centro de Estudios sobre Genética y Derecho") }}
  <div class="fondo-completo busqueda-wpsolr">
    <div class="centrar">
      <div class="columna12">
        <h2 class="h3">Jurisprudencia en Derecho Médico</h2>
      </div>
      <div class="columna12" style="margin-top: 1rem;">
        <aside class="columna04 aside" style="margin-top: 1.2rem;">
          {{> organisms-filter-derecho-medico }}
        </aside>
        <div class="columna08" style="margin-top: 0;">
          {{> molecules-card-accordion-derecho-medico }}
          {{> molecules-card-accordion-derecho-medico }}
          {{> molecules-card-accordion-derecho-medico }}
          {{> molecules-card-accordion-derecho-medico }}
          {{> molecules-card-accordion-derecho-medico }}
          {{> molecules-card-accordion-derecho-medico }}
          {{> molecules-card-accordion-derecho-medico }}

        </div>
      </div>
    </div>
  </div>
</div>
{{> organisms-footer-blogs }}