{{> organisms-header-blogs }}

<div class="faculty-defecto">
  <div class="centrar overflow margin-m">
    
    <div class="columna08 informacion-db" style="margin-bottom: 2rem;">

  <h2>Contribuciones y propuestas externadistas en la gestión anticorrupción</h2>
  <hr>
  <p><b>Especialización en Gestión Anticorrupción</b> <br><small>Programa conjunto:
 Facultad de Economía y Facultad de Derecho (Centro de Investigación en Filosofía y Derecho)</small></p>
<hr>

      <div class="lista-noticias">
        <article class="modulo-noticia finanzas" style="background: #f5f5f5; padding-left: 20px; padding-right: 20px;border: thin solid #cacaca;">
          <h2><a href="#">Título de la noticia</a></h2>
          <h6 class="fecha">2 de mayo de 2022</h6>
          <div class="submodulo-db">
            <h5>Autor:</h5>
            <p style="margin-top: 0;">Nombre del autor</p>
            <p class="subtit-db"> <strong>Resumen</strong></p>
            <p>Sit amet, consectetur adipiscing elit. Praesent nec sollicitudin lectus. Proin ullamcorper lobortis tincidunt. Aenean accumsan convallis nisi, nec ullamcorper lorem auctor id. Cras dictum feugiat euismod. Sed ac mi non mi accumsan dignissim. Quisque eu quam bibendum, malesuada metus et, tempus turpis. Vestibulum lectus quam, elementum non enim ac, dictum luctus libero. Sed interdum eros est. Vivamus odio eros, faucibus a interdum eget, molestie sit amet purus. Pellentesque interdum tempor tincidunt.</p>
          </div>
          <div class="submodulo-db">
            <div class="doc-lib-meta">
              <div class="columna04 margin-none"><b class="subtit-db">Medio:</b>
                <a href="#" rel="tag">Radio</a>
              </div>
              <div class="columna04 margin-none"><b class="subtit-db">Nombre del medio:</b>
                <a href="#" rel="tag">Blu Radio</a>
              </div>
              <div class="columna04 margin-none"><b class="subtit-db">Sección:</b>
                <a href="#" rel="tag">Internacional</a>
              </div>
            </div>
          </div>
          <div class="columna12 informacion-db" style="margin: 0rem;">
            <div class="submodulo-db" style="margin: 1rem 0 1rem;"> <a class="boton" href="#" title="Title">Descargar</a> </div>
          </div>
        </article>
        <article class="modulo-noticia finanzas" style="background: #f5f5f5; padding-left: 20px; padding-right: 20px;border: thin solid #cacaca; margin-top: 2rem;">
          <h2><a href="#">Título de la noticia</a></h2>
          <h6 class="fecha">2 de mayo de 2022</h6>
          <div class="submodulo-db">
            <h5>Autor:</h5>
            <p style="margin-top: 0;">Nombre del autor</p>
            <p class="subtit-db"> <strong>Resumen</strong></p>
            <p>Sit amet, consectetur adipiscing elit. Praesent nec sollicitudin lectus. Proin ullamcorper lobortis tincidunt. Aenean accumsan convallis nisi, nec ullamcorper lorem auctor id. Cras dictum feugiat euismod. Sed ac mi non mi accumsan dignissim. Quisque eu quam bibendum, malesuada metus et, tempus turpis. Vestibulum lectus quam, elementum non enim ac, dictum luctus libero. Sed interdum eros est. Vivamus odio eros, faucibus a interdum eget, molestie sit amet purus. Pellentesque interdum tempor tincidunt.</p>
          </div>
          <div class="submodulo-db">
            <div class="doc-lib-meta">
              <div class="columna04 margin-none"><b class="subtit-db">Medio:</b>
                <a href="#" rel="tag">Radio</a>
              </div>
              <div class="columna04 margin-none"><b class="subtit-db">Nombre del medio:</b>
                <a href="#" rel="tag">Blu Radio</a>
              </div>
              <div class="columna04 margin-none"><b class="subtit-db">Sección:</b>
                <a href="#" rel="tag">Internacional</a>
              </div>
            </div>
          </div>
          <div class="columna12 informacion-db" style="margin: 0rem;">
            <div class="submodulo-db" style="margin: 1rem 0 1rem;"> <a class="boton" href="#" title="Title">Descargar</a> </div>
          </div>
        </article>
        <article class="modulo-noticia finanzas" style="background: #f5f5f5; padding-left: 20px; padding-right: 20px;border: thin solid #cacaca; margin-top: 2rem;">
          <h2><a href="#">Título de la noticia</a></h2>
          <h6 class="fecha">2 de mayo de 2022</h6>
          <div class="submodulo-db">
            <h5>Autor:</h5>
            <p style="margin-top: 0;">Nombre del autor</p>
            <p class="subtit-db"> <strong>Resumen</strong></p>
            <p>Sit amet, consectetur adipiscing elit. Praesent nec sollicitudin lectus. Proin ullamcorper lobortis tincidunt. Aenean accumsan convallis nisi, nec ullamcorper lorem auctor id. Cras dictum feugiat euismod. Sed ac mi non mi accumsan dignissim. Quisque eu quam bibendum, malesuada metus et, tempus turpis. Vestibulum lectus quam, elementum non enim ac, dictum luctus libero. Sed interdum eros est. Vivamus odio eros, faucibus a interdum eget, molestie sit amet purus. Pellentesque interdum tempor tincidunt.</p>
          </div>
          <div class="submodulo-db">
            <div class="doc-lib-meta">
              <div class="columna04 margin-none"><b class="subtit-db">Medio:</b>
                <a href="#" rel="tag">Radio</a>
              </div>
              <div class="columna04 margin-none"><b class="subtit-db">Nombre del medio:</b>
                <a href="#" rel="tag">Blu Radio</a>
              </div>
              <div class="columna04 margin-none"><b class="subtit-db">Sección:</b>
                <a href="#" rel="tag">Internacional</a>
              </div>
            </div>
          </div>
          <div class="columna12 informacion-db" style="margin: 0rem;">
            <div class="submodulo-db" style="margin: 1rem 0 1rem;"> <a class="boton" href="#" title="Title">Descargar</a> </div>
          </div>
        </article>
        <article class="modulo-noticia finanzas" style="background: #f5f5f5; padding-left: 20px; padding-right: 20px;border: thin solid #cacaca; margin-top: 2rem;">
          <h2><a href="#">Título de la noticia</a></h2>
          <h6 class="fecha">2 de mayo de 2022</h6>
          <div class="submodulo-db">
            <h5>Autor:</h5>
            <p style="margin-top: 0;">Nombre del autor</p>
            <p class="subtit-db"> <strong>Resumen</strong></p>
            <p>Sit amet, consectetur adipiscing elit. Praesent nec sollicitudin lectus. Proin ullamcorper lobortis tincidunt. Aenean accumsan convallis nisi, nec ullamcorper lorem auctor id. Cras dictum feugiat euismod. Sed ac mi non mi accumsan dignissim. Quisque eu quam bibendum, malesuada metus et, tempus turpis. Vestibulum lectus quam, elementum non enim ac, dictum luctus libero. Sed interdum eros est. Vivamus odio eros, faucibus a interdum eget, molestie sit amet purus. Pellentesque interdum tempor tincidunt.</p>
          </div>
          <div class="submodulo-db">
            <div class="doc-lib-meta">
              <div class="columna04 margin-none"><b class="subtit-db">Medio:</b>
                <a href="#" rel="tag">Radio</a>
              </div>
              <div class="columna04 margin-none"><b class="subtit-db">Nombre del medio:</b>
                <a href="#" rel="tag">Blu Radio</a>
              </div>
              <div class="columna04 margin-none"><b class="subtit-db">Sección:</b>
                <a href="#" rel="tag">Internacional</a>
              </div>
            </div>
          </div>
          <div class="columna12 informacion-db" style="margin: 0rem;">
            <div class="submodulo-db" style="margin: 1rem 0 1rem;"> <a class="boton" href="#" title="Title">Descargar</a> </div>
          </div>
        </article>
      </div>
      {{> molecules-pagination}}

    </div>

    <aside class="columna04 aside" style="margin-top: .6rem;">
      <div class="widget widget-custom-html">
        <article class="info" style="border-bottom: none;">
          <h4>Búsqueda de noticias</h4>
          <br>

          {{> atoms-search-form(tit-search-form:"Título, palabra clave o número")}}
          <br>
          <label class="dropdown">
            <select>
              <option select value="">Autor</option>
            </select>
          </label>
          <label class="dropdown">
            <select>
              <option select value="">Nombre del medio</option>
            </select>
          </label>
          <label class="dropdown">
            <select>
              <option select value="">Sección</option>
            </select>
          </label>
          <div class="submodulo-db" style="margin: 1rem 0 1rem;">
            <a class="boton" href="#" title="Title">Buscar noticias</a>
          </div>
        </article>
      </div>
    </aside>
  </div>
</div>

{{> organisms-footer-blogs }}
