{{> organisms-header-blogs(nombre:"Departamento de Derecho Administrativo") }}

<div class="faculty-defecto">

  {{> molecules-prominent-image-faculty }}
  <div class="contenedor">
    <div class="centrar">
      <main>
        <article class="columna08 contenido">
          <div class="info">
            <h6><a href="#">Categoría</a></h6>
            {{> atoms-date }}
          </div>
          <div class="texto">
            <h1>Título</h1>
            {{> atoms-lead(lead:"Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.") }}
            {{> atoms-author }}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis risus eros. Proin eget iaculis ipsum, ut efficitur leo. Quisque lobortis maximus tellus vitae vulputate. Cras venenatis odio auctor turpis placerat tincidunt. Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.</p>
            <br>
            <span class="h4">Curabitur velit nibh</span>
            <p>Integer at tellus nisl. Suspendisse nulla metus, fermentum a urna laoreet, elementum semper tellus. Aliquam non hendrerit lacus. Curabitur ut lacus est. Cras dictum a diam at dapibus. Maecenas non mauris sem. Vestibulum tempor eget mauris quis pellentesque. Sed a neque facilisis eros egestas blandit. Sed dignissim molestie viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam venenatis est dui, ut ultricies ligula suscipit commodo. In maximus lacus sed purus volutpat, id placerat elit cursus.</p>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis risus eros. Proin eget iaculis ipsum, ut efficitur leo. Quisque lobortis maximus tellus vitae vulputate. Cras venenatis odio auctor turpis placerat tincidunt. Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.</p>
            <br>
          </div>
          {{> organisms-comments(showFacebook: true) }}
        </article>
      </main>
    </div>
  </div>
</div>

{{> organisms-footer-blogs }}