{{> organisms-header-blogs-zero(logo:"../../images/logos/logo-zero.png") }}
<div class="faculty-defecto">
  <div class="centrar-flex" style="display: flex; background-color: #643e90;">
    <div class="centrar" style="width: 100%">
      <div class="columna12" style="margin: 5rem 0 10rem;">
        <h4 class="texto-centrado" style="font-weight: 900; font-size: 5rem; color: white; letter-spacing: 10px;">ESCUELA DE FINANZAS</h4>
      </div>
    </div>
  </div>
  <div class="centrar">
    <div class="columna12" style="margin-bottom: 4rem; margin-top: -5rem;">
      <div class="columnas-alto-fijo centrar-flex">
        <div class="columna04">
          {{> atoms-image}}
          <h4 style="font-weight: 800; letter-spacing: 2px;">TÍTULO 1</h4>
          <p style="line-height: 1.5; margin-top: 1rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="columna04">
          {{> atoms-image}}
          <h4 style="font-weight: 800; letter-spacing: 2px;">TÍTULO 1</h4>
          <p style="line-height: 1.5; margin-top: 1rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="columna04">
          {{> atoms-image}}
          <h4 style="font-weight: 800; letter-spacing: 2px;">TÍTULO 1</h4>
          <p style="line-height: 1.5; margin-top: 1rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="columna04">
          {{> atoms-image}}
          <h4 style="font-weight: 800; letter-spacing: 2px;">TÍTULO 1</h4>
          <p style="line-height: 1.5; margin-top: 1rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="columna04">
          {{> atoms-image}}
          <h4 style="font-weight: 800; letter-spacing: 2px;">TÍTULO 1</h4>
          <p style="line-height: 1.5; margin-top: 1rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="columna04">
          {{> atoms-image}}
          <h4 style="font-weight: 800; letter-spacing: 2px;">TÍTULO 1</h4>
          <p style="line-height: 1.5; margin-top: 1rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{> organisms-footer-blogs }}