{{> organisms-header-blogs-zero(logo:"../../images/logos/logo-zero.png") }}
<div class="faculty-defecto">
  <div class="centrar">
    <div class="columna12" style="margin-top: 2rem; margin-bottom: -10rem;">
      <div class="columna05" style="margin-top: 2rem;">
        <div class="columna12">
        <h4 class="texto-centrado" style="font-style: italic; font-weight: 900; font-size: 5rem; color: #ed7a09;">Título 3</h4>
          <p style="font-style: italic; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        </div>
        <div class="columna12">
          <p style="font-weight: 400; text-align: center; margin-top: 2rem;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        </div>
      </div>
      <div class="columna07">
        <iframe title="title" src="https://www.youtube.com/embed/utOo2Sa9u0A" width="100%" height="650" frameborder="0" allowfullscreen="allowfullscreen" loading="lazy"></iframe>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
  <div style="display: block; background-color: #4d2587; width: calc(100%);
    padding-top: 20%;">
</div>
{{> organisms-footer-blogs }}