<div class="widget widget-cita">
  <div class="h4">Nuestros egresados</div>
  <!--Esta imagen debe ser de 170 x 170px, cortadas desde el centro-->
  <article>
    <img src="../../images/widget-cita.png" alt="Noticia" />
    <div class="info">
      <p>Se expondrán los trabajos de investigación más destacados de los estudiantes graduados de la Facultad, durante el segundo semestre del año 2015.</p>
      <em>César escobar</em>
    </div>
  </article>
</div>