<div class=" widget widget-carrusel">
  <!--item-->
  <article>
    <div class="info">
      <div class="h4"><a href="#">Aportes a la conservación del patrimonio cultural</a></div>
      <p>Interior de  las murallas de Cartagena.</p>
    </div>
    <a href="#">
      <!--Esta imagen debe ser de 700 x 470px-->
      <img src="../../images/widget-carousel.png" alt="Noticia" />
    </a>
  </article>
  <!--/item-->

  <!--item-->
  <article>
    <div class="info">
      <div class="h4"><a href="#">Aportes a la conservación del patrimonio cultural</a></div>
      <p>Se expondrán los trabajos de investigación más destacados de los estudiantes graduados de la Facultad, durante el segundo semestre.</p>
    </div>
    <a href="#">
      <!--Esta imagen debe ser de 700 x 470px-->
      <img src="../../images/modulo-relacionada.png" alt="Noticia" />
    </a>
  </article>
  <!--/item-->

  <!--item-->
  <article>
    <div class="info">
      <div class="h4"><a href="#">Cursos de actualización profesional</a></div>
      <p>Se expondrán los trabajos de investigación más destacados de los estudiantes graduados de la Facultad.</p>
    </div>
    <a href="#">
      <!--Esta imagen debe ser de 700 x 470px-->
      <img src="../../images/modulo-relacionada.png" alt="Noticia" />
    </a>
  </article>
  <!--/item-->
</div>