<div class="widget widget-image">
  <article>
    <!--Esta imagen debe ser de 250 x 250px-->
    <a href="#">
      <img src="../../images/widget-imagen-01.png" alt="Libre Pensador" />
    </a>
  </article>
  {{^ showOneImage }}
    <article>
      <!--Esta imagen debe ser de 250 x 250px-->
      <a href="#">
        <img src="../../images/widget-imagen-02.png" alt="Sociedad Civil" />
      </a>
    </article>

    <article>
      <!--Esta imagen debe ser de 250 x 250px-->
      <a href="#">
        <img src="../../images/widget-imagen-03.png" alt="Figri al aire. Tu emisora" />
      </a>
    </article>
  {{/ showOneImage }}
</div>
