<div class="widget widget-text-image">
  <article>
    <div class="info">
      <div class="h4"><a href="#">Historias sumergidas</a></div>
      <p>Este es un libro para aquellos que estén <a href="#">interesados en conocer acerca</a> de las historias que yacen sumergidas bajo los mares, ríos y lagunas.</p>
    </div>
    <!--Esta imagen debe ser de  380px de ancho -->
    <a class="image-widget" href="#">
      <img src="../../images/widget-imagen-texto.png" alt="Noticia" />
    </a>
  </article>
</div>