<div class="widget widget-texto">
  <article class="info">
    <div class="h4">
      <a href="#">
        <!-- Este vínculo no aparecerá si el widget es solo texto informativo sin ningún enlace, es decir aparecerá el h4 sin el <a> -->
        Alternativas de financiación
      </a>
    </div>
    <p>Créditos educativos con entidades bancarias e Icetex</p>
    <p>Este es un libro para aquellos que estén <a href="#">interesados en conocer acerca</a> de las historias que yacen sumergidas bajo los mares, ríos y lagunas. </p>
    <a href="#" class="boton">
      <!-- Este botón no aparecerá si el widget es solo texto informativo sin ningún enlace -->
      Ver más
    </a>
  </article>
</div>