<div class="widget widget-events">

    <h2 class="h4">
      <a href="#">
        <!-- Este vínculo no aparecerá si el widget es solo texto informativo sin ningún enlace, es decir aparecerá el h4 sin el <a> -->
      Lista de eventos
      </a>
    </h2>
    <div class="lista-eventos">
      {{> molecules-event-widget-module }}
      {{> molecules-event-widget-module }}
      {{> molecules-event-widget-module }}
      {{> molecules-event-widget-module }}
      {{> molecules-event-widget-module }}
    </div>
    <a href="#" class="boton">
      <!-- Este botón no aparecerá si el widget es solo texto informativo sin ningún enlace -->
      Ver todos
    </a>

</div>