<div class="widget-call-button">{{> atoms-media-button(text:"Solicitar una llamada", icon-selector:"telefono")}}
  <section id="contactarme">
    <form class="" action="index.html" method="post">
     	<input type="text" name="nombre" placeholder="Nombre completo" value="" />
      <input name="telefonos" type="text" id="telefonos" placeholder="Celular o fijo">
      <input type="submit" value="Contactarme">
    </form>
  </section>
</div>