  <div class="widget widget_recent_comments">
    <h4>Comentarios recientes</h4>
    <article class="info">
      <ul>
        <li>
          <a href="#" rel="external nofollow">Comentador 1</a> en <a href="#">Nota de prueba</a>
        </li>
        <li>
          <a href="#" rel="external nofollow">Comentador 2</a> en <a href="#">Nota de prueba 2</a>
        </li>
    </article>
  </div>