  <div class="widget widget-newsletter">
    <h2 class="h4">Inscríbase y reciba nuestra información</h2>
    <div class="info">
      <p>Reciba las últimas novedades directamente en su correo</p>
      {{> atoms-text(placeholder:"Ingrese su correo electrónico")}}
      {{> atoms-button(text:"inscríbase")}}
    </div>
  </div>
