<div class="widget widget-news-list">
    <h2 class="h4">{{^ titulo }}Destacadas{{/ titulo }} {{# titulo }}{{titulo}}{{/ titulo }}</h2>
    <div class="info">
      <div class="lista-noticias">
        {{> molecules-news-module-sidebar }}
        {{> molecules-speaker-module }}
      </div>
    </div>
  </div>