  <div class="widget widget_tag_cloud">
    <span><svg class="icon {{^icon-tag}}icon-etiquetas{{/icon-tag}}{{#icon-tag}}{{icon-tag}}{{/icon-tag}}"><use xlink:href="../../images/iconos.svg#{{^icon-tag}}icon-etiquetas{{/icon-tag}}{{#icon-tag}}{{icon-tag}}{{/icon-tag}}"></use></svg></span>
    <div class="h4">{{^ titulo }}Etiquetas{{/ titulo }}{{# titulo }}{{titulo}}{{/ titulo }}</div>
    <article class="info">
      <div class="tagcloud">
        <a href="#" class="tag-cloud-link">América Latina</a>
        <a href="#" class="tag-cloud-link medium">China</a>
        <a href="#" class="tag-cloud-link largest">Colombia</a>
        <a href="#" class="tag-cloud-link">conflicto</a>
        <a href="#" class="tag-cloud-link small">Congreso</a>
        <a href="#" class="tag-cloud-link">Corte Constitucional</a>
        <a href="#" class="tag-cloud-link">Corea</a>
        <a href="#" class="tag-cloud-link">Corte Suprema de Justicia</a>
        <a href="#" class="tag-cloud-link">cotización</a>
        <a href="#" class="tag-cloud-link">crisis</a>
        <a href="#" class="tag-cloud-link">Derecho</a>
        <a href="#" class="tag-cloud-link">elecciones</a>
        <a href="#" class="tag-cloud-link">empleador</a>
        <a href="#" class="tag-cloud-link largest">empleo</a>
        <a href="#" class="tag-cloud-link medium">EPS</a>
        <a href="#" class="tag-cloud-link">España</a>
        <a href="#" class="tag-cloud-link small">Estados Unidos</a>
        <a href="#" class="tag-cloud-link">Europa</a>
        <a href="#" class="tag-cloud-link">gobierno</a>
        <a href="#" class="tag-cloud-link">Grecia</a>
        <a href="#" class="tag-cloud-link">Hugo Chávez</a>
        <a href="#" class="tag-cloud-link small">Japón</a>
        <a href="#" class="tag-cloud-link medium">laboral</a>
        <a href="#" class="tag-cloud-link">Ley 1636 de 2013</a>
        <a href="#" class="tag-cloud-link">María Ángela Holguín</a>
        <a href="#" class="tag-cloud-link largest">Obama</a>
        <a href="#" class="tag-cloud-link">Ministerio del Trabajo</a>
        <a href="#" class="tag-cloud-link">OCDE</a>
        <a href="#" class="tag-cloud-link">OEA</a>
        <a href="#" class="tag-cloud-link">paz</a>
        <a href="#" class="tag-cloud-link">pensiones</a>
        <a href="#" class="tag-cloud-link">pensión</a>
        <a href="#" class="tag-cloud-link largest">posconflicto</a>
        <a href="#" class="tag-cloud-link">reelección</a>
        <a href="#" class="tag-cloud-link">Salud</a>
        <a href="#" class="tag-cloud-link">Santos</a>
        <a href="#" class="tag-cloud-link">sindicato</a>
        <a href="#" class="tag-cloud-link">Siria</a>
        <a href="#" class="tag-cloud-link">Trabajadores</a>
        <a href="#" class="tag-cloud-link largest">Turismo</a>
        <a href="#" class="tag-cloud-link">Unión Europea</a>
        <a href="#" class="tag-cloud-link medium">Venezuela</a>
        <a href="#" class="tag-cloud-link">Xi Jinping</a>
        <a href="#" class="tag-cloud-link">Álvaro Uribe</a>
      </div>
    </article>
  </div>
