<div class="widget widget_calendar">
  <div class="h4">Calendario</div>
  <article class="info">
    <div class="calendar-title h5"> <span>Septiembre</span> <span> 2018 </span> </div>
    <table id="wp-calendar">
      <thead>
        <tr>
          <th scope="col" title="lunes">L</th>
          <th scope="col" title="martes">M</th>
          <th scope="col" title="miércoles">X</th>
          <th scope="col" title="jueves">J</th>
          <th scope="col" title="viernes">V</th>
          <th scope="col" title="sábado">S</th>
          <th scope="col" title="domingo">D</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <td colspan="3" id="prev">{{> atoms-button(text:"«  Ago")}}</td>
          <td class="pad">&nbsp;</td>
          <td colspan="3" id="next">{{> atoms-button(text:"Oct  »")}}</td>
        </tr>
      </tfoot>

      <tbody>
        <tr>
          <td colspan="2" class="pad">&nbsp;</td><td id="today"><a href="#">1</a></td><td>2</td><td>3</td><td>4</td><td>5</td>
        </tr>
        <tr>
          <td>6</td><td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td>
        </tr>
        <tr>
          <td>13</td><td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td>
        </tr>
        <tr>
          <td>20</td><td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td>
        </tr>
        <tr>
          <td>27</td><td>28</td><td>29</td><td>30</td><td>31</td>
          <td class="pad" colspan="2">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </article>
</div>