<div class="widget widget_archive">
  <article class="info">
    <h4> {{^ text }}
  Boletines
  {{/ text }}
  {{# text }}
  {{text}}
  {{/ text }}</h4>
    <label class="dropdown">
      <select>
        <option select value="">Seleccione</option>
      </select>
    </label>
  </article>
</div>