<div class="widget widget-contact-button-group">
{{> molecules-call-widget }}
{{> atoms-media-button(text:"Contáctenos por Whatsapp", icon:"icon-whatsapp")}}
<div class="politica-datos">
<p>Con el envío de su información de contacto, autoriza a la <a title="Ver Política de tratamiento de los datos personales" href="https://www.uexternado.edu.co/politicasdeprivacidad/" target="_blank">Universidad</a> o a quien ella encargue, para contactarlo por estos medios.</p>
</div>
</div>