<div class="digital-zone">
  <p>Este evento es transmitido por medio de </p>
  <a class="text-link" target="_blank" href="https://zonadigital.uexternado.edu.co/">Zona Digital</a>
  <br>
  <p>Para verlo</p>
  <a class="boton" href="https://zonadigital.uexternado.edu.co/centro-de-eventos/auditorio-4/">
    Ingrese aquí  </a>
</div>