<div class="widget widget_mailpoet_form">
  
      <h4> {{# titulo }}{{titulo}}{{/ titulo }}{{^ titulo }}Suscríbete a nuestro Boletín{{/ titulo}}</h4><article class="info">
  
  <div class="mailpoet_form_popup_overlay"></div>
  <div id="mailpoet_form_1" class="mailpoet_form mailpoet_form_widget mailpoet_form_tight_container">
      
    <form target="_self" method="post" action="https://divergencia.uexternado.edu.co/wp-admin/admin-post.php?action=mailpoet_subscription_form" class="mailpoet_form mailpoet_form_form mailpoet_form_widget mailpoet_form_tight_container" novalidate="" data-delay="" data-position="" data-background-color="" data-font-family="">
      <input type="hidden" name="data[form_id]" value="1">
      <input type="hidden" name="token" value="c3179a3b34">
      <input type="hidden" name="api_version" value="v1">
      <input type="hidden" name="endpoint" value="subscribers">
      <input type="hidden" name="mailpoet_method" value="subscribe">

      <label class="mailpoet_hp_email_label">Correo electrónico<!--Por favor, deja este campo vacío--><input type="email" name="data[email]"></label><div class="mailpoet_paragraph hidden"><label class="mailpoet_text_label" data-automation-id="form_email_label">Correo electrónico <span class="mailpoet_required">*</span></label><input type="email" class="mailpoet_text" name="data[form_field_NGU0ZGE1MDk2MDI5X2VtYWls]" title="Correo electrónico" value="" style="padding:5px;margin: 0 auto 0 0;" data-automation-id="form_email" data-parsley-required="true" data-parsley-minlength="6" data-parsley-maxlength="150" data-parsley-error-message="Por favor, especifica una dirección de correo electrónico válida." data-parsley-required-message="Este campo es obligatorio."></div>
<div class="mailpoet_paragraph "><input type="submit" class="mailpoet_submit" value="¡Suscríbete!" data-automation-id="subscribe-submit-button" style="padding:5px;margin: 0 auto 0 0;border-color:transparent;"><span class="mailpoet_form_loading"><span class="mailpoet_bounce1"></span><span class="mailpoet_bounce2"></span><span class="mailpoet_bounce3"></span></span></div>
<div class="mailpoet_paragraph  last"><hr> <p class="wp-caption-text">La Universidad Externado de Colombia almacenará y hará uso de sus datos personales con la exclusiva finalidad de cumplir con su objetivo social de conformidad con la ley, y así adelantar distintos procesos internos tales como: actividades académicas, promoción, presentación de servicios, facturación y cartera, entre otros. Con las suscripción de este documento se entiende que autoriza la inclusión de sus datos personales en la<button style="cursor: pointer; background: none; border: none; text-align: left;" title="Ver Política de tratamiento de los datos personales" type="button" data-toggle="tooltip" data-placement="top"><a href="https://www.uexternado.edu.co/politicasdeprivacidad/">base de datos de la Universidad</a></button>, con el fin de ser utilizados para cumplir los objetivos antes descritos.</p></div>

      <div class="mailpoet_message">
        <p class="mailpoet_validate_success" style="display:none;">Revisa tu bandeja de entrada o la carpeta de spam para confirmar tu suscripción.
        </p>
        <p class="mailpoet_validate_error" style="display:none;">        </p>
      </div>
    </form>
  </div>

      </article></div>