<div class="widget widget-contact-button-group  widget-call-button  icons-contact-group">
	<h4 class="texto-centrado">Solicite más información</h4>
	<h6  class="texto-centrado">Seleccione un medio de contacto</h6>
<div class="border-bottom columnas-alto-fijo">
{{> atoms-circle-icon-button(icon-selector:"icon-iphone", text:"Llamada",modifier-class-btn:"boton-icono") }}
{{> atoms-circle-icon-button(icon-selector:"icon-whatsapp", text:"WhatsApp") }}
{{> atoms-circle-icon-button(icon-selector:"icon-video", text:"Asesor virtual") }}
</div>
<div class="politica-datos">
<p>Con el envío de su información de contacto, autoriza a la <a title="Ver Política de tratamiento de los datos personales" href="https://www.uexternado.edu.co/politicasdeprivacidad/" target="_blank">Universidad</a> o a quien ella encargue, para contactarlo por este medio.</p>
<p>Nuestro horario de atención es de lunes a viernes de 8:00 a.m. a 5:00 p.m. y sábados de 8:00 a.m. a 12:00 m. Atenderemos su consulta tan pronto estemos disponibles.</p>
</div>
  <section id="contactarme">
    <form class="" action="index.html" method="post">
     	<input type="text" name="nombre" placeholder="Nombre completo" value="" />
      <input name="telefonos" type="text" id="telefonos" placeholder="Celular o fijo">
      <input type="submit" value="Contactarme">
    </form>
  </section>

</div>