<div class="widget widget-news-list">
    <div class="info">
      <div class="lista-noticias">
        {{> molecules-speaker-women-module-mosaico }}
        {{> molecules-speaker-men-module-mosaico }}
        {{> molecules-speaker-women-module-mosaico }}
        {{> molecules-video-module }}
        {{> molecules-news-module-sidebar }}
        {{> atoms-audio-button }}
      </div>
    </div>
  </div>