<div class="widget widget-custom-html" style="padding: 0 1rem; margin-bottom: 1rem;">
   <article class="info" style="border-bottom: none; margin-bottom: 0;">
      <div style="text-align: center; margin-top: 0.5rem;"><img style="width: 30%" src="../../images/logo-tu-bienestar.png"></div>
      <h4 class="texto-centrado" style="color: #32464d; margin-top: 0.5rem;">Contacto TU Bienestar:</h4>
      <p style="font-size: 0.9rem; text-align: center; line-height: 1.5rem; margin-top: 1.2rem;">Calle 12 # 0 – 07 este Bogotá, Colombia
         <b>Teléfono:</b> 3419900
         <b>Exts.:</b> 3402, 3403, 3405, 3407 y 3409
      <b>Correo:</b> <a href="mailto:bienestar@uexternado.edu.co"> bienestar@uexternado.edu.co</a></p>
   </article>
</div>