.widget_calendar{
  @include widget;

    .info{
      width: 100%;
      margin: 0 0 20px 0;

      .calendar-title {
        margin-top: 25px;
        text-align: right;
        text-transform: capitalize;
        color: $gris-acero;

        span:first-child {
          float: left;
        }
      }

      table{
        margin: 10px 0 15px 0;
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        border-spacing: 5px;
        caption {
          display:none;
        }
        thead{
          tr{
            height: 54px;
            &:after{
              border-bottom: $solid-border;
              border-top: $solid-border;
              content: '';
              height: 50px;
              position: absolute;
              width: 100%;
              left: 0;
            }

            &:after{
              top: 6px;
            }
          }
        }
        th{
          text-align:center;
          width: 14.28%; /* Is the proportion for each day, obtained from; 100 / 7 */
        }
        tbody{
          td{
            height: 35px;
            text-align: center;
            transition: $transition-background;
            border-radius: 50px;
            position: relative;
            z-index: 2;
            top:/*10px*/0;
            height: 56px;
            @media (max-width:1200px) and (min-width:1110px) {
              height: 50px;
            }
            @media (max-width:1109px) and (min-width:601px) {
              height: 45px;
            }
            a{
              position: absolute;
              top: 1px;
              padding:14px 0 15px 0;
              z-index: 2;
              width: 100%;
              &:after{
                content: '';
                position: relative;
                z-index: -1;
                top: 19px;
                margin: -48px auto 0 auto;
                display: block;
                border-radius: 60px;
                background-color:$gris-hierro;
                width: 37px;
                height: 37px;
              }
              @media (max-width:1200px) and (min-width:1110px) {
                &:after{
                  width: 44px;
                  height: 44px;
                  top: 16px;
                }
              }
              @media (max-width:1109px) and (min-width:$ipad-01) {
                padding: 10px 0 13px 0;
                &:after{
                  width: 35px;
                  height: 35px;
                  top: 21px;
                }
              }
              @media (max-width:964px) and (min-width:844px) {
                &:after{
                  right: 4px;
                }
              }
              @media (max-width:844px) and (min-width:$ipad) {
                &:after{
                  top: 25px;
                  right: 2px;
                  width: 25px;
                  height: 25px;
                }
              }
              @media (max-width:$ipad) and (min-width:601px) {
                padding: 10px 0 15px 0;
                &:after{
                  width: 28px;
                  height: 28px;
                  top: 24px;
                }
              }

              @media (max-width:600px) and (min-width:439px) {
                &:after{
                  width: 58px;
                  height: 58px;
                  top: 10px;
                }
              }

              @media (max-width:440px) and (min-width:$movil) {
                &:after{
                  width: 42px;
                  height: 42px;
                  top: 19px;
                }
              }
              @media (max-width:$movil) and (min-width:$minimo) {
                &:after{
                  width: 30px;
                  height: 30px;
                  top: 23px;
                }
              }
              &:hover{
                color: white;
                &:after{
                  background-color: $azul-carbon;
                }
              }
            }
            &:after{
              width: 32px;
              height: 32px;
              top: 20px;
              left: -4px;
              /*
              content: '';
              position: absolute;
              z-index: -1;
              top: 21px;
              left: 2px;
              right: 0;
              margin: -18px auto 0 auto;
              display: block;
              border-radius: 60px;
              width: 50px;
              height: 50px;
              */
              @media (max-width:1200px) and (min-width:1110px) {
                width: 44px;
                height: 44px;
                top: 23px;
              }
              @media (max-width:1109px) and (min-width:$ipad-01) {
                width: 35px;
                height: 35px;
                top: 24px;
              }
              @media (max-width:$ipad) and (min-width:601px) {
                width: 28px;
                height: 28px;
                top: 27px;
              }
              @media (max-width:600px) and (min-width:439px) {
                width: 58px;
                height: 58px;
                top: 17px;
                left: 1px;
              }

              @media (max-width:440px) and (min-width:$movil) {
                width: 42px;
                height: 42px;
                top: 26px;
              }
              @media (max-width:$movil) and (min-width:$minimo) {
                width: 30px;
                height: 30px;
                top: 30px;
              }
            }
            &#today{
              a{
                color: white;
                &:after{
                  background-color: $verde-lima;
                  color: white;
                }
                &:hover{
                  &:after{
                    background-color: $azul-carbon;
                  }
                }
              }
              &:after{
                background-color: $verde-lima;
                width: 32px;
                height: 32px;
                top: 21px;
                left: -4px;
                &:after{
                  background-color: $verde-lima;
                  color: white;
                }
                @media (max-width: 3000px) and (min-width: 1000px){
                  width: 27px;
                  height: 27px;
                  top: 24px;
                }
                @media (max-width: 999px) and (min-width: 200px){
                  top: 22px;
                  left: 0;
                }
                @media (max-width:350px) and (min-width: 100px){
                  left: -4px;
                }
              }
            }
          }
        }
        tfoot{
          a {
            text-transform: capitalize;
          }

          #next a {
            float: right;
          }

        }
      }
    }
}
