.creditos__card {
	background-color: $blanco;
	border-bottom: 7px solid $administracion;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(136, 136, 136, 0.18);
	color: inherit;
	padding: 1rem;
	position: relative;
	text-align: center;
	text-decoration: none;

	.progress {
		border-radius: 15px;
		background-color: #e6f3fa;
		height: 25px;
		margin-bottom: 15px;
		margin-top: 1rem;
		text-align: center;

		&-bar {
			align-items: center;
			border-radius: 15px;
			display: flex;
			height: 100%;
			transition: width 0.25s;

			p {
				color: #fff;
				font-size: 1rem;
				font-weight: bold;
				margin: 10px;
			}
		}
	}

	&--1 {
		background-color: $creditos__card--1 !important;
	}
	&--2 {
		background-color: $creditos__card--2 !important;
	}
	&--3 {
		background-color: $creditos__card--3 !important;
	}
	&--4 {
		background-color: $creditos__card--4 !important;
	}
	&--5 {
		background-color: $creditos__card--5 !important;
	}
	&--6 {
		background-color: $creditos__card--6 !important;
	}
	&--7 {
		background-color: $creditos__card--7 !important;
	}
	&--8 {
		background-color: $creditos__card--8 !important;
	}
}
