.modulo-evento {
  display: flex;
  align-items: stretch;
  margin-bottom: 40px;

  .fecha-evento {
    width: 47px;
    margin: 0 15px 0 0;
    text-align: center;

    .fondo {
      background-color: $verde-lima-700;
      width: 47px;
      height: 47px;
      min-width: 100%;
      border-radius: 47px;

      span {
        color: $blanco;
      }

      span:first-of-type {
        font-size: rem(25);
        line-height: rem(14);
        font-weight: 900;
        padding-top: 8px;
        width: 100%;
        display: block;
      }

      span:nth-of-type(2) {
        font-size: rem(12);
        font-weight: 600;
        line-height: rem(0.3);
      }
    }
    hr {
      border-top: thin solid black;
      width: 60%;
      margin: 15px auto;
    }
  }

  .info {
    width: calc(100% - 65px);
    p {
      margin: 0;
      font-style: italic;
      line-height: rem(21);
      font-size: rem(17);
    }
    .h5 {
      color: inherit;
      a {
        text-decoration: none;
      }
    }

    h6,
    .h6 {
      display: inline-block;
      // El color está deifnido desde el archivo: _color-helper TODO: Validar esto cuando definamos lo del mixin de facultad
      a {
        &:after {
          display: none;
        }
      }
    }
  }
}
.submodulo-evento {
  color: $azul-carbon;
  padding: 10px 5px;
  transition: $transition-background;

  p {
    strong {
      width: 80px;
      display: inline-block;
    }
    svg {
      margin: 0 4px;
      &.icon-pin-locacion {
        @media (max-width: $maximo) and (min-width: $movil-amplio02) {
          font-size: rem(27);
        }
        margin: 0;
        font-size: rem(22);
      }
    }
  }
  .autor {
    strong {
      color: $azul-carbon;
      font-weight: 700;
      width: 100px;
    }
  }
}
.add-calendar-wrapper {
  position: relative;

  .popup {
    background-color: white;
    box-shadow: 0 rem(2px) rem(11px) 0 rgba(0, 0, 0, 0.3);
    bottom: -16px;
    display: none;
    flex-direction: column;
    left: 2rem;
    position: absolute;
    width: 10rem;

    &.active {
      display: flex;
    }

    .cerrar-circular {
      position: relative;
      width: 30px;
      left: 125px;
    }

    a {
      color: $verde-lima;
      display: block;
      font-weight: 700;
      margin: 1rem;
      text-decoration: none;
      padding-left: 2rem;
      &.google {
        background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20128%20128%22%3E%0A%20%20%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h128v128H0z%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M27.6%2064c0-4.2.7-8.1%201.9-11.9L7.9%2035.6C3.7%2044.2%201.4%2053.8%201.4%2064S3.8%2083.8%208%2092.3l21.6-16.5c-1.3-3.7-2-7.7-2-11.8%22%20fill%3D%22%23fbbc05%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M65.5%2026.2c9%200%2017.2%203.2%2023.6%208.4L107.7%2016C96.3%206.1%2081.8%200%2065.5%200%2040.1%200%2018.4%2014.5%207.9%2035.6l21.6%2016.5c5-15.1%2019.1-25.9%2036-25.9%22%20fill%3D%22%23ea4335%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M65.5%20101.8c-16.8%200-31-10.9-35.9-25.9L7.9%2092.4C18.4%20113.5%2040.1%20128%2065.5%20128c15.6%200%2030.6-5.6%2041.8-16L86.7%2096.2c-5.7%203.7-13%205.6-21.2%205.6%22%20fill%3D%22%2334a853%22%2F%3E%0A%20%20%3Cpath%20d%3D%22M126.6%2064c0-3.8-.6-7.9-1.5-11.6H65.5v24.7h34.4c-1.7%208.4-6.4%2014.9-13.1%2019.1l20.5%2015.8c11.7-10.9%2019.3-27.1%2019.3-48%22%20fill%3D%22%234285f4%22%2F%3E%0A%3C%2Fsvg%3E")
          no-repeat;
      }
      &.apple {
        background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%2056.7%2056.7%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cstyle%3E%0A%20%20%20%20.st1%7Bfill%3A%23606060%7D%0A%20%20%3C%2Fstyle%3E%0A%20%20%3Cpath%20fill%3D%22none%22%20d%3D%22M-1-1h582v402H-1z%22%2F%3E%0A%20%20%3Cg%3E%0A%20%20%20%20%3Cpath%20class%3D%22st1%22%20d%3D%22M41.8%2030.5c-.1-6.2%205.1-9.2%205.3-9.4-2.9-4.2-7.4-4.8-9-4.9-3.8-.4-7.5%202.3-9.4%202.3-1.9%200-4.9-2.2-8.1-2.1-4.2.1-8%202.4-10.2%206.2-4.4%207.5-1.1%2018.6%203.1%2024.7%202.1%203%204.5%206.3%207.8%206.2%203.1-.1%204.3-2%208.1-2s4.8%202%208.1%202c3.4-.1%205.5-3%207.5-6%202.4-3.5%203.3-6.8%203.4-7-.1-.1-6.6-2.5-6.6-10zM35.6%2012.2c1.7-2.1%202.9-5%202.6-7.9-2.5.1-5.5%201.6-7.2%203.7-1.6%201.8-3%204.8-2.6%207.6%202.6.3%205.5-1.3%207.2-3.4z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E")
          no-repeat;
      }
      &.outlook {
        background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%201024%201024%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cstyle%3E%0A%20%20%20%20.st1%7Bfill%3A%23daa603%7D%0A%20%20%3C%2Fstyle%3E%0A%20%20%3Cpath%20fill%3D%22none%22%20d%3D%22M-1-1h582v402H-1z%22%2F%3E%0A%20%20%3Cg%3E%0A%20%20%20%20%3Cpath%20class%3D%22st1%22%20d%3D%22M644.9%20764.4V492.7c19.3%2013.3%2037.4%2025.6%2055.4%2038%2016.2%2011.1%2018.9%2011%2035.6-.1%2092.5-61.5%20185-122.9%20277.5-184.4%202.8-1.9%205.7-3.6%209.8-6.1.3%204.2.8%207.4.8%2010.5%200%20118.2.1%20236.4%200%20354.7%200%2039.3-19.9%2059.1-59%2059.1H644.9zM645.6%20216.9h336.2c19.4%200%2034.4%2011.9%2040.5%2030.5%202.7%208.2%200%2012.2-6.7%2016.6-84.1%2056.3-168%20112.9-252%20169.4-12%208.1-24.1%2015.9-35.9%2024.3-6.4%204.6-12.2%204.8-18.8.5-19.2-12.4-38.7-24.2-57.8-36.7-3.2-2.1-6.5-6.9-6.5-10.4-.3-63.5-.2-127-.1-190.5%200-.8.4-1.5%201.1-3.7zM596.7%201024C397.6%20982.3%20199.3%20940.8.3%20899.2v-13.1c0-252.5.1-505-.3-757.5%200-10.5%202.8-14.1%2013-16%20159.1-30.4%20318.2-61.2%20477.3-92C525.4%2013.7%20560.5%207%20596.7%200v1024zM438%20511c-.4-41.6-6.1-80-26.7-114.9-16.6-28.1-39-49.4-71.3-58.6-62.8-17.9-122.8%2011.5-152.4%2075-18.9%2040.7-23%2083.9-19.3%20128.1%203.2%2038.3%2014.3%2073.7%2039%20104%2049.1%2060.2%20138.4%2060.6%20188.2.8%2032.9-39.6%2041.9-86.7%2042.5-134.4z%22%2F%3E%0A%20%20%20%20%3Cpath%20class%3D%22st1%22%20d%3D%22M232.9%20511.9c-.1-29.7%203.9-58.4%2020.7-83.8%2015.5-23.5%2039-33.1%2064.9-26.6%2020.1%205%2032.3%2019.3%2040.4%2037.2%2013.8%2030.7%2016.2%2063.3%2012.1%2095.9-2.3%2018.1-7.5%2036.5-14.8%2053.2-9.5%2021.6-27.8%2034-52.2%2034.5-24.6.5-41.7-12.2-53.6-32.6-14.1-23.9-17.5-50.5-17.5-77.8z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E")
          no-repeat;
      }
      &.outlook-com {
        background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220%22%20y%3D%220%22%20viewBox%3D%220%200%201024%201024%22%20xml%3Aspace%3D%22preserve%22%3E%0A%20%20%3Cstyle%3E%0A%20%20%20%20.st1%7Bfill%3A%230072c6%7D%0A%20%20%3C%2Fstyle%3E%0A%20%20%3Cpath%20fill%3D%22none%22%20d%3D%22M-1-1h582v402H-1z%22%2F%3E%0A%20%20%3Cg%3E%0A%20%20%20%20%3Cpath%20class%3D%22st1%22%20d%3D%22M644.9%20764.4V492.7c19.3%2013.3%2037.4%2025.6%2055.4%2038%2016.2%2011.1%2018.9%2011%2035.6-.1%2092.5-61.5%20185-122.9%20277.5-184.4%202.8-1.9%205.7-3.6%209.8-6.1.3%204.2.8%207.4.8%2010.5%200%20118.2.1%20236.4%200%20354.7%200%2039.3-19.9%2059.1-59%2059.1H644.9zM645.6%20216.9h336.2c19.4%200%2034.4%2011.9%2040.5%2030.5%202.7%208.2%200%2012.2-6.7%2016.6-84.1%2056.3-168%20112.9-252%20169.4-12%208.1-24.1%2015.9-35.9%2024.3-6.4%204.6-12.2%204.8-18.8.5-19.2-12.4-38.7-24.2-57.8-36.7-3.2-2.1-6.5-6.9-6.5-10.4-.3-63.5-.2-127-.1-190.5%200-.8.4-1.5%201.1-3.7zM596.7%201024C397.6%20982.3%20199.3%20940.8.3%20899.2v-13.1c0-252.5.1-505-.3-757.5%200-10.5%202.8-14.1%2013-16%20159.1-30.4%20318.2-61.2%20477.3-92C525.4%2013.7%20560.5%207%20596.7%200v1024zM438%20511c-.4-41.6-6.1-80-26.7-114.9-16.6-28.1-39-49.4-71.3-58.6-62.8-17.9-122.8%2011.5-152.4%2075-18.9%2040.7-23%2083.9-19.3%20128.1%203.2%2038.3%2014.3%2073.7%2039%20104%2049.1%2060.2%20138.4%2060.6%20188.2.8%2032.9-39.6%2041.9-86.7%2042.5-134.4z%22%2F%3E%0A%20%20%20%20%3Cpath%20class%3D%22st1%22%20d%3D%22M232.9%20511.9c-.1-29.7%203.9-58.4%2020.7-83.8%2015.5-23.5%2039-33.1%2064.9-26.6%2020.1%205%2032.3%2019.3%2040.4%2037.2%2013.8%2030.7%2016.2%2063.3%2012.1%2095.9-2.3%2018.1-7.5%2036.5-14.8%2053.2-9.5%2021.6-27.8%2034-52.2%2034.5-24.6.5-41.7-12.2-53.6-32.6-14.1-23.9-17.5-50.5-17.5-77.8z%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E")
          no-repeat;
      }

      &:hover {
        color: $verde-mineral;
      }
    }
  }
}
