nav li {
  list-style: none;
  padding: 0;
}
nav ul {
  padding: 0;
  margin: 0;
}

#menu, #menuStick {
  .menu-principal {
    background: $universidad-900;
    color: transparentize($verde-oscuro, 0.2);
    height: 60px;
    margin-top: 35px;
    position: relative;
    width: 100%;
    z-index: 2;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);

    .contenido {
      position: relative;
    }

    ul {
      &:first-child {
        align-items: center;
        display: flex;
        height: 60px;
        margin-left: 20%;
        padding: 0;
        width: 80%;
      }

      li {
        position: relative;
        color: white;
        flex-grow: 1;
        text-align: center;
        @media (max-width: $maximo) and (min-width: 970px) {
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-size: rem(14);
          font-weight: 900;
          letter-spacing: 0.3px;
        }

        @media (max-width: 969px) and (min-width: $ipad) {
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-size: rem(14);
          font-weight: 900;
        }

        &:hover {
          background-color: $verde-lima-700;
          color: white;

          > .sub-menu {
            display: block;
            visibility: visible;
          }
        }

        a {
          padding: 21px 0 20px 0;
        }

        .sub-menu {
          background-color: white;
          border-bottom: 3px solid $verde-lima;
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
          display: none;
          padding: 0 10px 10px 10px;
          position: absolute;
          visibility: hidden;

          li {
            border-bottom: thin dotted $gris-hierro;
            color: $gris-mina;
            font-weight: 500;
            text-align: left;
            text-transform: initial;

            &:hover {
              background-color: white;
              color: $verde-lima-700;
            }

            &:last-child {
              border-bottom: none;

              a {
                padding: 15px 5px 0 5px;
              }
            }

            a {
              padding: 10px 5px;
            }
          }

          >li .sub-menu{
            position: relative;
          }
        }
      }
    }
  }
  #menu-menu-principal{
    > .menu-item{
      a{
        &hover{
          span{
            transform: rotate(-90deg);
          }
        }
      }
      > .sub-menu{
        position: absolute;
        min-width: 205px;
        top: 100%;
        left: 0;
        padding: 0;
        .menu-item{
          &:not(:last-child){
            border-bottom: 1px solid #e5e5e5;
          }            
          &:hover{
            background-color: #cdcdcd!important;
          }
          a{
            display: flex;
            justify-content: space-between;
            padding: 15px 10px;
            -webkit-transition:all .45s ease 0s;transition:all .45s ease 0s;
            &:hover{
              background-color: $universidad-800;
              color: #fff; 
              >span{
                transform: rotate(-90deg);
              }             
            }
          }
        }  
        .sub-menu{
          position: absolute;
          top: 0;
          left: 100%;
          width: 215px;
          background-color: #f1f1f1;
          padding: 0;
          -webkit-transition:all .45s ease 0s;transition:all .45s ease 0s
        }
      }        
    }
  }
}
