.image-destacada-lead-full-width {
	background-color: $blanco;

	.ajuste-imagen.imagen-destacada {
		margin-top: 0;
	}

	.contenedor-lead {
		background-color: #fff;
		margin: -170px auto 0rem;
		padding: 32px 45px;
		position: relative;
		width: 90%;

		@each $facultad, $color in $faculties {
			&-#{$facultad} {
				border-top: 7px solid $color;
			}
		}

		.title-top {
			margin: 0;
			padding: 0rem;
			width: 75%;
		}
	}
}

@media (max-width: 1200px) and (min-width: 50px) {
	.contenedor-lead {
		padding: 40px 40px;
	}
}

@media (max-width: 3000px) and (min-width: 768px) {
	.imagen-destacada {
		margin: 0px 0 0 0;
	}
}

.tabs__verticals__program3 {
	background-color: $gris-50;
	display: flex;
}
