.image-destacada-lead {
    background-color: $dorado-100;

    .contenedor-lead {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        overflow: hidden;
        width: 100%;

        @media (max-width: $ipad) and (min-width: $minimo ) {
            flex-direction: column-reverse;
        }

        .title-top {
            width: 48%;
            padding: 3rem 2rem;
            max-width: 750px;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;

            @media (max-width: $ipad) and (min-width: $minimo ) {
                width: 100%;
            }


            h6 {
                color: $verde-lima-700;
            }

            h1 {
                color: $azul-carbon-700;
                margin: 0;
            }
        }

        .imagen-top {
            transform: skewX(16deg);
            margin: 0;
            width: 50%;
            overflow: hidden;
            margin-right: -80px;

            @media (max-width: $desktop ) and (min-width: $ipad-01 ) {margin-right: -100px;}

            @media (max-width: $ipad) and (min-width: $minimo ) {
                width: 100%;
                transform: skewX(0);
                margin-right: 0;
            }


            .portada {
                transform: skewX(-16deg);
                background-image: url(../images/carrusel-home-01.png);
                background-size: cover;
                background-position: center;
                width: 100%;
                height: 100%;
                margin-left: -80px;

                @media (max-width: $desktop) and (min-width: $ipad-01 ) {
                    margin-left: -100px;}

                @media (max-width: $ipad) and (min-width: $movil-amplio ) {
                    transform: skewX(0);
                    margin-left: 0;
                    width: 100%;
                    min-height: 350px;
                }
                @media (max-width: $movil-amplio02) and (min-width: $minimo ) {
                    transform: skewX(0);
                    margin-left: 0;
                    width: 100%;
                    min-height: 250px;
                }
            }

        }
    }
}