.imagen-destacada {
  position: relative;
  margin: 0;

  @media (max-width:$maximo) and (min-width:$ipad) {
    margin: -60px 0 0 0;
  }

  @media (max-width:$ipad) and (min-width:$minimo) {
    margin-top: 50px;
  }
}

.imagen-destacada-facultad {
  margin-top: 0;
}