<div class="modulo-apertura-basico {{# modifier-class }}{{modifier-class }}{{/ modifier-class  }}{{^ modifier-class  }}{{/ modifier-class }}">
<div class="centrar">
<div class="noticia-principal">{{> molecules-news-basic-big(faculty-class:"defecto") }}</div>
<div class="notas-secundarias">
	{{> molecules-news-basic-small(modifier-class:"h4", faculty-class:"derecho") }}
	{{> molecules-news-basic-small(modifier-class:"h5", faculty-class:"finanzas-gobierno-y-relaciones-internacionales") }}
	{{> molecules-news-basic-small(modifier-class:"h5", faculty-class:"contaduria-publica") }}
</div>	
</div>
</div>