<div class="modulo-apertura-destacada">
<div class="centrar">
<div class="noticia-principal">{{> molecules-news-featured-big(faculty-class:"defecto") }}</div>
<div class="notas-secundarias">
	{{> molecules-news-horizontal-small(faculty-class:"derecho") }}
	{{> molecules-news-horizontal-small(faculty-class:"finanzas-gobierno-y-relaciones-internacionales") }}
	{{> molecules-news-horizontal-small(faculty-class:"contaduria-publica") }}
</div>	
</div>
</div>