<div class="faculty-color faculty-observatorio-familia-infacia-adolecencia">
{{> organisms-header-blogs(nombre:"Observatorio de familia, infancia y adolescencia", facultad:"Derecho y de la Facultad de Finanzas, Gobierno y Relaciones Internacionales") }}
{{> organisms-faculty-carousel}}
<div class="centrar">
    <div class="columna08 contenido">
    	<div class="columna06">
            <div class="titulo-tema">{{> atoms-button-faculty(text:"Tema 1")  }}</div>
            <div class="contenedor-tema">
        		{{> molecules-related-module }}
        		<div class="news-resume">
        		{{> molecules-news-module-sidebar }}
            	{{> molecules-news-module-sidebar }}
            	{{> molecules-news-module-sidebar }}
            	</div>
            </div>
    	</div>
    	<div class="columna06">
            <div class="titulo-tema">{{> atoms-button-faculty(text:"Tema 2") }}</div>
            <div class="contenedor-tema">
        		{{> molecules-related-module }}
        		<div class="news-resume">
        		{{> molecules-news-module-sidebar }}
            	{{> molecules-news-module-sidebar }}
            	{{> molecules-news-module-sidebar }}
            	</div>
            </div>	
    	</div>
      <div style="clear: both;"></div>
      <div class="columna12">
      	<div class="titulo-tema">{{> atoms-button-faculty(text:"Tema 3") }}</div>
        <div class="contenedor-tema">
            <div class="columna06">
            	{{> molecules-related-module }}
            </div>
            <div class="columna06">
            	<div class="news-resume ">
        		{{> molecules-news-module-sidebar }}
            	{{> molecules-news-module-sidebar }}
            	{{> molecules-news-module-sidebar }}
            	{{> molecules-news-module-sidebar }}
            	</div>
            </div>
            <div style="clear: both;"></div>
    	</div>
      </div>
    </div>
    <aside class="columna04 aside">
    	{{> molecules-newsletter-widget }}
    	{{> molecules-menu-widget }}
    	{{> molecules-archive-wp-widget(text:"Archivo") }}
    </aside>
  </div>
 </div>
{{> organisms-footer-blogs }}



