<div class="faculty-escuela-de-relaciones-internacionales">
{{> organisms-header-blogs(nombre:"Escuela de Relaciones Internacionales", facultad:"Finanzas, Gobierno y Relaciones Internacionales") }}

  <div class="centrar overflow">
    <div class="columna08 contenido">
      <h2 class="margen-titulo h1">Equipo de trabajo</h2>
      <div class="grilla-portal profile-preview-cm">
       {{> molecules-profile-module }}
       {{> molecules-profile-module }}
       {{> molecules-profile-module }}
        {{> molecules-profile-module }}
       {{> molecules-profile-module }}
       {{> molecules-profile-module }}
        {{> molecules-profile-module }}
       {{> molecules-profile-module }}
       {{> molecules-profile-module }}
       
      </div>
      <div style="clear: both;"></div> 
      {{> molecules-pagination}}
    </div>

    <aside class="columna04 aside">
      {{> molecules-text-link-widget }}
      {{> molecules-menu-widget }}
      {{> molecules-tag-cloud-widget }}
      {{> molecules-calendar-wp-widget }}
    </aside>
  </div>
</div>
{{> organisms-footer-blogs }}