<section id="creative-commons">
  <h4 class="logo-cc">CC</h4>
  <p><em>El contenido de este sitio está bajo licencia de 4.0 licencia de Creative Commons Reconocimiento Internacional</em> </p>
</section>
