 <!--Esta imagen debe ser de 600x600px-->
 <img class="{{# avatar-class }}{{avatar-class}}{{/ avatar-class }}{{^ avatar-class }}Name{{/ avatar-class}}"  src="../../images/{{# avatar-img }}{{avatar-img}}{{/ avatar-img }}{{^ avatar-img }}avatar-mr-600x600.jpg{{/ avatar-img}}" alt="{{# avatar-alt }}{{avatar-alt}}{{/ avatar-alt }}{{^ avatar-alt }}Name{{/ avatar-alt}}" >