<div class="parallax-group-images">
	<div class="aniview parallax-titulo-1" data-av-animation="slideInLeft"><img src="../../images/parallax-images/parallax-titulo-1.png"></div>
	<div class="aniview parallax-titulo-2" data-av-animation="slideInRight"><img src="../../images/parallax-images/parallax-titulo-2.png"></div>
	<div class="parallax-img2"></div>
	<div class="parallax-img1"></div>	
</div>