<a class="banner-1200x100" href="{{# url-banner }}{{url-banner}}{{/ url-banner }}{{^ url-banner }}#{{/ url-banner}}" class="banner-1200x100">
<img src="../../images/{{# banner-image }}{{banner-image}}{{/ banner-image }}{{^ banner-image }}banner-1200x100.jpg{{/ banner-image}}" alt="{{# banner-alt }}{{banner-alt}}{{/ banner-alt }}{{^ banner-alt }}Name{{/ banner-alt}}">
</a>