 <figure class="{{# img-class }}{{img-class}}{{/ img-class }}{{^ img-class }}aligncenter{{/ img-class}}">
 <img src="../../images/{{# img-url }}{{img-url}}{{/ img-url }}{{^ img-url }}carrusel-home-01.png{{/ img-url}}" alt="{{# img-alt }}{{img-alt}}{{/ img-alt }}{{^ img-alt }}Title{{/ img-alt}}">
 </figure>