 <figure class="{{# img-class }}{{img-class}}{{/ img-class }}{{^ img-class }}{{/ img-class}}">
 <img src="../../images/{{# img-url }}{{img-url}}{{/ img-url }}{{^ img-url }}thumbnail-150×150.jpg{{/ img-url}}" alt="{{# img-alt }}{{img-alt}}{{/ img-alt }}{{^ img-alt }}Title{{/ img-alt}}">
 </figure>