<div class="centrar-flex" style="display: flex; background-color: #e9ede5;">
    <div class="header-top-back columna12">
        <div class="centrar box-titulo-top">
            <div class="titulo-top columna08"> <h1 class="margin-m">{{# title }}Archivo Digital – Centro de Pensamiento en Seguridad Social CEPESS{{/ title }}{{^ title }}{{title}}{{/ title}}</h1></div>	
        
            <div class="imagen-titulo-top hidden3 columna04" style="margin-top: 2rem;"><img src="../../images/top-logo-cepess.png"></div>	
        </div> 
    </div>
</div>