<div class="header-top-img">
    <div class="centrar box-titulo-top">
    	<div class="titulo-top"> <h1 class="margin-m">{{# title }}Banco de referentes en Estudios Feministas y de Género{{/ title }}{{^ title }}{{title}}{{/ title}}</h1></div>	
    
       	<div class="imagen-titulo-top hidden3"><img src="../../images/top-unidad-genero.png"></div>	
    </div> 
</div>