<div class="compartir-redes">
  <a href="#" class="icon-facebook">
    <svg class=" icon-facebook"><use xlink:href="../../images/iconos.svg#icon-facebook"></use></svg>
  </a>
  <a href="#" class="icon-twitter">
    <svg class=" icon-twitter"><use xlink:href="../../images/iconos.svg#icon-twitter"></use></svg>
  </a>
  <a href="#" class="icon-linkedin">
    <svg class=" icon-linkedin"><use xlink:href="../../images/iconos.svg#icon-linkedin"></use></svg>
  </a>
  <a href="#" class="icon-tiktok">
    <svg class=" icon-tiktok"><use xlink:href="../../images/iconos.svg#icon-tiktok"></use></svg>
  </a>
</div>
