<div class="touch-like"><a href="" class="icon-touch-like"><span><svg class="icon icon-corazon-01"><use xlink:href="../../images/iconos.svg#icon-corazon-01"></use></svg></span></a>0 Me gusta</div><!--Debe contar el número de likes que han realizado-->