<div class="lista-eventos">
  {{> molecules-event-module }}
  {{> molecules-event-module }}
  {{> molecules-event-module }}
  {{> molecules-event-module }}
  {{> molecules-event-module }}
  {{> molecules-event-module }}
</div>
