<div class="lista-resumen">
  <h2 class="h4">Resumen de eventos</h2>
  <div class="h6 fecha">Del 2 al 8 de Septiembre</div>
  {{> molecules-summary-module }}
  {{> molecules-summary-module }}
  {{> molecules-summary-module }}
  {{> molecules-summary-module }}
  {{> atoms-button}}
</div>