<div class="lista-noticias">
  <h2 class="h1">Noticias</h2>
  {{> molecules-news-module }}
  {{> molecules-news-module }}
  {{> molecules-news-module }}
  {{> molecules-news-module }}
  {{> molecules-news-module }}
  {{> molecules-news-module }}
  {{> molecules-news-module }}
  {{> molecules-news-module }}
  {{> atoms-button}}
</div>
