<div class="grilla-portal">
  {{> molecules-squared-news-module }}
  {{> molecules-squared-news-module }}
  {{> molecules-squared-news-module }}
  {{> molecules-squared-news-module }}
  {{> molecules-squared-news-module }}
  {{> molecules-squared-news-module }}
</div>
