<div class="lista-leyes">
  <h2 class="h1">Leyes demandadas</h2>
  <div class="laws">
    {{> molecules-law-module }}
    {{> molecules-law-module }}
    {{> molecules-law-module }}
    {{> molecules-law-module }}
    {{> molecules-law-module }}
    {{> molecules-law-module }}
    {{> molecules-law-module }}
  </div>
</div>