  <div class="grilla-portal">
      {{> molecules-hover-news-module }}
      {{> molecules-hover-news-module }}
      {{> molecules-hover-news-module }}
      {{> molecules-hover-news-module }}
      {{> molecules-hover-news-module }}
      {{> molecules-hover-news-module }}
      {{> molecules-hover-news-module }}
      {{> molecules-hover-news-module }}
      {{> molecules-hover-news-module }}
</div>