<div class="bts-list  {{^ faculty-class  }}{{/ faculty-class }}{{# faculty-class }}{{faculty-class}}{{/ faculty-class }}">
<div class="title-list">Title</div>
      {{> atoms-button-routeslist(modifier-class:"v-list", text:"Curso 1") }}
      {{> atoms-button-routeslist(modifier-class:"v-list", text:"Curso 2") }}
      {{> atoms-button-routeslist(modifier-class:"none", text:"Curso 3") }}
      {{> atoms-button-routeslist(modifier-class:"none", text:"Opcional 1") }}
      {{> atoms-button-routeslist(modifier-class:"none", text:"Opcional 2") }}
</div>