{{> organisms-header }}
<div class="faculty-administracion-de-empresas-turisticas-y-hoteleras faculty-defecto"> {{> organisms-secondary-header-menu(faculty-home:"Administración de Empresas Turísticas y Hoteleras") }}
  <div class="fondo-completo busqueda-wpsolr">
    <div class="centrar">
      <h1>Proyecto integrador</h1>
      <aside class="columna04 aside"> {{> organisms-accordion-repository-projects }} </aside>
      <div class="columna08 contenido"> 
    {{> molecules-digital-card-projects }}
        {{> molecules-digital-card-projects }}
        {{> molecules-digital-card-projects }}
        {{> molecules-digital-card-projects }}
        {{> molecules-digital-card-projects }}
        {{> molecules-digital-card-projects }}
        
        {{> molecules-pagination}} </div>
    </div>
  </div>
</div>
<div style="margin-top: -40px">{{> organisms-faculty-info }}</div>
{{> organisms-footer }}