{{> organisms-header }}

<div class="faculty-defecto faculty-centro-de-pensamiento-para-la-seguridad-social">

    {{> organisms-secondary-header-menu(faculty-home:"Centro de Pensamiento para la Seguridad Social - CEPESS")}}
    {{> atoms-header-back(title-home:"Archivo Digital – Centro de Pensamiento en Seguridad Social CEPESS ")}}

    <div class="centrar">
        <p style="margin-top: 3rem;">El archivo digital del Centro de Pensamiento CEPESS, conserva y ofrece el acceso a la producción académica e histórica del Centro de Pensamiento en Seguridad Social. Este recurso facilita la exploración y difusión de conocimiento especializado en Seguridad Social, contribuyendo al intercambio de ideas y enriquecimiento del acervo digital para la comunidad interesada en estos estudios. </p>
      <aside class="columna04 aside"> {{> organisms-accordion-repository-cepess }} </aside>
      <div class="columna08 contenido"> 
        {{> molecules-digital-card-cepess }}
        {{> molecules-digital-card-cepess }}
        {{> molecules-digital-card-cepess }}
        {{> molecules-digital-card-cepess }}
        {{> molecules-digital-card-cepess }}
        
        {{> molecules-pagination}} </div>
    </div>
</div>
<div style="margin-top: -40px">{{> organisms-faculty-info }}</div>
{{> organisms-footer }}
