{{> organisms-header-blogs(nombre:"Departamento de Derecho Procesal") }}
<div class="faculty-defecto">
  <div class="fondo-completo busqueda-wpsolr">
    <div class="centrar">
      <div class="columna12">
        <h2 class="texto-centrado">Ley 1564 de 2012. Código General del Proceso</h2>
      </div>
      <div class="columna12" style="margin-top: 1rem;">
        <div class="columna06">
          <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
        <div class="columna06">
          <figure style="text-align: center;">
            <img style="width: 75%;" src="../../images/campus01.jpg">
          </figure>
        </div>
      </div>
      <div class="columna12" style="margin-top: 1rem;">
        <div class="columna04">
          {{> organisms-filter-derecho-procesal }}
        </div>
        <div class="columna08" style="margin-top: 0;">
          {{> molecules-card-accordion-der-procesal }}
          {{> molecules-card-accordion-der-procesal }}
          {{> molecules-card-accordion-der-procesal }}
          {{> molecules-card-accordion-der-procesal }}
          {{> molecules-card-accordion-der-procesal }}
          {{> molecules-card-accordion-der-procesal }}

        </div>
      </div>
    </div>
  </div>
</div>
{{> organisms-footer-blogs }}