{{> organisms-header }}
<div class="faculty-centro-de-estudios-sobre-genetica-y-derecho faculty-defecto">
  {{> organisms-secondary-header-menu(faculty-home:"Centro de Estudios sobre Genética y Derecho") }}
  <div class="fondo-completo busqueda-wpsolr">
    <div class="centrar">
      <h2 class="h3">Directorio Trabajos de Grado - Maestría en Derecho Médico</h2>
      <aside class="columna04 aside"> 
      {{> organisms-filter-directorio-trabajos-de-grado }}
      </aside>
      <div class="columna08 contenido">
        {{> molecules-card-directorio-trabajos-de-grado(nom-faculty:"Nombre del trabajo de grado")  }}
        {{> molecules-card-directorio-trabajos-de-grado(nom-faculty:"Nombre del trabajo de grado")  }}
        {{> molecules-card-directorio-trabajos-de-grado(nom-faculty:"Nombre del trabajo de grado")  }}
        {{> molecules-card-directorio-trabajos-de-grado(nom-faculty:"Nombre del trabajo de grado")  }}
        {{> molecules-card-directorio-trabajos-de-grado(nom-faculty:"Nombre del trabajo de grado")  }}
        {{> molecules-card-directorio-trabajos-de-grado(nom-faculty:"Nombre del trabajo de grado")  }}
        {{> molecules-card-directorio-trabajos-de-grado(nom-faculty:"Nombre del trabajo de grado")  }}
        {{> molecules-card-directorio-trabajos-de-grado(nom-faculty:"Nombre del trabajo de grado")  }}
        
        {{> molecules-pagination}}
      </div>       
    </div>
  </div>
</div>
{{> organisms-footer }}