{{> organisms-header }}

<div class="faculty-comunicacion-social-periodismo">
  {{> organisms-secondary-header-menu(faculty-home:"Comunicación Social - Periodismo")}}

  <div class="container-iframe">
    <iframe class="responsive-iframe" width="100%" height="100%" src="https://www.youtube.com/embed/xDFJPOgUx-k"></iframe>
  </div>
  <div class="centrar">
    <div class="columna12 contenido texto">

      {{> organisms-group-button-06}}

      <div class="columnas-alto-fijo centrar-flex">
        <div class="columna12" style="text-align: center;">
          <a class="mini-boton" href="https://www.uexternado.edu.co/comunicacion-social-periodismo/premios-y-reconocimientos/"><b>Premios y reconocimientos</b></a> <a class="mini-boton" href="https://www.uexternado.edu.co/comunicacion-social-periodismo/encuentra-a-la-facultad-de-comunicacion-social-periodismo-en-redes-sociales/"><b>Síguenos en redes sociales</b></a>
        </div>
      </div>
    </div>
  </div>
  <div class="centrar">
    <div class="columna12">
      <div class="columna09 columnas-alto-fijo centrar-flex">

      {{> organisms-news-category-group }}

      </div>
      <div class="columna03 contenido-texto" style="margin-top: 1rem;">
        <div class="widget widget-text-image">
          <article>
            <div class="info">
              <div class="h4" style="text-decoration: auto; display: inline; color: black;"><a href="https://www.uexternado.edu.co/evento/comunicacion-social-periodismo/participa-en-el-dia-del-futuro-comunicador-social-periodista-3/">Día del Futuro Comunicador Social - Periodista externadista</a></div>
            </div>
            <a class="image-widget" href="https://www.uexternado.edu.co/evento/comunicacion-social-periodismo/participa-en-el-dia-del-futuro-comunicador-social-periodista-3/">
              <img src="https://www.uexternado.edu.co/wp-content/uploads/2024/06/Dia-del-FCSP.jpg" alt="">
            </a>
          </article>
        </div>
        <div class="widget widget-text-image">
          <article>
            <div class="info">
              <div class="h4" style="text-decoration: auto; display: inline; color: black;"><a href="https://www.uexternado.edu.co/comunicacion-social-periodismo/matricula-nuevos-estudiantes/">Matrícula Nuevos Estudiantes</a></div>
            </div>
            <a class="image-widget" href="https://www.uexternado.edu.co/comunicacion-social-periodismo/matricula-nuevos-estudiantes/">
              <img src="https://www.uexternado.edu.co/wp-content/uploads/2024/01/Matriculas-nuevos-estudiantes.jpg" alt="">
            </a>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="centrar">
    <div class="columna12">
      <h4 class="texto-centrado subrayado" style="color: #32464d;">Construyendo juntos nuestra Facultad</h4>
      <div class="columnas-alto-fijo" style="justify-content: center; margin-top: 2rem;">
        <div class="columna02" style="text-align: center; padding: 1rem 5px; background-color: #7DC3C6; color: white; border-radius: 1rem; display: flex; align-items: center; justify-content: center; flex-flow: column; margin-bottom: 20px;">
          <h4 style="font-size: 1.2rem; margin: 0; color: white; text-align: center; line-height: 1.4rem;">Acreditación Nacional</h4><img style="width: 110px;" src="https://www.uexternado.edu.co/wp-content/uploads/2024/05/CNA.png"></div>
        <div class="columna02" style="text-align: center; padding: 1rem 5px; background-color: #7DC3C6; color: white; border-radius: 1rem; display: flex; align-items: center; justify-content: center; flex-flow: column; margin-bottom: 20px;">
        <h4 style="margin-top: 0rem; font-size: 2rem; line-height: 1.8rem; color: #323956;"><span class="counter">13</span></h4>
        <p style="margin: 0; font-size: 1.2rem; line-height: 1.5rem;"><b>Convenios internacionales</b></p></div>
        <div class="columna02 columnas-alto-fijo">
          <div class="columna12" style="text-align: center; padding: 1rem 5px; background-color: #7DC3C6; color: white; border-radius: 1rem; display: flex; align-items: center; justify-content: center; flex-flow: column; margin-bottom: 20px;">
          <h4 style="margin-top: 0rem; font-size: 2rem; line-height: 1.8rem; color: #323956;"><span class="counter">3105</span></h4>
          <p style="margin: 0; font-size: 1.1rem; line-height: 1.2rem;"><b>Egresados de pregrado</b></p></div>
        <div class="columna12" style="text-align: center; padding: 1rem 5px; background-color: #7DC3C6; color: white; border-radius: 1rem; display: flex; align-items: center; justify-content: center; flex-flow: column; margin-bottom: 20px;">
          <h4 style="margin-top: 0rem; font-size: 2rem; line-height: 1.8rem; color: #323956;"><span class="counter">149</span></h4>
          <p style="margin: 0; font-size: 1.1rem; line-height: 1.2rem;"><b>Egresados de posgrados</b></p></div>
        </div>
        <div class="columna02" style="text-align: center; padding: 1rem 5px; background-color: #7DC3C6; color: white; border-radius: 1rem; display: flex; align-items: center; justify-content: center; flex-flow: column; margin-bottom: 20px;">
        <h4 style="margin-top: 0rem; font-size: 2rem; line-height: 1.8rem; color: #323956;"><span class="counter">697</span></h4>
        <p style="margin: 0; font-size: 1.2rem; line-height: 1.5rem;"><b>Practicantes en los últimos cinco años</b></p></div>
        <div class="columna02">
          <div class="columna12" style="text-align: center; padding: 1rem 5px; background-color: #7DC3C6; color: white; border-radius: 1rem; display: flex; align-items: center; justify-content: center; flex-flow: column; margin-bottom: 20px;">
          <h4 style="margin-top: 0rem; font-size: 2rem; line-height: 1.8rem; color: #323956;"><span class="counter">4</span></h4>
          <p style="margin: 0; font-size: 1rem; line-height: 1.2rem;"><b>Cursos y diplomados de Eduación Continuada</b></p></div>
        <div class="columna12" style="text-align: center; padding: 1rem 5px; background-color: #7DC3C6; color: white; border-radius: 1rem; display: flex; align-items: center; justify-content: center; flex-flow: column; margin-bottom: 20px;">
          <h4 style="margin-top: 0rem; font-size: 2rem; line-height: 1.8rem; color: #323956;"><span class="counter">8</span></h4>
          <p style="margin: 0; font-size: 1.1rem; line-height: 1.2rem;"><b>Investigaciones activas</b></p></div>
        </div>
        <div class="columna02" style="text-align: center; padding: 1rem 5px; background-color: #7DC3C6; color: white; border-radius: 1rem; display: flex; align-items: center; justify-content: center; flex-flow: column; margin-bottom: 20px;">
        <h4 style="font-size: 1.2rem; margin: 0; color: white; text-align: center; line-height: 1.4rem;">Acreditación Internacional</h4><img style="width: 110px;" src="https://www.uexternado.edu.co/wp-content/uploads/2024/05/CLAEP.png"></div>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
  <div class="fondo">

    {{> organisms-carousel-agenda }}

  </div>

  {{> organisms-faculty-info }}

</div>

{{> organisms-footer }}