{{> organisms-header }}

<div class="faculty-bienestar-universitario">
  {{> organisms-secondary-header-menu(faculty-home:"TU Bienestar")}}

  {{> molecules-prominent-image-faculty }}
  <div class="centrar">
    <div class="columna12 contenido texto">
      <h1 class="texto-centrado subrayado" style="color: #32464d">Bienestar Universitario</h1>
      <div class="columna08">

        {{> atoms-iframe }}

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="columna04">
        {{> molecules-text-widget }}
        {{> molecules-image-text-widget }}
        {{> molecules-text-boton-widget }}
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
  <div class="centrar-flex" style="display: flex; background-color: #f2f2f2;">
    <div class="centrar">
      <div class="columna12">

        {{> organisms-news-carousel-bienestar }}

      </div>
    </div>
  </div>
  <div style="clear: both"></div>
  <div class="centrar-flex" style="display: flex; background-color: #32464d;">
    <div class="centrar">
      <div class="columna12" style="margin-top: 1rem;">
      <h2 class="texto-centrado subrayado" style="margin-bottom: 1.5rem; color: white;">‘TU Bienestar multimedia’</h2>

      {{> organisms-carousel-3columns-publicaciones }}

      </div>
    </div>
  </div>
  <div style="clear: both"></div>
  <div class="centrar">
    <div class="columna12" style="margin-top: 1rem;">
      <h2 class="texto-centrado subrayado" style="margin-bottom: 1.5rem; color: #32464d">Vive TU Bienestar</h2>

      {{> organisms-carousel-3columns-titulo }}

    </div>
  </div>

  {{> organisms-faculty-info }}
</div>

{{> organisms-footer }}
