<div class="faculty-color faculty-derecho-constitucional"> 
  {{> organisms-header-blogs(nombre:"Departamento de Derecho Constitucional ", facultad:"Derecho") }}
  
<div class="centrar">

	<div class="contenido">
		
	<p class="entradilla">Bajo el propósito de crear espacios de discusión académica enriquecedores, entablar diálogos con diferentes expertos y promover la participación de la comunidad en general, el Departamento de Derecho Constitucional ofrece constantes eventos en temáticas relacionados con el derecho constitucional, internacional y la sociología jurídica. </p>

	<p class="entradilla">¡Entérese aquí de todos ellos!</p>

	</div>
</div>

{{> molecules-simple-calendar }}  


<div class="centrar">


	<div class="columna12 margen-inferior-cajas border-top">
		
    <a class="boton" href="#"> Ver historico de eventos</a>
	</div>
	

</div>	 

</div>

{{> organisms-footer-blogs }}