<div class="faculty-color faculty-derecho-constitucional"> 
  {{> organisms-header-blogs(nombre:"Departamento de Derecho Constitucional ", facultad:"Derecho") }}
  
  {{> molecules-prominent-image-faculty }}
  <div class="contenedor">
    <main>
      <div class="centrar">
        <article class="columna08 contenido texto">
           <div class="info">
            <div class="h6"><a href="#">Grupo de Derechos Humanos y DIH</a></div>
          </div>

          <div class="contenido">
          <h1>Proyectos Energéticos en Territorio Indígena y Consulta Previa: el caso de La Guajira</h1>

          <div class="submodulo-evento">
              <p>
                <svg class="icon icon-calendario-02"><use xlink:href="../../images/iconos.svg#icon-calendario-02"></use></svg>
                <strong>Fecha:</strong>
                <span> 3 de septiembre de 2021</span>
              </p>
              <p>
                <svg class="icon icon-reloj"><use xlink:href="../../images/iconos.svg#icon-reloj"></use></svg>
                <strong>Hora:</strong>
                <span>3:00 pm - 6:40 pm</span>
              </p>
              <p>
                <svg class="icon icon-pin-locacion"><use xlink:href="../../images/iconos.svg#icon-pin-locacion"></use></svg>
                <strong>Lugar:</strong>
                <span>Plataforma virtual Zoom</span>
              </p>


            </div>

          <div class="add-calendar-wrapper">
            <a class="form-submit-btn boton" id="open-calendar-popup" href="#">
              Añadir a tu calendario
            </a>
            <div class="popup">
              <button type="button" class="close cerrar-circular" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <a href="#" class="apple" target="_blank">Apple</a>
              <a href="#" class="google" target="_blank">Google</a>
              <a href="#" class="outlook" target="_blank">Outlook</a>
              <a href="#" class="outlook-com" target="_blank">Outlook.com</a>
            </div>
          </div>

          <div  class="submodulo-evento blanco-humo padding-minimo margin-m border-radius-m">

             <p class="autor">
              <svg class="icon icon-conversacion"><use xlink:href="../../images/iconos.svg#icon-conversacion"></use></svg><strong>Moderador:</strong> <a href="#">María Paula Moreno Torres</a></p>
            
               <p class="autor">
              <svg class="icon icon-hombre-mujer"><use xlink:href="../../images/iconos.svg#icon-hombre-mujer"></use></svg><strong>Panelistas:</strong> <a href="#">María Paula Moreno Torres</a><a href="#">Ethel Margarita Morales Gil</a>
              </p>

          </div>


            <p class="entradilla">El evento se da en el marco de conversatorios sobre “El Estado pluriétnico que queremos” de la línea de investigación sobre pueblos étnicos del Departamento de Derecho Constitucional del Externado.</p>

          

             <blockquote>#hashTagEvento</blockquote> 

                    

            <p>Desde 2015, el Ministerio de Minas y Energía y la Unidad de Planeación Minero-Energética (UPME) comenzaron la construcción de un proyecto energético de gran magnitud, a desarrollar en el Departamento de La Guajira, cuya ejecución se daría, en un alto porcentaje, en el territorio de distintas comunidades del pueblo indígena Wayúu.</p>

            <p>Este proyecto comenzó a ejecutarse a través de inmensos esfuerzos económicos de distintas empresas públicas y privadas que le apostaron a ese necesario e importante cambio a energías limpias, ideal para los tiempos de emergencia climática que vivimos y para los compromisos internacionales adquiridos por Colombia en la materia.</p>

            <p>Sin embargo, en agosto del año 2020 la Procuraduría General de la Nación emitió un conjunto de solicitudes frente al proyecto, que alertaron sobre la posible violación del derecho fundamental a la consulta previa de las diferentes comunidades afectadas (entre otros derechos), como consecuencia de diversas situaciones que se había puesto de presente en una investigación de la ONG Indepaz. Una de las principales conclusiones del informe, es la falta de claridad o ausencia en la información suministrada a los pueblos indígenas sobre el proyecto, por lo que, entre otras peticiones, se solicitó hacer una macro consulta previa, debido a las diversas complicaciones que el proyecto en su totalidad presenta para el pueblo Wayúu.</p>

            <p>Desde la Línea de investigación sobre pueblos étnicos queremos conversar con algunos de los protagonistas de estos hechos, para generar un escenario de diálogo en el que nos compartan sus posiciones, se puedan intercambiar ideas sobre lo sucedido y plantear soluciones sobre el modo en que se pueden superar los problemas planteados.</p>

              {{> atoms-button(text:"Acceso al Facebook Live o YouTube") }} o

            {{> atoms-button(text:"Inscríbase aquí") }}


            <hr>

            <h4> Organizador del evento:</h4>


            {{> molecules-allied-logos }}

        </div>
        </article>

        <aside class="columna04 aside">
                {{> organisms-accordion-news}}
        </aside>

        {{> molecules-module-tags }}
      </div>
    </main>
  </div>

</div>

{{> organisms-footer-blogs }}
