<a class="boton {{# modifier-class }}{{modifier-class }}{{/ modifier-class  }}{{^ modifier-class  }}{{/ modifier-class }}" href="#">
  <span><svg class="icon icon-{{# icon-selector }}{{icon-selector}}{{/ icon-selector }}{{^ icon-selector }}libro-03{{/ icon-selector}}"><use xlink:href="../../images/iconos.svg#icon-{{# icon-selector }}{{icon-selector}}{{/ icon-selector }}{{^ icon-selector }}libro-03{{/ icon-selector}}"></use></svg></span>
   {{# text }}{{text}}{{/ text }}{{^ text }}Ver todos{{/ text}} {{^ derecha }}<span><svg class="icon icon-derecha"><use xlink:href="../../images/iconos.svg#icon-derecha"></use></svg></span>{{/ derecha }}</a>