<a class="boton-linea {{# modifier-class }}{{modifier-class }}{{/ modifier-class  }}{{^ modifier-class  }}btn-linea-default{{/ modifier-class }}" href="#">
<span><svg class="icon icon-{{# icon-selector }}{{icon-selector}}{{/ icon-selector }}{{^ icon-selector }}libro-03{{/ icon-selector}}"><use xlink:href="../../images/iconos.svg#icon-{{# icon-selector }}{{icon-selector}}{{/ icon-selector }}{{^ icon-selector }}libro-03{{/ icon-selector}}"></use></svg></span>
 {{# text }}{{text}}{{/ text }}{{^ text }}Ver todos{{/ text}}</a>