<a href="#" class="boton-icono filtro-activo">
  <span>
    <svg class="icon icon-filtro-01"><use xlink:href="../../images/iconos.svg#icon-filtro-01"></use></svg>
  </span>
  <p>Filtros</p>
  <span>
    <svg class="icon icon-equivocado"><use xlink:href="../../images/iconos.svg#icon-equivocado"></use></svg>
  </span>
</a>
