<!--El número de columnas del article, se debe ajustar a la cantidad de botones que se desean incluir--> 

 <article class="columna03"><a class="bt-img boton columna12" href="#"><img src="https://www.uexternado.edu.co/wp-content/uploads/2018/08/mesas-de-trabajo.jpg" alt="">Mesas de trabajo</a></article>