<a  href="{{# url-logo }}{{url-logo}}{{/ url-logo }}{{^ url-logo }}#{{/ url-logo}}"><img class="logo-aliados img-responsive" src="{{# logo-img }}{{logo-img}}{{/ logo-img }}{{^ logo-img }}../../images/logos/allied-logo.png{{/ logo-img}}"></a> 