
<a class="icon-button-aside {{# clase-icon-button-aside }}{{clase-icon-button-aside}}{{/ clase-icon-button-aside}}" href="#" >

	<span class="icono-grande-button-aside">
		 
    {{# icono-icon-button-aside }}
    <svg><use xlink:href="{{icono-icon-button-aside}}"></use></svg>
    {{/ icono-icon-button-aside}}
  </span>
  {{^ text-button }}
  Multimedia
  {{/ text-button }}
  {{# text-button }}
  {{text-button}}
  {{/ text-button }}
</a>