<div class="titulo-acordeon">
  <a role="button" data-toggle="collapse" data-target="#{{ target }}" href="#" aria-controls="{{ target }}" >
    <div class="h4">{{^ text }}Botón{{/ text }} {{# text }}{{text}}{{/ text }}</div>
    <span class="flecha">
      <svg class="icon icon-abajo"><use xlink:href="../../images/iconos.svg#icon-abajo"></use></svg>
    </span>
  </a>
</div>