<a class="itemtag {{^ modifier-tab-class  }}{{/ modifier-tab-class }}{{# modifier-tab-class }}{{modifier-tab-class}}{{/ modifier-tab-class }} {{^ active }}{{/ active }} {{# active }}active-tab{{/ active }}" href="#" id="{{id}}" class="active-tab">{{^ text }}Título 1{{/ text }} {{# text }}{{text}}{{/ text }}</a>


