<a href="#" class="boton-grande">
  <div class="imagen">
    <!-- Estas imágenes se deben cortar de 450px x 450px, desde el centro -->
    <img src="../../images/auditorio.png" alt="Imagen externado" />
  </div>

  <div class="info">
    <div class="h4" >{{^ text }}Especialización en Derecho Minero-Energético{{/ text }}{{# text }}{{text}}{{/ text }}</div>
  </div>
</a>
