<a href="#" class="boton-subtitulo">
  <div class="imagen">
    <!-- Estas imágenes se deben cortar de 450px x 450px, desde el centro -->
    <img src="../../images/auditorio.png" alt="Imagen externado" />
  </div>
   

  <div class="info">
    <p>Title button</p>
    <div class="h4" >{{^ text }}Subtitle button{{/ text }}{{# text }}{{text}}{{/ text }}</div>
  </div>
</a>
