<a href="#" class="cuadrado color {{# facultycolor}}{{facultycolor}}{{/ facultycolor }}{{^ facultycolor }}administracion-de-empresas{{/ facultycolor}}" title="{{# title }}{{title}}{{/ title }}{{^ title }}Texto convención{{/ title}}" aria-label="{{# aria-label }}{{aria-label}}{{/ aria-label }}{{^ aria-label }}Texto convención{{/ aria-label}}">{{# text }}{{text}}{{/ text }}{{^ text }}Convención{{/ text}}</a> 