<a href="#" class="circulo color {{# facultycolor }}{{facultycolor}}{{/ facultycolor }}{{^ facultycolor }}administracion-de-empresas{{/ facultycolor}}" title="{{# title }}{{title}}{{/ title }}{{^ title }}Texto convención{{/ title}}"></a>