<a href="#" class="icono-db"><span title="{{# title }}{{title}}{{/ title }}{{^ title }}Texto accesibilidad{{/ title}}"><svg class="icon {{# icon-selector }}{{icon-selector}}{{/ icon-selector }}{{^ icon-selector }}icon-libro-03{{/ icon-selector}}"><use xlink:href="../../images/iconos.svg#{{# icon-selector }}{{icon-selector}}{{/ icon-selector }}{{^ icon-selector }}icon-libro-03{{/ icon-selector}}"></use></svg></span></a>