<div class="circle-icon-button">
	<a href="#" class=" {{^ modifier-class-btn  }}{{/ modifier-class-btn }}{{# modifier-class-btn }}{{modifier-class-btn}}{{/ modifier-class-btn }}">
		<span class="icon">
			<svg class="icon {{# icon-selector }}{{icon-selector}}{{/ icon-selector }}{{^ icon-selector }}icon-libro-03{{/ icon-selector}}"><use xlink:href="../../images/iconos.svg#{{# icon-selector }}{{icon-selector}}{{/ icon-selector }}{{^ icon-selector }}icon-libro-03{{/ icon-selector}}"></use></svg>
		</span>
		<p>{{# text }}{{text}}{{/ text }}{{^ text }}Avante{{/ text}}</p>
	</a>
</div>
