<p><a class="btn-lista {{^ modifier-class  }}{{/ modifier-class }}{{# modifier-class }}{{modifier-class}}{{/ modifier-class }}" href="" >
  {{# text }}{{text}}{{/ text }}{{^ text }}Curso 1{{/ text}}
</a>
</p>
