 <article class="image-bt-description">
	<a href="#"> 
		<figure class="{{# img-class }}{{img-class}}{{/ img-class }}{{^ img-class }}aligncenter{{/ img-class}}">
			<img src="../../images/{{# img-url }}{{img-url}}{{/ img-url }}{{^ img-url }}footer-campus.png{{/ img-url}}" alt="{{# img-alt }}{{img-alt}}{{/ img-alt }}{{^ img-alt }}Title{{/ img-alt}}">
			<figcaption>Image title or description Lorem ipsum dolor sit amet, consectetur adipiscing.</figcaption>
	</figure>
	 </a>
 </article>