<div class="centrar">
  <div class="fecha-actual-title">
  <div class="title-agenda h3">{{^ agenda-title }}
  Agenda Externadista
  {{/ agenda-title }}
  {{# agenda-title }}
  {{ agenda-title }}
  {{/ agenda-title }}
  </div>
  </div>
</div>
