<div class="centrar">
	<div class="cajas-centradas">
		<div class="box-logo">{{> atoms-allied-logo-button(logo-img:"allied-logo-2.png")}}{{> atoms-allied-logo-button(logo-img:"allied-logo.png") }}{{> atoms-allied-logo-button(logo-img:"allied-logo-3.png") }}{{> atoms-allied-logo-button(logo-img:"comunidadvirtual3.png") }}</div>

	</div>
</div>
