<div class="columnas-alto-fijo texto-centrado">
    <div class="columna04 widget widget-custom-html">
      <article class="info sin-borde-inferior">
        <p>Centre for Energy, Petroleum and Mineral Law and Policy, de la Universidad de Dundee (Escocia)</p>
      </article>
    </div>
  <div class="columna04 widget widget-custom-html">
      <article class="info sin-borde-inferior">
        <p>Centre for Energy, Petroleum and Mineral Law and Policy, de la Universidad de Dundee (Escocia)</p>
      </article>
    </div>
  <div class="columna04 widget widget-custom-html">
      <article class="info sin-borde-inferior">
        <p>Centre for Energy, Petroleum and Mineral Law and Policy, de la Universidad de Dundee (Escocia)</p>
      </article>
    </div>
  <div class="columna04 widget widget-custom-html">
      <article class="info sin-borde-inferior">
        <p>Centre for Energy, Petroleum and Mineral Law and Policy, de la Universidad de Dundee (Escocia)</p>
      </article>
    </div>
  <div class="columna04 widget widget-custom-html">
      <article class="info sin-borde-inferior">
        <p>Centre for Energy, Petroleum and Mineral Law and Policy, de la Universidad de Dundee (Escocia)</p>
      </article>
    </div>
  <div class="columna04 widget widget-custom-html">
      <article class="info sin-borde-inferior">
        <p>Centre for Energy, Petroleum and Mineral Law and Policy, de la Universidad de Dundee (Escocia)</p>
      </article>
    </div>
  <div class="columna04 widget widget-custom-html">
      <article class="info sin-borde-inferior">
        <p>Centre for Energy, Petroleum and Mineral Law and Policy, de la Universidad de Dundee (Escocia)</p>
      </article>
    </div>
  <div class="columna04 widget widget-custom-html">
      <article class="info sin-borde-inferior">
        <p>Centre for Energy, Petroleum and Mineral Law and Policy, de la Universidad de Dundee (Escocia)</p>
      </article>
    </div>
  <div class="columna04 widget widget-custom-html">
      <article class="info sin-borde-inferior">
        <p>Centre for Energy, Petroleum and Mineral Law and Policy, de la Universidad de Dundee (Escocia)</p>
      </article>
    </div>
  <div class="columna04 widget widget-custom-html">
      <article class="info sin-borde-inferior">
        <p>Centre for Energy, Petroleum and Mineral Law and Policy, de la Universidad de Dundee (Escocia)</p>
      </article>
    </div>
  </div>