<h2 class="margen-titulo texto-centrado h3">Más información</h2>
<div class="columnas-alto-fijo texto-centrado">
  <div class="columna04 widget widget-custom-html">
    <article class="info sin-borde-inferior">
            <span class="h5">Departamento de Derecho de Medio Ambiente</span>
            <p>Calle 12 No. 1–17 Este. <br>
              Bogotá, Colombia.<p>
    </article>
  </div>
  <div class="columna04 widget widget-custom-html">
    <article class="info sin-borde-inferior">
            <span class="h5">Teléfonos:</span>
            <p>3420288 y 3419900 <br>
              <strong>Extensiones:</strong> 1162, 1163, 1164 y 1169</p>
    </article>
  </div>
  <div class="columna04 widget widget-custom-html">
    <article class="info sin-borde-inferior">
          <span class="h5">Correo</span>
          <p><a href="mailto:figri.profesores@uexternado.edu.co" target="_blank" rel="noopener">figri.profesores@uexternado.edu.co</a><p>
    </article>
  </div>
</div>