<div class="centrar">
  <div class="fecha-actual-title">
  	<div class="columna05">
  <div class="title-agenda h3">{{^ agenda-title }}
  Agenda
  {{/ agenda-title }}
  {{# agenda-title }}
  {{ agenda-title }}
  {{/ agenda-title }}
</div>
  </div>

    <span>18</span> <!--dia-->
    <span>Septiembre</span><!--mes-->
    <span>2016</span><!--anio-->
  </div>
</div>
