<aside class="informacion-facultad">
      <div class="centrar">
        <div class="titulo" >
          <span>
            <svg class="icon icon-info"><use xlink:href="../../images/iconos.svg#icon-info"></use></svg>
          </span>
          <h2 class="h3">Capítulos</h2>
        </div>

        <div class="info">
          <p><strong>CIUDAD-1</strong><br> persona1 persona1<br> persona1@gmail.com</p>
          <p><strong>CIUDAD-1</strong><br> persona1 persona1<br> persona1@gmail.com</p>
          <p><strong>CIUDAD-1</strong><br> persona1 persona1<br> persona1@gmail.com</p>
          <p><strong>CIUDAD-1</strong><br> persona1 persona1<br> persona1@gmail.com</p>
          <p><strong>CIUDAD-1</strong><br> persona1 persona1<br> persona1@gmail.com</p>
          <p><strong>CIUDAD-1</strong><br> persona1 persona1<br> persona1@gmail.com</p>
          <p><strong>CIUDAD-1</strong><br> persona1 persona1<br> persona1@gmail.com</p>
          <p><strong>CIUDAD-1</strong><br> persona1 persona1<br> persona1@gmail.com</p>
          <p><strong>CIUDAD-1</strong><br> persona1 persona1<br> persona1@gmail.com</p>
          <p><strong>CIUDAD-1</strong><br> persona1 persona1<br> persona1@gmail.com</p>
        </div>
      </div>
    </aside>