{{> organisms-header-blogs(nombre:"Centro de Investigación en Política Criminal") }}

<div class="faculty-defecto">

    <div class="centrar overflow">
    <div class="columna12 contenido">
      <h1>Archivo: Ejemplo</h1>
      <div class="lista-noticias">
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
        {{> molecules-news-module }}
      </div>
      {{> molecules-pagination}}
    </div>
  </div>
</div>

{{> organisms-footer-blogs }}
