<figure class="ajuste-imagen imagen-destacada imagen-destacada-facultad">
  <!--Esta imagen debe ser de 1400 x 933px. Si el usuario sube una imagen de menor resolución el gestor no lo debe permitir o avisar que la imagen saldrá mal-->
  <img src="../../images/carrusel-home-01.png" alt="Noticia">
</figure>
