<!--El ancho lo pongo en línea ya que es el usuario quien elije de qué tamaño quiere la imagen-->
<figure class="wp-caption alignright" style="width: 250px;">
  <img width="250" src="../../images/modulo-noticia.png" alt="Noticia" />
  <figcaption class="wp-caption-text">El Presidente se unió a la celebración de estudiantes, profesores, exalumnos y directivas del Externado, quienes conmemoraron hoy los 130 años de la universidad.</figcaption>
</figure>
