<div class="imagen-scroll" style="background-image:url(../../images/carrusel-home-04.png);">
</div>

<!--Esta clase la dejé tal como la pone WP-->
<p class="wp-caption-text">
  El Presidente se unió a la celebración de estudiantes, profesores, exalumnos y directivas del Externado, quienes conmemoraron hoy los 130 años de la universidad.
</p>
