<div class="contenedor-banner columna08" align="center"><img src="../../images/banner-image.jpg" alt="" />
  <div class="lateral-color">
    <div class="box-blockquote">
      <blockquote class="banner-quote">Nuestro personal bibliotecario es el motor y el corazón de la biblioteca. ¡Conózcalos!</blockquote>
    </div>
  </div>
</div>