<article class="image-destacada-lead">
    <div class="contenedor-lead texto">
        <div class="title-top centrar">
            <h6>Inscripciones Abiertas</h6>
            <h1>Especialización en Sostenibilidad de Instituciones Culturales</h1>
            <div class="info">
                {{> atoms-data-item(icon:"pin-locacion", item:"Bogotá - virtual", text:" ") }} 
                {{> atoms-data-item(icon:"reloj", item:"1 año", text:" ") }}
            </div>
            <div class="lead">
            La especialización se concibe como un espacio de estudio, análisis y formulación de propuestas, proyectos y
            estrategias que abordan la sostenibilidad desde la estructura social, política y económica para la
            transformación de las instituciones de carácter cultural.
        </div>
            <div class="boton-accion">
                {{> atoms-button(icon-selector:"editar", modifier-class:"boton-facultad border-radius-s", text:"Inscribase aquí", derecha: false) }}  {{> atoms-button(icon-selector:"mapa", modifier-class:"boton-gris border-radius-s", text:"Folleto electrónico", derecha: false) }} 
            </div>
        </div>
        <div class="imagen-top"><div class="portada"></div></div>
    </div>
</article>