{{> organisms-header-blogs(logo:"../../images/logos/agoramercatorum.png", facultad:"Derecho") }}

<div class="faculty-defecto">

  <div class="contenedor">
    <div class="centrar">
      <div class="columna08 contenido">
        <h2 class="h1">Sociedades</h2>

        <div class="lista-noticias">
          {{> molecules-news-module }}
          {{> molecules-news-module }}
          {{> molecules-news-module }}
          {{> molecules-news-module }}
        </div>
      </div>
    </div>
  </div>
</div>

{{> organisms-footer-blogs }}