{{> organisms-header-blogs(logo:"../../images/logos/agoramercatorum.png", facultad:"Derecho") }}

{{> molecules-prominent-image-faculty }}
  <div class="contenedor">
    <div class="centrar">
      <main>
        <article class="columna08 contenido">
          <div class="info">
            <div class="h6"><a href="#">Actualidad</a></div>
            {{> atoms-date }}
          </div>
          <div class="texto">
            <h1>El decreto 046 de 2024 y la regla del buen juicio profesional</h1>
            {{> atoms-lead(lead:"Mediante el Decreto 046 de 2024 el Gobierno Nacional incorporó -por la puerta de atrás- al ordenamiento jurídico la regla anglosajona del buen juicio profesional (the bussines judgement rule).") }}
            {{> atoms-author }}
            <p>No se discute que al igual que la jurisprudencia de la Corte Suprema de Justicia acabada de mencionar, algún sector de la doctrina nacional se declara partidario de que a los administradores se les reconozca el necesario margen de maniobra que les permita aplicar su propio criterio, conocimientos y experiencia “ante situaciones frecuentemente complejas, frente a las cuales lo que habrá de medirse es la razonabilidad con la cual, dadas las circunstancias y teniendo en cuenta el entorno” (Rodríguez Azuero Sergio, 1998, Responsabilidad civil de los administradores de sociedades.</p>
            <br>
            <span class="h4">Juicio Profesional</span>
            <p>Con todo, en la medida en que la regla de la discrecionalidad carece de una regulación legal expresa, su incorporación al ordenamiento jurídico colombiano requiere necesariamente de una ley del Congreso que modifique de manera expresa el artículo 23 de la ley 222 de 1995. Desde esta perspectiva, el Decreto 046 de 2024 excede el ámbito de las facultades reglamentarias del Presidente de la República.</p>

            <p>En primer lugar, porque por virtud de lo dispuesto en el artículo 23 de la Ley 222 de 1995 los administradores deberán actuar con la diligencia propia de un buen hombre de negocios, lo que en criterio de la Corte Constitucional “supone una mayor exigencia en la administración de los asuntos propios de la sociedad” (sentencia C-123 de 2006, exp. D-5936, M.P. Clara Inés Vargas), amén de que la conducta de los administradores debe ceñirse, por completo, a los postulados que rigen la graduación de las culpas en el Código Civil, según lo estableció la Corte Suprema de Justicia en sentencia de febrero de 2005 (M.P. Jaime Alberto Arrubla Paucar).</p>

            <p>En segundo lugar, porque el modelo del buen hombre de negocios, en cuanto parámetro abstracto y general aplicable a la actividad de los administradores sociales, implica que deben actuar con extraordinaria pericia, prudencia, diligencia y ubérrima buena fe, lo que implica que la conducta de estos debe ser apreciada y calificada con un mayor rigor. En esta dirección, para determinar el cumplimiento o incumplimiento de sus funciones como administradores se requiere analizar si utilizaron todos los medios a su alcance —conocimientos, experiencia, recursos materiales, actuación diligente— para lograr los fines sociales. Así, entonces, lo que los administradores deben, o el contenido de su prestación, es un cierto comportamiento de su parte, esto es, que obren con la previsibilidad y diligencia ordinarias para satisfacer el interés de la sociedad, teniendo en cuenta los intereses de los socios.</p>
          </div>
        </article>
      </main>

      <aside class="columna04 aside">
        {{> organisms-accordion-news(onlyShare: true)}}
        {{> molecules-newsletter-widget }}
      </aside>
    </div>
  </div>

{{> organisms-footer-blogs }}