{{> organisms-header-blogs(logo:"../../images/logos/agoramercatorum.png", facultad:"Derecho") }}

<div class="faculty-defecto">

  <div class="contenedor">
    <div class="centrar">
      <div class="columna12 contenido">

        <div class="carrusel-relacionadas">
          <!--Máxiumo 4 noticias relacionadas-->
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
        </div>
        <div class="carrusel-relacionadas">
          <!--Máxiumo 4 noticias relacionadas-->
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
        </div>
        <div class="carrusel-relacionadas">
          <!--Máxiumo 4 noticias relacionadas-->
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
          {{> molecules-related-module }}
        </div>
      </div>
    </div>
  </div>
</div>

{{> organisms-footer-blogs }}