<div class="faculty-conexion">
 {{> organisms-header-blogs(facultad:"Comunicación Social - Periodismo", logo:"../../images/logos/conexion-externado.png", header_inner_menu:true) }}

{{> molecules-prominent-image-faculty }}  
  <div class="contenedor">
    <div class="centrar">
      <main>
        <aside class="columna02 aside">
       {{> molecules-share-lateral-single }}
      </aside>
        <article class="columna10 contenido">
          <div class="columna08" style="margin:0">
            <div class="info">
            <div class="h6"><a href="#">Categoría</a></div>
            {{> atoms-date }}
            </div>
            <div class="texto"><h1>Título</h1></div>
          </div>
            <div style="clear: both;"></div>
          <div class="texto margen-inferior-cajas">
           
            {{> atoms-lead(lead:"Enganche o bajante nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.") }}

            {{> atoms-author(author-text:"Nataly Lorena Mostacilla Herrera", subject-text:"Crónica realizada para el Taller de géneros periodísticos de cuarto semestre, con la profesora Laila Abu Shihab.") }}
          
            <p>Lead Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.</p>
             <p>Lead Nam luctus mauris quis rhoncus eleifend. Aliquam gravida porta nulla, vitae varius tortor tincidunt sit amet. Phasellus fringilla magna eros, quis dignissim purus ullamcorper quis. Vivamus laoreet sed justo vel porta.</p>


           <figure>
            <img src="../../images/carrusel-home-01.png" alt="Imagen destacada">
          </figure>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates porro qui voluptate dolore provident, distinctio alias dicta voluptatum tenetur, itaque quod repudiandae delectus officiis minus molestiae earum ex quibusdam eum.</p>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, eaque provident explicabo tempora earum corporis in accusamus suscipit temporibus laudantium fuga rerum minima? Temporibus, dicta sapiente soluta. Maxime corrupti, officiis?</p>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae itaque excepturi, ullam, quos cumque nihil obcaecati est! Libero facilis error, veritatis officiis dolorum impedit, porro recusandae velit voluptatibus, voluptatem consequuntur.</p>

          </div>
      {{> molecules-module-tags }}
      {{> molecules-previous-next }}
        </article>
      </main>

      <div class="columna12">
        <div class="centrar">
          <h2 class="h1">Artículos Relacionados</h2>
        </div>
        <div class="carrusel-relacionadas margen-inferior-cajas">
          <!--Máxiumo 4 noticias relacionadas-->
          {{> molecules-related-module-3 }}
          {{> molecules-related-module-3 }}
          {{> molecules-related-module-3 }}
          {{> molecules-related-module-3 }}
        </div>
      </div>
    </div>
  </div>
      <div class="fondo-oscuro">
        <div class="columnas-alto-fijo centrar"> 
          {{> atoms-circle-icon-button(icon-selector:"icon-multimedia", text:"MULTIMEDIA") }}
          {{> atoms-circle-icon-button(icon-selector:"icon-pelicula-02", text:"VIDEO") }}
          {{> atoms-circle-icon-button(icon-selector:"icon-audifonos-2", text:"AUDIO") }}
          {{> atoms-circle-icon-button(icon-selector:"icon-foto-03", text:"IMAGEN") }}
          {{> atoms-circle-icon-button(icon-selector:"icon-libro-03", text:"TEXTO") }}
        </div>
      </div>
</div>

{{> organisms-footer-blogs }}
