{{> organisms-header }}
<div class="faculty-administracion-de-empresas"> 
  {{> organisms-secondary-header-menu }}
  <div class="contenedor">
    <main>
      <div class="centrar">
        <article class="contenido texto">
          <h1>Delación en Colombia, primeras experiencias</h1>
          <p class="entradilla">Con el fin de analizar los aspectos sustanciales y procesales relevantes en la implementación de la delación en Colombia, el Departamento de Derecho Económico adelantará el debate en torno a esta figura, incorporada en la ley 1340 de 2009.</p>
        </article>
        <article class="contenido texto info-evento-2col ">
        <div class="columnas2-vert"><!--estilo opcional para 2 columnas-->
          <p>Este ejercicio académico se llevará a cabo mediante la metodología de panel de discusión, teniendo como punto de partida la solución a preguntas puntuales sobre cada uno de los asuntos previstos en la agenda.</p>
          <p>El evento será instalado por el rector Juan Carlos Henao y contará con la participación de expertos con amplia trayectoria como el Superintendente de Industria y Comercio, Pablo Felipe Robledo; Jairo Parra Quijano, José Orlando Montealegre Escobar y José Miguel de la Calle, entre otros.</p>
          <p>Este instrumento pretende la detección de conductas anticompetitivas a partir de la concesión de beneficios a aquellos que pongan en conocimiento de la autoridad de competencia su participación o la de otros, y suministren información respecto de la comisión de conductas que atenten contra la competencia en los mercados.</p>
       
          <p>Dada la reciente experiencia en el contexto nacional con la aplicación práctica de la figura, en este espacio académico también se analizarán las implicaciones que su utilización conlleva en otros escenarios jurídicos.</p>
          <p>Específicamente, el encuentro abordará la delación en relación al debido proceso y carga de la prueba; aspectos procesales de la delación; objetivos de las normas de competencia y delación; la acción penal y la delación y sus implicaciones frente a las acciones de grupo y las acciones populares.</p>
          </div>
        </article>
        <div style="clear: both"></div>
        <div class="hidden3" style="margin-bottom: 210px;"> {{> molecules-scroll-image-small }} </div>
        <div style="clear: both"></div>
     <div class="columnas-alto-fijo">
      <div class="cajas-centradas">
      {{> molecules-information-module(information-module-title:"Programa del evento")  }}
      {{> molecules-information-module(information-module-title:"Tarifas e inscripción")  }}
      {{> molecules-information-module(information-module-title:"Convenios")  }}
      {{> molecules-information-module(information-module-title:"Fechas importantes")  }} 
      </div>   
        </div>
        <hr>
        <h2 class="texto-centrado margen-titulo">Conferencistas</h2>
        <div class="columnas-alto-fijo">
          {{> molecules-speaker-module }}
           {{> molecules-speaker-module }}
           {{> molecules-speaker-module }}
        </div>
        <div class="texto-centrado centrar"> <a class="boton" href="">Ver todos los conferencistas</a> </div>
        <div style="clear: both"></div>
        {{> molecules-scroll-image }}
        <hr>
        {{> molecules-more-information-footer }}
        <hr>
        <h2 class="texto-centrado margen-titulo h4">Organizan</h2>
        {{> molecules-allied-logos }}
        
        {{> molecules-module-tags }} </div>
    </main>
  </div>
  {{> organisms-faculty-info }} </div>
{{> organisms-footer }}