.logos-aliados {
	background-color: $blanco-humo;
	padding-top: 1rem;

	@media (min-width: $ipad){
	padding-top: 2rem;
	}

	 &:before{
	  	background-color: $gris-hierro;
    	content: '';
    	display: block;
    	height: 1px;
    	margin: 0 auto 3%;
   		width: 80%;
		}


	.widget-carrusel{
		border-top: none;
		margin-bottom: 0px;
		padding: 0 15px 0 15px;

	}
	.slick-slide{
		&>div{
			margin: 0 auto;
		}
	}
}
.logos-aliados  .slick-dots{
		border-bottom: none !important;
    	padding: 0px !important;
}
