/*Ajustes para color top conexion-externado*/

body {
  &.home.faculty-conexion {
    background-color: #000;
  }
}

.faculty-conexion-externado .secondary-header-menu {
  background: $conexion;
}
.faculty-conexion-externado
  .secondary-header-menu
  .info-secondary-header
  .texto-lateral {
  color: white;
}

.faculty-conexion-externado
  .secondary-header-menu
  .info-secondary-header
  .redes-sociales
  .icono {
  background-color: transparent;
  color: white;
  margin: 0;
}

.faculty-conexion-externado .redes-sociales .icono .icon-facebook:hover {
  background: #4267b2;
}

.faculty-conexion-externado .redes-sociales .icono .icon-twitter:hover {
  background: #1da1f2;
}
.faculty-conexion-externado .redes-sociales .icono .icon-youtube:hover {
  background: #ff0000;
}

.faculty-conexion-externado .redes-sociales .icono .icon-linkedin:hover {
  background: #0077b5;
}

.faculty-conexion-externado .redes-sociales .icono .icon-instagram:hover {
  background: #92268f;
}

.faculty-conexion-externado
  .menu-blogs-2
  .secondary-header-menu
  .menu-secundario
  .mini-boton {
  background-color: white;
  color: $conexion;
}

.faculty-conexion-externado
  .menu-blogs-2
  .secondary-header-menu
  .menu-secundario
  .mini-boton:hover {
  background-color: $conexion !important;
  color: white !important;
}

/*Fin ajustes para color top conexion-externado*/

/*Botones destacado blog conexion*/

.faculty-conexion-externado{
    .bottom-mini-buttons-conexion{
        padding: 1rem;
        background: rgba(191, 15, 88, 0.2);
    }

    .botones-destacados{
      overflow: none;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
    }
  

  .botones-destacados {
    overflow: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
/*fin Botones destacado blog conexion*/
/*Paginacion*/

.faculty-conexion-externado {
  .pagination a.next,
  .pagination a.prev {
    color: $conexion;
  }

  .pagination span.current {
    background-color: $conexion;
  }
}
/*fin Paginacion*/
/*Tags*/
.faculty-conexion-externado {
  .tags li a:hover {
    color: $conexion;
  }

  .nodule-tags .arriba:hover {
    color: $conexion;
  }
}
/*fin tags*/
/*Botones*/
.faculty-conexion-externado {
  .boton,
  input[type='submit'],
  input[type='button'],
  .moreButton,
  .wp-block-button .wp-block-button__link,
  .texto a.boton,
  .botones-subscription input[type='submit'].boton,
  .botones-subscription input[type='button'].boton {
    background-color: $conexion;
    &:hover {
      background-color: $azul-carbon;
    }
  }
}
.faculty-conexion-externado {
  .texto a {
    display: inline;
  }
}
/*botones*/
/*Botones ver más hover button*/
.faculty-conexion-externado {
  .hover-news-button a {
    &:hover {
      background: $azul-carbon;
    }
  }
}
/*Botones ver más hover button*/

/*Botones autor*/
.faculty-conexion-externado {
  .autor a {
    color: $conexion;
    &:hover {
      color: $azul-carbon;
      border-color: $azul-carbon;
    }
  }
}
/*Botones autor*/

/*Imagenes redondas hover button*/
.faculty-conexion-externado {
  .hover-news .hover-news-image img {
    background-image: url(../images/card-conexion.png);
    background-repeat: no-repeat;
    background-color: $conexion;
    background-size: contain;
    background-position-x: center;
    margin: 0 auto;
    object-fit: cover;

    @media (max-width: $maximo) and (min-width: $ipad) {
      width: 300px;
      height: 300px;
    }
    @media (max-width: $ipad) and (min-width: $movil-amplio) {
      width: 280px;
      height: 280px;
    }
    @media (max-width: $movil-amplio) and (min-width: $movil) {
      width: 250px;
      height: 250px;
    }
    @media (max-width: $movil) and (min-width: $minimo) {
      width: 200px;
      height: 200px;
    }
  }
}
/*Imagenes redondas hover button*/