.grupo-noticias-categoria {
  width: 100%;
  height: auto;
  padding: 3rem 20px 1%;
  @media (max-width: $ipad) and (min-width:$minimo) {
    padding: 2rem 0 1%;
  }
  .contenedor-noticias {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: $ipad) and (min-width:$minimo) {
      padding: 0;
      flex-direction: column;
    }
    .noticia-principal {
      width: 48%;
      margin: 1%;
      @media (max-width: $ipad) and (min-width:$minimo) {
        width: 100%;
        height: auto;
        margin: 0%;
      }
      .news-basic-big {
        background: transparent;
        &:hover, .content section.titulo a:hover {
    		color: $verde-lima-700;
		}
      }
    }
    .notas-secundarias {
      width: 50%;
      display: flex;
      flex-flow: wrap;
      align-content: flex-start;

      @media (max-width: $ipad) and (min-width:$minimo) {
        width: 100%;
        height: auto;
        margin: 10px auto;
      }
      .news-horizontal-small {
        margin: 2%;
        background: transparent;
        height: fit-content;
        border-bottom: $dotted-border;
    	   padding-bottom: 3%;

        &:hover, .content section.titulo a:hover {
		    color: $verde-lima-700;
		    }

        @media (max-width: $ipad) and (min-width:$minimo) {
            margin: 1%;
        }
      }
      .news-basic-small {
        background: transparent;
          width: 46%;
          margin: 2%;

          .h4{font-weight: 900;}

          &:hover, .content section.titulo a:hover {
		    color: $verde-lima-700;
		}
          @media (max-width: $ipad) and (min-width:$minimo) {
            width: 100%;
            margin: 1%;

            &:last-child{padding-bottom: 0;}
        }
      }
    }
  }
}

.post-type-archive-news_agency .grupo-noticias-categoria {
  display: none;

  &.active {
    display: block;
  }
}