{{> organisms-header }}

<div class="faculty-finanzas-gobierno-y-relaciones-internacionales">
  {{> organisms-secondary-header-menu }}
<div class="contenedor">
    <div class="centrar">
      <main class="contenido">
        <div class="info">
          <div class="h6"> <a href="#">Centro de Investigaciones y Proyectos Especiales - CIPE </a></div>
        </div>
      <h1>Nombre completo</h1>
      <aside class="columna04 aside">
          {{> molecules-card-image-professor(avatar-img:"profile.jpg") }}
      </aside>
        <article class="columna08 contenido texto">
          {{> molecules-tabs-cards-professor }}
        </article>
      </main>

    </div>
  </div>

  {{> organisms-faculty-info }}
</div>

{{> organisms-footer }}
