<footer class="footer-general">
  <div class="centrar">

    <div class="columna04">
      {{> atoms-logo }}
      <p>Universidad Externado de Colombia <br>
              Teléfonos: (57) 601-3537000, 601-3420288 y 601-3419900 <br>
              Calle 12 No. 1-17 Este. Bogotá, Colombia. <br>
      </p>
      
      <nav class="documentos">
      <h4><a href="#"> Documentos institucionales</a></h4>
      <ul>
          <li>
            <a href="#">Resoluciones de acreditación y proyectos académicos</a>
          </li>
          <li>
            <a href="#">Derechos Pecuniarios</a>
          </li>
          <li>
            <a href="#">Estatutos y reglamentos</a>
          </li>
          <li>
            <a href="#">Otros</a>
          </li>
        </ul>
        </nav>
      <a href="#">Política de tratamiento de los datos personales</a>
      <a href="#">Transparencia y acceso a la información pública</a>
      <div class="columna04">
        <nav class="sgs-acreditacion">
        {{> atoms-sgs-acreditation }}
        </nav>
      </div>
      <div class="columna06">
        <nav class="icontec-certification" style="margin-top: 1rem;">
        {{> atoms-icontec-certification }}
        </nav>
      </div>
    </div>

    <div class="columna04">
      {{> molecules-contact }}
      {{> molecules-card-visit-us }}
    </div>


    <div class="columna04">
      {{> molecules-social-network }}
      <section>
        <div class="h4  ">Servicios académicos</div>
        <ul>
          <li>
            <a href="#">Correo electrónico</a>
          </li>
          <li>
            <a href="#">Facturas para servicios adicionales</a>
          </li>
          <li>
            <a href="#">Facturas para servicios adicionales</a>
          </li>
          <li>
            <a href="#">Facturas para servicios adicionales</a>
          </li>
        </ul>

      </section>
    </div>
  </div>
  {{> molecules-mineducacion-guard }}
</footer>
<span></span>
