<footer class="footer-general">
  <div class="footer-blogs">
    <div class="centrar">

      <div class="columna04">
        {{> atoms-logo }}
        <div class="nombre-blog h4">Nombre Sitio</div>
        <p>
          Teléfonos: <br>
          Dirección: <br>
          ejemplo@uexternado.edu.co <br>
        </p>
        {{> molecules-social-network }}

      </div>

      <div class="columna04">
        <div class="h4">Información 1</div>
        <ul>
          <li><a href="#">Guía de ejemplo</a> </li>
          <li><a href="#">Guía de ejemplo</a> </li>
          <li><a href="#">Guía de ejemplo</a> </li>
          <li><a href="#">Guía de ejemplo</a> </li>
          <li><a href="#">Guía de ejemplo</a> </li>
          <li><a href="#">Guía de ejemplo</a> </li>
        </ul>
      </div>


      <div class="columna04">
        <div class="h4">Información dos</div>
        <ul>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque venenatis risus eros.</a> </li>
          <li><a href="#">Nam luctus mauris quis rhoncus eleifend.</a> </li>
          <li>Nam luctus mauris quis rhoncus eleifend.</li>
          <li><a href="#">Nam luctus mauris quis rhoncus eleifend.</a> </li>
        </ul>
        {{> atoms-creative-commons }}
      </div>
    </div>
    {{> molecules-mineducacion-guard }}
  </div>
</footer>
<span></span>
