
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <!-- all these files get concatenated and uglified into /js/scripts.min.js -->
    {{! <script src="../../js/scripts.min.js"></script> }}
    <script src="../../js/vendor/jquery/dist/jquery.js"></script>
    <script src="../../js/vendor/jquery-aniview-master/dist/jquery.aniview.js"></script>
    <script src="../../js/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../../js/vendor/slicknav/jquery.slicknav.js"></script>
    <script src="../../js/vendor/accessible-slick/slick/slick.js"></script>

    <script src="../../js/vendor/lightgallery/demo/js/lightgallery.js"></script>
    <script src="../../js/vendor/lightgallery/demo/js/lg-fullscreen.js"></script>
    <script src="../../js/vendor/lightgallery/demo/js/lg-thumbnail.js"></script>
    <script src="../../js/vendor/lightgallery/demo/js/lg-video.js"></script>
    <script src="../../js/vendor/lightgallery/demo/js/lg-autoplay.js"></script>
    <script src="../../js/vendor/lightgallery/demo/js/lg-zoom.js"></script>
    <script src="../../js/vendor/lightgallery/demo/js/lg-hash.js"></script>
    <script src="../../js/vendor/lightgallery/demo/js/lg-pager.js"></script>
    <script src="../../js/vendor/lightgallery/lib/jquery.mousewheel.min.js"></script>

    <script src="../../js/main.js"></script>
    <script src="../../js/plugins.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0/jquery.counterup.min.js"></script>

     <script src="../../js/atoms/year-picker.js"></script>
     <script src="../../js/atoms/parallax-group-images.js"></script>
     <script src="../../js/atoms/aniview.js"></script>
     <script src="../../js/atoms/counter.js"></script>

    <script src="../../js/molecules/top-buttons.js"></script>
    <script src="../../js/molecules/language-picker.js"></script>
    <script src="../../js/molecules/magnetic-button.js"></script>
    <script src="../../js/molecules/lightgallery-videos.js"></script>
    <script src="../../js/molecules/mode-selector.js"></script>


    <script src="../../js/organisms/accordion-filter.js"></script>
    <script src="../../js/organisms/accordion-news.js"></script>
    <script src="../../js/organisms/tabs-news.js"></script>
    <script src="../../js/organisms/header.js"></script>
    <script src="../../js/organisms/secondary-header.js"></script>
    <script src="../../js/organisms/carousel-home.js"></script>
    <script src="../../js/organisms/related-carousel.js"></script>
    <script src="../../js/organisms/admissions.js"></script>
    <script src="../../js/organisms/carousel-tabs.js"></script>
    <script src="../../js/organisms/carousel-inside-tabs.js"></script>
    <script src="../../js/organisms/programs.js"></script>
    <script src="../../js/organisms/tabs-vertical.js"></script>
    <!-- Files for the calendar -->
    <script src="../../js/organisms/calendar/popups.js"></script>
    <script src="../../js/organisms/calendar/moment.min.js"></script>
    <script src="../../js/organisms/calendar/fullcalendar.min.js"></script>
    <script src="../../js/organisms/calendar/calendar.js"></script>

    <!--File for Explorer icons -->
    <script src="../../js/vendor/svgxuse.js" defer></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </body>
</html>
